{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Recruiting Events",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/recruitingCEEvents": {
      "get": {
        "tags": [
          "Recruiting Events"
        ],
        "summary": "Get all recruiting events",
        "operationId": "getall_recruitingCEEvents",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Facets; string; Facets of the events list.</li><li>LastSelectedFacetAttr; string; Last selected facet of the events list.</li><li>LatitudeAttr; integer; Latitude of the location of the event.</li><li>LimitAttr; integer; Limit of the events list.</li><li>LongitudeAttr; integer; Longitude of the location of the event.</li><li>OffsetAttr; integer; Offset of the events list.</li><li>RadiusAttr; integer; Radius of the event.</li><li>RadiusUnitAttr; string; Unit of the radius of the event.</li><li>SearchId; integer; Search ID of the recruiting event.</li><li>SelectedEventCategoriesFacetAttr; string; Selected values of the event category facet.</li><li>SelectedEventFormatsFacetAttr; string; Selected values of the event format facet.</li><li>SelectedLocationsFacetAttr; string; Selected values of the location facet.</li><li>SelectedStartDatesFacetAttr; string; Selected values of the start date facet.</li><li>SiteNumber; string; Site number of the recruiting event.</li><li>SortByAttr; string; Sort by attribute of the events list.</li><li>TotalEventsCount; integer; Total events count of the recruiting event.</li><li>UserTargetFacetInputTermAttr; string; User entered term for refining facets further.</li><li>UserTargetFacetNameAttr; string; The facet that's being refined further.</li><li>keyword; string; Keyword of the recruiting event.</li><li>locationIdAttr; integer; Location identifier used to filter events.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all recruiting events using a unique ID. <br>Finder Variables <ul><li>SearchId; integer;  Not supported bind variable. </li></ul></li><li>findEvents Finds all recruiting events. <br>Finder Variables <ul><li>facetsList; string;  List of filter facets supported on recruiting events. </li><li>keyword; string;  Keyword used to find recruiting events. </li><li>lastSelectedFacet; string;  Name of last selected facet for filtering recruiting events. </li><li>latitude; number;  Latitude of the location of job requisition. </li><li>limit; integer;  Limit indicates the total number of events that can be retrieved on a single API call. </li><li>locationId; integer;  Location entered on search bar. </li><li>longitude; number;  Longitude of the location of the job requisition </li><li>offset; integer;  Offset position of the set of events being retrieved. </li><li>radius; integer;  Radius of the job requisition. </li><li>radiusUnit; string;  Unit of the radius; integer;  of the job requisition. </li><li>selectedEventCategoriesFacet; string;  Event categories facet value selected for filtering recruiting events. </li><li>selectedEventFormatsFacet; string;  Event format facet value selected for filtering recruiting events. </li><li>selectedLocationsFacet; string;  Location facet value selected for filtering recruiting events. </li><li>selectedStartDatesFacet; string;  Start date facet value selected for filtering recruiting events. </li><li>siteNumber; string;  Site number used to find recruiting events. </li><li>sortBy; string;  Sort parameters that are used to order recruiting events. </li><li>userTargetFacetInputTerm; string;  Keyword used to refine the target facet filter. </li><li>userTargetFacetName; string;  Filter upon which a keyword; string;  is entered to refine the set of filter values. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all recruiting events using a unique ID.",
                "properties": {
                  "SearchId": {
                    "default": 1,
                    "nullable": true,
                    "description": "Not supported bind variable.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findEvents",
                "description": "Finds all recruiting events.",
                "title": "findEvents",
                "properties": {
                  "lastSelectedFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of last selected facet for filtering recruiting events.",
                    "type": "string"
                  },
                  "offset": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Offset position of the set of events being retrieved.",
                    "type": "integer"
                  },
                  "selectedEventCategoriesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Event categories facet value selected for filtering recruiting events.",
                    "type": "string"
                  },
                  "userTargetFacetInputTerm": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Keyword used to refine the target facet filter.",
                    "type": "string"
                  },
                  "latitude": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Latitude of the location of job requisition.",
                    "type": "number"
                  },
                  "userTargetFacetName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter upon which a keyword is entered to refine the set of filter values.",
                    "type": "string"
                  },
                  "selectedEventFormatsFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Event format facet value selected for filtering recruiting events.",
                    "type": "string"
                  },
                  "selectedLocationsFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Location facet value selected for filtering recruiting events.",
                    "type": "string"
                  },
                  "locationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Location entered on search bar.",
                    "type": "integer"
                  },
                  "limit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Limit indicates the total number of events that can be retrieved on a single API call.",
                    "type": "integer"
                  },
                  "selectedStartDatesFacet": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Start date facet value selected for filtering recruiting events.",
                    "type": "string"
                  },
                  "siteNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Site number used to find recruiting events.",
                    "type": "string"
                  },
                  "sortBy": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Sort parameters that are used to order recruiting events.",
                    "type": "string"
                  },
                  "keyword": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Keyword used to find recruiting events.",
                    "type": "string"
                  },
                  "radius": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Radius of the job requisition.",
                    "type": "integer"
                  },
                  "radiusUnit": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unit of the radius of the job requisition.",
                    "type": "string"
                  },
                  "facetsList": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "List of filter facets supported on recruiting events.",
                    "type": "string"
                  },
                  "longitude": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Longitude of the location of the job requisition",
                    "type": "number"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEEvents"
                }
              }
            }
          }
        },
        "x-internal-id": "recruitingCEEvents-get",
        "x-filename-id": "recruitingceevents-get"
      }
    },
    "/recruitingCEEvents/{SearchId}": {
      "get": {
        "tags": [
          "Recruiting Events"
        ],
        "summary": "Get a recruiting event",
        "operationId": "get_recruitingCEEvents",
        "parameters": [
          {
            "name": "SearchId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Search ID of the recruiting event.",
              "nullable": true,
              "default": 1,
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recruitingCEEvents-item-response"
                }
              }
            },
            "links": {
              "locationsFacet": {
                "operationRef": "#/paths/~1recruitingCEEvents~1{SearchId}~1child~1locationsFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The locationsFacet resource is a child of recruitingCEEvents. It includes the details of the event location facets. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "startDatesFacet": {
                "operationRef": "#/paths/~1recruitingCEEvents~1{SearchId}~1child~1startDatesFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The startDatesFacet resource is a child of recruitingCEEvents. It includes the details of the event start date facets. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "eventList": {
                "operationRef": "#/paths/~1recruitingCEEvents~1{SearchId}~1child~1eventList/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The eventList is the child of the recruitingCEEvents resource and provides the list of values for recruiting events. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "eventCategoriesFacet": {
                "operationRef": "#/paths/~1recruitingCEEvents~1{SearchId}~1child~1eventCategoriesFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The eventCategoriesFacet resource is a child of recruitingCEEvents. It includes the details of the event categories facets. Note that the service endpoints in this resource category are only for Oracle internal use."
              },
              "eventFormatsFacet": {
                "operationRef": "#/paths/~1recruitingCEEvents~1{SearchId}~1child~1eventFormatsFacet/get",
                "parameters": {
                  "SearchId": "$request.path.SearchId"
                },
                "description": "The eventFormatsFacet resource is a child of recruitingCEEvents. It includes the details of the event formats facets. Note that the service endpoints in this resource category are only for Oracle internal use."
              }
            }
          }
        },
        "x-internal-id": "recruitingCEEvents-{SearchId}-get",
        "x-filename-id": "recruitingceevents-searchid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "recruitingCEEvents": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEEvents-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "recruitingCEEvents-item-response": {
        "type": "object",
        "properties": {
          "Facets": {
            "maxLength": 255,
            "type": "string",
            "description": "Facets of the events list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastSelectedFacetAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "Last selected facet of the events list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LatitudeAttr": {
            "type": "integer",
            "description": "Latitude of the location of the event.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "LimitAttr": {
            "type": "integer",
            "description": "Limit of the events list.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "LongitudeAttr": {
            "type": "integer",
            "description": "Longitude of the location of the event.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 255
            },
            "x-queryable": true
          },
          "OffsetAttr": {
            "type": "integer",
            "description": "Offset of the events list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RadiusAttr": {
            "type": "integer",
            "description": "Radius of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RadiusUnitAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "Unit of the radius of the event.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SearchId": {
            "type": "integer",
            "description": "Search ID of the recruiting event.",
            "nullable": true,
            "default": 1,
            "x-queryable": true
          },
          "SelectedEventCategoriesFacetAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "Selected values of the event category facet.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SelectedEventFormatsFacetAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "Selected values of the event format facet.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SelectedLocationsFacetAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "Selected values of the location facet.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SelectedStartDatesFacetAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "Selected values of the start date facet.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SiteNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Site number of the recruiting event.",
            "nullable": true,
            "x-queryable": true
          },
          "SortByAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "Sort by attribute of the events list.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalEventsCount": {
            "type": "integer",
            "description": "Total events count of the recruiting event.",
            "nullable": true,
            "x-queryable": true
          },
          "UserTargetFacetInputTermAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "User entered term for refining facets further.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UserTargetFacetNameAttr": {
            "maxLength": 255,
            "type": "string",
            "description": "The facet that's being refined further.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "eventCategoriesFacet": {
            "title": "Event Category Facets",
            "type": "array",
            "description": "The eventCategoriesFacet resource is a child of recruitingCEEvents. It includes the details of the event categories facets. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEEvents-eventCategoriesFacet-item-response"
            }
          },
          "eventFormatsFacet": {
            "title": "Event Format Facets",
            "type": "array",
            "description": "The eventFormatsFacet resource is a child of recruitingCEEvents. It includes the details of the event formats facets. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEEvents-eventFormatsFacet-item-response"
            }
          },
          "eventList": {
            "title": "Recruiting Events List of Values",
            "type": "array",
            "description": "The eventList is the child of the recruitingCEEvents resource and provides the list of values for recruiting events. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEEvents-eventList-item-response"
            }
          },
          "keyword": {
            "maxLength": 255,
            "type": "string",
            "description": "Keyword of the recruiting event.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "locationIdAttr": {
            "type": "integer",
            "description": "Location identifier used to filter events.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "locationsFacet": {
            "title": "Location Facets",
            "type": "array",
            "description": "The locationsFacet resource is a child of recruitingCEEvents. It includes the details of the event location facets. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEEvents-locationsFacet-item-response"
            }
          },
          "startDatesFacet": {
            "title": "Start Date Range Facets",
            "type": "array",
            "description": "The startDatesFacet resource is a child of recruitingCEEvents. It includes the details of the event start date facets. Note that the service endpoints in this resource category are only for Oracle internal use.",
            "items": {
              "$ref": "#/components/schemas/recruitingCEEvents-startDatesFacet-item-response"
            }
          }
        }
      },
      "recruitingCEEvents-eventCategoriesFacet-item-response": {
        "type": "object",
        "properties": {
          "Id": {
            "maxLength": 255,
            "type": "string",
            "description": "Identifier of the event category facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the event category facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalCount": {
            "type": "integer",
            "description": "Count of events matching the event category facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "recruitingCEEvents-eventFormatsFacet-item-response": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "description": "Identifier of the event format facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the event format facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalCount": {
            "type": "integer",
            "description": "Count of events matching the event format facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEEvents-eventList-item-response": {
        "type": "object",
        "properties": {
          "BannerImageURL": {
            "maxLength": 255,
            "type": "string",
            "description": "Banner image URL of the recruiting event list of values.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Distance": {
            "type": "number",
            "description": "Total distance from the center of a radius search.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDate": {
            "type": "string",
            "description": "End date of the recruiting event list of values.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EventFormat": {
            "maxLength": 255,
            "type": "string",
            "description": "Event format of the recruiting event list of values.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EventNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Event number of the recruiting event list of values.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Location": {
            "maxLength": 255,
            "type": "string",
            "description": "Event location of the recruiting event list of values.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RegistrationClosedFlag": {
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the event registration is closed or not.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ShortDescriptionStr": {
            "maxLength": 255,
            "type": "string",
            "description": "Short description of the recruiting event list of values.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Start date of the recruiting event list of values.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Title": {
            "maxLength": 255,
            "type": "string",
            "description": "Title of the recruiting event list of values.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEEvents-locationsFacet-item-response": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "description": "Identifier of the location facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the location facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalCount": {
            "type": "integer",
            "description": "Count of events matching the location facet.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "recruitingCEEvents-startDatesFacet-item-response": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "description": "Identifier of the event start date range facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the event start date range facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TotalCount": {
            "type": "integer",
            "description": "Count of events matching the event start date range facet item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}