{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Salaries",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/salaries/action/getAssignmentInfo": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Finds the properties of the assignment.",
        "description": "Finds the properties of the assignment, such as progression ladder, grade, step, and FTE.",
        "operationId": "doall_getAssignmentInfo_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flowMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains various details of the assignment.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Unique identifier for a worker assignment.",
                    "nullable": true
                  },
                  "flowName": {
                    "type": "string",
                    "description": "The name of the flow that's using the REST service.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Date used to find the salary applicable for the day.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-getAssignmentInfo-post",
        "x-filename-id": "salaries-action-getassignmentinfo-post"
      }
    },
    "/salaries/action/getSimpleCalculatedAttrs": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Get all simple components used in calculations for other simple components",
        "description": "Gets all the simple components used in calculations for another simple component.",
        "operationId": "doall_getSimpleCalculatedAttrs_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "salaryBasisId": {
                    "type": "number",
                    "description": "Unique identifier of the salary basis.",
                    "nullable": true
                  },
                  "attrsList": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains details of the additional attributes, for future use.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Unique identifier for the salary transaction.",
                    "nullable": true
                  },
                  "vbFlowName": {
                    "type": "string",
                    "description": "Name of the redwood page.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Date used to find the salary applicable for the day.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-getSimpleCalculatedAttrs-post",
        "x-filename-id": "salaries-action-getsimplecalculatedattrs-post"
      }
    },
    "/salaries/action/getOfferSalaryRow": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Get salary from the offer assignment",
        "description": "Gets salary details from the offer assignment.",
        "operationId": "doall_getOfferSalaryRow_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flowMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains details of the salary.",
                    "nullable": true
                  },
                  "offerId": {
                    "type": "number",
                    "description": "Unique identifier for the person's offer.",
                    "nullable": true
                  },
                  "personId": {
                    "type": "number",
                    "description": "Unique identifier for the person.",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of action done, such as Viewing Job Offer or Updating Offer.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Unique identifier for a person's assignment.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Date used to find salary details.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response returned for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-getOfferSalaryRow-post",
        "x-filename-id": "salaries-action-getoffersalaryrow-post"
      }
    },
    "/salaries/action/whenAndWhyRowValidation": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Validate when and why section details after the person clicks Continue",
        "description": "Validate the when and why section details, such as effective date, action, and reason, after the person clicks Continue.",
        "operationId": "doall_whenAndWhyRowValidation_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputParameterMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains various details of the input parameters.",
                    "nullable": true
                  },
                  "actionOccurrenceMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains details of the action occurrence.",
                    "nullable": true
                  },
                  "operation": {
                    "type": "string",
                    "description": "Type of operation being performed such as Create, Correct.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Response for the validation."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Response for the validation."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-whenAndWhyRowValidation-post",
        "x-filename-id": "salaries-action-whenandwhyrowvalidation-post"
      }
    },
    "/salaries/action/setSalaryHistoryCache": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Initialize HCM parameters for salary history notification",
        "description": "Initializes HCM Parameters, such as Person Identifier and Assignment Identifier, for salary history Business Intelligence Publisher notification.",
        "operationId": "doall_setSalaryHistoryCache_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "salaryHistParamsMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map containing various salary history parameters, such as number of rows created, updated, and deleted.",
                    "nullable": true
                  },
                  "salaryChildRowMaps": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "description": "Maps containing salary component rows with details, such as component and amount or percentage.",
                    "nullable": true
                  },
                  "personId": {
                    "type": "number",
                    "description": "Unique identifier for the person.",
                    "nullable": true
                  },
                  "salaryRowMaps": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "description": "Maps containing salary rows with details, such as start date, end date, and salary basis.",
                    "nullable": true
                  },
                  "asgId": {
                    "type": "number",
                    "description": "Unique identifier of a worker assignment.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-action-setSalaryHistoryCache-post",
        "x-filename-id": "salaries-action-setsalaryhistorycache-post"
      }
    },
    "/salaries/action/postOfferSalaryRow": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Post salary for the offer assignment",
        "description": "Posts salary details for the offer assignment.",
        "operationId": "doall_postOfferSalaryRow_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "salaryMapList": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains details of the salary.",
                    "nullable": true
                  },
                  "offerId": {
                    "type": "number",
                    "description": "Unique identifier for the person's offer.",
                    "nullable": true
                  },
                  "personId": {
                    "type": "number",
                    "description": "Unique identifier for the person.",
                    "nullable": true
                  },
                  "salaryChildMapList": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Map that contains details of the salary components.",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of action done, such as Viewing Job Offer or Updating Offer.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Unique identifier for a person's assignment.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Date used to create offer salary.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Posted salary details returned."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Posted salary details returned."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-action-postOfferSalaryRow-post",
        "x-filename-id": "salaries-action-postoffersalaryrow-post"
      }
    },
    "/salaries/action/getAutoCompleteRefData": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Get assignment attributes to default in the Change Salary action and validate salary",
        "description": "Gets the assignment attributes to use in business rules that default and validate salary attributes in the Change Salary action.",
        "operationId": "doall_getAutoCompleteRefData_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mainRefDataMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "description": "Indicates the assignment details to fetch.",
                    "nullable": true
                  },
                  "asgId": {
                    "type": "number",
                    "description": "Unique identifier for a person's assignment.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Date used to find assignment details.",
                    "format": "date",
                    "nullable": true
                  },
                  "referenceDataMaps": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Indicates the multirow details to fetch.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-getAutoCompleteRefData-post",
        "x-filename-id": "salaries-action-getautocompleterefdata-post"
      }
    },
    "/salaries/action/coreHrSalaryRowValidationDFF": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Validate the data that uses descriptive flexfields after Continue is clicked in various flows",
        "description": "Validates the data that uses descriptive flexfields after the person clicks Continue in various flows, such as Change Salary.",
        "operationId": "doall_coreHrSalaryRowValidationDFF_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputParameterMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains various details of the input parameters.",
                    "nullable": true
                  },
                  "actionOccurrenceMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains details of the action occurrence.",
                    "nullable": true
                  },
                  "assignmentModifiedAttributes": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that has the changed details for the assignment.",
                    "nullable": true
                  },
                  "positionAttributes": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains various details of the position.",
                    "nullable": true
                  },
                  "salaryMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains details of the salary.",
                    "nullable": true
                  },
                  "salaryChildMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Map that contains details of the salary components.",
                    "nullable": true
                  },
                  "hcmParamsMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Map that contains details of the HCM parameters.",
                    "nullable": true
                  },
                  "assignmentDFFAttributes": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains details of the assignment descriptive flexfield attributes.",
                    "nullable": true
                  },
                  "operation": {
                    "type": "string",
                    "description": "Type of operation being performed such as Create, Correct.",
                    "nullable": true
                  },
                  "assignmentDDFAttributes": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains details of the assignment developer descriptive flexfield attributes.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-coreHrSalaryRowValidationDFF-post",
        "x-filename-id": "salaries-action-corehrsalaryrowvalidationdff-post"
      }
    },
    "/salaries/action/initializeSRDTester": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Finds the initial values for a worker in the simulate salary range page.",
        "description": "Finds the worker's initial values, such as grade, location, and salary basis, on the simulate salary range page.",
        "operationId": "doall_initializeSRDTester_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assignmentId": {
                    "type": "number",
                    "description": "Unique identifier for a worker assignment.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Date used to find the salary applicable for the day.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-initializeSRDTester-post",
        "x-filename-id": "salaries-action-initializesrdtester-post"
      }
    },
    "/salaries/action/getSrdTesterRecalculatedValues": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Find the worker's recalculated values on the simulate salary range page.",
        "description": "Finds the worker's recalculated values, such as grade and location, based on changes on the simulate salary range page.",
        "operationId": "doall_getSrdTesterRecalculatedValues_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputParams": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Various input parameters for the worker.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-getSrdTesterRecalculatedValues-post",
        "x-filename-id": "salaries-action-getsrdtesterrecalculatedvalues-post"
      }
    },
    "/salaries/action/getTxnCacheSalary": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Get the salary details from the transaction cache.",
        "description": "Gets the current and proposed salary details from the transaction cache.",
        "operationId": "doall_getTxnCacheSalary_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flowMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains various details of the work assignment.",
                    "nullable": true
                  },
                  "assignmentId": {
                    "type": "number",
                    "description": "Unique identifier for a worker assignment.",
                    "nullable": true
                  },
                  "flowName": {
                    "type": "string",
                    "description": "Name of the flow that's using the REST service.",
                    "nullable": true
                  },
                  "cacheType": {
                    "type": "string",
                    "description": "Type of cache being used, such as current, proposed.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Date used to find the salary applicable for the day.",
                    "format": "date",
                    "nullable": true
                  },
                  "transactionId": {
                    "type": "number",
                    "description": "Unique identifier for the salary transaction.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-getTxnCacheSalary-post",
        "x-filename-id": "salaries-action-gettxncachesalary-post"
      }
    },
    "/salaries/action/switchSalaryRow": {
      "post": {
        "tags": [
          "Salaries"
        ],
        "summary": "Finds the properties of the proposed salary basis.",
        "description": "Finds the properties of the proposed salary basis, such as grade rate, differential profile, progression ladder, and rate values.",
        "operationId": "doall_switchSalaryRow_salaries",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "VBCSMap": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Map that contains various details of the salary basis.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Search response for a query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "salaries-action-switchSalaryRow-post",
        "x-filename-id": "salaries-action-switchsalaryrow-post"
      }
    },
    "/salaries": {
      "get": {
        "tags": [
          "Salaries"
        ],
        "summary": "Get all salaries for a worker's assignment",
        "operationId": "getall_salaries",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActionCode; string; Code of the action.</li><li>ActionId; integer; Unique identifier of the action.</li><li>ActionName; string; Action being done on this assignment, such as, Hire, Add Pending Worker, Manager Change and so on. Valid values are defined in the actionsLOV.</li><li>ActionOccurrenceId; integer; Unique identifier of the action occurrence.</li><li>ActionReason; string; Reason for the action being done on the record. Valid values are defined in the actionReasonsLOV.</li><li>ActionReasonCode; string; Code of the action reason.</li><li>ActionReasonId; integer; Unique identifier of the action reason.</li><li>AdjustedAnnualFtSalary; number; Annual value of the worker's salary, when working full time per adjusted full-time equivalent.</li><li>AdjustedAnnualSalary; number; Annual value of the worker's salary, when working per adjusted full-time equivalent.</li><li>AdjustedFTEUsage; string; Indicates that adjusted FTE is used.</li><li>AdjustedFTEValue; number; Factor that represents the proportion of adjusted full-time hours a person works.</li><li>AdjustmentAmount; number; Calculated adjustment amount based on the previous salary.</li><li>AdjustmentPercentage; number; Calculated adjustment percentage based on the previous salary .</li><li>AmountDecimalPrecision; number; Decimal precision of the salary amount, configured in salary basis.</li><li>AmountRoundingCode; string; Code for the salary amount rounding rule.</li><li>AnnualFullTimeSalary; number; Annual value of the worker's salary, if working full time.</li><li>AnnualRoundingCode; string; Code for the annualized salary amount rounding rule.</li><li>AnnualSalary; number; Annual value of the worker's salary.</li><li>AssignmentId; integer; Unique identifier for the assignment.</li><li>AssignmentNumber; string; Assignment number for the given assignment.</li><li>AssignmentType; string; Type of assignment, such as an employee, contingent worker, nonworker, or pending worker.</li><li>BusinessTitle; string; Business title for the given assignment.</li><li>Code; string; Code for the salary basis.</li><li>CompaRatio; number; Salary as a percentage of the grade range midpoint. Salary at the midpoint is 100.</li><li>ComponentUsage; string; Property used to specify whether the incremental components type is SELECTED_COMPONENTS or USER_DECIDES_USAGE.</li><li>CreatedBy; string; Identifies the user who created the row.</li><li>CreationDate; string; Identifies the date and time that the row was created.</li><li>CurrencyCode; string; Currency code that the salary amount is stored in, such as USD.</li><li>DateFrom; string; Start date of the salary.</li><li>DateTo; string; End date of the salary.</li><li>DisplayName; string; Unique name for the set of details linked to a worker's base pay. These details include the payroll characteristics used to pay base earnings, the duration of the quoted base pay, and the factor used to annualize base pay. The details also include any components used to connect base pay adjustments to different reasons and any associated grade rate for salary validation.</li><li>FTEValue; number; Factor that represents the proportion of full-time hours a person works.</li><li>FrequencyName; string; Frequency of the salary basis, such as Annually, Monthly, Weekly, or Hourly.</li><li>GeographyName; string; Geographical zone used in compensation to calculate salary ranges.</li><li>GeographyTypeName; string; Geographical zone type used in compensation to calculate salary ranges.</li><li>GradeCode; string; Code for the current grade.</li><li>GradeId; integer; Unique identifier for the assignment grade.</li><li>GradeLadderName; string; Name of the grade ladder associated with the person's assignment.</li><li>GradeName; string; Name of the step associated with the person's assignment.</li><li>GradeStepName; string; Name of the grade associated with the person's assignment.</li><li>LastUpdateDate; string; Identifies the date and time that the row was most recently updated.</li><li>LastUpdatedBy; string; Identifies the user who most recently updated the row.</li><li>LegalEmployerName; string; Legal employer for the person's assignment.</li><li>LegislativeDataGroupId; integer; Unique identifier for the legislative data group.</li><li>MultipleComponents; string; Indicates whether the given salary record has any child records that are either Components, Simple Components, or Rates.</li><li>NextSalReviewDate; string; Date to review a person's assignment salary.</li><li>PayrollFactor; number; Payroll multiplier used to convert the salary amount to an annual salary amount, when the frequency is chosen as payroll period.</li><li>PayrollFrequencyCode; string; Code for the payroll frequency when the frequency is chosen as payroll period.</li><li>PendingTransactionExists; string; Indicates if a salary change for the person assignment is pending approval.</li><li>PersonDisplayName; string; Display name of the person.</li><li>PersonId; integer; Person identifier for the worker.</li><li>PersonNumber; string; Number of the person.</li><li>Quartile; string; Quartile containing the worker's salary. The salary range for the worker's grade is divided into four equal parts called quartiles.</li><li>QuartileMeaning; string; Lookup code meaning of the quartile containing the worker's salary.</li><li>Quintile; string; Quintile containing the worker's salary. The salary range for the worker's grade is divided into five equal parts called quintiles.</li><li>QuintileMeaning; string; Lookup code meaning of the quintile containing the worker's salary.</li><li>RangeErrorWarning; string; Indicates the salary range violation behavior for the salary basis, such as error, warning, or none.</li><li>RangePosition; number; Position of the worker's salary within the assignment grade salary range, expressed as a percentage of 100.</li><li>RangeRoundingCode; string; Code for the salary range rounding rule.</li><li>SalaryAmount; number; Salary amount on the salary record for the worker assignment.</li><li>SalaryAmountScale; integer; Decimal precision of the salary amount, configured in salary basis.</li><li>SalaryBasisId; integer; Unique identifier for the salary basis.</li><li>SalaryBasisName; string; Name of the salary basis.</li><li>SalaryBasisType; string; Type of the salary basis, such as Salary amount determined by the user or Components.</li><li>SalaryFactor; number; Multiplier that converts the salary amount to an annual salary amount. For example, if a worker's base pay is quoted hourly, the annualization factor is 2080 (40 hours per week x 52 weeks).</li><li>SalaryFrequencyCode; string; Code of the salary basis frequency, such as ANNUAL, MONTHLY, HOURLY.</li><li>SalaryId; integer; Unique identifier for a salary record generated by the application.</li><li>SalaryRangeDefaultValue; number; Value based on the worker assignment grade and grade rate attached with the salary basis.</li><li>SalaryRangeMaximum; number; Salary range maximum based on the worker assignment grade.</li><li>SalaryRangeMidPoint; number; Salary range midpoint based on the worker assignment grade.</li><li>SalaryRangeMinimum; number; Salary range minimum based on the worker assignment grade.</li><li>SalaryTransactionStatus; string; Indicate whether the salary in cache is new or a correction. The approver scenario in the salary history action uses this information during edits.</li><li>SearchDate; string; Date used to find the applicable salary for the day.</li><li>WorkAtHome; string; Indicates whether the worker is working from home or not.</li><li>hasFutureSalary; string; Indicates whether a future salary exists.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the salary that matches the specified primary key criteria. <br>Finder Variables <ul><li>SalaryId; integer;  Unique identifier of the salary for a worker assignment. </li></ul></li><li>findAssignmentSalaryHistory Finds all salaries for the assignment that matches the specified criteria. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier for a worker assignment. </li><li>EffectiveStartDate; string;  Date used to find the salary applicable for the day. </li></ul></li><li>findByAssignmentId Finds all salaries that match the specified criteria. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier of a worker assignment. </li></ul></li><li>findByAssignmentIdAndDate Finds all salaries that match the specified criteria. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier of a worker assignment. </li><li>EffectiveDate; string;  Date used to find the salary applicable for the day. </li></ul></li><li>findByAssignmentIdAndEffectivePeriod Finds all salaries that match the specified criteria. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier for a worker assignment. </li><li>DateFrom; string;  Start date of the salary. </li><li>DateTo; string;  End date of the salary. </li></ul></li><li>findByCoreHrParams Finds the salary that matches the specified criteria. <br>Finder Variables <ul><li>AssigGradeLadderId; integer;  Surrogate identifier for the current grade ladder. </li><li>AssigGradeStepId; integer;  Surrogate identifier of the current assignment grade step. </li><li>AssignmentId; integer;  Unique identifier for the assignment. </li><li>BusinessUnitId; integer;  Unique identifier for the business unit. </li><li>DateFrom; string;  Start date of the salary. </li><li>DateTo; string;  End date of the salary. </li><li>FTEValue; number;  Factor that represents the proportion of full-time hours a person works. </li><li>GradeId; integer;  Unique identifier for the assignment grade. </li><li>JobId; integer;  Unique identifier of the job. </li><li>LocationId; integer;  Unique identifier for the location. </li><li>RestFlow; string;  The action or flow using the REST operation, such as for Hire, Promote, or Local and Global Transfer. </li><li>SalaryAmount; number;  Salary amount on the salary record for the worker assignment. </li><li>SalaryBasisId; integer;  Unique identifier of the salary basis. </li><li>SalaryId; integer;  Unique identifier for the salary. </li><li>WorkAtHome; string;  Lookup code to indicate work-from-home status of a remote worker. </li></ul></li><li>findBySalaryId Finds the salary that matches the specified criteria. <br>Finder Variables <ul><li>SalaryId; integer;  Unique identifier of the salary for a worker assignment. </li></ul></li><li>findOfferSalaryView Finds all salaries for the assignment that matches the specified criteria. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier for a worker assignment. </li><li>OfferId; integer;  Unique identifier for an offer. </li><li>PersonId; integer;  Unique identifier for the person. </li></ul></li><li>findSalaryAfterReload Finds the salary that matches the specified criteria. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier for a worker assignment. </li><li>ReloadTransactionId; integer;  Unique identifier for the salary transaction. </li><li>SearchDate; string;  Date used to find the salary applicable for the day. </li></ul></li><li>findSalaryHistoryAfterReload Finds all salaries for the assignment that matches the specified criteria. <br>Finder Variables <ul><li>AssignmentId; integer;  Unique identifier for a worker assignment. </li><li>ReloadTransactionId; integer;  Unique identifier for the salary transaction. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the salary that matches the specified primary key criteria.",
                "properties": {
                  "SalaryId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the salary for a worker assignment.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findAssignmentSalaryHistory",
                "description": "Finds all salaries for the assignment that matches the specified criteria.",
                "title": "findAssignmentSalaryHistory",
                "properties": {
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for a worker assignment.",
                    "type": "integer"
                  },
                  "EffectiveStartDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary applicable for the day.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByAssignmentId",
                "description": "Finds all salaries that match the specified criteria.",
                "title": "findByAssignmentId",
                "properties": {
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of a worker assignment.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByAssignmentIdAndDate",
                "description": "Finds all salaries that match the specified criteria.",
                "title": "findByAssignmentIdAndDate",
                "properties": {
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of a worker assignment.",
                    "type": "integer"
                  },
                  "EffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary applicable for the day.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByAssignmentIdAndEffectivePeriod",
                "description": "Finds all salaries that match the specified criteria.",
                "title": "findByAssignmentIdAndEffectivePeriod",
                "properties": {
                  "DateFrom": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Start date of the salary.",
                    "type": "string"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for a worker assignment.",
                    "type": "integer"
                  },
                  "DateTo": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "End date of the salary.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByCoreHrParams",
                "description": "Finds the salary that matches the specified criteria.",
                "title": "findByCoreHrParams",
                "properties": {
                  "SalaryAmount": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Salary amount on the salary record for the worker assignment.",
                    "type": "number"
                  },
                  "SalaryBasisId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the salary basis.",
                    "type": "integer"
                  },
                  "BusinessUnitId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the business unit.",
                    "type": "integer"
                  },
                  "LocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the location.",
                    "type": "integer"
                  },
                  "SalaryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the salary.",
                    "type": "integer"
                  },
                  "WorkAtHome": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Lookup code to indicate work-from-home status of a remote worker.",
                    "type": "string"
                  },
                  "RestFlow": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "The action or flow using the REST operation, such as for Hire, Promote, or Local and Global Transfer.",
                    "type": "string"
                  },
                  "DateFrom": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Start date of the salary.",
                    "type": "string"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment.",
                    "type": "integer"
                  },
                  "AssigGradeLadderId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the current grade ladder.",
                    "type": "integer"
                  },
                  "GradeId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the assignment grade.",
                    "type": "integer"
                  },
                  "AssigGradeStepId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier of the current assignment grade step.",
                    "type": "integer"
                  },
                  "JobId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the job.",
                    "type": "integer"
                  },
                  "DateTo": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "End date of the salary.",
                    "type": "string"
                  },
                  "FTEValue": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Factor that represents the proportion of full-time hours a person works.",
                    "type": "number"
                  }
                }
              },
              {
                "name": "findBySalaryId",
                "description": "Finds the salary that matches the specified criteria.",
                "title": "findBySalaryId",
                "properties": {
                  "SalaryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the salary for a worker assignment.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findOfferSalaryView",
                "description": "Finds all salaries for the assignment that matches the specified criteria.",
                "title": "findOfferSalaryView",
                "properties": {
                  "OfferId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for an offer.",
                    "type": "integer"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for a worker assignment.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findSalaryAfterReload",
                "description": "Finds the salary that matches the specified criteria.",
                "title": "findSalaryAfterReload",
                "properties": {
                  "ReloadTransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the salary transaction.",
                    "type": "integer"
                  },
                  "SearchDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Date used to find the salary applicable for the day.",
                    "type": "string"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for a worker assignment.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findSalaryHistoryAfterReload",
                "description": "Finds all salaries for the assignment that matches the specified criteria.",
                "title": "findSalaryHistoryAfterReload",
                "properties": {
                  "ReloadTransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the salary transaction.",
                    "type": "integer"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for a worker assignment.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries"
                }
              }
            },
            "links": {
              "getTxnCacheSalary": {
                "operationRef": "#/paths/~1salaries~1action~1getTxnCacheSalary/post",
                "description": "Gets the current and proposed salary details from the transaction cache."
              },
              "postOfferSalaryRow": {
                "operationRef": "#/paths/~1salaries~1action~1postOfferSalaryRow/post",
                "description": "Posts salary details for the offer assignment."
              },
              "switchSalaryRow": {
                "operationRef": "#/paths/~1salaries~1action~1switchSalaryRow/post",
                "description": "Finds the properties of the proposed salary basis, such as grade rate, differential profile, progression ladder, and rate values."
              },
              "getAssignmentInfo": {
                "operationRef": "#/paths/~1salaries~1action~1getAssignmentInfo/post",
                "description": "Finds the properties of the assignment, such as progression ladder, grade, step, and FTE."
              },
              "whenAndWhyRowValidation": {
                "operationRef": "#/paths/~1salaries~1action~1whenAndWhyRowValidation/post",
                "description": "Validate the when and why section details, such as effective date, action, and reason, after the person clicks Continue."
              },
              "setSalaryHistoryCache": {
[...]
