{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Salaries/Salary Rate Components",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/salaries/{SalaryId}/child/salaryPayRateComponents": {
      "get": {
        "tags": [
          "Salaries/Salary Rate Components"
        ],
        "summary": "Get all rate components",
        "operationId": "getall_salaries-salaryPayRateComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AmountEnterable; string; Indicates whether the rate amount is enterable.</li><li>FTEFlag; boolean; Indicates whether the rate is prorated for full time equivalent. Valid values are Yes and No, and the default value is No.</li><li>FactorEnterable; string; Indicates whether the rate factor is enterable.</li><li>Name; string; Name of the salary rate component, which can be configured to capture an amount, factor, or derived.</li><li>PayRateDefinitionId; integer; Unique identifier of the rate definition.</li><li>RateAdjustmentAmount; number; Change amount for a rate definition.</li><li>RateAdjustmentPercent; number; Change percentage for a rate definition.</li><li>RateAmount; number; Amount on the rate component of the person's salary.</li><li>RateAnnualAmount; number; Annual value of the rate amount.</li><li>RateAnnualFtAmount; number; Annual value of the rate amount, if the worker was working full time.</li><li>RateComponentRange; string; Range the rate component value should be between.</li><li>RateCurrencyCode; string; Currency code that the rate is stored in, such as USD.</li><li>RateDisplaySequence; integer; Display sequence of the rate component.</li><li>RateFactor; number; Percentage on the rate component of the person's salary.</li><li>RateFrequencyName; string; Frequency of the rate definition, such as Annually, Monthly, Weekly, or Hourly.</li><li>RateMaximumAmount; number; Maximum value allowed for the rate component.</li><li>RateMinimumAmount; number; Minimum value required for the rate component.</li><li>RateOverallSalaryFlag; boolean; Indicates whether the rate is an overall salary type. Valid values are Yes and No, and the default value is No.</li><li>RatePeriodicityCode; string; Code of the rate periodicity, such as ANNUAL, MONTHLY, or HOURLY.</li><li>RatePreviousAmount; number; Previous rate definition amount.</li><li>RateScale; integer; Decimal precision of the rate definition.</li><li>RateType; string; Type of the rate, such as Primary or Derived.</li><li>ReturnPrecision; integer; Decimal precision of the returned rate value.</li><li>SalaryId; integer; Unique identifier of the salary.</li><li>SalaryPayComponentId; integer; Unique identifier of the salary rate component.</li><li>ShortName; string; Short name of the salary rate component.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the salary rate component that matches the specified primary key criteria. <br>Finder Variables <ul><li>SalaryPayComponentId; integer;  Unique identifier of the salary rate component. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the salary rate component that matches the specified primary key criteria.",
                "properties": {
                  "SalaryPayComponentId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the salary rate component.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries-salaryPayRateComponents"
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salaryPayRateComponents-get",
        "x-filename-id": "salaries-salaryid-child-salarypayratecomponents-get"
      },
      "post": {
        "tags": [
          "Salaries/Salary Rate Components"
        ],
        "summary": "Create a rate component",
        "operationId": "create_salaries-salaryPayRateComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/salaries-salaryPayRateComponents-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries-salaryPayRateComponents-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salaryPayRateComponents-post",
        "x-filename-id": "salaries-salaryid-child-salarypayratecomponents-post"
      }
    },
    "/salaries/{SalaryId}/child/salaryPayRateComponents/{SalaryPayComponentId}": {
      "get": {
        "tags": [
          "Salaries/Salary Rate Components"
        ],
        "summary": "Get a rate component",
        "operationId": "get_salaries-salaryPayRateComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "SalaryPayComponentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the salary rate component.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries-salaryPayRateComponents-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salaryPayRateComponents-{SalaryPayComponentId}-get",
        "x-filename-id": "salaries-salaryid-child-salarypayratecomponents-salarypaycomponentid-get"
      },
      "delete": {
        "tags": [
          "Salaries/Salary Rate Components"
        ],
        "summary": "Delete a rate component",
        "operationId": "delete_salaries-salaryPayRateComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "SalaryPayComponentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the salary rate component.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salaryPayRateComponents-{SalaryPayComponentId}-delete",
        "x-filename-id": "salaries-salaryid-child-salarypayratecomponents-salarypaycomponentid-delete"
      },
      "patch": {
        "tags": [
          "Salaries/Salary Rate Components"
        ],
        "summary": "Update a rate component",
        "operationId": "update_salaries-salaryPayRateComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "SalaryPayComponentId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the salary rate component.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/salaries-salaryPayRateComponents-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries-salaryPayRateComponents-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salaryPayRateComponents-{SalaryPayComponentId}-patch",
        "x-filename-id": "salaries-salaryid-child-salarypayratecomponents-salarypaycomponentid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "salaries-salaryPayRateComponents": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/salaries-salaryPayRateComponents-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "salaries-salaryPayRateComponents-item-response": {
        "type": "object",
        "properties": {
          "AmountEnterable": {
            "title": "User Enterable",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the rate amount is enterable.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FTEFlag": {
            "title": "FTE",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the rate is prorated for full time equivalent. Valid values are Yes and No, and the default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "FactorEnterable": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the rate factor is enterable.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Name": {
            "title": "Rate Name",
            "maxLength": 256,
            "type": "string",
            "description": "Name of the salary rate component, which can be configured to capture an amount, factor, or derived.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PayRateDefinitionId": {
            "title": "Component",
            "type": "integer",
            "description": "Unique identifier of the rate definition.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RateAdjustmentAmount": {
            "title": "Adjustment Amount",
            "type": "number",
            "description": "Change amount for a rate definition.",
            "nullable": true,
            "x-queryable": true
          },
          "RateAdjustmentPercent": {
            "title": "Adjustment Percentage",
            "type": "number",
            "description": "Change percentage for a rate definition.",
            "nullable": true,
            "x-queryable": true
          },
          "RateAmount": {
            "title": "Amount",
            "type": "number",
            "description": "Amount on the rate component of the person's salary.",
            "nullable": true,
            "x-queryable": true
          },
          "RateAnnualAmount": {
            "title": "Annual Amount",
            "type": "number",
            "description": "Annual value of the rate amount.",
            "nullable": true,
            "x-queryable": true
          },
          "RateAnnualFtAmount": {
            "title": "Annualized Full-Time Amount",
            "type": "number",
            "description": "Annual value of the rate amount, if the worker was working full time.",
            "nullable": true,
            "x-queryable": true
          },
          "RateComponentRange": {
            "maxLength": 255,
            "type": "string",
            "description": "Range the rate component value should be between.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RateCurrencyCode": {
            "title": "Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code that the rate is stored in, such as USD.",
            "nullable": true,
            "x-queryable": true
          },
          "RateDisplaySequence": {
            "title": "Display Sequence",
            "type": "integer",
            "description": "Display sequence of the rate component.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            },
            "x-queryable": true
          },
          "RateFactor": {
            "title": "Percentage",
            "type": "number",
            "description": "Percentage on the rate component of the person's salary.",
            "nullable": true,
            "x-queryable": true
          },
          "RateFrequencyName": {
            "title": "Frequency",
            "maxLength": 255,
            "type": "string",
            "description": "Frequency of the rate definition, such as Annually, Monthly, Weekly, or Hourly.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RateMaximumAmount": {
            "type": "number",
            "description": "Maximum value allowed for the rate component.",
            "nullable": true,
            "x-queryable": true
          },
          "RateMinimumAmount": {
            "type": "number",
            "description": "Minimum value required for the rate component.",
            "nullable": true,
            "x-queryable": true
          },
          "RateOverallSalaryFlag": {
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the rate is an overall salary type. Valid values are Yes and No, and the default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "RatePeriodicityCode": {
            "title": "Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the rate periodicity, such as ANNUAL, MONTHLY, or HOURLY.",
            "nullable": true,
            "x-queryable": true
          },
          "RatePreviousAmount": {
            "type": "number",
            "description": "Previous rate definition amount.",
            "nullable": true,
            "x-queryable": true
          },
          "RateScale": {
            "type": "integer",
            "description": "Decimal precision of the rate definition.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RateType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of the rate, such as Primary or Derived.",
            "nullable": true,
            "x-queryable": true
          },
          "ReturnPrecision": {
            "type": "integer",
            "description": "Decimal precision of the returned rate value.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SalaryId": {
            "type": "integer",
            "description": "Unique identifier of the salary.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SalaryPayComponentId": {
            "type": "integer",
            "description": "Unique identifier of the salary rate component.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ShortName": {
            "title": "Short Name",
            "maxLength": 30,
            "type": "string",
            "description": "Short name of the salary rate component.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "salaries-salaryPayRateComponents-item-post-request": {
        "type": "object",
        "properties": {
          "PayRateDefinitionId": {
            "title": "Component",
            "type": "integer",
            "description": "Unique identifier of the rate definition.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RateAdjustmentAmount": {
            "title": "Adjustment Amount",
            "type": "number",
            "description": "Change amount for a rate definition.",
            "nullable": true
          },
          "RateAdjustmentPercent": {
            "title": "Adjustment Percentage",
            "type": "number",
            "description": "Change percentage for a rate definition.",
            "nullable": true
          },
          "RateAmount": {
            "title": "Amount",
            "type": "number",
            "description": "Amount on the rate component of the person's salary.",
            "nullable": true
          },
          "RateAnnualAmount": {
            "title": "Annual Amount",
            "type": "number",
            "description": "Annual value of the rate amount.",
            "nullable": true
          },
          "RateAnnualFtAmount": {
            "title": "Annualized Full-Time Amount",
            "type": "number",
            "description": "Annual value of the rate amount, if the worker was working full time.",
            "nullable": true
          },
          "RateCurrencyCode": {
            "title": "Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code that the rate is stored in, such as USD.",
            "nullable": true
          },
          "RateDisplaySequence": {
            "title": "Display Sequence",
            "type": "integer",
            "description": "Display sequence of the rate component.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            }
          },
          "RateFactor": {
            "title": "Percentage",
            "type": "number",
            "description": "Percentage on the rate component of the person's salary.",
            "nullable": true
          },
          "RateMaximumAmount": {
            "type": "number",
            "description": "Maximum value allowed for the rate component.",
            "nullable": true
          },
          "RateMinimumAmount": {
            "type": "number",
            "description": "Minimum value required for the rate component.",
            "nullable": true
          },
          "RatePeriodicityCode": {
            "title": "Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the rate periodicity, such as ANNUAL, MONTHLY, or HOURLY.",
            "nullable": true
          },
          "RatePreviousAmount": {
            "type": "number",
            "description": "Previous rate definition amount.",
            "nullable": true
          },
          "RateScale": {
            "type": "integer",
            "description": "Decimal precision of the rate definition.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "RateType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of the rate, such as Primary or Derived.",
            "nullable": true
          },
          "SalaryId": {
            "type": "integer",
            "description": "Unique identifier of the salary.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "SalaryPayComponentId": {
            "type": "integer",
            "description": "Unique identifier of the salary rate component.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "salaries-salaryPayRateComponents-item-patch-request": {
        "type": "object",
        "properties": {
          "PayRateDefinitionId": {
            "title": "Component",
            "type": "integer",
            "description": "Unique identifier of the rate definition.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "RateAdjustmentAmount": {
            "title": "Adjustment Amount",
            "type": "number",
            "description": "Change amount for a rate definition.",
            "nullable": true
          },
          "RateAdjustmentPercent": {
            "title": "Adjustment Percentage",
            "type": "number",
            "description": "Change percentage for a rate definition.",
            "nullable": true
          },
          "RateAmount": {
            "title": "Amount",
            "type": "number",
            "description": "Amount on the rate component of the person's salary.",
            "nullable": true
          },
          "RateAnnualAmount": {
            "title": "Annual Amount",
            "type": "number",
            "description": "Annual value of the rate amount.",
            "nullable": true
          },
          "RateAnnualFtAmount": {
            "title": "Annualized Full-Time Amount",
            "type": "number",
            "description": "Annual value of the rate amount, if the worker was working full time.",
            "nullable": true
          },
          "RateCurrencyCode": {
            "title": "Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code that the rate is stored in, such as USD.",
            "nullable": true
          },
          "RateDisplaySequence": {
            "title": "Display Sequence",
            "type": "integer",
            "description": "Display sequence of the rate component.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            }
          },
          "RateFactor": {
            "title": "Percentage",
            "type": "number",
            "description": "Percentage on the rate component of the person's salary.",
            "nullable": true
          },
          "RateMaximumAmount": {
            "type": "number",
            "description": "Maximum value allowed for the rate component.",
            "nullable": true
          },
          "RateMinimumAmount": {
            "type": "number",
            "description": "Minimum value required for the rate component.",
            "nullable": true
          },
          "RatePeriodicityCode": {
            "title": "Frequency",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the rate periodicity, such as ANNUAL, MONTHLY, or HOURLY.",
            "nullable": true
          },
          "RatePreviousAmount": {
            "type": "number",
            "description": "Previous rate definition amount.",
            "nullable": true
          },
          "RateScale": {
            "type": "integer",
            "description": "Decimal precision of the rate definition.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "RateType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type of the rate, such as Primary or Derived.",
            "nullable": true
          },
          "SalaryId": {
            "type": "integer",
            "description": "Unique identifier of the salary.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "salaries-salaryPayRateComponents-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/salaries-salaryPayRateComponents-item-post-request"
            }
          }
        }
      },
      "salaries-salaryPayRateComponents-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/salaries-salaryPayRateComponents-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}