{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Salaries/Salary Simple Components",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/salaries/{SalaryId}/child/salarySimpleComponents/{SimpleSalaryCompntId}": {
      "get": {
        "tags": [
          "Salaries/Salary Simple Components"
        ],
        "summary": "Get a simple component",
        "operationId": "get_salaries-salarySimpleComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "SimpleSalaryCompntId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the salary simple component.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries-salarySimpleComponents-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salarySimpleComponents-{SimpleSalaryCompntId}-get",
        "x-filename-id": "salaries-salaryid-child-salarysimplecomponents-simplesalarycompntid-get"
      },
      "delete": {
        "tags": [
          "Salaries/Salary Simple Components"
        ],
        "summary": "Delete a simple component",
        "operationId": "delete_salaries-salarySimpleComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "SimpleSalaryCompntId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the salary simple component.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salarySimpleComponents-{SimpleSalaryCompntId}-delete",
        "x-filename-id": "salaries-salaryid-child-salarysimplecomponents-simplesalarycompntid-delete"
      },
      "patch": {
        "tags": [
          "Salaries/Salary Simple Components"
        ],
        "summary": "Update a simple component",
        "operationId": "update_salaries-salarySimpleComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "SimpleSalaryCompntId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier of the salary simple component.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/salaries-salarySimpleComponents-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries-salarySimpleComponents-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salarySimpleComponents-{SimpleSalaryCompntId}-patch",
        "x-filename-id": "salaries-salaryid-child-salarysimplecomponents-simplesalarycompntid-patch"
      }
    },
    "/salaries/{SalaryId}/child/salarySimpleComponents": {
      "get": {
        "tags": [
          "Salaries/Salary Simple Components"
        ],
        "summary": "Get all simple components",
        "operationId": "getall_salaries-salarySimpleComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AdjustmentAmount; number; Change amount for a simple component.</li><li>AdjustmentPercent; number; Change percentage for a simple component.</li><li>Amount; number; Amount of the person's salary entered on the simple component</li><li>AnnualAmount; number; Annual value of the simple component amount.</li><li>AnnualFtAmount; number; Annual value of the simple component amount, if the person worked full time.</li><li>BasedOnComponentCode; string; Code of the simple component that the percentage applies to.</li><li>BasedOnComponentName; string; Name of the simple component that the percentage applies to.</li><li>BasisSimpleComponentId; integer; Unique identifier of the simple component that the percentage applies to.</li><li>ComponentCode; string; Code of the salary simple component, such as ORA_BASIC.</li><li>ComponentName; string; Name of the simple component, which can be configured to accept an amount or percentage.</li><li>ComponentType; string; Code for the simple component type.</li><li>CurrencyCode; string; Currency code that the simple component value is stored in, such as USD.</li><li>DisplaySequence; integer; Display sequence of the simple component.</li><li>OverallSalaryAffect; string; Code for the effect of overall salary.</li><li>OverrideGspRate; string; Indicates whether a user can override the value defaulted from the progression ladder.</li><li>Percentage; number; Percentage entered for the simple component. This percentage is applied to the specified based on simple component, to calculate the component amount. For example, apply 5% to the Base Salary simplified component.</li><li>PreviousAmount; number; Previous simple component amount.</li><li>SalaryId; integer; Unique identifier of the salary.</li><li>Scale; integer; Decimal precision of the salary amount, configured in salary basis.</li><li>SimpleSalaryCompntId; integer; Unique identifier of the salary simple component.</li><li>UserSelectedComponent; string; Property used to specify whether the incremental components type is SELECTED_COMPONENTS or USER_DECIDES_USAGE.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the simple salary component that matches the specified primary key criteria. <br>Finder Variables <ul><li>SimpleSalaryCompntId; integer;  Unique identifier of the salary simple component. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the simple salary component that matches the specified primary key criteria.",
                "properties": {
                  "SimpleSalaryCompntId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the salary simple component.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries-salarySimpleComponents"
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salarySimpleComponents-get",
        "x-filename-id": "salaries-salaryid-child-salarysimplecomponents-get"
      },
      "post": {
        "tags": [
          "Salaries/Salary Simple Components"
        ],
        "summary": "Create a simple component",
        "operationId": "create_salaries-salarySimpleComponents",
        "parameters": [
          {
            "name": "SalaryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for a salary record generated by the application.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/salaries-salarySimpleComponents-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/salaries-salarySimpleComponents-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "salaries-{SalaryId}-child-salarySimpleComponents-post",
        "x-filename-id": "salaries-salaryid-child-salarysimplecomponents-post"
      }
    }
  },
  "components": {
    "schemas": {
      "salaries-salarySimpleComponents-item-response": {
        "type": "object",
        "properties": {
          "AdjustmentAmount": {
            "title": "Adjustment Amount",
            "type": "number",
            "description": "Change amount for a simple component.",
            "nullable": true,
            "x-queryable": true
          },
          "AdjustmentPercent": {
            "title": "Adjustment Percentage",
            "type": "number",
            "description": "Change percentage for a simple component.",
            "nullable": true,
            "x-queryable": true
          },
          "Amount": {
            "title": "Amount",
            "type": "number",
            "description": "Amount of the person's salary entered on the simple component",
            "nullable": false,
            "x-queryable": true
          },
          "AnnualAmount": {
            "title": "Annual Amount",
            "type": "number",
            "description": "Annual value of the simple component amount.",
            "nullable": true,
            "x-queryable": true
          },
          "AnnualFtAmount": {
            "title": "Annualized Full-Time Amount",
            "type": "number",
            "description": "Annual value of the simple component amount, if the person worked full time.",
            "nullable": true,
            "x-queryable": true
          },
          "BasedOnComponentCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the simple component that the percentage applies to.",
            "nullable": true,
            "x-queryable": true
          },
          "BasedOnComponentName": {
            "type": "string",
            "description": "Name of the simple component that the percentage applies to.",
            "nullable": true,
            "x-queryable": true
          },
          "BasisSimpleComponentId": {
            "type": "integer",
            "description": "Unique identifier of the simple component that the percentage applies to.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ComponentCode": {
            "title": "Salary Component Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the salary simple component, such as ORA_BASIC.",
            "nullable": true,
            "x-queryable": true
          },
          "ComponentName": {
            "title": "Component",
            "type": "string",
            "description": "Name of the simple component, which can be configured to accept an amount or percentage.",
            "nullable": true,
            "x-queryable": true
          },
          "ComponentType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Code for the simple component type.",
            "nullable": true,
            "x-queryable": true
          },
          "CurrencyCode": {
            "title": "Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code that the simple component value is stored in, such as USD.",
            "nullable": true,
            "x-queryable": true
          },
          "DisplaySequence": {
            "title": "Display Sequence",
            "type": "integer",
            "description": "Display sequence of the simple component.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            },
            "x-queryable": true
          },
          "OverallSalaryAffect": {
            "title": "Overall Salary",
            "maxLength": 30,
            "type": "string",
            "description": "Code for the effect of overall salary.",
            "nullable": true,
            "x-queryable": true
          },
          "OverrideGspRate": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether a user can override the value defaulted from the progression ladder.",
            "nullable": true,
            "x-queryable": true
          },
          "Percentage": {
            "title": "Percentage",
            "type": "number",
            "description": "Percentage entered for the simple component. This percentage is applied to the specified based on simple component, to calculate the component amount. For example, apply 5% to the Base Salary simplified component.",
            "nullable": true,
            "x-queryable": true
          },
          "PreviousAmount": {
            "title": "Previous Rate Amount",
            "type": "number",
            "description": "Previous simple component amount.",
            "nullable": true,
            "x-queryable": true
          },
          "SalaryId": {
            "type": "integer",
            "description": "Unique identifier of the salary.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Scale": {
            "type": "integer",
            "description": "Decimal precision of the salary amount, configured in salary basis.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            },
            "x-queryable": true
          },
          "SimpleSalaryCompntId": {
            "type": "integer",
            "description": "Unique identifier of the salary simple component.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "UserSelectedComponent": {
            "maxLength": 30,
            "type": "string",
            "description": "Property used to specify whether the incremental components type is SELECTED_COMPONENTS or USER_DECIDES_USAGE.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "salaries-salarySimpleComponents-item-patch-request": {
        "type": "object",
        "properties": {
          "AdjustmentAmount": {
            "title": "Adjustment Amount",
            "type": "number",
            "description": "Change amount for a simple component.",
            "nullable": true
          },
          "AdjustmentPercent": {
            "title": "Adjustment Percentage",
            "type": "number",
            "description": "Change percentage for a simple component.",
            "nullable": true
          },
          "Amount": {
            "title": "Amount",
            "type": "number",
            "description": "Amount of the person's salary entered on the simple component",
            "nullable": false
          },
          "AnnualAmount": {
            "title": "Annual Amount",
            "type": "number",
            "description": "Annual value of the simple component amount.",
            "nullable": true
          },
          "AnnualFtAmount": {
            "title": "Annualized Full-Time Amount",
            "type": "number",
            "description": "Annual value of the simple component amount, if the person worked full time.",
            "nullable": true
          },
          "BasedOnComponentCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the simple component that the percentage applies to.",
            "nullable": true
          },
          "BasedOnComponentName": {
            "type": "string",
            "description": "Name of the simple component that the percentage applies to.",
            "nullable": true
          },
          "BasisSimpleComponentId": {
            "type": "integer",
            "description": "Unique identifier of the simple component that the percentage applies to.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ComponentCode": {
            "title": "Salary Component Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the salary simple component, such as ORA_BASIC.",
            "nullable": true
          },
          "ComponentName": {
            "title": "Component",
            "type": "string",
            "description": "Name of the simple component, which can be configured to accept an amount or percentage.",
            "nullable": true
          },
          "ComponentType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Code for the simple component type.",
            "nullable": true
          },
          "CurrencyCode": {
            "title": "Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code that the simple component value is stored in, such as USD.",
            "nullable": true
          },
          "DisplaySequence": {
            "title": "Display Sequence",
            "type": "integer",
            "description": "Display sequence of the simple component.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            }
          },
          "OverallSalaryAffect": {
            "title": "Overall Salary",
            "maxLength": 30,
            "type": "string",
            "description": "Code for the effect of overall salary.",
            "nullable": true
          },
          "OverrideGspRate": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether a user can override the value defaulted from the progression ladder.",
            "nullable": true
          },
          "Percentage": {
            "title": "Percentage",
            "type": "number",
            "description": "Percentage entered for the simple component. This percentage is applied to the specified based on simple component, to calculate the component amount. For example, apply 5% to the Base Salary simplified component.",
            "nullable": true
          },
          "PreviousAmount": {
            "title": "Previous Rate Amount",
            "type": "number",
            "description": "Previous simple component amount.",
            "nullable": true
          },
          "SalaryId": {
            "type": "integer",
            "description": "Unique identifier of the salary.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Scale": {
            "type": "integer",
            "description": "Decimal precision of the salary amount, configured in salary basis.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            }
          },
          "UserSelectedComponent": {
            "maxLength": 30,
            "type": "string",
            "description": "Property used to specify whether the incremental components type is SELECTED_COMPONENTS or USER_DECIDES_USAGE.",
            "nullable": true
          }
        }
      },
      "salaries-salarySimpleComponents": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/salaries-salarySimpleComponents-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "salaries-salarySimpleComponents-item-post-request": {
        "type": "object",
        "properties": {
          "AdjustmentAmount": {
            "title": "Adjustment Amount",
            "type": "number",
            "description": "Change amount for a simple component.",
            "nullable": true
          },
          "AdjustmentPercent": {
            "title": "Adjustment Percentage",
            "type": "number",
            "description": "Change percentage for a simple component.",
            "nullable": true
          },
          "Amount": {
            "title": "Amount",
            "type": "number",
            "description": "Amount of the person's salary entered on the simple component",
            "nullable": false
          },
          "AnnualAmount": {
            "title": "Annual Amount",
            "type": "number",
            "description": "Annual value of the simple component amount.",
            "nullable": true
          },
          "AnnualFtAmount": {
            "title": "Annualized Full-Time Amount",
            "type": "number",
            "description": "Annual value of the simple component amount, if the person worked full time.",
            "nullable": true
          },
          "BasedOnComponentCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code of the simple component that the percentage applies to.",
            "nullable": true
          },
          "BasedOnComponentName": {
            "type": "string",
            "description": "Name of the simple component that the percentage applies to.",
            "nullable": true
          },
          "BasisSimpleComponentId": {
            "type": "integer",
            "description": "Unique identifier of the simple component that the percentage applies to.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ComponentCode": {
            "title": "Salary Component Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code of the salary simple component, such as ORA_BASIC.",
            "nullable": true
          },
          "ComponentName": {
            "title": "Component",
            "type": "string",
            "description": "Name of the simple component, which can be configured to accept an amount or percentage.",
            "nullable": true
          },
          "ComponentType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Code for the simple component type.",
            "nullable": true
          },
          "CurrencyCode": {
            "title": "Currency",
            "maxLength": 30,
            "type": "string",
            "description": "Currency code that the simple component value is stored in, such as USD.",
            "nullable": true
          },
          "DisplaySequence": {
            "title": "Display Sequence",
            "type": "integer",
            "description": "Display sequence of the simple component.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            }
          },
          "OverallSalaryAffect": {
            "title": "Overall Salary",
            "maxLength": 30,
            "type": "string",
            "description": "Code for the effect of overall salary.",
            "nullable": true
          },
          "OverrideGspRate": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether a user can override the value defaulted from the progression ladder.",
            "nullable": true
          },
          "Percentage": {
            "title": "Percentage",
            "type": "number",
            "description": "Percentage entered for the simple component. This percentage is applied to the specified based on simple component, to calculate the component amount. For example, apply 5% to the Base Salary simplified component.",
            "nullable": true
          },
          "PreviousAmount": {
            "title": "Previous Rate Amount",
            "type": "number",
            "description": "Previous simple component amount.",
            "nullable": true
          },
          "SalaryId": {
            "type": "integer",
            "description": "Unique identifier of the salary.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Scale": {
            "type": "integer",
            "description": "Decimal precision of the salary amount, configured in salary basis.",
            "format": "int32",
            "nullable": true,
            "x-hints": {
              "precision": 3
            }
          },
          "SimpleSalaryCompntId": {
            "type": "integer",
            "description": "Unique identifier of the salary simple component.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "UserSelectedComponent": {
            "maxLength": 30,
            "type": "string",
            "description": "Property used to specify whether the incremental components type is SELECTED_COMPONENTS or USER_DECIDES_USAGE.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "salaries-salarySimpleComponents-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/salaries-salarySimpleComponents-item-patch-request"
            }
          }
        }
      },
      "salaries-salarySimpleComponents-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/salaries-salarySimpleComponents-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}