{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Schedule Requests",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/scheduleRequests": {
      "get": {
        "tags": [
          "Schedule Requests"
        ],
        "summary": "Get all schedule requests",
        "operationId": "getall_scheduleRequests",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>endDate; string; End date for the imported workforce schedules.</li><li>importMode; string; Import modes for the workforce schedule, such as FULL or UPDATE.</li><li>requestSource; string; Exporter code or name of the application sending the request.</li><li>requestTime; string; Submission time of the request, entered with the time zone offset, for example, 2015-11-30T08:23:20.010+01:00.</li><li>schedRequestId; integer; Surrogate ID for the schedule request, available only to reference existing records.</li><li>scheduleRequestNumber; string; Unique identifier of the schedule request.</li><li>startDate; string; Start date for the imported workforce schedule.</li><li>validationFlag; boolean; Indicates whether to validate the imported workforce schedules. Valid values are Y or N.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a schedule request using its identifier. <br>Finder Variables <ul><li>schedRequestId; integer;  Unique identifier for the schedule request. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a schedule request using its identifier.",
                "properties": {
                  "schedRequestId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the schedule request.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleRequests"
                }
              }
            }
          }
        },
        "x-internal-id": "scheduleRequests-get",
        "x-filename-id": "schedulerequests-get"
      },
      "post": {
        "tags": [
          "Schedule Requests"
        ],
        "summary": "Create a schedule request",
        "operationId": "create_scheduleRequests",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/scheduleRequests-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleRequests-item-response"
                }
              }
            },
            "links": {
              "scheduleEvents": {
                "operationRef": "#/paths/~1scheduleRequests~1{schedRequestId}~1child~1scheduleEvents/get",
                "parameters": {
                  "schedRequestId": "$request.path.schedRequestId"
                },
                "description": "The scope of schedule updates, for example, resource and time period."
              }
            }
          }
        },
        "x-internal-id": "scheduleRequests-post",
        "x-filename-id": "schedulerequests-post"
      }
    },
    "/scheduleRequests/{schedRequestId}": {
      "get": {
        "tags": [
          "Schedule Requests"
        ],
        "summary": "Get a schedule request",
        "operationId": "get_scheduleRequests",
        "parameters": [
          {
            "name": "schedRequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Surrogate ID for the schedule request, available only to reference existing records.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scheduleRequests-item-response"
                }
              }
            },
            "links": {
              "scheduleEvents": {
                "operationRef": "#/paths/~1scheduleRequests~1{schedRequestId}~1child~1scheduleEvents/get",
                "parameters": {
                  "schedRequestId": "$request.path.schedRequestId"
                },
                "description": "The scope of schedule updates, for example, resource and time period."
              }
            }
          }
        },
        "x-internal-id": "scheduleRequests-{schedRequestId}-get",
        "x-filename-id": "schedulerequests-schedrequestid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "scheduleRequests": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/scheduleRequests-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "scheduleRequests-item-response": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule department.",
            "nullable": true,
            "x-queryable": false
          },
          "departmentName": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the workforce schedule department.",
            "nullable": true,
            "x-queryable": false
          },
          "endDate": {
            "type": "string",
            "description": "End date for the imported workforce schedules.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "importMode": {
            "maxLength": 20,
            "type": "string",
            "description": "Import modes for the workforce schedule, such as FULL or UPDATE.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "locationCode": {
            "maxLength": 80,
            "type": "string",
            "description": "Code for the workforce schedule location.",
            "nullable": true,
            "x-queryable": false
          },
          "locationId": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule location.",
            "nullable": true,
            "x-queryable": false
          },
          "locationSetCode": {
            "maxLength": 80,
            "type": "string",
            "description": "Code for the workforce schedule location set.",
            "nullable": true,
            "x-queryable": false
          },
          "requestSource": {
            "maxLength": 30,
            "type": "string",
            "description": "Exporter code or name of the application sending the request.",
            "nullable": false,
            "x-queryable": true
          },
          "requestTime": {
            "maxLength": 80,
            "type": "string",
            "description": "Submission time of the request, entered with the time zone offset, for example, 2015-11-30T08:23:20.010+01:00.",
            "nullable": false,
            "x-queryable": true
          },
          "schedRequestId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule request, available only to reference existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "scheduleEvents": {
            "title": "Schedule Events",
            "type": "array",
            "description": "The scope of schedule updates, for example, resource and time period.",
            "items": {
              "$ref": "#/components/schemas/scheduleRequests-scheduleEvents-item-response"
            }
          },
          "scheduleRequestNumber": {
            "maxLength": 120,
            "type": "string",
            "description": "Unique identifier of the schedule request.",
            "nullable": false,
            "x-queryable": true
          },
          "startDate": {
            "type": "string",
            "description": "Start date for the imported workforce schedule.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "validationFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether to validate the imported workforce schedules. Valid values are Y or N.",
            "nullable": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "scheduleRequests-scheduleEvents-item-response": {
        "type": "object",
        "properties": {
          "allowEdits": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the scheduler can edit the imported schedule using the Planned Schedule task. Valid values are Y or N and defined in the HcmLookupYesNo lookup type. The default value is the attribute value in the worker time entry profile.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "importMode": {
            "maxLength": 20,
            "type": "string",
            "description": "Import modes for the schedule such as, FULL or UPDATE. Valid values are defined in the lookup HtsImportMode1.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "periodEndDate": {
            "type": "string",
            "description": "Period end date of the imported schedule.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "periodStartDate": {
            "type": "string",
            "description": "Period start date of imported schedule. For schedule imports for a single day, enter this value: peridEndDate. You enter the actual date for the periodEndDate attribute.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "publish": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether to publish the imported schedules. Valid values are Y or N and defined in the HcmLookupYesNo lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "resourceReference": {
            "maxLength": 120,
            "type": "string",
            "description": "Resource reference that matches the specified resource reference type. For example, if the resource reference type is Person ID, then the resource reference is the unique identifier for the person.",
            "nullable": true,
            "x-queryable": true
          },
          "resourceReferenceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Reference type of the resource, such as ASSIGNMENT_ID and ASSIGNMENT_NUMBER. Valid values are defined in the HtsResourceRefType1 lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "schedEventId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule request event, available only to reference existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "schedRequestId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule request for this schedule, available only to reference existing records.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "scheduleEventNumber": {
            "maxLength": 120,
            "type": "string",
            "description": "Indicates whether to notify workers after publishing their schedules. Valid values are Y or N and defined in the HcmLookupYesNo lookup type.",
            "nullable": true,
            "x-queryable": true
          },
          "scheduleShiftEvents": {
            "title": "Schedule Shift Events",
            "type": "array",
            "description": "A list of imported values to create, update, or delete a shift.",
            "items": {
              "$ref": "#/components/schemas/scheduleRequests-scheduleEvents-scheduleShiftEvents-item-response"
            }
          },
          "workerNotification": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether to notify workers after publishing their schedules. Valid values are Y or N and defined in the HcmLookupYesNo lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          }
        }
      },
      "scheduleRequests-scheduleEvents-scheduleShiftEvents-item-response": {
        "type": "object",
        "properties": {
          "allowEdits": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the scheduler can edit the imported shift using the Planned Schedule task. Valid values are Y or N and defined in the HcmLookupYesNo lookup type. If the value is Y or Null, shift editing is allowed when the value of the worker time entry profile Allow Edits option is Y and the schedule event isn't N.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "allowOvertimeFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the shift assignee can go over their weekly assignment hours. Valid values are Y or N.",
            "nullable": true,
            "x-queryable": true
          },
          "businessUnitName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the business unit shared by Workforce Scheduling and Global HR.",
            "nullable": true,
            "x-queryable": true
          },
          "comments": {
            "maxLength": 4000,
            "type": "string",
            "description": "Notes for the shift.",
            "nullable": true,
            "x-queryable": true
          },
          "jobProfile": {
            "maxLength": 255,
            "type": "string",
            "description": "Job profile, such as a job code, job family name, scheduling group code, or position code specified for the shift.",
            "nullable": true,
            "x-queryable": true
          },
          "jobProfileType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type for the job profile specified for the shift, such as job, job family, scheduling group, or language. Valid values are COMPETENCY, LANGUAGE and CERTIFICATION.",
            "nullable": true,
            "x-queryable": true
          },
          "jobSetCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Code that uniquely identifies the HCM job set used to identify the job type represented on the shift.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "otherQualification": {
            "maxLength": 150,
            "type": "string",
            "description": "Name of the competency, license or certification, or language value for the qualification type selected for the shift.",
            "nullable": true,
            "x-queryable": true
          },
          "otherQualificationType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type for the other qualification specified for the shift, such as competency, license or certification, or language. Valid values are ORA_JOB, ORA_JOB_FAMILY, ORA_JOB_SCH_GROUP and ORA_POSITION.",
            "nullable": true,
            "x-queryable": true
          },
          "paidBreakDuration": {
            "type": "integer",
            "description": "Paid break duration in minutes.",
            "nullable": true,
            "x-queryable": true
          },
          "premiumShiftCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Premium code for the shift. Valid values are defined in the ORA_HWM_PREMIUM_SHIFT_CODE lookup type.",
            "nullable": true,
            "x-queryable": true
          },
          "referenceDay": {
            "type": "string",
            "description": "Date used to group shifts that span multiple workdays into a single workday for processing. The import process checks that shifts marked with the DELETE action are on the reference day before deleting.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "schedEventId": {
            "type": "integer",
            "description": "Unique identifier to reference the schedule event containing the shift.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "schedShiftEventId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule shift event, available only to reference existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "scheduleShiftAttributes": {
            "title": "Schedule Shift Attributes",
            "type": "array",
            "description": "A list of imported values of time attributes associated with a shift.",
            "items": {
              "$ref": "#/components/schemas/scheduleRequests-scheduleEvents-scheduleShiftEvents-scheduleShiftAttributes-item-response"
            }
          },
          "scheduleShiftEventNumber": {
            "maxLength": 120,
            "type": "string",
            "description": "Type for the other qualification specified for the shift, such as competency, license or certification, or language. Valid values are ORA_JOB, ORA_JOB_FAMILY, ORA_JOB_SCH_GROUP and ORA_POSITION.",
            "nullable": true,
            "x-queryable": true
          },
          "shiftAction": {
            "maxLength": 30,
            "type": "string",
            "description": "Actions to do on the shift, such as CREATE and DELETE. When the import mode is FULL, only the CREATE action is accepted. Valid values are defined in the LOV_shiftAction lookup type.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "shiftCategory": {
            "maxLength": 30,
            "type": "string",
            "description": "Category of the shift, such as WORK. Valid values are defined in the LOV_shiftCategory lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "shiftCode": {
            "maxLength": 120,
            "type": "string",
            "description": "Unique identifier for a shift in the library. The shift code is language-independent and required only when you create or update shifts.",
            "nullable": true,
            "x-queryable": true
          },
          "shiftDate": {
            "type": "string",
            "description": "Date for the shift when associated with an enterprise shift.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "shiftDuration": {
            "type": "integer",
            "description": "Duration of the shift in minutes. If the shift type is Elapsed, this attribute is mandatory. For other shift types, you need to provide the start and end times.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "shiftEndTime": {
            "maxLength": 80,
            "type": "string",
            "description": "End time of shifts of the type Time, entered with the time zone offset, for example, 2015-08-02T08:00:00+01:00.",
            "nullable": true,
            "x-queryable": true
          },
          "shiftIncentive": {
            "type": "number",
            "description": "Monetary amount a worker will get when assigned to the shift.",
            "nullable": true,
            "x-queryable": true
          },
          "shiftNumber": {
            "maxLength": 120,
            "type": "string",
            "description": "Unique identifier of the shift in the source system. It's mandatory only when you update or delete shifts.",
            "nullable": true,
            "x-queryable": true
          },
          "shiftStartTime": {
            "maxLength": 80,
            "type": "string",
            "description": "Start time of the Time-type shifts, entered with the time zone offset, for example, 2015-08-02T08:00:00+01:00.",
            "nullable": true,
            "x-queryable": true
          },
          "shiftTimeNotWorked": {
            "type": "integer",
            "description": "Time not worked, and thus unpaid, during the shift in minutes. The shift value in the library provides the default value, which you can override.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "shiftType": {
            "maxLength": 30,
            "type": "string",
            "description": "Types of shift, such as ELAPSED or TIME. Valid values are defined in the LOV_shiftType lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "shiftTypeExtendedCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the shift type. Valid values are defined under the Workforce Schedule Shift Types extended lookup codes.",
            "nullable": true,
            "x-queryable": true
          },
          "unpaidBreakDuration": {
            "type": "integer",
            "description": "Unpaid break duration in minutes.",
            "nullable": true,
            "x-queryable": true
          },
          "workforceShiftCategory": {
            "maxLength": 30,
            "type": "string",
            "description": "Category for the workforce schedule shift. Valid values are defined in the ORA_HTS_ENT_SHIFTS_CATEGORY lookup type.",
            "nullable": true,
            "x-queryable": true
          },
          "workforceShiftName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the enterprise shift. When specified, shift is created using enterprise shift start time, end time, unpaid break duration, and shift category.",
            "nullable": true,
            "x-queryable": true
          }
        }
      },
      "scheduleRequests-scheduleEvents-scheduleShiftEvents-scheduleShiftAttributes-item-response": {
        "type": "object",
        "properties": {
          "attributeName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the time attribute, such as Payroll Time Type or Absence Management Type.",
            "nullable": false,
            "x-queryable": true
          },
          "attributeValue": {
            "maxLength": 150,
            "type": "string",
            "description": "Value of the time attribute. For example, if the time attribute is Payroll Time Type, valid values might be Regular and Overtime.",
            "nullable": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "schedShiftAtrbId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule shift time attribute, available only to reference existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "schedShiftEventId": {
            "type": "integer",
            "description": "Unique identifier to reference the shift event for the time attribute.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          }
        }
      },
      "scheduleRequests-item-post-request": {
        "required": [
          "requestSource",
          "requestTime",
          "scheduleRequestNumber"
        ],
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule department.",
            "nullable": true,
            "x-queryable": false
          },
          "departmentName": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the workforce schedule department.",
            "nullable": true,
            "x-queryable": false
          },
          "endDate": {
            "type": "string",
            "description": "End date for the imported workforce schedules.",
            "format": "date",
            "nullable": true
          },
          "importMode": {
            "maxLength": 20,
            "type": "string",
            "description": "Import modes for the workforce schedule, such as FULL or UPDATE.",
            "nullable": true
          },
          "locationCode": {
            "maxLength": 80,
            "type": "string",
            "description": "Code for the workforce schedule location.",
            "nullable": true,
            "x-queryable": false
          },
          "locationId": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule location.",
            "nullable": true,
            "x-queryable": false
          },
          "locationSetCode": {
            "maxLength": 80,
            "type": "string",
            "description": "Code for the workforce schedule location set.",
            "nullable": true,
            "x-queryable": false
          },
          "requestSource": {
            "maxLength": 30,
            "type": "string",
            "description": "Exporter code or name of the application sending the request.",
            "nullable": false
          },
          "requestTime": {
            "maxLength": 80,
            "type": "string",
            "description": "Submission time of the request, entered with the time zone offset, for example, 2015-11-30T08:23:20.010+01:00.",
            "nullable": false
          },
          "schedRequestId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule request, available only to reference existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "scheduleEvents": {
            "title": "Schedule Events",
            "type": "array",
            "description": "The scope of schedule updates, for example, resource and time period.",
            "items": {
              "$ref": "#/components/schemas/scheduleRequests-scheduleEvents-item-post-request"
            }
          },
          "scheduleRequestNumber": {
            "maxLength": 120,
            "type": "string",
            "description": "Unique identifier of the schedule request.",
            "nullable": false
          },
          "startDate": {
            "type": "string",
            "description": "Start date for the imported workforce schedule.",
            "format": "date",
            "nullable": true
          },
          "validationFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether to validate the imported workforce schedules. Valid values are Y or N.",
            "nullable": true
          }
        }
      },
      "scheduleRequests-scheduleEvents-item-post-request": {
        "required": [
          "importMode"
        ],
        "type": "object",
        "properties": {
          "allowEdits": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the scheduler can edit the imported schedule using the Planned Schedule task. Valid values are Y or N and defined in the HcmLookupYesNo lookup type. The default value is the attribute value in the worker time entry profile.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "importMode": {
            "maxLength": 20,
            "type": "string",
            "description": "Import modes for the schedule such as, FULL or UPDATE. Valid values are defined in the lookup HtsImportMode1.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "periodEndDate": {
            "type": "string",
            "description": "Period end date of the imported schedule.",
            "format": "date",
            "nullable": true
          },
          "periodStartDate": {
            "type": "string",
            "description": "Period start date of imported schedule. For schedule imports for a single day, enter this value: peridEndDate. You enter the actual date for the periodEndDate attribute.",
            "format": "date",
            "nullable": true
          },
          "publish": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether to publish the imported schedules. Valid values are Y or N and defined in the HcmLookupYesNo lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "resourceReference": {
            "maxLength": 120,
            "type": "string",
            "description": "Resource reference that matches the specified resource reference type. For example, if the resource reference type is Person ID, then the resource reference is the unique identifier for the person.",
            "nullable": true
          },
          "resourceReferenceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Reference type of the resource, such as ASSIGNMENT_ID and ASSIGNMENT_NUMBER. Valid values are defined in the HtsResourceRefType1 lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "schedEventId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule request event, available only to reference existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "schedRequestId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule request for this schedule, available only to reference existing records.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "scheduleEventNumber": {
            "maxLength": 120,
            "type": "string",
            "description": "Indicates whether to notify workers after publishing their schedules. Valid values are Y or N and defined in the HcmLookupYesNo lookup type.",
            "nullable": true
          },
          "scheduleShiftEvents": {
            "title": "Schedule Shift Events",
            "type": "array",
            "description": "A list of imported values to create, update, or delete a shift.",
            "items": {
              "$ref": "#/components/schemas/scheduleRequests-scheduleEvents-scheduleShiftEvents-item-post-request"
            }
          },
          "workerNotification": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether to notify workers after publishing their schedules. Valid values are Y or N and defined in the HcmLookupYesNo lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          }
        }
      },
      "scheduleRequests-scheduleEvents-scheduleShiftEvents-item-post-request": {
        "required": [
          "shiftAction"
        ],
        "type": "object",
        "properties": {
          "allowEdits": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether the scheduler can edit the imported shift using the Planned Schedule task. Valid values are Y or N and defined in the HcmLookupYesNo lookup type. If the value is Y or Null, shift editing is allowed when the value of the worker time entry profile Allow Edits option is Y and the schedule event isn't N.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "allowOvertimeFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates whether the shift assignee can go over their weekly assignment hours. Valid values are Y or N.",
            "nullable": true
          },
          "businessUnitName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the business unit shared by Workforce Scheduling and Global HR.",
            "nullable": true
          },
          "comments": {
            "maxLength": 4000,
            "type": "string",
            "description": "Notes for the shift.",
            "nullable": true
          },
          "jobProfile": {
            "maxLength": 255,
            "type": "string",
            "description": "Job profile, such as a job code, job family name, scheduling group code, or position code specified for the shift.",
            "nullable": true
          },
          "jobProfileType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type for the job profile specified for the shift, such as job, job family, scheduling group, or language. Valid values are COMPETENCY, LANGUAGE and CERTIFICATION.",
            "nullable": true
          },
          "jobSetCode": {
            "maxLength": 255,
            "type": "string",
            "description": "Code that uniquely identifies the HCM job set used to identify the job type represented on the shift.",
            "nullable": true
          },
          "otherQualification": {
            "maxLength": 150,
            "type": "string",
            "description": "Name of the competency, license or certification, or language value for the qualification type selected for the shift.",
            "nullable": true
          },
          "otherQualificationType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type for the other qualification specified for the shift, such as competency, license or certification, or language. Valid values are ORA_JOB, ORA_JOB_FAMILY, ORA_JOB_SCH_GROUP and ORA_POSITION.",
            "nullable": true
          },
          "paidBreakDuration": {
            "type": "integer",
            "description": "Paid break duration in minutes.",
            "nullable": true
          },
          "premiumShiftCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Premium code for the shift. Valid values are defined in the ORA_HWM_PREMIUM_SHIFT_CODE lookup type.",
            "nullable": true
          },
          "referenceDay": {
            "type": "string",
            "description": "Date used to group shifts that span multiple workdays into a single workday for processing. The import process checks that shifts marked with the DELETE action are on the reference day before deleting.",
            "format": "date",
            "nullable": true
          },
          "schedEventId": {
            "type": "integer",
            "description": "Unique identifier to reference the schedule event containing the shift.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "schedShiftEventId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule shift event, available only to reference existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "scheduleShiftAttributes": {
            "title": "Schedule Shift Attributes",
            "type": "array",
            "description": "A list of imported values of time attributes associated with a shift.",
            "items": {
              "$ref": "#/components/schemas/scheduleRequests-scheduleEvents-scheduleShiftEvents-scheduleShiftAttributes-item-post-request"
            }
          },
          "scheduleShiftEventNumber": {
            "maxLength": 120,
            "type": "string",
            "description": "Type for the other qualification specified for the shift, such as competency, license or certification, or language. Valid values are ORA_JOB, ORA_JOB_FAMILY, ORA_JOB_SCH_GROUP and ORA_POSITION.",
            "nullable": true
          },
          "shiftAction": {
            "maxLength": 30,
            "type": "string",
            "description": "Actions to do on the shift, such as CREATE and DELETE. When the import mode is FULL, only the CREATE action is accepted. Valid values are defined in the LOV_shiftAction lookup type.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "shiftCategory": {
            "maxLength": 30,
            "type": "string",
            "description": "Category of the shift, such as WORK. Valid values are defined in the LOV_shiftCategory lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "shiftCode": {
            "maxLength": 120,
            "type": "string",
            "description": "Unique identifier for a shift in the library. The shift code is language-independent and required only when you create or update shifts.",
            "nullable": true
          },
          "shiftDate": {
            "type": "string",
            "description": "Date for the shift when associated with an enterprise shift.",
            "format": "date",
            "nullable": true
          },
          "shiftDuration": {
            "type": "integer",
            "description": "Duration of the shift in minutes. If the shift type is Elapsed, this attribute is mandatory. For other shift types, you need to provide the start and end times.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "shiftEndTime": {
            "maxLength": 80,
            "type": "string",
            "description": "End time of shifts of the type Time, entered with the time zone offset, for example, 2015-08-02T08:00:00+01:00.",
            "nullable": true
          },
          "shiftIncentive": {
            "type": "number",
            "description": "Monetary amount a worker will get when assigned to the shift.",
            "nullable": true
          },
          "shiftNumber": {
            "maxLength": 120,
            "type": "string",
            "description": "Unique identifier of the shift in the source system. It's mandatory only when you update or delete shifts.",
            "nullable": true
          },
          "shiftStartTime": {
            "maxLength": 80,
            "type": "string",
            "description": "Start time of the Time-type shifts, entered with the time zone offset, for example, 2015-08-02T08:00:00+01:00.",
            "nullable": true
          },
          "shiftTimeNotWorked": {
            "type": "integer",
            "description": "Time not worked, and thus unpaid, during the shift in minutes. The shift value in the library provides the default value, which you can override.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "shiftType": {
            "maxLength": 30,
            "type": "string",
            "description": "Types of shift, such as ELAPSED or TIME. Valid values are defined in the LOV_shiftType lookup type.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "shiftTypeExtendedCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the shift type. Valid values are defined under the Workforce Schedule Shift Types extended lookup codes.",
            "nullable": true
          },
          "unpaidBreakDuration": {
            "type": "integer",
            "description": "Unpaid break duration in minutes.",
            "nullable": true
          },
          "workforceShiftCategory": {
            "maxLength": 30,
            "type": "string",
            "description": "Category for the workforce schedule shift. Valid values are defined in the ORA_HTS_ENT_SHIFTS_CATEGORY lookup type.",
            "nullable": true
          },
          "workforceShiftName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the enterprise shift. When specified, shift is created using enterprise shift start time, end time, unpaid break duration, and shift category.",
            "nullable": true
          }
        }
      },
      "scheduleRequests-scheduleEvents-scheduleShiftEvents-scheduleShiftAttributes-item-post-request": {
        "type": "object",
        "properties": {
          "attributeName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the time attribute, such as Payroll Time Type or Absence Management Type.",
            "nullable": false
          },
          "attributeValue": {
            "maxLength": 150,
            "type": "string",
            "description": "Value of the time attribute. For example, if the time attribute is Payroll Time Type, valid values might be Regular and Overtime.",
            "nullable": false
          },
          "schedShiftAtrbId": {
            "type": "integer",
            "description": "Surrogate ID for the schedule shift time attribute, available only to reference existing records.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "schedShiftEventId": {
            "type": "integer",
            "description": "Unique identifier to reference the shift event for the time attribute.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "scheduleRequests-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/scheduleRequests-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}