{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Search Performance or Development Goals",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/searchGoals/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Search Performance or Development Goals"
        ],
        "summary": "Find performance or development goals",
        "description": "Finds performance or development goals that match the specified criteria.",
        "operationId": "doall_findByAdvancedSearchQuery_searchGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Query parameter defines the where clause. The resource collection is queried using the provided expressions. The value of this query parameter is one or more expressions.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Indicates whether the query is auto completed. Valid values are Y and N. The default value is Y.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the search performance or development goals query. The search fields can be attributes such as the name of the goal, the goal plan name, and the manager ID.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the performance or development goals search. These can include the review period name, worker ID, manager ID, and business unit ID.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort criteria for the results of the search performance or development goals query. The results can be sorted by attributes such as the review period name, goal name, or the goal plan name.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Attributes included in the response of the search performance or development goals query. These can be goal name, worker name, job name, goal start date, and target completion date of the goal.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Search fields for the search performance goals query. The search fields can be attributes such as the name of the performance goal, the goal plan name, and the manager ID.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Performance or development goals returned by the search performance or development goals query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Performance or development goals returned by the search performance or development goals query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "searchGoals-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "searchgoals-action-findbyadvancedsearchquery-post"
      }
    },
    "/searchGoals/{searchGoalsUniqID}": {
      "get": {
        "tags": [
          "Search Performance or Development Goals"
        ],
        "summary": "Get a performance or development goal",
        "operationId": "get_searchGoals",
        "parameters": [
          {
            "name": "searchGoalsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- GoalId and GoalPlanGoalId ---for the Search Performance or Development Goals resource and used to uniquely identify an instance of Search Performance or Development Goals. The client should not generate the hash key value.  Instead, the client should query on the Search Performance or Development Goals collection resource with a filter on the primary key values in order to navigate to a specific instance of Search Performance or Development Goals.<br><br>For example: searchGoals?q=GoalId=&lt;value1&gt;;GoalPlanGoalId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchGoals-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "searchGoals-{searchGoalsUniqID}-get",
        "x-filename-id": "searchgoals-searchgoalsuniqid-get"
      }
    },
    "/searchGoals": {
      "get": {
        "tags": [
          "Search Performance or Development Goals"
        ],
        "summary": "Get all performance or development goals",
        "operationId": "getall_searchGoals",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActualCompletionDate; string; Actual completion date of the performance or development goal.</li><li>AssignmentId; integer; Unique identifier for the job assignment of a worker.</li><li>BusinessUnitId; integer; Unique identifier for the business unit.</li><li>BusinessUnitName; string; Name of the business unit associated with the performance or development goal.</li><li>DepartmentId; integer; Unique identifier for the department.</li><li>DepartmentName; string; Name of the department associated with the performance or development goal.</li><li>Description; string; Description of the performance or development goal.</li><li>GoalId; integer; Unique identifier for the performance or development goal.</li><li>GoalName; string; Name of the performance or development goal.</li><li>GoalPlanGoalId; integer; Unique identifier for the performance goal in the goal plan.</li><li>GoalPlanId; integer; Unique identifier of the goal plan.</li><li>GoalTypeCode; string; Code that indicates whether the goal is a performance or development goal.</li><li>JobId; integer; Unique identifier for the job.</li><li>JobName; string; Name of the job of the worker who's assigned the performance or development goal.</li><li>Location; string; Unique identifier for the location.</li><li>LocationId; integer; Name of the location associated with the performance or development goal.</li><li>ManagerAssignmentId; integer; Unique identifier for the assignment of the manager.</li><li>ManagerId; integer; Unique identifier for the manager.</li><li>ManagerName; string; Display name of the manager.</li><li>ManagerType; string; Manager's relationship type with the worker who's assigned the performance or development goal.</li><li>PerfGoalType; string; Indicates whether the performance goal is an individual or organizational goal.</li><li>PersonNumber; string; Person number of the worker who's assigned the performance or development goal.</li><li>ReviewPeriodId; integer; Unique Identifier for the review period that the goal plan of the performance goal is associated with.</li><li>StartDate; string; Start date of the performance or development goal.</li><li>StatusCode; string; Status code of the performance or development goal that indicates its status.</li><li>TargetCompletionDate; string; Target completion date of the performance or development goal.</li><li>Weighting; number; Weighting percentage that helps to determine the goal's importance relative to the other goals in the goal plan.</li><li>WorkerAssignmentId; integer; Unique identifier for the assignment of worker to whom the performance or development goal is assigned.</li><li>WorkerAssignmentName; string; Name of the assignment of the worker who's assigned the performance goal.</li><li>WorkerAssignmentNumber; string; Unique assignment number for a worker assignment.</li><li>WorkerId; integer; Unique identifier for the worker who's assigned the performance or development goal.</li><li>WorkerName; string; Display name of the worker to whom the performance or development goal is assigned.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a performance or development goal that matches the primary key criteria specified. <br>Finder Variables <ul><li>GoalId; integer;  Unique identifier for the performance or development goal. </li><li>GoalPlanGoalId; integer;  Unique identifier for the performance goal in the goal plan. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a performance or development goal that matches the primary key criteria specified.",
                "properties": {
                  "GoalPlanGoalId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the performance goal in the goal plan.",
                    "type": "integer"
                  },
                  "GoalId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the performance or development goal.",
                    "type": "integer",
                    "title": "Goal ID"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchGoals"
                }
              }
            },
            "links": {
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1searchGoals~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds performance or development goals that match the specified criteria."
              }
            }
          }
        },
        "x-internal-id": "searchGoals-get",
        "x-filename-id": "searchgoals-get"
      }
    }
  },
  "components": {
    "schemas": {
      "searchGoals-item-response": {
        "type": "object",
        "properties": {
          "ActualCompletionDate": {
            "title": "Actual Completion Date",
            "type": "string",
            "description": "Actual completion date of the performance or development goal.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "AssignmentId": {
            "title": "Assignment ID",
            "type": "integer",
            "description": "Unique identifier for the job assignment of a worker.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "BusinessUnitId": {
            "title": "Business Unit ID",
            "type": "integer",
            "description": "Unique identifier for the business unit.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "controlType": "number_edit",
              "precision": 18
            },
            "x-queryable": true
          },
          "BusinessUnitName": {
            "title": "Business Unit",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the business unit associated with the performance or development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DepartmentId": {
            "type": "integer",
            "description": "Unique identifier for the department.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "DepartmentName": {
            "title": "Department",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the department associated with the performance or development goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the performance or development goal.",
            "nullable": true,
            "x-queryable": true
          },
          "GoalId": {
            "title": "Goal ID",
            "type": "integer",
            "description": "Unique identifier for the performance or development goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalName": {
            "title": "Goal Name",
            "maxLength": 400,
            "type": "string",
            "description": "Name of the performance or development goal.",
            "nullable": false,
            "x-queryable": true
          },
          "GoalPlanGoalId": {
            "type": "integer",
            "description": "Unique identifier for the performance goal in the goal plan.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalPlanId": {
            "title": "Goal Plan Name",
            "type": "integer",
            "description": "Unique identifier of the goal plan.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalTypeCode": {
            "title": "Goal Type",
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates whether the goal is a performance or development goal.",
            "nullable": false,
            "x-queryable": true
          },
          "JobId": {
            "type": "integer",
            "description": "Unique identifier for the job.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "JobName": {
            "title": "Job",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the job of the worker who's assigned the performance or development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Location": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Unique identifier for the location.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Name of the location associated with the performance or development goal.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagerAssignmentId": {
            "type": "integer",
            "description": "Unique identifier for the assignment of the manager.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagerId": {
            "type": "integer",
            "description": "Unique identifier for the manager.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ManagerName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the manager.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ManagerType": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Manager's relationship type with the worker who's assigned the performance or development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PerfGoalType": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates whether the performance goal is an individual or organizational goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the worker who's assigned the performance or development goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ReviewPeriodId": {
            "type": "integer",
            "description": "Unique Identifier for the review period that the goal plan of the performance goal is associated with.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the performance or development goal.",
            "format": "date",
            "nullable": false,
            "x-queryable": true
          },
          "StatusCode": {
            "title": "Status",
            "maxLength": 30,
            "type": "string",
            "description": "Status code of the performance or development goal that indicates its status.",
            "nullable": false,
            "default": "NOT_STARTED",
            "x-queryable": true
          },
          "StatusCodeMeaning": {
            "maxLength": 255,
            "type": "string",
            "description": "Indicates whether the performance or development goal hasn't yet started, is in progress, or completed.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TargetCompletionDate": {
            "title": "Target Completion Date",
            "type": "string",
            "description": "Target completion date of the performance or development goal.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Weighting": {
            "title": "Weight",
            "type": "number",
            "description": "Weighting percentage that helps to determine the goal's importance relative to the other goals in the goal plan.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 5,
              "scale": 2
            },
            "x-queryable": true
          },
          "WorkerAssignmentId": {
            "title": "Assignment ID",
            "type": "integer",
            "description": "Unique identifier for the assignment of worker to whom the performance or development goal is assigned.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkerAssignmentName": {
            "title": "Assignment Name",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the assignment of the worker who's assigned the performance goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkerAssignmentNumber": {
            "title": "Assignment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Unique assignment number for a worker assignment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkerId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Unique identifier for the worker who's assigned the performance or development goal.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "WorkerName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the worker to whom the performance or development goal is assigned.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "searchGoals": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/searchGoals-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}