{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Search Development Goals",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/searchDevGoals/action/getDevelopmentGoalDetails": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Get development goal details",
        "description": "Gets details of a development goal.",
        "operationId": "doall_getDevelopmentGoalDetails_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goalId": {
                    "type": "number",
                    "description": "Identifier of the development goal whose details are retrieved.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return value from the custom action containing development goal details."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Return value from the custom action containing development goal details."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "searchDevGoals-action-getDevelopmentGoalDetails-post",
        "x-filename-id": "searchdevgoals-action-getdevelopmentgoaldetails-post"
      }
    },
    "/searchDevGoals/action/getMultipleDevelopmentGoalDetails": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Get development goal details for multiple goals",
        "description": "Gets details of multiple development goals.",
        "operationId": "doall_getMultipleDevelopmentGoalDetails_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "evaluationId": {
                    "type": "number",
                    "description": "Identifier of the performance evaluation whose details are retrieved.",
                    "nullable": true
                  },
                  "goalIds": {
                    "type": "string",
                    "description": "Unique identifiers for the development goals for which the details have to be fetched.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Returns the value from the custom action containing development goal details."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Returns the value from the custom action containing development goal details."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "searchDevGoals-action-getMultipleDevelopmentGoalDetails-post",
        "x-filename-id": "searchdevgoals-action-getmultipledevelopmentgoaldetails-post"
      }
    },
    "/searchDevGoals/action/prepareApprovalTxnForSubmission": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Clear comments and attachments",
        "description": "Clears existing comments and removes files attached to the development goals approval request.",
        "operationId": "doall_prepareApprovalTxnForSubmission_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Information related to actions for resubmission of the development goal approval transaction.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-internal-id": "searchDevGoals-action-prepareApprovalTxnForSubmission-post",
        "x-filename-id": "searchdevgoals-action-prepareapprovaltxnforsubmission-post"
      }
    },
    "/searchDevGoals/action/cancelGoalsBatchAction": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "cancelGoalsBatchAction",
        "operationId": "doall_cancelGoalsBatchAction_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goalIds": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "searchDevGoals-action-cancelGoalsBatchAction-post",
        "x-filename-id": "searchdevgoals-action-cancelgoalsbatchaction-post"
      }
    },
    "/searchDevGoals/{GoalId}/action/goalAssignAction": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Assign a development goal",
        "description": "Assigns a development goal to the selected employees.",
        "operationId": "do_goalAssignAction_searchDevGoals",
        "parameters": [
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "InputPayloadRest": {
                    "type": "array",
                    "description": "List of employees who need to be assigned the development goal.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "AllowKeyAttrFlag": {
                    "type": "string",
                    "description": "Indicates if goal assignees can update the key attributes of the assigned development goal.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Unique identifier for the goal assignment process."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Unique identifier for the goal assignment process."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "searchDevGoals-{GoalId}-action-goalAssignAction-post",
        "x-filename-id": "searchdevgoals-goalid-action-goalassignaction-post"
      }
    },
    "/searchDevGoals/{GoalId}/action/copyGoal": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Copy a development goal",
        "description": "Copies the attributes of a development goal and creates a new development goal.",
        "operationId": "do_copyGoal_searchDevGoals",
        "parameters": [
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isDevApprovalEnabled": {
                    "type": "string",
                    "description": "Indicates if approval is enabled.",
                    "nullable": true
                  },
                  "GoalName": {
                    "type": "string",
                    "description": "Name of the development goal that's copied.",
                    "nullable": true
                  },
                  "addtnlParams": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "A new development goal with the attributes of the copied development goal."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "A new development goal with the attributes of the copied development goal."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "searchDevGoals-{GoalId}-action-copyGoal-post",
        "x-filename-id": "searchdevgoals-goalid-action-copygoal-post"
      }
    },
    "/searchDevGoals/action/getDevelopmentLibraryGoalDetails": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Get details of a development library goal",
        "description": "Gets all details of the specified development library goal.",
        "operationId": "doall_getDevelopmentLibraryGoalDetails_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contentItemId": {
                    "type": "number",
                    "description": "Unique content item identifier for the development library goal for which the details need to be retrieved.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Details of the development library goal."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Details of the development library goal."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "searchDevGoals-action-getDevelopmentLibraryGoalDetails-post",
        "x-filename-id": "searchdevgoals-action-getdevelopmentlibrarygoaldetails-post"
      }
    },
    "/searchDevGoals/{GoalId}": {
      "get": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Get a development goal",
        "operationId": "get_searchDevGoals",
        "parameters": [
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchDevGoals-item-response"
                }
              }
            },
            "links": {
              "checkGoalInPDAndCheckInDoc": {
                "operationRef": "#/paths/~1searchDevGoals~1{GoalId}~1action~1checkGoalInPDAndCheckInDoc/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId"
                },
                "description": "Checks if the development goal's evaluated in 1 or more performance documents and included in 1 or more check-in documents."
              },
              "copyGoal": {
                "operationRef": "#/paths/~1searchDevGoals~1{GoalId}~1action~1copyGoal/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId"
                },
                "description": "Copies the attributes of a development goal and creates a new development goal."
              },
              "goalAssignAction": {
                "operationRef": "#/paths/~1searchDevGoals~1{GoalId}~1action~1goalAssignAction/post",
                "parameters": {
                  "GoalId": "$request.path.GoalId"
                },
                "description": "Assigns a development goal to the selected employees."
              }
            }
          }
        },
        "x-internal-id": "searchDevGoals-{GoalId}-get",
        "x-filename-id": "searchdevgoals-goalid-get"
      }
    },
    "/searchDevGoals/action/saveDevGoalApproval": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Save development goal data for approval",
        "description": "Saves data of a development goal and its associated tasks and measurements for processing approvals.",
        "operationId": "doall_saveDevGoalApproval_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "Resource on which the goal action is going to be done. For example developmentGoals, devGoalTasks.",
                    "nullable": true
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Details of the development goal that needs to be saved. It includes attributes such as the goal name, and goal description.",
                    "nullable": true
                  },
                  "operation": {
                    "type": "string",
                    "description": "Goal action such as create, delete, or update.",
                    "nullable": true
                  },
                  "inputParameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters that identify the development goal that need to be saved, such as the goal ID, and Object ID.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Development goal, measurement, or task after the create or update action."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Development goal, measurement, or task after the create or update action."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "searchDevGoals-action-saveDevGoalApproval-post",
        "x-filename-id": "searchdevgoals-action-savedevgoalapproval-post"
      }
    },
    "/searchDevGoals/action/createGoalIntents": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Create intents for a development goal",
        "description": "Creates personal intents for a development goal.",
        "operationId": "doall_createGoalIntents_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goalId": {
                    "type": "number",
                    "description": "Unique identifier for the development goal to which the intent needs to be added.",
                    "nullable": true
                  },
                  "newPersonalIntents": {
                    "type": "array",
                    "description": "New personal intents for the person associated with the development goal.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "existingIntents": {
                    "type": "array",
                    "description": "List of existing intents for the person associated with the development goal.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Indicates if the person intents were successfully created or not."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Indicates if the person intents were successfully created or not."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "searchDevGoals-action-createGoalIntents-post",
        "x-filename-id": "searchdevgoals-action-creategoalintents-post"
      }
    },
    "/searchDevGoals/action/deleteGoalsBatchAction": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "deleteGoalsBatchAction",
        "operationId": "doall_deleteGoalsBatchAction_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goalIds": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "searchDevGoals-action-deleteGoalsBatchAction-post",
        "x-filename-id": "searchdevgoals-action-deletegoalsbatchaction-post"
      }
    },
    "/searchDevGoals/{GoalId}/action/checkGoalInPDAndCheckInDoc": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Check if goal's evaluated in performance documents and included in check-in documents",
        "description": "Checks if the development goal's evaluated in 1 or more performance documents and included in 1 or more check-in documents.",
        "operationId": "do_checkGoalInPDAndCheckInDoc_searchDevGoals",
        "parameters": [
          {
            "name": "GoalId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Goal ID",
              "type": "integer",
              "description": "Unique identifier for the development goal.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates if the development goal is evaluated in 1 or more performance documents and included in 1 or more check-in documents."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Indicates if the development goal is evaluated in 1 or more performance documents and included in 1 or more check-in documents."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "searchDevGoals-{GoalId}-action-checkGoalInPDAndCheckInDoc-post",
        "x-filename-id": "searchdevgoals-goalid-action-checkgoalinpdandcheckindoc-post"
      }
    },
    "/searchDevGoals": {
      "get": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Get all development goals",
        "operationId": "getall_searchDevGoals",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ActiveFlag; boolean; Indicates if the development goal is active or not.</li><li>ActualCompletionDate; string; Date when the development goal was actually completed.</li><li>AllowKeyAttrUpdateFlag; boolean; Indicates if managers or workers can update the key attributes of a development goal.</li><li>AssignedByPersonId; integer; Unique identifier for the person who assigned the development goal.</li><li>AssignmentId; integer; Unique identifier for the assignment of the person who's assigned the development goal.</li><li>AssignmentName; string; Assignment name of the person who's assigned the development goal.</li><li>AssignmentNumber; string; Assignment number of the person who's assigned the development goal.</li><li>AssignmentType; string; Assignment type of the person who's assigned the development goal.</li><li>BusinessUnitId; integer; Unique identifier for the business unit of the person who's assigned the development goal.</li><li>BusinessUnitName; string; Name of the business unit of the person who's assigned the development goal.</li><li>CategoryCode; string; Category code of a development goal.</li><li>CategoryMeaning; string; Category for the development goal.</li><li>DepartmentId; integer; Unique identifier for the department of the person who's assigned the development goal.</li><li>DepartmentName; string; Name of the department of the person who's assigned the development goal.</li><li>DisplayName; string; Display name of the person who's assigned the development goal.</li><li>GoalApprovalState; string; Search Development Goals</li><li>GoalId; integer; Unique identifier for the development goal.</li><li>GoalName; string; Name of the development goal.</li><li>GoalSourceCode; string; Source code that indicates who created the development goal. A development goal can be created by a worker, a manager, or an HR specialist.</li><li>GoalVersionTypeCode; string; Version code of the development goal.</li><li>JobName; string; Job name of the person who's assigned the development goal.</li><li>LastModifiedBy; integer; User who last updated the development goal.</li><li>LastModifiedDate; string; Date the development goal was last modified.</li><li>LevelCode; string; Code that indicates the development goal level.</li><li>LevelMeaning; string; Level of the development goal.</li><li>LocationId; integer; Unique identifier for the location of the person who's assigned the development goal.</li><li>LocationName; string; Name of the location of the person who's assigned the development goal.</li><li>LoggedInPersonType; string; Person type of the logged in person.</li><li>MassRequestId; integer; Unique identifier for the mass assignment request for development goals.</li><li>PercentComplete; string; Goal completion percentage code.</li><li>PersonId; integer; Unique identifier for the person who's assigned the development goal.</li><li>PersonNumber; string; Person number of the person who's assigned the development goal.</li><li>PositionName; string; Position name of the person who's assigned the development goal.</li><li>PriorityCode; string; Priority code of the development goal.</li><li>PriorityMeaning; string; Priority of the development goal.</li><li>PrivateFlag; boolean; Indicates if the development goal is private or not.</li><li>RequestContext; string; Indicates the flow from which the development goal was created. The goal could have been added from a Talent Review meeting or by mass assignment.</li><li>StartDate; string; Start date of the development goal.</li><li>Status; string; Status code of the development goal.</li><li>StatusMeaning; string; Meaning of status code of development goal.</li><li>TargetCompletionDate; string; Target completion date for the development goal.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the active and nonprivate development goals of a worker that match the primary key criteria specified. <br>Finder Variables <ul><li>GoalId; integer;  Unique identifier for the development goal. </li></ul></li><li>findByPersonId Finds all development goals for the specified person identifier. <br>Finder Variables <ul><li>GoalId; integer;  Unique identifier for the development goal. </li><li>PersonId; integer;  Unique identifier for the person whose development goals need to be retrieved. </li></ul></li><li>findGoalByEvaluationId Finds a development goal in a specified performance document. <br>Finder Variables <ul><li>EvaluationId; integer;  Unique identifier for the performance document that includes the development goals section. </li><li>GoalId; integer;  Unique identifier for the development goal that's included in the performance document. </li></ul></li><li>findGoalsForCheckInTopics Finds all active and nonprivate development goals of a worker that haven't been included in the check-in document of a specified check-in meeting. <br>Finder Variables <ul><li>CheckinMeetingId; integer;  Unique identifier for the check-in meeting. </li><li>PersonId; integer;  Unique identifier of the person for whom the check-in meeting is scheduled. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the active and nonprivate development goals of a worker that match the primary key criteria specified.",
                "properties": {
                  "GoalId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the development goal.",
                    "type": "integer",
                    "title": "Goal ID"
                  }
                }
              },
              {
                "name": "findByPersonId",
                "description": "Finds all development goals for the specified person identifier.",
                "title": "findByPersonId",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the person whose development goals need to be retrieved.",
                    "type": "integer"
                  },
                  "GoalId": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the development goal.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findGoalByEvaluationId",
                "description": "Finds a development goal in a specified performance document.",
                "title": "findGoalByEvaluationId",
                "properties": {
                  "EvaluationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the performance document that includes the development goals section.",
                    "type": "integer"
                  },
                  "GoalId": {
                    "x-queryable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "required": "Required"
                    },
                    "description": "Unique identifier for the development goal that's included in the performance document.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findGoalsForCheckInTopics",
                "description": "Finds all active and nonprivate development goals of a worker that haven't been included in the check-in document of a specified check-in meeting.",
                "title": "findGoalsForCheckInTopics",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the person for whom the check-in meeting is scheduled.",
                    "type": "integer"
                  },
                  "CheckinMeetingId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the check-in meeting.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchDevGoals"
                }
              }
            },
            "links": {
              "saveDevGoalApproval": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1saveDevGoalApproval/post",
                "description": "Saves data of a development goal and its associated tasks and measurements for processing approvals."
              },
              "getMultipleDevelopmentGoalDetails": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1getMultipleDevelopmentGoalDetails/post",
                "description": "Gets details of multiple development goals."
              },
              "submitEss": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1submitEss/post",
                "description": "Submits mass assignment process for development goals that matches the specified mass assignment request ID."
              },
              "createGoalIntents": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1createGoalIntents/post",
                "description": "Creates personal intents for a development goal."
              },
              "getDevelopmentLibraryGoalDetails": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1getDevelopmentLibraryGoalDetails/post",
                "description": "Gets all details of the specified development library goal."
              },
              "prepareApprovalTxnForSubmission": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1prepareApprovalTxnForSubmission/post",
                "description": "Clears existing comments and removes files attached to the development goals approval request."
              },
              "cancelGoalsBatchAction": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1cancelGoalsBatchAction/post",
                "description": ""
              },
              "deleteGoalsBatchAction": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1deleteGoalsBatchAction/post",
                "description": ""
              },
              "findByAdvancedSearchQuery": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1findByAdvancedSearchQuery/post",
                "description": "Finds development goals that match the specified criteria."
              },
              "getDevelopmentGoalDetails": {
                "operationRef": "#/paths/~1searchDevGoals~1action~1getDevelopmentGoalDetails/post",
                "description": "Gets details of a development goal."
              }
            }
          }
        },
        "x-internal-id": "searchDevGoals-get",
        "x-filename-id": "searchdevgoals-get"
      }
    },
    "/searchDevGoals/action/submitEss": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Submit mass assignment process for development goals",
        "description": "Submits mass assignment process for development goals that matches the specified mass assignment request ID.",
        "operationId": "doall_submitEss_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "MassRequestId": {
                    "type": "string",
                    "description": "Unique identifier for the mass assignment request.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier for the mass assignment process."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier for the mass assignment process."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "searchDevGoals-action-submitEss-post",
        "x-filename-id": "searchdevgoals-action-submitess-post"
      }
    },
    "/searchDevGoals/action/findByAdvancedSearchQuery": {
      "post": {
        "tags": [
          "Search Development Goals"
        ],
        "summary": "Find development goals",
        "description": "Finds development goals that match the specified criteria.",
        "operationId": "doall_findByAdvancedSearchQuery_searchDevGoals",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
                    "nullable": true
                  },
                  "query": {
                    "type": "string",
                    "description": "Query parameter defines the where clause. The resource collection is queried using the provided expressions. The value of this query parameter is one or more expressions.",
                    "nullable": true
                  },
                  "limit": {
                    "type": "number",
                    "description": "Restricts the number of resources returned inside the resource collection.",
                    "nullable": true
                  },
                  "searchFields": {
                    "type": "array",
                    "description": "Search fields for the search development goals query. The search fields can be attributes such as the name of the development goal, the goal name, and the Person ID.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "filters": {
                    "type": "array",
                    "description": "Facet filters for the development goals search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "description": "Sort criteria for the results of the search development goals query. The results can be sorted by attributes such as the goal name, or the last modified date.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "displayFields": {
                    "type": "array",
                    "description": "Attributes included in the response of the search development goals query.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "autocompleteQuery": {
                    "type": "string",
                    "description": "Indicates whether the query is completed automatically. Valid values are Y and N. The default value is Y.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Development goals returned by the search performance goals query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      },
                      "description": "Development goals returned by the search performance goals query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "searchDevGoals-action-findByAdvancedSearchQuery-post",
        "x-filename-id": "searchdevgoals-action-findbyadvancedsearchquery-post"
      }
    }
  },
  "components": {
    "schemas": {
      "searchDevGoals-item-response": {
        "type": "object",
        "properties": {
          "ActiveFlag": {
            "title": "Status",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if the development goal is active or not.",
            "nullable": true,
            "x-queryable": true
          },
          "ActualCompletionDate": {
            "title": "Actual Completion Date",
            "type": "string",
            "description": "Date when the development goal was actually completed.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "AllowKeyAttrUpdateFlag": {
            "title": "Allow Workers to Update Key Attributes",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates if managers or workers can update the key attributes of a development goal.",
            "nullable": true,
            "default": true,
            "x-queryable": true
          },
          "AssignedByPersonId": {
            "title": "Created By",
            "type": "integer",
            "description": "Unique identifier for the person who assigned the development goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentId": {
            "title": "Assignment ID",
            "type": "integer",
            "description": "Unique identifier for the assignment of the person who's assigned the development goal.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AssignmentName": {
            "title": "Assignment Name",
            "maxLength": 80,
            "type": "string",
            "description": "Assignment name of the person who's assigned the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentNumber": {
            "title": "Assignment Number",
            "maxLength": 30,
            "type": "string",
            "description": "Assignment number of the person who's assigned the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "AssignmentType": {
            "title": "Assignment Type",
            "maxLength": 30,
            "type": "string",
            "description": "Assignment type of the person who's assigned the development goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "BusinessUnitId": {
            "type": "integer",
            "description": "Unique identifier for the business unit of the person who's assigned the development goal.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "BusinessUnitName": {
            "title": "Business Unit",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the business unit of the person who's assigned the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CategoryCode": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category code of a development goal.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "CategoryMeaning": {
            "title": "Category",
            "maxLength": 255,
            "type": "string",
            "description": "Category for the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Goal-specific Comments",
            "type": "string",
            "description": "Comments for the development goal.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the development goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "DepartmentId": {
            "type": "integer",
            "description": "Unique identifier for the department of the person who's assigned the development goal.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "DepartmentName": {
            "title": "Department",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the department of the person who's assigned the development goal.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description for the development goal.",
            "nullable": true,
            "x-queryable": false
          },
          "DisplayName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the person who's assigned the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GoalApprovalState": {
            "maxLength": 30,
            "type": "string",
            "description": "Search Development Goals",
            "nullable": true,
            "x-queryable": true
          },
          "GoalId": {
            "title": "Goal ID",
            "type": "integer",
            "description": "Unique identifier for the development goal.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "GoalName": {
            "title": "Goal Name",
            "maxLength": 400,
            "type": "string",
            "description": "Name of the development goal.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "GoalSourceCode": {
            "title": "Source",
            "maxLength": 30,
            "type": "string",
            "description": "Source code that indicates who created the development goal. A development goal can be created by a worker, a manager, or an HR specialist.",
            "nullable": false,
            "x-queryable": true
          },
          "GoalVersionTypeCode": {
            "title": "Goal Version Type",
            "maxLength": 30,
            "type": "string",
            "description": "Version code of the development goal.",
            "nullable": false,
            "default": "ACTIVE",
            "x-queryable": true
          },
          "JobName": {
            "title": "Job",
            "maxLength": 240,
            "type": "string",
            "description": "Job name of the person who's assigned the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastModifiedBy": {
            "title": "Updated By",
            "type": "integer",
            "description": "User who last updated the development goal.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LastModifiedDate": {
            "title": "Last Updated",
            "type": "string",
            "description": "Date the development goal was last modified.",
            "format": "date-time",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date the development goal was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LevelCode": {
            "title": "Level",
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates the development goal level.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "LevelMeaning": {
            "title": "Level",
            "maxLength": 255,
            "type": "string",
            "description": "Level of the development goal.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Unique identifier for the location of the person who's assigned the development goal.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationName": {
[...]
