{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Self Details",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/selfDetails": {
      "get": {
        "tags": [
          "Self Details"
        ],
        "summary": "Get all self details",
        "operationId": "getall_selfDetails",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format: ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables:<br><br><ul><li>PrimaryKey :Finds all the self details that match the specified primary key criteria. <br>Finder Variables: <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the self details that match the specified primary key criteria.",
                "properties": {}
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/selfDetails"
                }
              }
            }
          }
        },
        "x-internal-id": "selfDetails-get",
        "x-filename-id": "selfdetails-get"
      }
    },
    "/selfDetails/{selfDetailsUniqID}": {
      "get": {
        "tags": [
          "Self Details"
        ],
        "summary": "Get a self detail",
        "operationId": "get_selfDetails",
        "parameters": [
          {
            "name": "selfDetailsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Self Details resource and used to uniquely identify an instance of Self Details. The client should not generate the hash key value. Instead, the client should query on the Self Details collection resource in order to navigate to a specific instance of Self Details to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/selfDetails-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "selfDetails-{selfDetailsUniqID}-get",
        "x-filename-id": "selfdetails-selfdetailsuniqid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "selfDetails": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/selfDetails-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "selfDetails-item-response": {
        "type": "object",
        "properties": {
          "AccessibilityMode": {
            "title": "Accessibility Mode",
            "type": "string",
            "description": "Accessibility mode, such as Default or ScreenReader.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AccountType": {
            "title": "Account Type",
            "maxLength": 255,
            "type": "string",
            "description": "Type of account.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ClientEncoding": {
            "title": "Client Encoding",
            "type": "string",
            "description": "Client-native encoding used for uploading, downloading, exporting, and attaching files.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ColorContrast": {
            "title": "Color Contrast",
            "type": "string",
            "description": "Preferred color contrast, such as standard or high.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Currency": {
            "title": "Currency",
            "type": "string",
            "description": "Currency used for the user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DateFormat": {
            "title": "Date Format",
            "type": "string",
            "description": "Date format for the user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DecimalSeparator": {
            "title": "Decimal Separator",
            "type": "string",
            "description": "Decimal separator for number formatting.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DefaultLanguage": {
            "title": "Default Language",
            "type": "string",
            "description": "Preferred default language for the user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DisplayName": {
            "title": "Display Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name of the person.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DisplayNameLanguage": {
            "title": "Display Name Language",
            "type": "string",
            "description": "Preferred display name language for the user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "EmailAddress": {
            "title": "Person Email",
            "maxLength": 240,
            "type": "string",
            "description": "Work email address of the person.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FirstName": {
            "title": "First Name",
            "maxLength": 150,
            "type": "string",
            "description": "First name of the person.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "FontSize": {
            "title": "Font Size",
            "type": "string",
            "description": "Preferred font size, such as large or medium.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "GroupingSeparator": {
            "title": "Grouping Separator",
            "type": "string",
            "description": "Grouping separator for number formatting.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Honors": {
            "title": "Honors",
            "maxLength": 80,
            "type": "string",
            "description": "Qualification appended to a person's name, such as PhD.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Initials": {
            "title": "Initials",
            "maxLength": 255,
            "type": "string",
            "description": "Initials of the user.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "KnownAs": {
            "title": "Known As",
            "maxLength": 80,
            "type": "string",
            "description": "Preferred name of the person.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Language": {
            "title": "Language",
            "type": "string",
            "description": "Language used for the user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "LastName": {
            "title": "Last Name",
            "maxLength": 150,
            "type": "string",
            "description": "Last name of the person.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "MiddleNames": {
            "title": "Middle Name",
            "maxLength": 80,
            "type": "string",
            "description": "Middle name of the person.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "NameType": {
            "title": "Name Type",
            "maxLength": 30,
            "type": "string",
            "description": "Name type that's either global or local. If the record is global, it's populated with GLOBAL. If the record is local, it's populated with a legislative territory code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "NumberFormat": {
            "title": "Number Format",
            "type": "string",
            "description": "Number format for the user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person record linked to the user account.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Photo": {
            "title": "Photo",
            "type": "string",
            "description": "Primary profile photo of the user.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PreNameAdjunct": {
            "title": "Person Name Prefix",
            "maxLength": 150,
            "type": "string",
            "description": "Prefix to a person's last name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ServerTime": {
            "title": "Server Time",
            "type": "string",
            "description": "Server time for the user session.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Suffix": {
            "title": "Suffix",
            "maxLength": 80,
            "type": "string",
            "description": "Part of the name appended to a person's last name, such as Jr. for Junior or Sr. for Senior.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Territory": {
            "title": "Territory",
            "type": "string",
            "description": "Territory for the user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TimeFormat": {
            "title": "Time Format",
            "type": "string",
            "description": "Time format for the user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TimeZone": {
            "title": "Time Zone",
            "type": "string",
            "description": "Preferred time zone of the user.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Title": {
            "title": "Title",
            "maxLength": 30,
            "type": "string",
            "description": "Salutation of the person, such as Mr., and Ms.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "UserDistinguishedName": {
            "title": "User Distinguished Name",
            "maxLength": 4000,
            "type": "string",
            "description": "Distinguished name of the user.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Username": {
            "title": "User Name",
            "maxLength": 100,
            "type": "string",
            "description": "User name of the person. This a unique identifier for a user session.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}