{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Work History Sections/Work History Items/Large Object (LOB) Attributes - Achievements",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/workHistorySections/{ProfileSectionId1}/child/workHistoryItems/{workHistoryItemsUniqID}/enclosure/Achievements": {
      "get": {
        "tags": [
          "Talent Person Profiles/Work History Sections/Work History Items/Large Object (LOB) Attributes - Achievements"
        ],
        "summary": "Get an Achievements",
        "description": "Get an Achievements",
        "operationId": "get_talentPersonProfiles-workHistorySections-workHistoryItems-Achievements",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workHistoryItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Work History Items resource and used to uniquely identify an instance of Work History Items. The client should not generate the hash key value. Instead, the client should query on the Work History Items collection resource in order to navigate to a specific instance of Work History Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "{talentPersonProfilesUniqID}-child-workHistorySections-{ProfileSectionId1}-child-workHistoryItems-{workHistoryItemsUniqID}-enclosure-Achievements-get",
        "x-filename-id": "talentpersonprofilesuniqid-child-workhistorysections-profilesectionid1-child-workhistoryitems-workhistoryitemsuniqid-enclosure-achievements-get"
      },
      "put": {
        "tags": [
          "Talent Person Profiles/Work History Sections/Work History Items/Large Object (LOB) Attributes - Achievements"
        ],
        "summary": "Replace an Achievements",
        "description": "Replace an Achievements",
        "operationId": "replace_talentPersonProfiles-workHistorySections-workHistoryItems-Achievements",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workHistoryItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Work History Items resource and used to uniquely identify an instance of Work History Items. The client should not generate the hash key value. Instead, the client should query on the Work History Items collection resource in order to navigate to a specific instance of Work History Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "{talentPersonProfilesUniqID}-child-workHistorySections-{ProfileSectionId1}-child-workHistoryItems-{workHistoryItemsUniqID}-enclosure-Achievements-put",
        "x-filename-id": "talentpersonprofilesuniqid-child-workhistorysections-profilesectionid1-child-workhistoryitems-workhistoryitemsuniqid-enclosure-achievements-put"
      },
      "delete": {
        "tags": [
          "Talent Person Profiles/Work History Sections/Work History Items/Large Object (LOB) Attributes - Achievements"
        ],
        "summary": "Delete an Achievements",
        "description": "Delete an Achievements",
        "operationId": "delete_talentPersonProfiles-workHistorySections-workHistoryItems-Achievements",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workHistoryItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Work History Items resource and used to uniquely identify an instance of Work History Items. The client should not generate the hash key value. Instead, the client should query on the Work History Items collection resource in order to navigate to a specific instance of Work History Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "child-workHistorySections-{ProfileSectionId1}-child-workHistoryItems-{workHistoryItemsUniqID}-enclosure-Achievements-delete",
        "x-filename-id": "child-workhistorysections-profilesectionid1-child-workhistoryitems-workhistoryitemsuniqid-enclosure-achievements-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}