{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Membership Sections/Membership Items",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/membershipSections/{ProfileSectionId11}/child/membershipItems/{MembershipId}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Membership Sections/Membership Items"
        ],
        "summary": "Get a membership item",
        "operationId": "get_talentPersonProfiles-membershipSections-membershipItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId11",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MembershipId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-membershipItems-item-response"
                }
              }
            },
            "links": {
              "subscriptionPaymentMethodsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubscriptionPaymentMethod; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubscriptionPaymentMethod",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "SubscriptionPayMethodMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "establishmentsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Establishment; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Establishment",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "EstablishmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "currentVolunteersLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrentVolunteer; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrentVolunteer",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "CurrentVolunteerMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "statusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "StatusMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "membershipItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1membershipSections~1{ProfileSectionId11}~1child~1membershipItems~1{MembershipId}~1child~1membershipItemsDFF/get",
                "parameters": {
                  "MembershipId": "$request.path.MembershipId",
                  "ProfileSectionId11": "$request.path.ProfileSectionId11",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "membershipsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Membership; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Membership",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "internalOrganizationsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: InternalOrganization; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/InternalOrganization",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "InternalOrganizationMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "feeCurrenciesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FeeCurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FeeCurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "currenciesLOV.Name": [
                      "FeeCurrency"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-membershipSections-{ProfileSectionId11}-child-membershipItems-{MembershipId}-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-membershipsections-profilesectionid11-child-membershipitems-membershipid-get"
      },
      "delete": {
        "tags": [
          "Talent Person Profiles/Membership Sections/Membership Items"
        ],
        "summary": "Delete a membership item",
        "operationId": "delete_talentPersonProfiles-membershipSections-membershipItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId11",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MembershipId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-membershipSections-{ProfileSectionId11}-child-membershipItems-{MembershipId}-delete",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-membershipsections-profilesectionid11-child-membershipitems-membershipid-delete"
      },
      "patch": {
        "tags": [
          "Talent Person Profiles/Membership Sections/Membership Items"
        ],
        "summary": "Update a membership item",
        "operationId": "update_talentPersonProfiles-membershipSections-membershipItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId11",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MembershipId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-membershipSections-membershipItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-membershipItems-item-response"
                }
              }
            },
            "links": {
              "subscriptionPaymentMethodsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubscriptionPaymentMethod; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubscriptionPaymentMethod",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "SubscriptionPayMethodMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "establishmentsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Establishment; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Establishment",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "EstablishmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "currentVolunteersLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrentVolunteer; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrentVolunteer",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "CurrentVolunteerMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "statusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "StatusMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "membershipItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1membershipSections~1{ProfileSectionId11}~1child~1membershipItems~1{MembershipId}~1child~1membershipItemsDFF/get",
                "parameters": {
                  "MembershipId": "$request.path.MembershipId",
                  "ProfileSectionId11": "$request.path.ProfileSectionId11",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "membershipsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Membership; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Membership",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "internalOrganizationsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: InternalOrganization; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/InternalOrganization",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "InternalOrganizationMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "feeCurrenciesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FeeCurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FeeCurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "currenciesLOV.Name": [
                      "FeeCurrency"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-membershipSections-{ProfileSectionId11}-child-membershipItems-{MembershipId}-patch",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-membershipsections-profilesectionid11-child-membershipitems-membershipid-patch"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/membershipSections/{ProfileSectionId11}/child/membershipItems": {
      "get": {
        "tags": [
          "Talent Person Profiles/Membership Sections/Membership Items"
        ],
        "summary": "Get all membership items",
        "operationId": "getall_talentPersonProfiles-membershipSections-membershipItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId11",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AwardingBody; string; Name of the awarding body.</li><li>Comments; string; Comments of the content item.</li><li>ContentItemId; integer; Unique identifier for the content item.</li><li>Description; string; Description of the membership item.</li><li>Establishment; string; Name of the educational establishment. Valid values are defined in the contentItemsLOV.</li><li>EstablishmentId; integer; Unique identifier of the establishment.</li><li>Fee; integer; Fees for the membership.</li><li>MandatePosition; string; Specifies the mandate position for the membership.</li><li>Membership; string; Name of the affiliation or professional Body. Valid values are defined in the contentItemsLOV.</li><li>MembershipDate; string; Date of membership.</li><li>MembershipEndDate; string; Date on which the membership ends.</li><li>MembershipId; integer; Identifier of the membership.</li><li>MembershipNumber; string; Number of the membership.</li><li>MembershipStartDate; string; Date on which the membership starts.</li><li>MonthlyTimeCommitment; string; Time committed in a month.</li><li>OtherMembership; string; Name of any other affiliation or professional body.</li><li>PositionEndDate; string; Date on which the position ends.</li><li>PositionStartDate; string; Date on which the position begins.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>RelatedItemFlag; boolean; Attribute specific to learning outcome. Indicates whether the membership item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.</li><li>SectionId; integer; Unique identifier of the content section.</li><li>Source; string; Source of the membership item.</li><li>SourceType; string; Code representing the source of membership item.</li><li>Status; string; Status of the membership. Valid values are defined in the commonLookupsLOV.</li><li>SubscriptionPaymentMethod; string; Payment method of the subscription. Valid values are defined in commonLookupsLOV.</li><li>TitleOrPositionHeld; string; Title or position held at the membership.</li><li>VolunteerCause; string; Volunteer cause for the membership item.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all membership items that match the primary key criteria specified. <br>Finder Variables <ul><li>MembershipId; integer;  Surrogate identifier for the membership item. </li></ul></li><li>RowFinder Finds all the membership items for the specified unique key. <br>Finder Variables <ul><li>MembershipId; integer;  Surrogate identifier for the membership item. </li><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findByProfileIdAndSectionId Finds all membership items that match the specified profile and section identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Surrogate identifier for the person profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLinkedInProfileItems Finds all the person membership items for all the membership sections that are enabled for LinkedIn import. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findPendingItemsByProfileId Finds all the membership items that are pending for approvals for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findPendingItemsByTransactionId Finds all the membership items for a profile that are pending for approval with the specified transaction identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>ReloadTransactionId; integer;  Unique identifier of the transaction that's pending for approvals. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findRelatedItems Finds all the membership items for a profile and section identifier that matches with the specified related item. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>RelatedItemFlag; string;  Indicates whether the membership item is a related item or an actual profile item. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all membership items that match the primary key criteria specified.",
                "properties": {
                  "MembershipId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the membership item.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Membership ID"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds all the membership items for the specified unique key.",
                "title": "rowFinder",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "MembershipId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the membership item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByProfileIdAndSectionId",
                "description": "Finds all membership items that match the specified profile and section identifier.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the person profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLinkedInProfileItems",
                "description": "Finds all the person membership items for all the membership sections that are enabled for LinkedIn import.",
                "title": "findLinkedInProfileItem",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByProfileId",
                "description": "Finds all the membership items that are pending for approvals for the specified person profile.",
                "title": "findPendingItemsByProfileId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByTransactionId",
                "description": "Finds all the membership items for a profile that are pending for approval with the specified transaction identifier.",
                "title": "findPendingItemsByTransactionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "ReloadTransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the transaction that's pending for approvals.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findRelatedItems",
                "description": "Finds all the membership items for a profile and section identifier that matches with the specified related item.",
                "title": "findRelatedItems",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "RelatedItemFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Indicates whether the membership item is a related item or an actual profile item.",
                    "type": "string"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-membershipItems"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-membershipSections-{ProfileSectionId11}-child-membershipItems-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-membershipsections-profilesectionid11-child-membershipitems-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles/Membership Sections/Membership Items"
        ],
        "summary": "Create a membership item",
        "operationId": "create_talentPersonProfiles-membershipSections-membershipItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId11",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-membershipSections-membershipItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-membershipItems-item-response"
                }
              }
            },
            "links": {
              "subscriptionPaymentMethodsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SubscriptionPaymentMethod; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SubscriptionPaymentMethod",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "SubscriptionPayMethodMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "establishmentsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Establishment; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Establishment",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "EstablishmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "currentVolunteersLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrentVolunteer; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrentVolunteer",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "CurrentVolunteerMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "statusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "StatusMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "membershipItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1membershipSections~1{ProfileSectionId11}~1child~1membershipItems~1{MembershipId}~1child~1membershipItemsDFF/get",
                "parameters": {
                  "MembershipId": "$request.path.MembershipId",
                  "ProfileSectionId11": "$request.path.ProfileSectionId11",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "membershipsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Membership; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Membership",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "internalOrganizationsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: InternalOrganization; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/InternalOrganization",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "InternalOrganizationMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "feeCurrenciesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FeeCurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FeeCurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "currenciesLOV.Name": [
                      "FeeCurrency"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-membershipSections-{ProfileSectionId11}-child-membershipItems-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-membershipsections-profilesectionid11-child-membershipitems-post"
      }
    }
  },
  "components": {
    "schemas": {
      "talentPersonProfiles-membershipSections-membershipItems-item-response": {
        "type": "object",
        "properties": {
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the awarding body.",
            "nullable": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments of the content item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "ContentItemId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the content item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the membership item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the membership item was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CurrentVolunteer": {
            "title": "Current Volunteer",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the member is currently a volunteer. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "CurrentVolunteerMeaning": {
            "title": "Current Volunteer",
            "maxLength": 255,
            "type": "string",
            "description": "Represent whether the user is a current volunteer of the membership item.",
            "nullable": true,
            "x-queryable": false
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the membership item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "Establishment": {
            "title": "Educational Establishment",
            "type": "string",
            "description": "Name of the educational establishment. Valid values are defined in the contentItemsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "EstablishmentId": {
            "title": "Establishment ID",
            "type": "integer",
            "description": "Unique identifier of the establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Fee": {
            "title": "Fee",
            "type": "integer",
            "description": "Fees for the membership.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FeeCurrency": {
            "title": "Fee Currency",
            "maxLength": 255,
            "type": "string",
            "description": "Currency name for the fee.",
            "nullable": true,
            "x-queryable": false
          },
          "FeeCurrencyCode": {
            "title": "Fee Currency Code",
            "maxLength": 30,
            "type": "string",
            "description": "Currency of the membership fee. Valid values are defined in the currenciesLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "InternalOrganization": {
            "title": "Internal Organization",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the membership is for an internal organization. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "InternalOrganizationMeaning": {
            "title": "Internal Organization",
            "maxLength": 255,
            "type": "string",
            "description": "Represent whether the membership is for an internal organization.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the membership item was last update.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the membership item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "MandatePosition": {
            "title": "Mandate Position",
            "maxLength": 240,
            "type": "string",
            "description": "Specifies the mandate position for the membership.",
            "nullable": true,
            "x-queryable": true
          },
          "Membership": {
            "title": "Affiliation or Professional Body",
            "type": "string",
            "description": "Name of the affiliation or professional Body. Valid values are defined in the contentItemsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "MembershipCategory": {
            "title": "Membership Category",
            "maxLength": 240,
            "type": "string",
            "description": "Category of the membership.",
            "nullable": true,
            "x-queryable": false
          },
          "MembershipDate": {
            "title": "Membership Date",
            "type": "string",
            "description": "Date of membership.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "MembershipEndDate": {
            "title": "Membership End Date",
            "type": "string",
            "description": "Date on which the membership ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "MembershipId": {
            "title": "Membership ID",
            "type": "integer",
            "description": "Identifier of the membership.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MembershipNumber": {
            "title": "Membership Number",
            "maxLength": 240,
            "type": "string",
            "description": "Number of the membership.",
            "nullable": true,
            "x-queryable": true
          },
          "MembershipStartDate": {
            "title": "Membership Start Date",
            "type": "string",
            "description": "Date on which the membership starts.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "MonthlyTimeCommitment": {
            "title": "Monthly Time Commitment",
            "maxLength": 240,
            "type": "string",
            "description": "Time committed in a month.",
            "nullable": true,
            "x-queryable": true
          },
          "OrganizationURL": {
            "title": "Organization URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL related to the membership.",
            "nullable": true,
            "x-queryable": false
          },
          "OtherEstablishment": {
            "title": "Establishment",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the other educational establishment.",
            "nullable": true,
            "x-queryable": false
          },
          "OtherMembership": {
            "title": "Affiliation or Professional Body",
            "maxLength": 240,
            "type": "string",
            "description": "Name of any other affiliation or professional body.",
            "nullable": true,
            "x-queryable": true
          },
          "OtherProfessionalBodyName": {
            "title": "Other Professional Body Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the other professional body.",
            "nullable": true,
            "x-queryable": false
          },
          "PositionEndDate": {
            "title": "Position End Date",
            "type": "string",
            "description": "Date on which the position ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "PositionStartDate": {
            "title": "Position Start Date",
            "type": "string",
            "description": "Date on which the position begins.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RelatedItemFlag": {
            "title": "Related Item",
            "maxLength": 30,
            "type": "boolean",
            "description": "Attribute specific to learning outcome. Indicates whether the membership item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.",
            "nullable": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Source": {
            "title": "Source",
            "maxLength": 255,
            "type": "string",
            "description": "Source of the membership item.",
            "nullable": true,
            "readOnly": true,
            "default": "Talent Profile",
            "x-queryable": true
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of membership item.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Status Code",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the membership. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Status",
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of the status of membership.",
            "nullable": true,
            "x-queryable": false
          },
          "SubscriptionPayMethodMeaning": {
            "title": "Subscription Payment Method",
            "maxLength": 255,
            "type": "string",
            "description": "Represent the subscription payment method for the membership.",
            "nullable": true,
            "x-queryable": false
          },
          "SubscriptionPaymentMethod": {
            "title": "Subscription Payment Method Code",
            "maxLength": 30,
            "type": "string",
            "description": "Payment method of the subscription. Valid values are defined in commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "TitleOrPositionHeld": {
            "title": "Title or Position Held",
            "maxLength": 240,
            "type": "string",
            "description": "Title or position held at the membership.",
            "nullable": true,
            "x-queryable": true
          },
          "VolunteerCause": {
            "title": "Volunteer Cause",
            "maxLength": 240,
            "type": "string",
            "description": "Volunteer cause for the membership item.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "membershipItemsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-membershipItems-membershipItemsDFF-item-response"
            },
            "x-cardinality": "1"
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "talentPersonProfiles-membershipSections-membershipItems-membershipItemsDFF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "JOB_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemJOB__5FCRITICALITYVO-item-response",
            "ORGANIZATION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemORGANIZATION__5FCRITICALITYVO-item-response",
            "PERSON_CAREER_STATEMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCAREER__5FSTATEMENTVO-item-response",
            "PERSON_CATEGORY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCATEGORYVO-item-response",
            "PERSON_COMPONENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCOMPONENTVO-item-response",
            "PERSON_N_BOX_ASSIGNMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response",
            "PERSON_PERFORMANCE_RATING": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response",
            "PERSON_PLATFORM": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPLATFORMVO-item-response",
            "PERSON_POTENTIAL": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPOTENTIALVO-item-response",
            "PERSON_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_PRODUCT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCTVO-item-response",
            "PERSON_PRODUCT_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_READINESS": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FREADINESSVO-item-response",
            "PERSON_RISK": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FRISKVO-item-response",
            "PERSON_TALENT_SCORE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FTALENT__5FSCOREVO-item-response",
            "POSITION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPOSITION__5FCRITICALITYVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemJOB__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemORGANIZATION__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCAREER__5FSTATEMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCATEGORYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCOMPONENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPLATFORMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPOTENTIALVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FREADINESSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FRISKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FTALENT__5FSCOREVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPOSITION__5FCRITICALITYVO-item-response"
          }
        ]
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemJOB__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "JOB_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemORGANIZATION__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "ORGANIZATION_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCAREER__5FSTATEMENTVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CAREER_STATEMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCATEGORYVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CATEGORY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
[...]
