{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Ratings/Advancement Readiness/Large Object (LOB) Attributes - Comments",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentRatings/{talentRatingsUniqID}/child/advancementReadiness/{advancementReadinessUniqID}/enclosure/Comments": {
      "get": {
        "tags": [
          "Talent Ratings/Advancement Readiness/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Get a Comments",
        "description": "Get a Comments",
        "operationId": "get_talentRatings-advancementReadiness-Comments",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advancementReadinessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Advancement Readiness resource and used to uniquely identify an instance of Advancement Readiness. The client should not generate the hash key value. Instead, the client should query on the Advancement Readiness collection resource in order to navigate to a specific instance of Advancement Readiness to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-advancementReadiness-{advancementReadinessUniqID}-enclosure-Comments-get",
        "x-filename-id": "talentratings-talentratingsuniqid-child-advancementreadiness-advancementreadinessuniqid-enclosure-comments-get"
      },
      "put": {
        "tags": [
          "Talent Ratings/Advancement Readiness/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Replace a Comments",
        "description": "Replace a Comments",
        "operationId": "replace_talentRatings-advancementReadiness-Comments",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advancementReadinessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Advancement Readiness resource and used to uniquely identify an instance of Advancement Readiness. The client should not generate the hash key value. Instead, the client should query on the Advancement Readiness collection resource in order to navigate to a specific instance of Advancement Readiness to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-advancementReadiness-{advancementReadinessUniqID}-enclosure-Comments-put",
        "x-filename-id": "talentratings-talentratingsuniqid-child-advancementreadiness-advancementreadinessuniqid-enclosure-comments-put"
      },
      "delete": {
        "tags": [
          "Talent Ratings/Advancement Readiness/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Delete a Comments",
        "description": "Delete a Comments",
        "operationId": "delete_talentRatings-advancementReadiness-Comments",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advancementReadinessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Advancement Readiness resource and used to uniquely identify an instance of Advancement Readiness. The client should not generate the hash key value. Instead, the client should query on the Advancement Readiness collection resource in order to navigate to a specific instance of Advancement Readiness to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-advancementReadiness-{advancementReadinessUniqID}-enclosure-Comments-delete",
        "x-filename-id": "talentratings-talentratingsuniqid-child-advancementreadiness-advancementreadinessuniqid-enclosure-comments-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}