{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Ratings/Impact of Losses",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentRatings/{talentRatingsUniqID}/child/impactOfLosses": {
      "get": {
        "tags": [
          "Talent Ratings/Impact of Losses"
        ],
        "summary": "Get all impact of loss rating items",
        "operationId": "getall_talentRatings-impactOfLosses",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CreatedBy; string; User who created the impact of loss rating item.</li><li>CreationDate; string; Date and time when the impact of loss rating item was created.</li><li>EstimatedRemainingMonths; string; Code representing the estimated months left for the employees to depart the organization. A list of accepted values is defined in the lookup type HRT_EST_DEPARTURE_DATE.</li><li>EstimatedRemainingMonthsMeaning; string; Estimated months left for the employees to depart the organization. A list of accepted values is defined in the lookup type HRT_EST_DEPARTURE_DATE.</li><li>ExpectedReasonForDeparture; string; Code representing the expected reason for the departure of the employee. A list of accepted values is defined in the lookup type HRT_DEPARTURE_REASON.</li><li>ExpectedReasonForDepartureMeaning; string; Expected reason for the departure of the employee. A list of accepted values is defined in the lookup type HRT_DEPARTURE_REASON.</li><li>FromDate; string; Date and time when the impact of loss rating item becomes valid.</li><li>ImpactLevel; string; Name of the rating level associated with the impact of loss rating item.</li><li>ImpactLevelCode; string; Code representing the rating level associated with the impact of loss rating item. Valid values are defined in the ratingLevelsLOV.</li><li>ImpactLevelId; integer; Unique identifier of the rating level associated with the impact of loss rating item.</li><li>ImpactModelId; integer; Unique identifier of the rating model associated with the impact of loss rating item.</li><li>ImpactOfLossId; integer; Unique identifier of the impact of loss rating item.</li><li>LastUpdateDate; string; Date and time when the impact of loss rating item was last updated.</li><li>LastUpdatedBy; string; User who last updated the impact of loss rating item.</li><li>Source; string; Indicates whether the source of the impact of loss rating item is profile, succession management, talent review meeting, or talent review. Valid values are PROFILERISK, SUCCESSIONRISK, TRMPRISK, and TRRISK.</li><li>SourceDescription; string; Date and time until which the impact of loss rating item is valid.</li><li>SourceKey; integer; Unique identifier of the source where the impact of loss rating item is used.</li><li>SourceType; string; Code representing the source of impact of loss rating item.</li><li>SubmittedBy; string; User who submitted the impact of loss rating item.</li><li>ToDate; string; Date and time until which the impact of loss rating item is valid.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the impacts of loss rating items that match the primary key criteria specified. <br>Finder Variables <ul><li>ImpactOfLossId; integer;  Unique identifier of the impact of loss rating item. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the impacts of loss rating items that match the primary key criteria specified.",
                "properties": {
                  "ImpactOfLossId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the impact of loss rating item.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Impact of Loss ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentRatings-impactOfLosses"
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-impactOfLosses-get",
        "x-filename-id": "talentratings-talentratingsuniqid-child-impactoflosses-get"
      },
      "post": {
        "tags": [
          "Talent Ratings/Impact of Losses"
        ],
        "summary": "Create an impact of loss rating item",
        "operationId": "create_talentRatings-impactOfLosses",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentRatings-impactOfLosses-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentRatings-impactOfLosses-item-response"
                }
              }
            },
            "links": {
              "expectedReasonForDepartureLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRT_DEPARTURE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ExpectedReasonForDeparture; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ExpectedReasonForDeparture",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "estimatedRemainingMonthsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRT_EST_DEPARTURE_DATE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EstimatedRemainingMonths; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EstimatedRemainingMonths",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "impactLevelsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ImpactLevelCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingDescription</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ImpactLevelCode",
                  "displayValues": [
                    "RatingDescription"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingLevelId": [
                      "ImpactLevelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingDescription"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-impactOfLosses-post",
        "x-filename-id": "talentratings-talentratingsuniqid-child-impactoflosses-post"
      }
    },
    "/talentRatings/{talentRatingsUniqID}/child/impactOfLosses/{ImpactOfLossId}": {
      "get": {
        "tags": [
          "Talent Ratings/Impact of Losses"
        ],
        "summary": "Get an impact of loss rating item",
        "operationId": "get_talentRatings-impactOfLosses",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ImpactOfLossId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Impact of Loss ID",
              "type": "integer",
              "description": "Unique identifier of the impact of loss rating item.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentRatings-impactOfLosses-item-response"
                }
              }
            },
            "links": {
              "expectedReasonForDepartureLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRT_DEPARTURE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ExpectedReasonForDeparture; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ExpectedReasonForDeparture",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "estimatedRemainingMonthsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRT_EST_DEPARTURE_DATE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EstimatedRemainingMonths; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EstimatedRemainingMonths",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "impactLevelsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ImpactLevelCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingDescription</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ImpactLevelCode",
                  "displayValues": [
                    "RatingDescription"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingLevelId": [
                      "ImpactLevelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingDescription"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-impactOfLosses-{ImpactOfLossId}-get",
        "x-filename-id": "talentratings-talentratingsuniqid-child-impactoflosses-impactoflossid-get"
      },
      "patch": {
        "tags": [
          "Talent Ratings/Impact of Losses"
        ],
        "summary": "Update an impact of loss rating item",
        "operationId": "update_talentRatings-impactOfLosses",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ImpactOfLossId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Impact of Loss ID",
              "type": "integer",
              "description": "Unique identifier of the impact of loss rating item.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentRatings-impactOfLosses-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentRatings-impactOfLosses-item-response"
                }
              }
            },
            "links": {
              "expectedReasonForDepartureLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRT_DEPARTURE_REASON"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ExpectedReasonForDeparture; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ExpectedReasonForDeparture",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "estimatedRemainingMonthsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DHRT_EST_DEPARTURE_DATE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EstimatedRemainingMonths; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EstimatedRemainingMonths",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "impactLevelsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ImpactLevelCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingDescription</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ImpactLevelCode",
                  "displayValues": [
                    "RatingDescription"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingLevelId": [
                      "ImpactLevelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingDescription"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-impactOfLosses-{ImpactOfLossId}-patch",
        "x-filename-id": "talentratings-talentratingsuniqid-child-impactoflosses-impactoflossid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "talentRatings-impactOfLosses": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentRatings-impactOfLosses-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentRatings-impactOfLosses-item-response": {
        "type": "object",
        "properties": {
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments on the impact of loss rating item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the impact of loss rating item.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the impact of loss rating item was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EstimatedRemainingMonths": {
            "title": "Estimated Remaining Months",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the estimated months left for the employees to depart the organization. A list of accepted values is defined in the lookup type HRT_EST_DEPARTURE_DATE.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EstimatedRemainingMonthsMeaning": {
            "title": "Estimated Remaining Months",
            "maxLength": 80,
            "type": "string",
            "description": "Estimated months left for the employees to depart the organization. A list of accepted values is defined in the lookup type HRT_EST_DEPARTURE_DATE.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ExpectedReasonForDeparture": {
            "title": "Expected Reason for Departure",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the expected reason for the departure of the employee. A list of accepted values is defined in the lookup type HRT_DEPARTURE_REASON.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ExpectedReasonForDepartureMeaning": {
            "title": "Expected Reason for Departure",
            "maxLength": 80,
            "type": "string",
            "description": "Expected reason for the departure of the employee. A list of accepted values is defined in the lookup type HRT_DEPARTURE_REASON.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "FromDate": {
            "title": "From Date",
            "type": "string",
            "description": "Date and time when the impact of loss rating item becomes valid.",
            "format": "date",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "ImpactLevel": {
            "title": "Name",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the rating level associated with the impact of loss rating item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ImpactLevelCode": {
            "title": "Impact Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the rating level associated with the impact of loss rating item. Valid values are defined in the ratingLevelsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "ImpactLevelId": {
            "title": "Impact Level ID",
            "type": "integer",
            "description": "Unique identifier of the rating level associated with the impact of loss rating item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ImpactModelId": {
            "title": "Impact Rating Model",
            "type": "integer",
            "description": "Unique identifier of the rating model associated with the impact of loss rating item.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "default": 13,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "ImpactOfLossId": {
            "title": "Impact of Loss ID",
            "type": "integer",
            "description": "Unique identifier of the impact of loss rating item.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the impact of loss rating item was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the impact of loss rating item.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Source": {
            "title": "Source",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the source of the impact of loss rating item is profile, succession management, talent review meeting, or talent review. Valid values are PROFILERISK, SUCCESSIONRISK, TRMPRISK, and TRRISK.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "SourceDescription": {
            "title": "Source",
            "maxLength": 4000,
            "type": "string",
            "description": "Date and time until which the impact of loss rating item is valid.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SourceKey": {
            "type": "integer",
            "description": "Unique identifier of the source where the impact of loss rating item is used.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of impact of loss rating item.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "SubmittedBy": {
            "maxLength": 255,
            "type": "string",
            "description": "User who submitted the impact of loss rating item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ToDate": {
            "title": "End Date",
            "type": "string",
            "description": "Date and time until which the impact of loss rating item is valid.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "talentRatings-impactOfLosses-item-post-request": {
        "type": "object",
        "properties": {
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments on the impact of loss rating item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EstimatedRemainingMonths": {
            "title": "Estimated Remaining Months",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the estimated months left for the employees to depart the organization. A list of accepted values is defined in the lookup type HRT_EST_DEPARTURE_DATE.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ExpectedReasonForDeparture": {
            "title": "Expected Reason for Departure",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the expected reason for the departure of the employee. A list of accepted values is defined in the lookup type HRT_DEPARTURE_REASON.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ImpactLevelCode": {
            "title": "Impact Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the rating level associated with the impact of loss rating item. Valid values are defined in the ratingLevelsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ImpactLevelId": {
            "title": "Impact Level ID",
            "type": "integer",
            "description": "Unique identifier of the rating level associated with the impact of loss rating item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "Source": {
            "title": "Source",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the source of the impact of loss rating item is profile, succession management, talent review meeting, or talent review. Valid values are PROFILERISK, SUCCESSIONRISK, TRMPRISK, and TRRISK.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "SourceKey": {
            "type": "integer",
            "description": "Unique identifier of the source where the impact of loss rating item is used.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of impact of loss rating item.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      },
      "talentRatings-impactOfLosses-item-patch-request": {
        "type": "object",
        "properties": {
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments on the impact of loss rating item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EstimatedRemainingMonths": {
            "title": "Estimated Remaining Months",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the estimated months left for the employees to depart the organization. A list of accepted values is defined in the lookup type HRT_EST_DEPARTURE_DATE.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ExpectedReasonForDeparture": {
            "title": "Expected Reason for Departure",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the expected reason for the departure of the employee. A list of accepted values is defined in the lookup type HRT_DEPARTURE_REASON.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "ImpactLevelCode": {
            "title": "Impact Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the rating level associated with the impact of loss rating item. Valid values are defined in the ratingLevelsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ImpactLevelId": {
            "title": "Impact Level ID",
            "type": "integer",
            "description": "Unique identifier of the rating level associated with the impact of loss rating item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of impact of loss rating item.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "talentRatings-impactOfLosses-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/talentRatings-impactOfLosses-item-post-request"
            }
          }
        }
      },
      "talentRatings-impactOfLosses-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/talentRatings-impactOfLosses-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}