{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Career Preference Sections/Career Preference Items",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/careerPreferenceSections/{ProfileSectionId}/child/careerPreferenceItems": {
      "get": {
        "tags": [
          "Talent Person Profiles/Career Preference Sections/Career Preference Items"
        ],
        "summary": "Get all career preference items",
        "operationId": "getall_talentPersonProfiles-careerPreferenceSections-careerPreferenceItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CareerPreferenceId; integer; Surrogate identifier for the person career preference.</li><li>NextCareerMove; string; Probable time frame in which the next career move could happen. Valid values are defined in the commonLookupsLOV.</li><li>OtherPreferredRegion; string; Preferred region for the career.</li><li>OtherPreferredRegionCode; string; Location code of the other region preferred by the worker. Valid values are defined in the locationsLov.</li><li>OtherPreferredRegionId; string; Unique identifier of the other preferred region.</li><li>PreferredJobDescr; string; Description of the preferred job.</li><li>PreferredJobFamilyCode; string; Job family code of the job family preferred by the worker. Valid values are defined in the jobFamiliesLov.</li><li>PreferredJobFunction; string; Job function preferred by the worker. Valid values are defined in the commonLookupsLOV.</li><li>PreferredRegion; string; Preferred region for the career.</li><li>PreferredRegionCode; string; Location code of the region preferred by the worker. Valid values are defined in the locationsLov.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>SectionId; integer; Unique identifier of the content section.</li><li>SourceType; string; Code representing the source of career preference item.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the career preference items that match the primary key criteria specified. <br>Finder Variables <ul><li>CareerPreferenceId; integer;  Surrogate identifier for the career preference item. </li></ul></li><li>RowFinder Finds all the career preference items for the specified unique key. <br>Finder Variables <ul><li>CareerPreferenceId; integer;  Surrogate identifier for the career preference item. </li><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findByProfileIdAndSectionId Finds all career preference items that match the specified profile and section identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Surrogate identifier for the person profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLinkedInProfileItems Finds all the person career preference items for all career preference sections that are enabled for LinkedIn import. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findPendingItemsByProfileId Finds all the career preference items that are pending for approvals for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the career preference items that match the primary key criteria specified.",
                "properties": {
                  "CareerPreferenceId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the career preference item.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Career Preference ID"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds all the career preference items for the specified unique key.",
                "title": "rowFinder",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "CareerPreferenceId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the career preference item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByProfileIdAndSectionId",
                "description": "Finds all career preference items that match the specified profile and section identifier.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the person profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLinkedInProfileItems",
                "description": "Finds all the person career preference items for all career preference sections that are enabled for LinkedIn import.",
                "title": "findLinkedInProfileItem",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByProfileId",
                "description": "Finds all the career preference items that are pending for approvals for the specified person profile.",
                "title": "findPendingItemsByProfileId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-careerPreferenceSections-careerPreferenceItems"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-careerPreferenceSections-{ProfileSectionId}-child-careerPreferenceItems-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-careerpreferencesections-profilesectionid-child-careerpreferenceitems-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles/Career Preference Sections/Career Preference Items"
        ],
        "summary": "Create a career preference item",
        "operationId": "create_talentPersonProfiles-careerPreferenceSections-careerPreferenceItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-item-response"
                }
              }
            },
            "links": {
              "preferredJobFamiliesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredJobFamilyCode; Target Attribute: JobFamilyCode</li><li>Display Attribute: JobFamilyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredJobFamilyCode",
                  "displayValues": [
                    "JobFamilyName"
                  ],
                  "derivedFieldsMapping": {
                    "jobFamiliesLov.JobFamilyId": [
                      "PreferredJobFamilyId"
                    ],
                    "jobFamiliesLov.JobFamilyName": [
                      "PreferredJobFamily"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobFamilyCode",
                  "displayFields": [
                    "JobFamilyName"
                  ]
                }
              },
              "otherPreferredRegionsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OtherPreferredRegionCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OtherPreferredRegionCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "OtherPreferredRegionId"
                    ],
                    "locationsLov.LocationName": [
                      "OtherPreferredRegion"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "careerPreferenceItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerPreferenceSections~1{ProfileSectionId}~1child~1careerPreferenceItems~1{CareerPreferenceId}~1child~1careerPreferenceItemsDFF/get",
                "parameters": {
                  "CareerPreferenceId": "$request.path.CareerPreferenceId",
                  "ProfileSectionId3": "$request.path.ProfileSectionId3",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "nextCareerMovesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: NextCareerMove; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/NextCareerMove",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "NextCareerMoveMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "preferredRegionsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredRegionCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredRegionCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "PreferredRegionId"
                    ],
                    "locationsLov.LocationName": [
                      "PreferredRegion"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "preferredJobFunctionsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredJobFunction; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredJobFunction",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "PreferredJobFunctionMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-careerPreferenceSections-{ProfileSectionId}-child-careerPreferenceItems-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-careerpreferencesections-profilesectionid-child-careerpreferenceitems-post"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/careerPreferenceSections/{ProfileSectionId}/child/careerPreferenceItems/{CareerPreferenceId}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Career Preference Sections/Career Preference Items"
        ],
        "summary": "Get a career preference item",
        "operationId": "get_talentPersonProfiles-careerPreferenceSections-careerPreferenceItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "CareerPreferenceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Career Preference ID",
              "type": "integer",
              "description": "Surrogate identifier for the person career preference.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-item-response"
                }
              }
            },
            "links": {
              "preferredJobFamiliesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredJobFamilyCode; Target Attribute: JobFamilyCode</li><li>Display Attribute: JobFamilyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredJobFamilyCode",
                  "displayValues": [
                    "JobFamilyName"
                  ],
                  "derivedFieldsMapping": {
                    "jobFamiliesLov.JobFamilyId": [
                      "PreferredJobFamilyId"
                    ],
                    "jobFamiliesLov.JobFamilyName": [
                      "PreferredJobFamily"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobFamilyCode",
                  "displayFields": [
                    "JobFamilyName"
                  ]
                }
              },
              "otherPreferredRegionsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OtherPreferredRegionCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OtherPreferredRegionCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "OtherPreferredRegionId"
                    ],
                    "locationsLov.LocationName": [
                      "OtherPreferredRegion"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "careerPreferenceItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerPreferenceSections~1{ProfileSectionId}~1child~1careerPreferenceItems~1{CareerPreferenceId}~1child~1careerPreferenceItemsDFF/get",
                "parameters": {
                  "CareerPreferenceId": "$request.path.CareerPreferenceId",
                  "ProfileSectionId3": "$request.path.ProfileSectionId3",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "nextCareerMovesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: NextCareerMove; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/NextCareerMove",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "NextCareerMoveMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "preferredRegionsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredRegionCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredRegionCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "PreferredRegionId"
                    ],
                    "locationsLov.LocationName": [
                      "PreferredRegion"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "preferredJobFunctionsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredJobFunction; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredJobFunction",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "PreferredJobFunctionMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "{talentPersonProfilesUniqID}-child-careerPreferenceSections-{ProfileSectionId}-child-careerPreferenceItems-{CareerPreferenceId}-get",
        "x-filename-id": "talentpersonprofilesuniqid-child-careerpreferencesections-profilesectionid-child-careerpreferenceitems-careerpreferenceid-get"
      },
      "patch": {
        "tags": [
          "Talent Person Profiles/Career Preference Sections/Career Preference Items"
        ],
        "summary": "Update a career preference item",
        "operationId": "update_talentPersonProfiles-careerPreferenceSections-careerPreferenceItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "CareerPreferenceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Career Preference ID",
              "type": "integer",
              "description": "Surrogate identifier for the person career preference.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-item-response"
                }
              }
            },
            "links": {
              "preferredJobFamiliesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredJobFamilyCode; Target Attribute: JobFamilyCode</li><li>Display Attribute: JobFamilyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredJobFamilyCode",
                  "displayValues": [
                    "JobFamilyName"
                  ],
                  "derivedFieldsMapping": {
                    "jobFamiliesLov.JobFamilyId": [
                      "PreferredJobFamilyId"
                    ],
                    "jobFamiliesLov.JobFamilyName": [
                      "PreferredJobFamily"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobFamilyCode",
                  "displayFields": [
                    "JobFamilyName"
                  ]
                }
              },
              "otherPreferredRegionsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OtherPreferredRegionCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OtherPreferredRegionCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "OtherPreferredRegionId"
                    ],
                    "locationsLov.LocationName": [
                      "OtherPreferredRegion"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "careerPreferenceItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerPreferenceSections~1{ProfileSectionId}~1child~1careerPreferenceItems~1{CareerPreferenceId}~1child~1careerPreferenceItemsDFF/get",
                "parameters": {
                  "CareerPreferenceId": "$request.path.CareerPreferenceId",
                  "ProfileSectionId3": "$request.path.ProfileSectionId3",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "nextCareerMovesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: NextCareerMove; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/NextCareerMove",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "NextCareerMoveMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "preferredRegionsLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredRegionCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredRegionCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "PreferredRegionId"
                    ],
                    "locationsLov.LocationName": [
                      "PreferredRegion"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "preferredJobFunctionsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PreferredJobFunction; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PreferredJobFunction",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "PreferredJobFunctionMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "{talentPersonProfilesUniqID}-child-careerPreferenceSections-{ProfileSectionId}-child-careerPreferenceItems-{CareerPreferenceId}-patch",
        "x-filename-id": "talentpersonprofilesuniqid-child-careerpreferencesections-profilesectionid-child-careerpreferenceitems-careerpreferenceid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "talentPersonProfiles-careerPreferenceSections-careerPreferenceItems": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-item-response": {
        "type": "object",
        "properties": {
          "CareerPreferenceId": {
            "title": "Career Preference ID",
            "type": "integer",
            "description": "Surrogate identifier for the person career preference.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments for the career preference.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the content item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the content item was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "User who last updated the content item.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "Date and time when the content item was last updated.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LongPeriodAspiration": {
            "title": "Career Aspirations - 5 Years or Long Term",
            "maxLength": 2000,
            "type": "string",
            "description": "Long term career aspirations of the worker.",
            "nullable": true,
            "x-queryable": false
          },
          "NextCareerMove": {
            "title": "Next Career Move Code",
            "maxLength": 30,
            "type": "string",
            "description": "Probable time frame in which the next career move could happen. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "NextCareerMoveMeaning": {
            "title": "Next Career Move",
            "type": "string",
            "description": "Meaning of the next career move.",
            "nullable": true,
            "x-queryable": false
          },
          "OtherPreferredRegion": {
            "title": "Other Preferred Region",
            "type": "string",
            "description": "Preferred region for the career.",
            "nullable": true,
            "x-queryable": true
          },
          "OtherPreferredRegionCode": {
            "title": "Other Preferred Region Code",
            "maxLength": 150,
            "type": "string",
            "description": "Location code of the other region preferred by the worker. Valid values are defined in the locationsLov.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "OtherPreferredRegionId": {
            "title": "Other Preferred Region ID",
            "maxLength": 18,
            "type": "string",
            "description": "Unique identifier of the other preferred region.",
            "nullable": true,
            "x-queryable": true
          },
          "PreferredJobDescr": {
            "title": "Preferred Job Description",
            "type": "string",
            "description": "Description of the preferred job.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "PreferredJobFamily": {
            "title": "Preferred Job Family",
            "type": "string",
            "description": "Preferred job family of the career.",
            "nullable": true,
            "x-queryable": false
          },
          "PreferredJobFamilyCode": {
            "title": "Preferred Job Family Code",
            "maxLength": 240,
            "type": "string",
            "description": "Job family code of the job family preferred by the worker. Valid values are defined in the jobFamiliesLov.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "PreferredJobFamilyId": {
            "title": "Preferred Job Family Id",
            "type": "integer",
            "description": "Unique identifier of the preferred job family.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "PreferredJobFunction": {
            "title": "Preferred Job Function Code",
            "maxLength": 30,
            "type": "string",
            "description": "Job function preferred by the worker. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "PreferredJobFunctionMeaning": {
            "title": "Preferred Job Function",
            "type": "string",
            "description": "Meaning of the job function preferred by worker.",
            "nullable": true,
            "x-queryable": false
          },
          "PreferredRegion": {
            "title": "Preferred Region",
            "type": "string",
            "description": "Preferred region for the career.",
            "nullable": true,
            "x-queryable": true
          },
          "PreferredRegionCode": {
            "title": "Preferred Region Code",
            "maxLength": 150,
            "type": "string",
            "description": "Location code of the region preferred by the worker. Valid values are defined in the locationsLov.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "PreferredRegionId": {
            "title": "Preferred Region ID",
            "type": "integer",
            "description": "Unique identifier of the preferred region.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ShortPeriodAspiration": {
            "title": "Career Aspirations - 3 Years or Short Term",
            "maxLength": 2000,
            "type": "string",
            "description": "Short term career aspirations of the worker.",
            "nullable": true,
            "x-queryable": false
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of career preference item.",
            "nullable": true,
            "x-queryable": true
          },
          "careerPreferenceItemsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-careerPreferenceItemsDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "talentPersonProfiles-careerPreferenceSections-careerPreferenceItems-careerPreferenceItemsDFF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "JOB_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemJOB__5FCRITICALITYVO-item-response",
            "ORGANIZATION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemORGANIZATION__5FCRITICALITYVO-item-response",
            "PERSON_CAREER_STATEMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCAREER__5FSTATEMENTVO-item-response",
            "PERSON_CATEGORY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCATEGORYVO-item-response",
            "PERSON_COMPONENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCOMPONENTVO-item-response",
            "PERSON_N_BOX_ASSIGNMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response",
            "PERSON_PERFORMANCE_RATING": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response",
            "PERSON_PLATFORM": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPLATFORMVO-item-response",
            "PERSON_POTENTIAL": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPOTENTIALVO-item-response",
            "PERSON_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_PRODUCT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPRODUCTVO-item-response",
            "PERSON_PRODUCT_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_READINESS": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FREADINESSVO-item-response",
            "PERSON_RISK": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FRISKVO-item-response",
            "PERSON_TALENT_SCORE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FTALENT__5FSCOREVO-item-response",
            "POSITION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPOSITION__5FCRITICALITYVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemJOB__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemORGANIZATION__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCAREER__5FSTATEMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCATEGORYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCOMPONENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPLATFORMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPOTENTIALVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPRODUCTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FREADINESSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FRISKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FTALENT__5FSCOREVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPOSITION__5FCRITICALITYVO-item-response"
          }
        ]
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemJOB__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "JOB_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemORGANIZATION__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "ORGANIZATION_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCAREER__5FSTATEMENTVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CAREER_STATEMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCATEGORYVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CATEGORY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FCOMPONENTVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_COMPONENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_N_BOX_ASSIGNMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PERFORMANCE_RATING",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPLATFORMVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PLATFORM",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPOTENTIALVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_POTENTIAL",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_careerPrefItem_view_CareerPrefItemPERSON__5FPROBLEM__5FCODEVO-item-response": {
        "type": "object",
        "properties": {
          "CareerPrefId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PROBLEM_CODE",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
[...]
