{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Education Sections/Education Items",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/educationSections/{ProfileSectionId}/child/educationItems": {
      "get": {
        "tags": [
          "Talent Person Profiles/Education Sections/Education Items"
        ],
        "summary": "Get all education items",
        "operationId": "getall_talentPersonProfiles-educationSections-educationItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Country; string; Country where education is received. Valid values are defined in the HcmCountriesLOV.</li><li>CountryMeaning; string; Meaning of the country code.</li><li>Degree; string; Name of the degree, such as Accounting. Valid values are defined in the contentItemsLov.</li><li>EducationId; integer; Identifier for the education.</li><li>EducationLevel; string; Level of education, such as High School Graduate. Valid values are defined in the commonLookupsLOV.</li><li>Major; string; Name of the degree major, such as Accounting.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>RelatedItemFlag; boolean; Attribute specific to learning outcome. Indicates whether the education item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.</li><li>SectionId; integer; Unique identifier of the content section.</li><li>Source; string; Source of the education items.</li><li>SourceType; string; Code representing the source of education item.</li><li>State; string; State where education is received. Valid values are defined in the hcmAddressesLOV.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all education items that match the primary key criteria specified. <br>Finder Variables <ul><li>EducationId; integer;  Surrogate identifier for the education item. </li></ul></li><li>RowFinder Finds all the education items for the specified unique key. <br>Finder Variables <ul><li>EducationId; integer;  Surrogate identifier for the education item. </li><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findByProfileIdAndSectionId Finds all education items that match the specified profile and section identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Surrogate identifier for the person profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLatestItemForRAC Finds the latest person education items for recruiting activity center flow for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLinkedInProfileItems Finds all the person education items for all education sections that are enabled for LinkedIn import. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findPendingItemsByProfileId Finds all the education items that are pending for approvals for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findPendingItemsByTransactionId Finds all the education items for a profile that are pending for approval with the specified transaction identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>ReloadTransactionId; integer;  Unique identifier of the transaction that's pending for approvals. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findRelatedItems Finds all the education items for a profile and section identifier that match with the specified related item. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>RelatedItemFlag; string;  Indicates whether the education item is a related item or an actual profile item. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all education items that match the primary key criteria specified.",
                "properties": {
                  "EducationId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the education item.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Education ID"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds all the education items for the specified unique key.",
                "title": "rowFinder",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "EducationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the education item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByProfileIdAndSectionId",
                "description": "Finds all education items that match the specified profile and section identifier.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the person profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLatestItemForRAC",
                "description": "Finds the latest person education items for recruiting activity center flow for the specified person profile.",
                "title": "findLatestItemForRAC",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLinkedInProfileItems",
                "description": "Finds all the person education items for all education sections that are enabled for LinkedIn import.",
                "title": "findLinkedInProfileItem",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByProfileId",
                "description": "Finds all the education items that are pending for approvals for the specified person profile.",
                "title": "findPendingItemsByProfileId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByTransactionId",
                "description": "Finds all the education items for a profile that are pending for approval with the specified transaction identifier.",
                "title": "findPendingItemsByTransactionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "ReloadTransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the transaction that's pending for approvals.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findRelatedItems",
                "description": "Finds all the education items for a profile and section identifier that match with the specified related item.",
                "title": "findRelatedItems",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "RelatedItemFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Indicates whether the education item is a related item or an actual profile item.",
                    "type": "string"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-educationSections-educationItems"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-educationSections-{ProfileSectionId}-child-educationItems-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-educationsections-profilesectionid-child-educationitems-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles/Education Sections/Education Items"
        ],
        "summary": "Create an education item",
        "operationId": "create_talentPersonProfiles-educationSections-educationItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-educationSections-educationItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-educationSections-educationItems-item-response"
                }
              }
            },
            "links": {
              "degreesLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Degree; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Degree",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "establishmentsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Establishment; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Establishment",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "EstablishmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "highestEducationLevelsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{HighestEduLevelLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: HighestEducationLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/HighestEducationLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "HighestEducationLevelMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationItemAttachments": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections~1{ProfileSectionId}~1child~1educationItems~1{EducationId}~1child~1educationItemAttachments/get",
                "parameters": {
                  "ProfileSectionId7": "$request.path.ProfileSectionId7",
                  "EducationId": "$request.path.EducationId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationItemAttachments resource is a child of educationItems resource. It provides all the attachments for the education item."
              },
              "statusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{StatusLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "StatusMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "countriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Country; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Country",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "graduatedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{GraduatedFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Graduated; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Graduated",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "feeCurrenciesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FeeCurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FeeCurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "tuitionMethodsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{TuitionMethodLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TuitionMethod; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TuitionMethod",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TutionMethodMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationLevelsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{EducationLevelLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EducationLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EducationLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "EducationLevelMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "TerminalDegreeDisciplinesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{TrmnlDegDiscpFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TerminalDegreeDiscipline; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TerminalDegreeDiscipline",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "durationUnitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{DurationUnitsLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DurationUnits; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DurationUnits",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "DurationUnitsMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationLevelCompletedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{EduLevelCompFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EducationLevelCompleted; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EducationLevelCompleted",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "academicStandingLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{AcademicStandingLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: AcademicStanding; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/AcademicStanding",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "AcademicStandingMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "partTimeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{PartTimeFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PartTime; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PartTime",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections~1{ProfileSectionId}~1child~1educationItems~1{EducationId}~1child~1educationItemsDFF/get",
                "parameters": {
                  "ProfileSectionId7": "$request.path.ProfileSectionId7",
                  "EducationId": "$request.path.EducationId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-educationSections-{ProfileSectionId}-child-educationItems-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-educationsections-profilesectionid-child-educationitems-post"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/educationSections/{ProfileSectionId}/child/educationItems/{EducationId}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Education Sections/Education Items"
        ],
        "summary": "Get an education item",
        "operationId": "get_talentPersonProfiles-educationSections-educationItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "EducationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Education ID",
              "type": "integer",
              "description": "Identifier for the education.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-educationSections-educationItems-item-response"
                }
              }
            },
            "links": {
              "degreesLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Degree; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Degree",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "establishmentsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Establishment; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Establishment",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "EstablishmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "highestEducationLevelsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{HighestEduLevelLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: HighestEducationLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/HighestEducationLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "HighestEducationLevelMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationItemAttachments": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections~1{ProfileSectionId}~1child~1educationItems~1{EducationId}~1child~1educationItemAttachments/get",
                "parameters": {
                  "ProfileSectionId7": "$request.path.ProfileSectionId7",
                  "EducationId": "$request.path.EducationId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationItemAttachments resource is a child of educationItems resource. It provides all the attachments for the education item."
              },
              "statusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{StatusLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "StatusMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "countriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Country; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Country",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "graduatedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{GraduatedFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Graduated; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Graduated",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "feeCurrenciesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FeeCurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FeeCurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "tuitionMethodsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{TuitionMethodLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TuitionMethod; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TuitionMethod",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TutionMethodMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationLevelsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{EducationLevelLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EducationLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EducationLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "EducationLevelMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "TerminalDegreeDisciplinesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{TrmnlDegDiscpFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TerminalDegreeDiscipline; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TerminalDegreeDiscipline",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "durationUnitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{DurationUnitsLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DurationUnits; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DurationUnits",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "DurationUnitsMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationLevelCompletedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{EduLevelCompFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EducationLevelCompleted; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EducationLevelCompleted",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "academicStandingLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{AcademicStandingLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: AcademicStanding; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/AcademicStanding",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "AcademicStandingMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "partTimeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{PartTimeFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PartTime; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PartTime",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections~1{ProfileSectionId}~1child~1educationItems~1{EducationId}~1child~1educationItemsDFF/get",
                "parameters": {
                  "ProfileSectionId7": "$request.path.ProfileSectionId7",
                  "EducationId": "$request.path.EducationId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-educationSections-{ProfileSectionId}-child-educationItems-{EducationId}-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-educationsections-profilesectionid-child-educationitems-educationid-get"
      },
      "delete": {
        "tags": [
          "Talent Person Profiles/Education Sections/Education Items"
        ],
        "summary": "Delete an education item",
        "operationId": "delete_talentPersonProfiles-educationSections-educationItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "EducationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Education ID",
              "type": "integer",
              "description": "Identifier for the education.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-educationSections-{ProfileSectionId}-child-educationItems-{EducationId}-delete",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-educationsections-profilesectionid-child-educationitems-educationid-delete"
      },
      "patch": {
        "tags": [
          "Talent Person Profiles/Education Sections/Education Items"
        ],
        "summary": "Update an education item",
        "operationId": "update_talentPersonProfiles-educationSections-educationItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "EducationId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Education ID",
              "type": "integer",
              "description": "Identifier for the education.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-educationSections-educationItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-educationSections-educationItems-item-response"
                }
              }
            },
            "links": {
              "degreesLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Degree; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Degree",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "establishmentsLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Establishment; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Establishment",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "EstablishmentId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "highestEducationLevelsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{HighestEduLevelLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: HighestEducationLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/HighestEducationLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "HighestEducationLevelMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationItemAttachments": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections~1{ProfileSectionId}~1child~1educationItems~1{EducationId}~1child~1educationItemAttachments/get",
                "parameters": {
                  "ProfileSectionId7": "$request.path.ProfileSectionId7",
                  "EducationId": "$request.path.EducationId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationItemAttachments resource is a child of educationItems resource. It provides all the attachments for the education item."
              },
              "statusesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{StatusLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "StatusMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "countriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Country; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Country",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "graduatedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{GraduatedFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Graduated; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Graduated",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "feeCurrenciesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FeeCurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FeeCurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "tuitionMethodsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{TuitionMethodLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TuitionMethod; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TuitionMethod",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TutionMethodMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationLevelsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{EducationLevelLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EducationLevel; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EducationLevel",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "EducationLevelMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "TerminalDegreeDisciplinesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{TrmnlDegDiscpFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TerminalDegreeDiscipline; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TerminalDegreeDiscipline",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "durationUnitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{DurationUnitsLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DurationUnits; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DurationUnits",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "DurationUnitsMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationLevelCompletedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{EduLevelCompFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EducationLevelCompleted; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EducationLevelCompleted",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "academicStandingLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{AcademicStandingLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: AcademicStanding; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/AcademicStanding",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "AcademicStandingMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "partTimeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{PartTimeFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PartTime; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PartTime",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "educationItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections~1{ProfileSectionId}~1child~1educationItems~1{EducationId}~1child~1educationItemsDFF/get",
                "parameters": {
                  "ProfileSectionId7": "$request.path.ProfileSectionId7",
                  "EducationId": "$request.path.EducationId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-educationSections-{ProfileSectionId}-child-educationItems-{EducationId}-patch",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-educationsections-profilesectionid-child-educationitems-educationid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "talentPersonProfiles-educationSections-educationItems": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-educationSections-educationItems-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentPersonProfiles-educationSections-educationItems-item-response": {
        "type": "object",
        "properties": {
          "AcademicStanding": {
            "title": "Academic Standing Code",
            "maxLength": 30,
            "type": "string",
            "description": "Academic standing of the student, such as Good, Probation. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "AcademicStandingMeaning": {
            "title": "Academic Standing",
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of the academic standing value.",
            "nullable": true,
            "x-queryable": false
          },
          "ActivitySummary": {
            "title": "Summary of Activities",
            "type": "string",
            "description": "Summary of activities required for the degree.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AreaOfStudy": {
            "title": "Area of Study",
            "maxLength": 240,
            "type": "string",
            "description": "Area of study of the education item.",
            "nullable": true,
            "x-queryable": false
          },
          "AverageGrade": {
            "title": "Average Grade",
            "maxLength": 240,
            "type": "string",
            "description": "Average grade achieved for the education item.",
            "nullable": true,
            "x-queryable": false
          },
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Awarding body for the degree.",
            "nullable": true,
            "x-queryable": false
          },
          "City": {
            "title": "City",
            "maxLength": 240,
            "type": "string",
            "description": "City where education is received.",
            "nullable": true,
            "x-queryable": false
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments on the degree.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompletedAmount": {
            "title": "Completed Amount",
            "type": "integer",
            "description": "Completed amount for the degree.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "CompletedTrainingUnits": {
            "title": "Training Completed Units",
            "maxLength": 240,
            "type": "string",
            "description": "Completed training units for the education item. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false
          },
          "ContentItemId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the content item.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Country": {
            "title": "Country Code",
            "maxLength": 30,
            "type": "string",
            "description": "Country where education is received. Valid values are defined in the HcmCountriesLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "CountryMeaning": {
            "title": "Country",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the country code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "Date and time when the content item was created.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "User who last updated the content item.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "DateAcquired": {
            "title": "Date Acquired",
            "type": "string",
            "description": "Date on which the education item was acquired.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "Degree": {
            "title": "Degree",
            "type": "string",
            "description": "Name of the degree, such as Accounting. Valid values are defined in the contentItemsLov.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the degree.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Duration": {
            "title": "Duration",
            "maxLength": 240,
            "type": "string",
            "description": "Duration of the degree course.",
            "nullable": true,
            "x-queryable": false
          },
          "DurationUnits": {
            "title": "Duration Units Code",
            "maxLength": 30,
            "type": "string",
            "description": "Units in the duration of the degree course. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "DurationUnitsMeaning": {
            "title": "Duration Units",
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of the duration units.",
            "nullable": true,
            "x-queryable": false
          },
          "EducationId": {
            "title": "Education ID",
            "type": "integer",
            "description": "Identifier for the education.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "EducationLevel": {
            "title": "Education Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Level of education, such as High School Graduate. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "EducationLevelCompleted": {
            "title": "Education Level Completed",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the education level is completed. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "EducationLevelMeaning": {
            "title": "Education Level",
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of the education level.",
            "nullable": true,
            "x-queryable": false
[...]
