{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Competency Sections/Competency Items",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/competencySections/{ProfileSectionId}/child/allCompetencyItems": {
      "get": {
        "tags": [
          "Talent Person Profiles/Competency Sections/Competency Items"
        ],
        "summary": "Get all distinct competency items",
        "operationId": "getall_talentPersonProfiles-competencySections-allCompetencyItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Competency; string; Name of the competency item.</li><li>CompetencyId; number; Unique identifier for competency item.</li><li>ContentItemId; integer; Unique identifier for the content section.</li><li>CreationDate; string; Date and time when the competency item was created.</li><li>NumberOfBehaviorItem; number; Number of behavior item for a competency item.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>RatingDescription; string; Rating description for the competency item.</li><li>SectionId; integer; Unique identifier of the content section.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all distinct competency items that match the primary key criteria specified. <br>Finder Variables <ul><li>Competency; string;  Name of the competency item. </li><li>ProfileId; integer;  Surrogate identifier for the person profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findByProfileIdAndSectionId Finds all competency items that match the specified person profile and section identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findCompetencyItemsForCheckin Finds the distinct active competency items for a person profile where the evaluator type for the competency item must be enabled for both employee and manager. The competency section for the items must be subscribed by performance management. <br>Finder Variables <ul><li>PersonId; integer;  Unique identifier of the person. </li><li>ProfileId; integer;  Unique identifier of the person profile. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all distinct competency items that match the primary key criteria specified.",
                "properties": {
                  "ProfileId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the person profile.",
                    "readOnly": true,
                    "type": "integer"
                  },
                  "Competency": {
                    "nullable": true,
                    "description": "Name of the competency item.",
                    "readOnly": true,
                    "type": "string",
                    "maxLength": 255
                  },
                  "SectionId": {
                    "nullable": true,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the content section.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByProfileIdAndSectionId",
                "description": "Finds all competency items that match the specified person profile and section identifier.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findCompetencyItemsForCheckin",
                "description": "Finds the distinct active competency items for a person profile where the evaluator type for the competency item must be enabled for both employee and manager. The competency section for the items must be subscribed by performance management.",
                "title": "findCompetencyForChecklist",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the person profile.",
                    "type": "integer"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the person.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-competencySections-allCompetencyItems"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-competencySections-{ProfileSectionId}-child-allCompetencyItems-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-competencysections-profilesectionid-child-allcompetencyitems-get"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/competencySections/{ProfileSectionId}/child/allCompetencyItems/{allCompetencyItemsUniqID}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Competency Sections/Competency Items"
        ],
        "summary": "Get a distinct competency item",
        "operationId": "get_talentPersonProfiles-competencySections-allCompetencyItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "allCompetencyItemsUniqID",
            "in": "path",
            "description": "Identifier to Competency Items",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-competencySections-allCompetencyItems-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-competencySections-{ProfileSectionId}-child-allCompetencyItems-{allCompetencyItemsUniqID}-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-competencysections-profilesectionid-child-allcompetencyitems-allcompetencyitemsuniqid-get"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/competencySections/{ProfileSectionId}/child/competencyItems": {
      "get": {
        "tags": [
          "Talent Person Profiles/Competency Sections/Competency Items"
        ],
        "summary": "Get all competency items",
        "operationId": "getall_talentPersonProfiles-competencySections-competencyItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssessmentYear; integer; Year the competency was last assessed.</li><li>Competency; string; Name of the competency. Valid values are defined in the contentItemsLOV.</li><li>CompetencyId; integer; Unique identifier for the content type.</li><li>ContentItemId; integer; Unique identifier for the content section.</li><li>EvaluationType; string; Evaluator of the competency, such as Official, Goal. Valid values are defined in the commonLookupsLOV.</li><li>InterestLevel; string; Level of interest in the competency.</li><li>OtherCompetency; string; Name of the other competency. It's free text.</li><li>PerformanceRatingCode; string; Name of the performance rating. Valid values are defined in the ratingLevelsLOV.</li><li>PerformanceRatingDescription; string; Description of the performance rating.</li><li>PerformanceRatingId; integer; Unique identifier of the performance rating.</li><li>PerformanceRatingModelId; integer; Unique identifier for the performance rating model associated with the competency item.</li><li>ProficiencyRatingCode; string; Name of the proficiency rating. Valid values are defined in the ratingLevelsLOV.</li><li>ProficiencyRatingDescription; string; Description of the proficiency rating.</li><li>ProficiencyRatingId; integer; Unique identifier of the proficiency rating.</li><li>ProficiencyRatingModelId; integer; Unique identifier for the proficiency rating model associated with the competency item.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>RelatedItemFlag; boolean; Attribute specific to learning outcome. Indicates whether the competency item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.</li><li>ReviewActive; string; Indicates whether the review of the competency is active or not. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.</li><li>ReviewDate; string; Date of review of the competency.</li><li>ReviewEndDate; string; End date of the review.</li><li>ReviewStartDate; string; Name of the reviewer. It's free flow text.</li><li>Reviewer; string; Indicates whether the reviewer has approved the competency. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.</li><li>ReviewerApproved; string; Name of the reviewer.</li><li>ReviewerName; string; Start date of the review.</li><li>SectionId; integer; Unique identifier of the content section.</li><li>Source; string; Source of the competency item.</li><li>SourceType; string; Code representing the source of competency item.</li><li>ToDate; string; End date of the competency.</li><li>YearAcquired; integer; Year the competency was acquired.</li><li>YearLastUsed; integer; Year the competency was last used.</li><li>YearsOfExperience; number; Years of experience for the competency.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all competency items that match the primary key criteria specified. <br>Finder Variables <ul><li>CompetencyId; integer;  Unique identifier for the competency item. </li></ul></li><li>RowFinder Finds all the competency items for the specified unique key. <br>Finder Variables <ul><li>CompetencyId; integer;  Unique identifier of the competency item. </li><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findByProfileIdAndSectionId Finds all competency items that match the specified profile and section identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Surrogate identifier for the person profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLinkedInProfileItems Finds all the person competency items for all competency sections that are enabled for LinkedIn import. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findPendingItemsByProfileId Finds all the competency items that are pending for approvals for the specified person profile. <br>Finder Variables <ul><li>ContentItemId; integer;  Unique identifier of the competency content item. </li><li>OtherCompetency; string;  Name of the competency item. </li><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findPendingItemsByTransactionId Finds all the competency items for a profile that are pending for approval with the specified transaction identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>ReloadTransactionId; integer;  Unique identifier of the transaction that's pending for approvals. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findRelatedItems Finds all the competency items for a profile and section identifier that match with the specified related item. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>RelatedItemFlag; string;  Indicates whether the competency item is a related item or an actual profile item. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all competency items that match the primary key criteria specified.",
                "properties": {
                  "CompetencyId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the competency item.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Competency ID"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds all the competency items for the specified unique key.",
                "title": "rowFinder",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "CompetencyId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the competency item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByProfileIdAndSectionId",
                "description": "Finds all competency items that match the specified profile and section identifier.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the person profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLinkedInProfileItems",
                "description": "Finds all the person competency items for all competency sections that are enabled for LinkedIn import.",
                "title": "findLinkedInProfileItem",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByProfileId",
                "description": "Finds all the competency items that are pending for approvals for the specified person profile.",
                "title": "findPendingItemsByProfileId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "ContentItemId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the competency content item.",
                    "type": "integer"
                  },
                  "OtherCompetency": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the competency item.",
                    "type": "string"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByTransactionId",
                "description": "Finds all the competency items for a profile that are pending for approval with the specified transaction identifier.",
                "title": "findPendingItemsByTransactionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "ReloadTransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the transaction that's pending for approvals.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findRelatedItems",
                "description": "Finds all the competency items for a profile and section identifier that match with the specified related item.",
                "title": "findRelatedItems",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "RelatedItemFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Indicates whether the competency item is a related item or an actual profile item.",
                    "type": "string"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-competencySections-competencyItems"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-competencySections-{ProfileSectionId}-child-competencyItems-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-competencysections-profilesectionid-child-competencyitems-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles/Competency Sections/Competency Items"
        ],
        "summary": "Create a competency item",
        "operationId": "create_talentPersonProfiles-competencySections-competencyItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-competencySections-competencyItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-competencySections-competencyItems-item-response"
                }
              }
            },
            "links": {
              "reviewActiveLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ReviewActiveFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReviewActive; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReviewActive",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "behaviorItems": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections~1{ProfileSectionId5}~1child~1competencyItems~1{allCompetencyItemsUniqID100}~1child~1behaviorItems/get",
                "parameters": {
                  "ProfileSectionId5": "$request.path.ProfileSectionId5",
                  "allCompetencyItemsUniqID100": "$request.path.allCompetencyItemsUniqID100",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "proficiencyRatingsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ProficiencyRatingCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingLevelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ProficiencyRatingCode",
                  "displayValues": [
                    "RatingLevelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "ProficiencyRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "ProficiencyRatingId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingLevelCode"
                  ]
                }
              },
              "competenciesLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Competency; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Competency",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "performanceRatingsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PerformanceRatingCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingLevelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PerformanceRatingCode",
                  "displayValues": [
                    "RatingLevelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "PerformanceRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "PerformanceRatingId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingLevelCode"
                  ]
                }
              },
              "reviewerApprovedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ReviewerApprFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReviewerApproved; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReviewerApproved",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "competencyItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections~1{ProfileSectionId5}~1child~1competencyItems~1{allCompetencyItemsUniqID100}~1child~1competencyItemsDFF/get",
                "parameters": {
                  "ProfileSectionId5": "$request.path.ProfileSectionId5",
                  "allCompetencyItemsUniqID100": "$request.path.allCompetencyItemsUniqID100",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-competencySections-{ProfileSectionId}-child-competencyItems-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-competencysections-profilesectionid-child-competencyitems-post"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/competencySections/{ProfileSectionId}/child/competencyItems/{allCompetencyItemsUniqID}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Competency Sections/Competency Items"
        ],
        "summary": "Get a competency item",
        "operationId": "get_talentPersonProfiles-competencySections-competencyItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "allCompetencyItemsUniqID",
            "in": "path",
            "description": "Identifier to Competency Items",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-competencySections-competencyItems-item-response"
                }
              }
            },
            "links": {
              "reviewActiveLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ReviewActiveFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReviewActive; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReviewActive",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "behaviorItems": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections~1{ProfileSectionId5}~1child~1competencyItems~1{allCompetencyItemsUniqID100}~1child~1behaviorItems/get",
                "parameters": {
                  "ProfileSectionId5": "$request.path.ProfileSectionId5",
                  "allCompetencyItemsUniqID100": "$request.path.allCompetencyItemsUniqID100",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "proficiencyRatingsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ProficiencyRatingCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingLevelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ProficiencyRatingCode",
                  "displayValues": [
                    "RatingLevelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "ProficiencyRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "ProficiencyRatingId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingLevelCode"
                  ]
                }
              },
              "competenciesLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Competency; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Competency",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "performanceRatingsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PerformanceRatingCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingLevelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PerformanceRatingCode",
                  "displayValues": [
                    "RatingLevelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "PerformanceRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "PerformanceRatingId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingLevelCode"
                  ]
                }
              },
              "reviewerApprovedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ReviewerApprFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReviewerApproved; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReviewerApproved",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "competencyItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections~1{ProfileSectionId5}~1child~1competencyItems~1{allCompetencyItemsUniqID100}~1child~1competencyItemsDFF/get",
                "parameters": {
                  "ProfileSectionId5": "$request.path.ProfileSectionId5",
                  "allCompetencyItemsUniqID100": "$request.path.allCompetencyItemsUniqID100",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-competencySections-{ProfileSectionId}-child-competencyItems-{allCompetencyItemsUniqID}-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-competencysections-profilesectionid-child-competencyitems-allcompetencyitemsuniqid-get"
      },
      "delete": {
        "tags": [
          "Talent Person Profiles/Competency Sections/Competency Items"
        ],
        "summary": "Delete a competency item",
        "operationId": "delete_talentPersonProfiles-competencySections-competencyItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "allCompetencyItemsUniqID",
            "in": "path",
            "description": "Identifier to Competency Items",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-competencySections-{ProfileSectionId}-child-competencyItems-{allCompetencyItemsUniqID}-delete",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-competencysections-profilesectionid-child-competencyitems-allcompetencyitemsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Talent Person Profiles/Competency Sections/Competency Items"
        ],
        "summary": "Update a competency item",
        "operationId": "update_talentPersonProfiles-competencySections-competencyItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Profile Section ID",
              "type": "integer",
              "description": "Unique identifier for the technical post detail section associated with the profile.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "allCompetencyItemsUniqID",
            "in": "path",
            "description": "Identifier to Competency Items",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-competencySections-competencyItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-competencySections-competencyItems-item-response"
                }
              }
            },
            "links": {
              "reviewActiveLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ReviewActiveFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReviewActive; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReviewActive",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "behaviorItems": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections~1{ProfileSectionId5}~1child~1competencyItems~1{allCompetencyItemsUniqID100}~1child~1behaviorItems/get",
                "parameters": {
                  "ProfileSectionId5": "$request.path.ProfileSectionId5",
                  "allCompetencyItemsUniqID100": "$request.path.allCompetencyItemsUniqID100",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "proficiencyRatingsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ProficiencyRatingCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingLevelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ProficiencyRatingCode",
                  "displayValues": [
                    "RatingLevelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "ProficiencyRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "ProficiencyRatingId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingLevelCode"
                  ]
                }
              },
              "competenciesLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Competency; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Competency",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "performanceRatingsLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PerformanceRatingCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: RatingLevelCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PerformanceRatingCode",
                  "displayValues": [
                    "RatingLevelCode"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "PerformanceRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "PerformanceRatingId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "RatingLevelCode"
                  ]
                }
              },
              "reviewerApprovedLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ReviewerApprFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReviewerApproved; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReviewerApproved",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "competencyItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections~1{ProfileSectionId5}~1child~1competencyItems~1{allCompetencyItemsUniqID100}~1child~1competencyItemsDFF/get",
                "parameters": {
                  "ProfileSectionId5": "$request.path.ProfileSectionId5",
                  "allCompetencyItemsUniqID100": "$request.path.allCompetencyItemsUniqID100",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-competencySections-{ProfileSectionId}-child-competencyItems-{allCompetencyItemsUniqID}-patch",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-competencysections-profilesectionid-child-competencyitems-allcompetencyitemsuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "talentPersonProfiles-competencySections-allCompetencyItems": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-competencySections-allCompetencyItems-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentPersonProfiles-competencySections-allCompetencyItems-item-response": {
        "type": "object",
        "properties": {
          "Competency": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the competency item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CompetencyId": {
            "type": "number",
            "description": "Unique identifier for competency item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContentItemId": {
            "type": "integer",
            "description": "Unique identifier for the content section.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date and time when the competency item was created.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "NumberOfBehaviorItem": {
            "type": "number",
            "description": "Number of behavior item for a competency item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RatingDescription": {
            "maxLength": 2041,
            "type": "string",
            "description": "Rating description for the competency item.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "talentPersonProfiles-competencySections-competencyItems": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-competencySections-competencyItems-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentPersonProfiles-competencySections-competencyItems-item-response": {
        "type": "object",
        "properties": {
          "AssessmentYear": {
            "title": "Assessment Year",
            "type": "integer",
            "description": "Year the competency was last assessed.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "General comments on the competency.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Competency": {
            "title": "Competency",
            "type": "string",
            "description": "Name of the competency. Valid values are defined in the contentItemsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "CompetencyId": {
            "title": "Competency ID",
            "type": "integer",
            "description": "Unique identifier for the content type.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ContentItemId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the content section.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the competency item.",
[...]
