{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Membership Sections",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/membershipSections/{ProfileSectionId11}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Membership Sections"
        ],
        "summary": "Get a membership section",
        "operationId": "get_talentPersonProfiles-membershipSections",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId11",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-item-response"
                }
              }
            },
            "links": {
              "sectionContextLOV": {
                "operationRef": "#/paths/~1profileTypeSectionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SectionContext; Target Attribute: SectionContext</li><li>Display Attribute: SectionContext, Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SectionContext",
                  "displayValues": [
                    "SectionContext"
                  ],
                  "derivedFieldsMapping": {
                    "profileTypeSectionsLOV.SectionId": [
                      "SectionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SectionContext",
                  "displayFields": [
                    "SectionContext",
                    "Name"
                  ]
                }
              },
              "membershipItems": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1membershipSections~1{ProfileSectionId11}~1child~1membershipItems/get",
                "parameters": {
                  "ProfileSectionId11": "$request.path.ProfileSectionId11",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The membershipItems resource is the child of the membershipSections resource. It provides the list of the membership items within a membership section for a person."
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-membershipSections-{ProfileSectionId11}-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-membershipsections-profilesectionid11-get"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/membershipSections": {
      "get": {
        "tags": [
          "Talent Person Profiles/Membership Sections"
        ],
        "summary": "Get all membership sections",
        "operationId": "getall_talentPersonProfiles-membershipSections",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ProfileSectionId; integer; Unique identifier of the content section associated with the profile.</li><li>SectionContext; string; Code of the content section. Valid values are defined in the profileTypeSectionsLOV.</li><li>SectionId; integer; Unique identifier of the content section.</li><li>SectionName; string; Name of the section. Valid values are defined in the profileTypeSectionsLOV.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all membership sections that match the primary key criteria specified. <br>Finder Variables <ul><li>ProfileSectionId; integer;  Surrogate identifier for the membership section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all membership sections that match the primary key criteria specified.",
                "properties": {
                  "ProfileSectionId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the membership section.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Profile Section ID"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-membershipSections"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-membershipSections-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-membershipsections-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles/Membership Sections"
        ],
        "summary": "Create a membership section",
        "operationId": "create_talentPersonProfiles-membershipSections",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-membershipSections-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-item-response"
                }
              }
            },
            "links": {
              "sectionContextLOV": {
                "operationRef": "#/paths/~1profileTypeSectionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SectionContext; Target Attribute: SectionContext</li><li>Display Attribute: SectionContext, Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SectionContext",
                  "displayValues": [
                    "SectionContext"
                  ],
                  "derivedFieldsMapping": {
                    "profileTypeSectionsLOV.SectionId": [
                      "SectionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "SectionContext",
                  "displayFields": [
                    "SectionContext",
                    "Name"
                  ]
                }
              },
              "membershipItems": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1membershipSections~1{ProfileSectionId11}~1child~1membershipItems/get",
                "parameters": {
                  "ProfileSectionId11": "$request.path.ProfileSectionId11",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The membershipItems resource is the child of the membershipSections resource. It provides the list of the membership items within a membership section for a person."
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-membershipSections-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-membershipsections-post"
      }
    }
  },
  "components": {
    "schemas": {
      "talentPersonProfiles-membershipSections-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the membership section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the membership section was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the membership section was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the membership section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "ProfileSectionId": {
            "title": "Profile Section ID",
            "type": "integer",
            "description": "Unique identifier of the content section associated with the profile.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SectionContext": {
            "title": "Section Context",
            "maxLength": 300,
            "type": "string",
            "description": "Code of the content section. Valid values are defined in the profileTypeSectionsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "SectionId": {
            "title": "Section ID",
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SectionName": {
            "title": "Section Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the section. Valid values are defined in the profileTypeSectionsLOV.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "membershipItems": {
            "title": "Membership Items",
            "type": "array",
            "description": "The membershipItems resource is the child of the membershipSections resource. It provides the list of the membership items within a membership section for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-membershipItems-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "talentPersonProfiles-membershipSections-membershipItems-item-response": {
        "type": "object",
        "properties": {
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the awarding body.",
            "nullable": true,
            "x-queryable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments of the content item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "ContentItemId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the content item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the membership item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the membership item was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CurrentVolunteer": {
            "title": "Current Volunteer",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the member is currently a volunteer. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "CurrentVolunteerMeaning": {
            "title": "Current Volunteer",
            "maxLength": 255,
            "type": "string",
            "description": "Represent whether the user is a current volunteer of the membership item.",
            "nullable": true,
            "x-queryable": false
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the membership item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "Establishment": {
            "title": "Educational Establishment",
            "type": "string",
            "description": "Name of the educational establishment. Valid values are defined in the contentItemsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "EstablishmentId": {
            "title": "Establishment ID",
            "type": "integer",
            "description": "Unique identifier of the establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Fee": {
            "title": "Fee",
            "type": "integer",
            "description": "Fees for the membership.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "FeeCurrency": {
            "title": "Fee Currency",
            "maxLength": 255,
            "type": "string",
            "description": "Currency name for the fee.",
            "nullable": true,
            "x-queryable": false
          },
          "FeeCurrencyCode": {
            "title": "Fee Currency Code",
            "maxLength": 30,
            "type": "string",
            "description": "Currency of the membership fee. Valid values are defined in the currenciesLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "InternalOrganization": {
            "title": "Internal Organization",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the membership is for an internal organization. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "InternalOrganizationMeaning": {
            "title": "Internal Organization",
            "maxLength": 255,
            "type": "string",
            "description": "Represent whether the membership is for an internal organization.",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the membership item was last update.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the membership item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "MandatePosition": {
            "title": "Mandate Position",
            "maxLength": 240,
            "type": "string",
            "description": "Specifies the mandate position for the membership.",
            "nullable": true,
            "x-queryable": true
          },
          "Membership": {
            "title": "Affiliation or Professional Body",
            "type": "string",
            "description": "Name of the affiliation or professional Body. Valid values are defined in the contentItemsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "MembershipCategory": {
            "title": "Membership Category",
            "maxLength": 240,
            "type": "string",
            "description": "Category of the membership.",
            "nullable": true,
            "x-queryable": false
          },
          "MembershipDate": {
            "title": "Membership Date",
            "type": "string",
            "description": "Date of membership.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "MembershipEndDate": {
            "title": "Membership End Date",
            "type": "string",
            "description": "Date on which the membership ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "MembershipId": {
            "title": "Membership ID",
            "type": "integer",
            "description": "Identifier of the membership.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "MembershipNumber": {
            "title": "Membership Number",
            "maxLength": 240,
            "type": "string",
            "description": "Number of the membership.",
            "nullable": true,
            "x-queryable": true
          },
          "MembershipStartDate": {
            "title": "Membership Start Date",
            "type": "string",
            "description": "Date on which the membership starts.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "MonthlyTimeCommitment": {
            "title": "Monthly Time Commitment",
            "maxLength": 240,
            "type": "string",
            "description": "Time committed in a month.",
            "nullable": true,
            "x-queryable": true
          },
          "OrganizationURL": {
            "title": "Organization URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL related to the membership.",
            "nullable": true,
            "x-queryable": false
          },
          "OtherEstablishment": {
            "title": "Establishment",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the other educational establishment.",
            "nullable": true,
            "x-queryable": false
          },
          "OtherMembership": {
            "title": "Affiliation or Professional Body",
            "maxLength": 240,
            "type": "string",
            "description": "Name of any other affiliation or professional body.",
            "nullable": true,
            "x-queryable": true
          },
          "OtherProfessionalBodyName": {
            "title": "Other Professional Body Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the other professional body.",
            "nullable": true,
            "x-queryable": false
          },
          "PositionEndDate": {
            "title": "Position End Date",
            "type": "string",
            "description": "Date on which the position ends.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "PositionStartDate": {
            "title": "Position Start Date",
            "type": "string",
            "description": "Date on which the position begins.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "RelatedItemFlag": {
            "title": "Related Item",
            "maxLength": 30,
            "type": "boolean",
            "description": "Attribute specific to learning outcome. Indicates whether the membership item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.",
            "nullable": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Source": {
            "title": "Source",
            "maxLength": 255,
            "type": "string",
            "description": "Source of the membership item.",
            "nullable": true,
            "readOnly": true,
            "default": "Talent Profile",
            "x-queryable": true
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of membership item.",
            "nullable": true,
            "x-queryable": true
          },
          "Status": {
            "title": "Status Code",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the membership. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "StatusMeaning": {
            "title": "Status",
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of the status of membership.",
            "nullable": true,
            "x-queryable": false
          },
          "SubscriptionPayMethodMeaning": {
            "title": "Subscription Payment Method",
            "maxLength": 255,
            "type": "string",
            "description": "Represent the subscription payment method for the membership.",
            "nullable": true,
            "x-queryable": false
          },
          "SubscriptionPaymentMethod": {
            "title": "Subscription Payment Method Code",
            "maxLength": 30,
            "type": "string",
            "description": "Payment method of the subscription. Valid values are defined in commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "TitleOrPositionHeld": {
            "title": "Title or Position Held",
            "maxLength": 240,
            "type": "string",
            "description": "Title or position held at the membership.",
            "nullable": true,
            "x-queryable": true
          },
          "VolunteerCause": {
            "title": "Volunteer Cause",
            "maxLength": 240,
            "type": "string",
            "description": "Volunteer cause for the membership item.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "membershipItemsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-membershipItems-membershipItemsDFF-item-response"
            },
            "x-cardinality": "1"
          }
        }
      },
      "talentPersonProfiles-membershipSections-membershipItems-membershipItemsDFF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "JOB_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemJOB__5FCRITICALITYVO-item-response",
            "ORGANIZATION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemORGANIZATION__5FCRITICALITYVO-item-response",
            "PERSON_CAREER_STATEMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCAREER__5FSTATEMENTVO-item-response",
            "PERSON_CATEGORY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCATEGORYVO-item-response",
            "PERSON_COMPONENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCOMPONENTVO-item-response",
            "PERSON_N_BOX_ASSIGNMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response",
            "PERSON_PERFORMANCE_RATING": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response",
            "PERSON_PLATFORM": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPLATFORMVO-item-response",
            "PERSON_POTENTIAL": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPOTENTIALVO-item-response",
            "PERSON_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_PRODUCT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCTVO-item-response",
            "PERSON_PRODUCT_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_READINESS": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FREADINESSVO-item-response",
            "PERSON_RISK": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FRISKVO-item-response",
            "PERSON_TALENT_SCORE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FTALENT__5FSCOREVO-item-response",
            "POSITION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPOSITION__5FCRITICALITYVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemJOB__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemORGANIZATION__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCAREER__5FSTATEMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCATEGORYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCOMPONENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPLATFORMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPOTENTIALVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FREADINESSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FRISKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FTALENT__5FSCOREVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPOSITION__5FCRITICALITYVO-item-response"
          }
        ]
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemJOB__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "JOB_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemORGANIZATION__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "ORGANIZATION_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCAREER__5FSTATEMENTVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CAREER_STATEMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCATEGORYVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CATEGORY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FCOMPONENTVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_COMPONENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_N_BOX_ASSIGNMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PERFORMANCE_RATING",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPLATFORMVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PLATFORM",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPOTENTIALVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_POTENTIAL",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPROBLEM__5FCODEVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PROBLEM_CODE",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCTVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PRODUCT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PRODUCT_PROBLEM_CODE",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FREADINESSVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_READINESS",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FRISKVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_RISK",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPERSON__5FTALENT__5FSCOREVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_TALENT_SCORE",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_membershipItem_view_MembershipItemPOSITION__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "MembershipId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "POSITION_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "talentPersonProfiles-membershipSections": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentPersonProfiles-membershipSections-item-post-request": {
        "required": [
          "SectionId"
        ],
        "type": "object",
        "properties": {
          "SectionContext": {
            "title": "Section Context",
            "maxLength": 300,
            "type": "string",
            "description": "Code of the content section. Valid values are defined in the profileTypeSectionsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "SectionId": {
            "title": "Section ID",
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "membershipItems": {
            "title": "Membership Items",
            "type": "array",
            "description": "The membershipItems resource is the child of the membershipSections resource. It provides the list of the membership items within a membership section for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-membershipItems-item-post-request"
            }
          }
        }
      },
      "talentPersonProfiles-membershipSections-membershipItems-item-post-request": {
        "required": [
          "ProfileId"
        ],
        "type": "object",
        "properties": {
          "AwardingBody": {
            "title": "Awarding Body",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the awarding body.",
            "nullable": true
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments of the content item.",
            "format": "byte",
            "nullable": true
          },
          "ContentItemId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the content item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "CurrentVolunteer": {
            "title": "Current Volunteer",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the member is currently a volunteer. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
[...]
