{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Public Skills",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/publicSkills/{SkillId}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Public Skills"
        ],
        "summary": "Get a public skill",
        "operationId": "get_talentPersonProfiles-publicSkills",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SkillId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Skill ID",
              "type": "integer",
              "description": "Unique identifier for the skill.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-item-response"
                }
              }
            },
            "links": {
              "skillItemLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SkillName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SkillName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "ProficiencyLevelLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ProficiencyLevelCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: NumericRating</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ProficiencyLevelCode",
                  "displayValues": [
                    "NumericRating"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "SkillRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "ProficiencyLevelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "NumericRating"
                  ]
                }
              },
              "groupsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRT_SKILL_GROUP"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Group; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Group",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "endorsements": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills~1{SkillId}~1child~1endorsements/get",
                "parameters": {
                  "SkillId": "$request.path.SkillId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The endorsements resource is a child of public skills resource. It provides a list of all endorsements for worker's public skills. This resource is currently under controlled availability."
              },
              "sendEndorsementRequests": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills~1{SkillId}~1action~1sendEndorsementRequests/post",
                "parameters": {
                  "SkillId": "$request.path.SkillId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "Allows users to request other workers to endorse a skill the users have."
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-publicSkills-{SkillId}-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-publicskills-skillid-get"
      },
      "delete": {
        "tags": [
          "Talent Person Profiles/Public Skills"
        ],
        "summary": "Delete a public skill",
        "operationId": "delete_talentPersonProfiles-publicSkills",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SkillId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Skill ID",
              "type": "integer",
              "description": "Unique identifier for the skill.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-publicSkills-{SkillId}-delete",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-publicskills-skillid-delete"
      },
      "patch": {
        "tags": [
          "Talent Person Profiles/Public Skills"
        ],
        "summary": "Update a public skill",
        "operationId": "update_talentPersonProfiles-publicSkills",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SkillId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Skill ID",
              "type": "integer",
              "description": "Unique identifier for the skill.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-publicSkills-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-item-response"
                }
              }
            },
            "links": {
              "skillItemLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SkillName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SkillName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "ProficiencyLevelLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ProficiencyLevelCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: NumericRating</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ProficiencyLevelCode",
                  "displayValues": [
                    "NumericRating"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "SkillRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "ProficiencyLevelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "NumericRating"
                  ]
                }
              },
              "groupsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRT_SKILL_GROUP"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Group; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Group",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "endorsements": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills~1{SkillId}~1child~1endorsements/get",
                "parameters": {
                  "SkillId": "$request.path.SkillId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The endorsements resource is a child of public skills resource. It provides a list of all endorsements for worker's public skills. This resource is currently under controlled availability."
              },
              "sendEndorsementRequests": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills~1{SkillId}~1action~1sendEndorsementRequests/post",
                "parameters": {
                  "SkillId": "$request.path.SkillId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "Allows users to request other workers to endorse a skill the users have."
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-publicSkills-{SkillId}-patch",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-publicskills-skillid-patch"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/publicSkills/{SkillId}/action/sendEndorsementRequests": {
      "post": {
        "tags": [
          "Talent Person Profiles/Public Skills"
        ],
        "summary": "Send an endorsement request",
        "description": "Allows users to request other workers to endorse a skill the users have.",
        "operationId": "do_sendEndorsementRequests_talentPersonProfiles-publicSkills",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SkillId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Skill ID",
              "type": "integer",
              "description": "Unique identifier for the skill.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "precision": 18
              },
              "x-queryable": true
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endorserId": {
                    "type": "number",
                    "description": "Unique identifier of the endorser.",
                    "nullable": true
                  },
                  "requestorPersonId": {
                    "type": "number",
                    "description": "Unique identifier of the person who has requested the endorsement.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Name of the public skill."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Name of the public skill."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-publicSkills-{SkillId}-action-sendEndorsementRequests-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-publicskills-skillid-action-sendendorsementrequests-post"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/publicSkills": {
      "get": {
        "tags": [
          "Talent Person Profiles/Public Skills"
        ],
        "summary": "Get all public skills",
        "operationId": "getall_talentPersonProfiles-publicSkills",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ConfirmationFlag; boolean; Indicates whether the proficiency level has been confirmed for the public skill. Valid values are true and false. Default value is false.</li><li>ContentItemId; integer; Unique identifier for the public skill content item.</li><li>DateAchieved; string; Date when skill was achieved.</li><li>Group; string; Code that indicates whether the skill is acquired or developing. Values can be ORA_DEVELOPED or ORA_DEVELOPING. Valid values are defined in the commonLookupsLOV.</li><li>GroupMeaning; string; Meaning of the skill group.</li><li>NumericRating; number; Numeric rating of the public skill.</li><li>ProficiencyLevel; string; Description or name of the proficiency level of the public skill.</li><li>ProficiencyLevelCode; string; Code representing the proficiency level of public skill.</li><li>ProficiencyLevelId; integer; Unique identifier of the proficiency level in the public skill.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>ProjectName; string; Name of the project or activity.</li><li>RatingModelId; integer; Unique identifier of the rating model associated with the public skill content section.</li><li>RelatedItemFlag; boolean; Attribute specific to learning outcome. Indicates whether the public skill item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.</li><li>SectionId; integer; Unique identifier of the content section.</li><li>Skill; string; Name of the public skill.</li><li>SkillCurationStatus; string; Code representing the source of skill item.</li><li>SkillCurationType; string; Code representing the source of skill item.</li><li>SkillId; integer; Unique identifier for the public skill.</li><li>SkillName; string; Name of the public skill.</li><li>SkillType; string; Type of skill. Valid values defined in commonLookupsLOV.</li><li>SourceType; string; Code representing the source of skill item.</li><li>YearsOfExperience; integer; Years of experience with the skill.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the public skills that match the primary key criteria specified. <br>Finder Variables <ul><li>SkillId; integer;  Unique identifier for the public skill. </li></ul></li><li>findByProfileIdAndSectionId Finds all public skills that match the specified profile and section identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Surrogate identifier for the person profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLatestItemForRAC Finds all the person public skill items for recruiting activity center flow for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLinkedInProfileItems Finds all the person public skill items for all the public skill sections that are enabled for LinkedIn import. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findPendingItemsByTransactionId Finds all the public skill items that are pending for approval for the specified transaction identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>ReloadTransactionId; integer;  Unique identifier of the transaction that's pending for approvals. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findRelatedItems Finds all the public skill items for a profile and section identifier that match with the specified related item. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>RelatedItemFlag; string;  Indicates whether the public skill item is a related item or an actual profile item. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the public skills that match the primary key criteria specified.",
                "properties": {
                  "SkillId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the public skill.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Skill ID"
                  }
                }
              },
              {
                "name": "findByProfileIdAndSectionId",
                "description": "Finds all public skills that match the specified profile and section identifier.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the person profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLatestItemForRAC",
                "description": "Finds all the person public skill items for recruiting activity center flow for the specified person profile.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLinkedInProfileItems",
                "description": "Finds all the person public skill items for all the public skill sections that are enabled for LinkedIn import.",
                "title": "findLinkedInProfileItem",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByTransactionId",
                "description": "Finds all the public skill items that are pending for approval for the specified transaction identifier.",
                "title": "findPendingItemsByTransactionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "ReloadTransactionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the transaction that's pending for approvals.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findRelatedItems",
                "description": "Finds all the public skill items for a profile and section identifier that match with the specified related item.",
                "title": "findRelatedItems",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "RelatedItemFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Indicates whether the public skill item is a related item or an actual profile item.",
                    "type": "string"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-publicSkills"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-publicSkills-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-publicskills-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles/Public Skills"
        ],
        "summary": "Create a public skill",
        "operationId": "create_talentPersonProfiles-publicSkills",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-publicSkills-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-item-response"
                }
              }
            },
            "links": {
              "skillItemLOV": {
                "operationRef": "#/paths/~1contentItemsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SkillName; Target Attribute: Name</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SkillName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "contentItemsLov.ContentItemId": [
                      "ContentItemId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "ProficiencyLevelLOV": {
                "operationRef": "#/paths/~1ratingLevelsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ProficiencyLevelCode; Target Attribute: RatingLevelCode</li><li>Display Attribute: NumericRating</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ProficiencyLevelCode",
                  "displayValues": [
                    "NumericRating"
                  ],
                  "derivedFieldsMapping": {
                    "ratingLevelsLOV.RatingModelId": [
                      "SkillRatingModelId"
                    ],
                    "ratingLevelsLOV.RatingLevelId": [
                      "ProficiencyLevelId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "RatingLevelCode",
                  "displayFields": [
                    "NumericRating"
                  ]
                }
              },
              "groupsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_HRT_SKILL_GROUP"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Group; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Group",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "endorsements": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills~1{SkillId}~1child~1endorsements/get",
                "parameters": {
                  "SkillId": "$request.path.SkillId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The endorsements resource is a child of public skills resource. It provides a list of all endorsements for worker's public skills. This resource is currently under controlled availability."
              },
              "sendEndorsementRequests": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills~1{SkillId}~1action~1sendEndorsementRequests/post",
                "parameters": {
                  "SkillId": "$request.path.SkillId",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "Allows users to request other workers to endorse a skill the users have."
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-publicSkills-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-publicskills-post"
      }
    }
  },
  "components": {
    "schemas": {
      "talentPersonProfiles-publicSkills-item-response": {
        "type": "object",
        "properties": {
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments of the content item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ConfirmationFlag": {
            "title": "Confirmation Status",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the proficiency level has been confirmed for the public skill. Valid values are true and false. Default value is false.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ContentItemId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the public skill content item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the public skill.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the public skill was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "DateAchieved": {
            "title": "Date Achieved",
            "type": "string",
            "description": "Date when skill was achieved.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the skill item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Group": {
            "title": "Group Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates whether the skill is acquired or developing. Values can be ORA_DEVELOPED or ORA_DEVELOPING. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "GroupMeaning": {
            "title": "Group",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the skill group.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the public skill was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the public section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "NumericRating": {
            "title": "Numeric Rating",
            "type": "number",
            "description": "Numeric rating of the public skill.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 5,
              "scale": 2
            },
            "x-queryable": true
          },
          "ProficiencyLevel": {
            "title": "Proficiency Level",
            "maxLength": 2000,
            "type": "string",
            "description": "Description or name of the proficiency level of the public skill.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ProficiencyLevelCode": {
            "title": "Proficiency Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the proficiency level of public skill.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "ProficiencyLevelId": {
            "title": "Proficiency Level ID",
            "type": "integer",
            "description": "Unique identifier of the proficiency level in the public skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ProjectName": {
            "title": "Project Name or Activities",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the project or activity.",
            "nullable": true,
            "x-queryable": true
          },
          "RatingModelId": {
            "title": "Rating Model Id",
            "type": "integer",
            "description": "Unique identifier of the rating model associated with the public skill content section.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "SkillRatingModelId",
                "TRatingModelId"
              ]
            },
            "x-queryable": true
          },
          "RelatedItemFlag": {
            "title": "Related Item",
            "maxLength": 30,
            "type": "boolean",
            "description": "Attribute specific to learning outcome. Indicates whether the public skill item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.",
            "nullable": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Skill": {
            "title": "Skill",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the public skill.",
            "nullable": true,
            "x-queryable": true
          },
          "SkillCurationStatus": {
            "title": "Skill Curation Status",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true,
            "x-queryable": true
          },
          "SkillCurationType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true,
            "x-queryable": true
          },
          "SkillId": {
            "title": "Skill ID",
            "type": "integer",
            "description": "Unique identifier for the public skill.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SkillName": {
            "title": "Skill",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the public skill.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "SkillType": {
            "title": "Skill Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Type of skill. Valid values defined in commonLookupsLOV.",
            "nullable": true,
            "x-queryable": true
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true,
            "x-queryable": true
          },
          "YearsOfExperience": {
            "title": "Years of Experience",
            "type": "integer",
            "description": "Years of experience with the skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "endorsements": {
            "title": "Endorsements",
            "type": "array",
            "description": "The endorsements resource is a child of public skills resource. It provides a list of all endorsements for worker's public skills. This resource is currently under controlled availability.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-endorsements-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "talentPersonProfiles-publicSkills-endorsements-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the endorsement.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the endorsement was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "EndorsementId": {
            "title": "Endorsement ID",
            "type": "integer",
            "description": "Unique identifier for the endorsement.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "EndorserId": {
            "title": "Endorser ID",
            "type": "integer",
            "description": "Unique identifier of the endorser.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the endorsement was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the endorsement.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "NumericRating": {
            "title": "Numeric Rating",
            "type": "number",
            "description": "Numeric rating of the skill.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 5,
              "scale": 2
            },
            "x-queryable": true
          },
          "ProficiencyLevelCode": {
            "title": "Proficiency Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the proficiency level of the skill.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "ProficiencyLevelId": {
            "title": "Proficiency Level ID",
            "type": "integer",
            "description": "Unique identifier of the proficiency level of the skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "RequestedDate": {
            "title": "Requested Date",
            "type": "string",
            "description": "Date and time when the endorsement was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "RequestorPersonId": {
            "title": "Requester Person ID",
            "type": "integer",
            "description": "Unique identifier of the person who has requested the endorsement.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "Status": {
            "title": "Status Code",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the endorsement. Values can be ORA_COMPLETED or ORA_PENDING or ORA_IGNORE. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "talentPersonProfiles-publicSkills-item-patch-request": {
        "type": "object",
        "properties": {
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments of the content item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "DateAchieved": {
            "title": "Date Achieved",
            "type": "string",
            "description": "Date when skill was achieved.",
            "format": "date",
            "nullable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the skill item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Group": {
            "title": "Group Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates whether the skill is acquired or developing. Values can be ORA_DEVELOPED or ORA_DEVELOPING. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ProficiencyLevelCode": {
            "title": "Proficiency Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the proficiency level of public skill.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ProficiencyLevelId": {
            "title": "Proficiency Level ID",
            "type": "integer",
            "description": "Unique identifier of the proficiency level in the public skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ProjectName": {
            "title": "Project Name or Activities",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the project or activity.",
            "nullable": true
          },
          "RelatedItemFlag": {
            "title": "Related Item",
            "maxLength": 30,
            "type": "boolean",
            "description": "Attribute specific to learning outcome. Indicates whether the public skill item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.",
            "nullable": true
          },
          "SkillCurationStatus": {
            "title": "Skill Curation Status",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true
          },
          "SkillCurationType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true
          },
          "SkillType": {
            "title": "Skill Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Type of skill. Valid values defined in commonLookupsLOV.",
            "nullable": true
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true
          },
          "YearsOfExperience": {
            "title": "Years of Experience",
            "type": "integer",
            "description": "Years of experience with the skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "endorsements": {
            "title": "Endorsements",
            "type": "array",
            "description": "The endorsements resource is a child of public skills resource. It provides a list of all endorsements for worker's public skills. This resource is currently under controlled availability.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-endorsements-item-patch-request"
            }
          }
        }
      },
      "talentPersonProfiles-publicSkills-endorsements-item-patch-request": {
        "type": "object",
        "properties": {
          "ProficiencyLevelCode": {
            "title": "Proficiency Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the proficiency level of the skill.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ProficiencyLevelId": {
            "title": "Proficiency Level ID",
            "type": "integer",
            "description": "Unique identifier of the proficiency level of the skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "Status": {
            "title": "Status Code",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the endorsement. Values can be ORA_COMPLETED or ORA_PENDING or ORA_IGNORE. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          }
        }
      },
      "talentPersonProfiles-publicSkills": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentPersonProfiles-publicSkills-item-post-request": {
        "required": [
          "ProfileId",
          "SectionId"
        ],
        "type": "object",
        "properties": {
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments of the content item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "ContentItemId": {
            "title": "Content Item ID",
            "type": "integer",
            "description": "Unique identifier for the public skill content item.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "DateAchieved": {
            "title": "Date Achieved",
            "type": "string",
            "description": "Date when skill was achieved.",
            "format": "date",
            "nullable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the skill item.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Group": {
            "title": "Group Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code that indicates whether the skill is acquired or developing. Values can be ORA_DEVELOPED or ORA_DEVELOPING. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ProficiencyLevelCode": {
            "title": "Proficiency Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the proficiency level of public skill.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ProficiencyLevelId": {
            "title": "Proficiency Level ID",
            "type": "integer",
            "description": "Unique identifier of the proficiency level in the public skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ProjectName": {
            "title": "Project Name or Activities",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the project or activity.",
            "nullable": true
          },
          "RelatedItemFlag": {
            "title": "Related Item",
            "maxLength": 30,
            "type": "boolean",
            "description": "Attribute specific to learning outcome. Indicates whether the public skill item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.",
            "nullable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Skill": {
            "title": "Skill",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the public skill.",
            "nullable": true
          },
          "SkillCurationStatus": {
            "title": "Skill Curation Status",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true
          },
          "SkillCurationType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true
          },
          "SkillName": {
            "title": "Skill",
            "maxLength": 700,
            "type": "string",
            "description": "Name of the public skill.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "SkillType": {
            "title": "Skill Type Code",
            "maxLength": 30,
            "type": "string",
            "description": "Type of skill. Valid values defined in commonLookupsLOV.",
            "nullable": true
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of skill item.",
            "nullable": true
          },
          "YearsOfExperience": {
            "title": "Years of Experience",
            "type": "integer",
            "description": "Years of experience with the skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "endorsements": {
            "title": "Endorsements",
            "type": "array",
            "description": "The endorsements resource is a child of public skills resource. It provides a list of all endorsements for worker's public skills. This resource is currently under controlled availability.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-endorsements-item-post-request"
            }
          }
        }
      },
      "talentPersonProfiles-publicSkills-endorsements-item-post-request": {
        "type": "object",
        "properties": {
          "EndorsementId": {
            "title": "Endorsement ID",
            "type": "integer",
            "description": "Unique identifier for the endorsement.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "EndorserId": {
            "title": "Endorser ID",
            "type": "integer",
            "description": "Unique identifier of the endorser.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "ProficiencyLevelCode": {
            "title": "Proficiency Level Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the proficiency level of the skill.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ProficiencyLevelId": {
            "title": "Proficiency Level ID",
            "type": "integer",
            "description": "Unique identifier of the proficiency level of the skill.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "RequestorPersonId": {
            "title": "Requester Person ID",
            "type": "integer",
            "description": "Unique identifier of the person who has requested the endorsement.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "Status": {
            "title": "Status Code",
            "maxLength": 30,
            "type": "string",
            "description": "Status of the endorsement. Values can be ORA_COMPLETED or ORA_PENDING or ORA_IGNORE. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "talentPersonProfiles-publicSkills-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-item-patch-request"
            }
          }
        }
      },
      "talentPersonProfiles-publicSkills-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}