{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Ratings/Impact of Losses/Large Object (LOB) Attributes - Comments",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentRatings/{talentRatingsUniqID}/child/impactOfLosses/{ImpactOfLossId}/enclosure/Comments": {
      "get": {
        "tags": [
          "Talent Ratings/Impact of Losses/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Get a Comments",
        "description": "Get a Comments",
        "operationId": "get_talentRatings-impactOfLosses-Comments",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ImpactOfLossId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Impact of Loss ID",
              "type": "integer",
              "description": "Unique identifier of the impact of loss rating item.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-impactOfLosses-{ImpactOfLossId}-enclosure-Comments-get",
        "x-filename-id": "talentratings-talentratingsuniqid-child-impactoflosses-impactoflossid-enclosure-comments-get"
      },
      "put": {
        "tags": [
          "Talent Ratings/Impact of Losses/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Replace a Comments",
        "description": "Replace a Comments",
        "operationId": "replace_talentRatings-impactOfLosses-Comments",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ImpactOfLossId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Impact of Loss ID",
              "type": "integer",
              "description": "Unique identifier of the impact of loss rating item.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-impactOfLosses-{ImpactOfLossId}-enclosure-Comments-put",
        "x-filename-id": "talentratings-talentratingsuniqid-child-impactoflosses-impactoflossid-enclosure-comments-put"
      },
      "delete": {
        "tags": [
          "Talent Ratings/Impact of Losses/Large Object (LOB) Attributes - Comments"
        ],
        "summary": "Delete a Comments",
        "description": "Delete a Comments",
        "operationId": "delete_talentRatings-impactOfLosses-Comments",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ImpactOfLossId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Impact of Loss ID",
              "type": "integer",
              "description": "Unique identifier of the impact of loss rating item.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-impactOfLosses-{ImpactOfLossId}-enclosure-Comments-delete",
        "x-filename-id": "talentratings-talentratingsuniqid-child-impactoflosses-impactoflossid-enclosure-comments-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}