{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Work Preference Sections/Work Preference Items",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/workPreferenceSections/{ProfileSectionId1}/child/workPreferenceItems": {
      "get": {
        "tags": [
          "Talent Person Profiles/Work Preference Sections/Work Preference Items"
        ],
        "summary": "Get all work preference items",
        "operationId": "getall_talentPersonProfiles-workPreferenceSections-workPreferenceItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>FirstExcludedLocation; string; First location to be excluded from user work preferences.</li><li>FirstExcludedLocationCode; string; First location to be excluded from user work preferences. Valid values are defined in the locationsLOV.</li><li>FirstPreferredLocationCode; string; First location to be preferred from user work preferences. Valid values are defined in the locationsLOV.</li><li>FourthExcludedLocation; string; Fourth location to be excluded from user work preferences.</li><li>FourthExcludedLocationCode; string; Fourth location to be excluded from the user work preferences. Valid values are defined in the locationsLOV.</li><li>FourthPreferredLocation; string; Fourth location to be preferred from user work preferences.</li><li>FourthPreferredLocationCode; string; Fourth location to be preferred from the user work preferences. Valid values are defined in the locationsLOV.</li><li>InternationalTravelFrequency; string; Frequency of international travel. Valid values are defined in the commonLookupsLOV.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>SecondExcludedLocation; string; Second location to be excluded from user work preferences.</li><li>SecondExcludedLocationCode; string; Second location to be excluded from user work preferences. Valid values are defined in the locationsLOV.</li><li>SecondPreferredLocationCode; string; Second location to be preferred from the user work preferences. Valid values are defined in the locationsLOV.</li><li>SectionId; integer; Unique identifier of the content section.</li><li>SourceType; string; Code representing the source of work preference item.</li><li>ThirdExcludedLocation; string; Third location to be excluded from user work preferences.</li><li>ThirdExcludedLocationCode; string; Third location to be excluded from the user work preferences. Valid values are defined in the locationsLOV.</li><li>ThirdPreferredLocation; string; Third location to be preferred from user work preferences.</li><li>ThirdPreferredLocationCode; string; Third location to be preferred from the user work preferences. Valid values are defined in the locationsLOV.</li><li>TravelDomestically; string; Indicates whether the worker prefers domestic travel. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.</li><li>WillingToRelocate; string; Indicates whether the person is willing to relocate. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.</li><li>WorkPreferenceId; integer; Unique identifier for work preference.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all work preference items that match the primary key criteria specified. <br>Finder Variables <ul><li>WorkPreferenceId; integer;  Surrogate identifier for the work preference item. </li></ul></li><li>RowFinder Finds all the person work preference items for recruiting activity center flow for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>WorkPreferenceId; integer;  Surrogate identifier for the work preference item. </li></ul></li><li>findByProfileIdAndSectionId Finds all work preference items that match the specified profile and section identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Surrogate identifier for the person profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLatestItemForRAC Finds all the person work preference items for recruiting activity center flow for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLinkedInProfileItems Finds all the person work preference items for all the work preference sections that are enabled for LinkedIn import. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findPendingItemsByProfileId Finds all the work preference items that are pending for approvals for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all work preference items that match the primary key criteria specified.",
                "properties": {
                  "WorkPreferenceId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the work preference item.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds all the person work preference items for recruiting activity center flow for the specified person profile.",
                "title": "rowFinder",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "WorkPreferenceId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the work preference item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByProfileIdAndSectionId",
                "description": "Finds all work preference items that match the specified profile and section identifier.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the person profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLatestItemForRAC",
                "description": "Finds all the person work preference items for recruiting activity center flow for the specified person profile.",
                "title": "findLatestItemForRAC",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLinkedInProfileItems",
                "description": "Finds all the person work preference items for all the work preference sections that are enabled for LinkedIn import.",
                "title": "findLinkedInProfileItem",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByProfileId",
                "description": "Finds all the work preference items that are pending for approvals for the specified person profile.",
                "title": "findPendingItemsByProfileId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-workPreferenceSections-workPreferenceItems"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-workPreferenceSections-{ProfileSectionId1}-child-workPreferenceItems-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-workpreferencesections-profilesectionid1-child-workpreferenceitems-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles/Work Preference Sections/Work Preference Items"
        ],
        "summary": "Create a work preference item",
        "operationId": "create_talentPersonProfiles-workPreferenceSections-workPreferenceItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-workPreferenceSections-workPreferenceItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-workPreferenceSections-workPreferenceItems-item-response"
                }
              }
            },
            "links": {
              "travelInternationallyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TravelInternationally; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TravelInternationally",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TravelInternationallyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "firstPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FirstPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FirstPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FirstPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FirstPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "firstExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FirstExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FirstExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FirstExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FirstExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "willingToRelocateLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: WillingToRelocate; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode, Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/WillingToRelocate",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "WillingToRelocateMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode",
                    "Meaning"
                  ]
                }
              },
              "travelDomesticallyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TravelDomestically; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TravelDomestically",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TravelDomesticallyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "thirdPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ThirdPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ThirdPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "ThirdPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "ThirdPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "workFlexibleSchedulesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: WorkFlexibleSchedule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/WorkFlexibleSchedule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "WorkFlexibleScheduleMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "domesticTravelFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DomesticTravelFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DomesticTravelFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "DomesticTravelFrequencyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "allLocationsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: AllLocations; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/AllLocations",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "AllLocationsMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "fourthPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FourthPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FourthPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FourthPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FourthPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "considerPartTimeWorkLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ConsiderPartTimeWork; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ConsiderPartTimeWork",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "ConsiderPartTimeWorkMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "currencyCodesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "currenciesLOV.Name": [
                      "Currency"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "fourthExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FourthExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FourthExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FourthExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FourthExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "considerTemporaryAssignmentsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ConsiderTemporaryAssignment; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ConsiderTemporaryAssignment",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "ConsiderTemporaryAssignmentMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "payFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PayFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PayFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "PayFrequencyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "secondPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SecondPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SecondPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "SecondPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "SecondPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "workPreferenceItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workPreferenceSections~1{ProfileSectionId1}~1child~1workPreferenceItems~1{workPreferenceItemsUniqID}~1child~1workPreferenceItemsDFF/get",
                "parameters": {
                  "ProfileSectionId16": "$request.path.ProfileSectionId16",
                  "workPreferenceItemsUniqID": "$request.path.workPreferenceItemsUniqID",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "secondExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SecondExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SecondExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "SecondExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "SecondExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "thirdExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ThirdExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ThirdExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "ThirdExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "ThirdExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "internationalTravelFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: InternationalTravelFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/InternationalTravelFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "InternationalTravelFrequencyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-workPreferenceSections-{ProfileSectionId1}-child-workPreferenceItems-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-workpreferencesections-profilesectionid1-child-workpreferenceitems-post"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/workPreferenceSections/{ProfileSectionId1}/child/workPreferenceItems/{workPreferenceItemsUniqID}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Work Preference Sections/Work Preference Items"
        ],
        "summary": "Get a work preference item",
        "operationId": "get_talentPersonProfiles-workPreferenceSections-workPreferenceItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workPreferenceItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Work Preference Items resource and used to uniquely identify an instance of Work Preference Items. The client should not generate the hash key value. Instead, the client should query on the Work Preference Items collection resource in order to navigate to a specific instance of Work Preference Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-workPreferenceSections-workPreferenceItems-item-response"
                }
              }
            },
            "links": {
              "travelInternationallyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TravelInternationally; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TravelInternationally",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TravelInternationallyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "firstPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FirstPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FirstPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FirstPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FirstPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "firstExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FirstExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FirstExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FirstExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FirstExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "willingToRelocateLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: WillingToRelocate; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode, Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/WillingToRelocate",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "WillingToRelocateMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode",
                    "Meaning"
                  ]
                }
              },
              "travelDomesticallyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TravelDomestically; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TravelDomestically",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TravelDomesticallyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "thirdPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ThirdPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ThirdPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "ThirdPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "ThirdPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "workFlexibleSchedulesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: WorkFlexibleSchedule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/WorkFlexibleSchedule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "WorkFlexibleScheduleMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "domesticTravelFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DomesticTravelFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DomesticTravelFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "DomesticTravelFrequencyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "allLocationsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: AllLocations; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/AllLocations",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "AllLocationsMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "fourthPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FourthPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FourthPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FourthPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FourthPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "considerPartTimeWorkLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ConsiderPartTimeWork; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ConsiderPartTimeWork",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "ConsiderPartTimeWorkMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "currencyCodesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "currenciesLOV.Name": [
                      "Currency"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "fourthExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FourthExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FourthExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FourthExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FourthExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "considerTemporaryAssignmentsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ConsiderTemporaryAssignment; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ConsiderTemporaryAssignment",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "ConsiderTemporaryAssignmentMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "payFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PayFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PayFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "PayFrequencyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "secondPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SecondPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SecondPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "SecondPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "SecondPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "workPreferenceItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workPreferenceSections~1{ProfileSectionId1}~1child~1workPreferenceItems~1{workPreferenceItemsUniqID}~1child~1workPreferenceItemsDFF/get",
                "parameters": {
                  "ProfileSectionId16": "$request.path.ProfileSectionId16",
                  "workPreferenceItemsUniqID": "$request.path.workPreferenceItemsUniqID",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "secondExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SecondExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SecondExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "SecondExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "SecondExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "thirdExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ThirdExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ThirdExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "ThirdExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "ThirdExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "internationalTravelFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: InternationalTravelFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/InternationalTravelFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "InternationalTravelFrequencyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "{talentPersonProfilesUniqID}-child-workPreferenceSections-{ProfileSectionId1}-child-workPreferenceItems-{workPreferenceItemsUniqID}-get",
        "x-filename-id": "talentpersonprofilesuniqid-child-workpreferencesections-profilesectionid1-child-workpreferenceitems-workpreferenceitemsuniqid-get"
      },
      "patch": {
        "tags": [
          "Talent Person Profiles/Work Preference Sections/Work Preference Items"
        ],
        "summary": "Update a work preference item",
        "operationId": "update_talentPersonProfiles-workPreferenceSections-workPreferenceItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workPreferenceItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Work Preference Items resource and used to uniquely identify an instance of Work Preference Items. The client should not generate the hash key value. Instead, the client should query on the Work Preference Items collection resource in order to navigate to a specific instance of Work Preference Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-workPreferenceSections-workPreferenceItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-workPreferenceSections-workPreferenceItems-item-response"
                }
              }
            },
            "links": {
              "travelInternationallyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TravelInternationally; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TravelInternationally",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TravelInternationallyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "firstPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FirstPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FirstPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FirstPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FirstPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "firstExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FirstExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FirstExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FirstExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FirstExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "willingToRelocateLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: WillingToRelocate; Target Attribute: LookupCode</li><li>Display Attribute: LookupCode, Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/WillingToRelocate",
                  "displayValues": [
                    "LookupCode"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "WillingToRelocateMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "LookupCode",
                    "Meaning"
                  ]
                }
              },
              "travelDomesticallyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TravelDomestically; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TravelDomestically",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "TravelDomesticallyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "thirdPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ThirdPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ThirdPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "ThirdPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "ThirdPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "workFlexibleSchedulesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: WorkFlexibleSchedule; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/WorkFlexibleSchedule",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "WorkFlexibleScheduleMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "domesticTravelFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: DomesticTravelFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/DomesticTravelFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "DomesticTravelFrequencyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "allLocationsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: AllLocations; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/AllLocations",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "AllLocationsMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "fourthPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FourthPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FourthPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FourthPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FourthPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "considerPartTimeWorkLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ConsiderPartTimeWork; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ConsiderPartTimeWork",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "ConsiderPartTimeWorkMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "currencyCodesLOV": {
                "operationRef": "#/paths/~1currenciesLOV/get",
                "parameters": {
                  "finder": "CurrencyCodeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrencyCode; Target Attribute: CurrencyCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrencyCode",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "currenciesLOV.Name": [
                      "Currency"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "CurrencyCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "fourthExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: FourthExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/FourthExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "FourthExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "FourthExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "considerTemporaryAssignmentsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ConsiderTemporaryAssignment; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ConsiderTemporaryAssignment",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "ConsiderTemporaryAssignmentMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "payFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PayFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PayFrequency",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "PayFrequencyMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "secondPreferredLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SecondPreferredLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SecondPreferredLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "SecondPreferredLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "SecondPreferredLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "workPreferenceItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workPreferenceSections~1{ProfileSectionId1}~1child~1workPreferenceItems~1{workPreferenceItemsUniqID}~1child~1workPreferenceItemsDFF/get",
                "parameters": {
                  "ProfileSectionId16": "$request.path.ProfileSectionId16",
                  "workPreferenceItemsUniqID": "$request.path.workPreferenceItemsUniqID",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "secondExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: SecondExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/SecondExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "SecondExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "SecondExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "thirdExcludedLocationCodesLOV": {
                "operationRef": "#/paths/~1locationsLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ThirdExcludedLocationCode; Target Attribute: LocationCode</li><li>Display Attribute: LocationName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ThirdExcludedLocationCode",
                  "displayValues": [
                    "LocationName"
                  ],
                  "derivedFieldsMapping": {
                    "locationsLov.LocationId": [
                      "ThirdExcludedLocationId"
                    ],
                    "locationsLov.LocationName": [
                      "ThirdExcludedLocation"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LocationCode",
                  "displayFields": [
                    "LocationName"
                  ]
                }
              },
              "internationalTravelFrequencyLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: InternationalTravelFrequency; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
[...]
