{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Ratings/Advancement Readiness/Advancement Readiness Descriptive Flexfields",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentRatings/{talentRatingsUniqID}/child/advancementReadiness/{advancementReadinessUniqID}/child/advancementReadinessDFF": {
      "get": {
        "tags": [
          "Talent Ratings/Advancement Readiness/Advancement Readiness Descriptive Flexfields"
        ],
        "summary": "Get all advancement readiness descriptive flexfields",
        "operationId": "getall_talentRatings-advancementReadiness-advancementReadinessDFF",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advancementReadinessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Advancement Readiness resource and used to uniquely identify an instance of Advancement Readiness. The client should not generate the hash key value. Instead, the client should query on the Advancement Readiness collection resource in order to navigate to a specific instance of Advancement Readiness to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey  <br>Finder Variables <ul><li>AdvReadinessId; integer;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "properties": {
                  "AdvReadinessId": {
                    "nullable": false,
                    "x-hints": {
                      "DISPLAYHINT": "Hide",
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentRatings-advancementReadiness-advancementReadinessDFF"
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-advancementReadiness-{advancementReadinessUniqID}-child-advancementReadinessDFF-get",
        "x-filename-id": "talentratings-talentratingsuniqid-child-advancementreadiness-advancementreadinessuniqid-child-advancementreadinessdff-get"
      },
      "post": {
        "tags": [
          "Talent Ratings/Advancement Readiness/Advancement Readiness Descriptive Flexfields"
        ],
        "summary": "Create all advancement readiness descriptive flexfields",
        "operationId": "create_talentRatings-advancementReadiness-advancementReadinessDFF",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advancementReadinessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Advancement Readiness resource and used to uniquely identify an instance of Advancement Readiness. The client should not generate the hash key value. Instead, the client should query on the Advancement Readiness collection resource in order to navigate to a specific instance of Advancement Readiness to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentRatings-advancementReadiness-advancementReadinessDFF-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentRatings-advancementReadiness-advancementReadinessDFF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10022%2CBind_DescriptiveFlexfieldCode%3DHRT_PROFILE_ITEMS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10022%2CBind_DescriptiveFlexfieldCode%3DHRT_PROFILE_ITEMS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-advancementReadiness-{advancementReadinessUniqID}-child-advancementReadinessDFF-post",
        "x-filename-id": "talentratings-talentratingsuniqid-child-advancementreadiness-advancementreadinessuniqid-child-advancementreadinessdff-post"
      }
    },
    "/talentRatings/{talentRatingsUniqID}/child/advancementReadiness/{advancementReadinessUniqID}/child/advancementReadinessDFF/{AdvReadinessId}": {
      "get": {
        "tags": [
          "Talent Ratings/Advancement Readiness/Advancement Readiness Descriptive Flexfields"
        ],
        "summary": "Get an advancement readiness descriptive flexfield",
        "operationId": "get_talentRatings-advancementReadiness-advancementReadinessDFF",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advancementReadinessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Advancement Readiness resource and used to uniquely identify an instance of Advancement Readiness. The client should not generate the hash key value. Instead, the client should query on the Advancement Readiness collection resource in order to navigate to a specific instance of Advancement Readiness to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AdvReadinessId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentRatings-advancementReadiness-advancementReadinessDFF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10022%2CBind_DescriptiveFlexfieldCode%3DHRT_PROFILE_ITEMS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10022%2CBind_DescriptiveFlexfieldCode%3DHRT_PROFILE_ITEMS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-advancementReadiness-{advancementReadinessUniqID}-child-advancementReadinessDFF-{AdvReadinessId}-get",
        "x-filename-id": "talentratings-talentratingsuniqid-child-advancementreadiness-advancementreadinessuniqid-child-advancementreadinessdff-advreadinessid-get"
      },
      "patch": {
        "tags": [
          "Talent Ratings/Advancement Readiness/Advancement Readiness Descriptive Flexfields"
        ],
        "summary": "Update an advancement readiness descriptive flexfield",
        "operationId": "update_talentRatings-advancementReadiness-advancementReadinessDFF",
        "parameters": [
          {
            "name": "talentRatingsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Ratings resource and used to uniquely identify an instance of Talent Ratings. The client should not generate the hash key value. Instead, the client should query on the Talent Ratings collection resource in order to navigate to a specific instance of Talent Ratings to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advancementReadinessUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Advancement Readiness resource and used to uniquely identify an instance of Advancement Readiness. The client should not generate the hash key value. Instead, the client should query on the Advancement Readiness collection resource in order to navigate to a specific instance of Advancement Readiness to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AdvReadinessId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentRatings-advancementReadiness-advancementReadinessDFF-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentRatings-advancementReadiness-advancementReadinessDFF-item-response"
                }
              }
            },
            "links": {
              "LVVO___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10022%2CBind_DescriptiveFlexfieldCode%3DHRT_PROFILE_ITEMS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context; Target Attribute: ContextCode</li><li>Display Attribute: Name</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context",
                  "displayValues": [
                    "Name"
                  ],
                  "fieldMap": {
                    "$this#/__FLEX_Context_DisplayValue": "Name"
                  },
                  "itemsPath": "items",
                  "valueField": "ContextCode",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "LVVO_V___FLEX_Context": {
                "operationRef": "#/paths/~1FlexFndDffDescriptiveFlexfieldContexts/get",
                "parameters": {
                  "finder": "ValidValuesFinder%3BBind_ApplicationId%3D10022%2CBind_DescriptiveFlexfieldCode%3DHRT_PROFILE_ITEMS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: __FLEX_Context_DisplayValue; Target Attribute: Name</li><li>Display Attribute: Name, Description</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/__FLEX_Context_DisplayValue",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "FlexFndDffDescriptiveFlexfieldContexts.ContextCode": [
                      "__FLEX_Context"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name",
                    "Description"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentRatings-{talentRatingsUniqID}-child-advancementReadiness-{advancementReadinessUniqID}-child-advancementReadinessDFF-{AdvReadinessId}-patch",
        "x-filename-id": "talentratings-talentratingsuniqid-child-advancementreadiness-advancementreadinessuniqid-child-advancementreadinessdff-advreadinessid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "talentRatings-advancementReadiness-advancementReadinessDFF": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentRatings-advancementReadiness-advancementReadinessDFF-item-response"
            },
            "x-cardinality": "1"
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentRatings-advancementReadiness-advancementReadinessDFF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "JOB_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemJOB__5FCRITICALITYVO-item-response",
            "ORGANIZATION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemORGANIZATION__5FCRITICALITYVO-item-response",
            "PERSON_CAREER_STATEMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCAREER__5FSTATEMENTVO-item-response",
            "PERSON_CATEGORY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCATEGORYVO-item-response",
            "PERSON_COMPONENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCOMPONENTVO-item-response",
            "PERSON_N_BOX_ASSIGNMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response",
            "PERSON_PERFORMANCE_RATING": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response",
            "PERSON_PLATFORM": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPLATFORMVO-item-response",
            "PERSON_POTENTIAL": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPOTENTIALVO-item-response",
            "PERSON_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_PRODUCT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCTVO-item-response",
            "PERSON_PRODUCT_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_READINESS": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FREADINESSVO-item-response",
            "PERSON_RISK": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FRISKVO-item-response",
            "PERSON_TALENT_SCORE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FTALENT__5FSCOREVO-item-response",
            "POSITION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPOSITION__5FCRITICALITYVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemJOB__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemORGANIZATION__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCAREER__5FSTATEMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCATEGORYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCOMPONENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPLATFORMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPOTENTIALVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FREADINESSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FRISKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FTALENT__5FSCOREVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPOSITION__5FCRITICALITYVO-item-response"
          }
        ]
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemJOB__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "JOB_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemORGANIZATION__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "ORGANIZATION_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCAREER__5FSTATEMENTVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CAREER_STATEMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCATEGORYVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CATEGORY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCOMPONENTVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_COMPONENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_N_BOX_ASSIGNMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PERFORMANCE_RATING",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPLATFORMVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PLATFORM",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPOTENTIALVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_POTENTIAL",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPROBLEM__5FCODEVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PROBLEM_CODE",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCTVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PRODUCT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_PRODUCT_PROBLEM_CODE",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FREADINESSVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_READINESS",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FRISKVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_RISK",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FTALENT__5FSCOREVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_TALENT_SCORE",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPOSITION__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "POSITION_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "talentRatings-advancementReadiness-advancementReadinessDFF-item-post-request": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "JOB_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemJOB__5FCRITICALITYVO-item-post-request",
            "ORGANIZATION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemORGANIZATION__5FCRITICALITYVO-item-post-request",
            "PERSON_CAREER_STATEMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCAREER__5FSTATEMENTVO-item-post-request",
            "PERSON_CATEGORY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCATEGORYVO-item-post-request",
            "PERSON_COMPONENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCOMPONENTVO-item-post-request",
            "PERSON_N_BOX_ASSIGNMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-post-request",
            "PERSON_PERFORMANCE_RATING": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPERFORMANCE__5FRATINGVO-item-post-request",
            "PERSON_PLATFORM": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPLATFORMVO-item-post-request",
            "PERSON_POTENTIAL": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPOTENTIALVO-item-post-request",
            "PERSON_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPROBLEM__5FCODEVO-item-post-request",
            "PERSON_PRODUCT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCTVO-item-post-request",
            "PERSON_PRODUCT_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-post-request",
            "PERSON_READINESS": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FREADINESSVO-item-post-request",
            "PERSON_RISK": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FRISKVO-item-post-request",
            "PERSON_TALENT_SCORE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FTALENT__5FSCOREVO-item-post-request",
            "POSITION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPOSITION__5FCRITICALITYVO-item-post-request"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemJOB__5FCRITICALITYVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemORGANIZATION__5FCRITICALITYVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCAREER__5FSTATEMENTVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCATEGORYVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FCOMPONENTVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPERFORMANCE__5FRATINGVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPLATFORMVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPOTENTIALVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPROBLEM__5FCODEVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCTVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FREADINESSVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FRISKVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPERSON__5FTALENT__5FSCOREVO-item-post-request"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemPOSITION__5FCRITICALITYVO-item-post-request"
          }
        ]
      },
      "oracle_apps_flex_hcm_profiles_core_advancementReadinessItem_view_AdvancementReadinessItemJOB__5FCRITICALITYVO-item-post-request": {
        "type": "object",
        "properties": {
          "AdvReadinessId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "JOB_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
[...]
