{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}": {
      "get": {
        "tags": [
          "Talent Person Profiles"
        ],
        "summary": "Get a person profile",
        "operationId": "get_talentPersonProfiles",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-item-response"
                }
              }
            },
            "links": {
              "skillSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1skillSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The skillSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured skill sections for a person."
              },
              "attachments": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1attachments/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The attachments resource is a child of talentPersonProfiles resource. It provides all the attachments for a worker profile."
              },
              "areasOfExpertise": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areasOfExpertise/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areasOfExpertise resource is the child of the talentPersonProfiles resource. It provides the list of expertise items for a person."
              },
              "specialProjectSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1specialProjectSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The specialProjectSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured special project sections for a person."
              },
              "accomplishmentSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1accomplishmentSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The accomplishmentSections resource is the child of the talentPersonProfiles resource. It provides the list of secured accomplishment sections for a person."
              },
              "honorSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1honorSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The honorSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured honor sections for a person."
              },
              "careersOfInterest": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careersOfInterest/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careersOfInterest resource includes a list of all the careers of interest associated with a person."
              },
              "highestEducationLvlSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1highestEducationLvlSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The highestEducationLvlSections resource is the child of the talentPersonProfiles resource. It provides the list of secured highest education level sections for a person."
              },
              "membershipSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1membershipSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The membershipSections resource is the child of the talentPersonProfiles resource. It provides the list of secured membership sections for a person."
              },
              "favoriteLinks": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1favoriteLinks/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The favoriteLinks resource is the child of the talentPersonProfiles resource. It provides the favorite links for a person."
              },
              "languageSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1languageSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The languageSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured language sections for a person."
              },
              "certificationSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1certificationSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The certificationSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured certification sections for a person."
              },
              "publicSkills": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The publicSkills resource is the child of the talentPersonProfiles resource. It provides a list of the skill items for the skill content subscribed by the skill center. This resource is currently under controlled availability."
              },
              "technicalPostDetailsSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1technicalPostDetailsSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The technicalPostDetailsSections resource is the child of the talentPersonProfiles resource. It provides the list of secured technical post details sections for a person."
              },
              "educationLvlSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationLvlSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationLvlSections resource is the child of the talentPersonProfiles resource. It provides the list of secured education level sections for a person."
              },
              "careerPreferenceSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerPreferenceSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careerPreferenceSections resource is the child of the talentPersonProfiles resource. It provides the list of secured career preference sections for a person."
              },
              "areasOfInterest": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areasOfInterest/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areasOfInterest resource is the child of the talentPersonProfiles resource. It provides the list of interests for a person."
              },
              "competencySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The competencySections resource is the child of the talentPersonProfiles resource. It provides the list of the secured competency sections for a person."
              },
              "careerStatements": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerStatements/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careerStatements resource includes the career statement associated with a person."
              },
              "educationSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured education sections for a person."
              },
              "tags": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1tags/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The tags resource is the child of the talentPersonProfiles resource. It provides the list of the tags associated with a person profile."
              },
              "workPreferenceSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workPreferenceSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The workPreferenceSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured work preference sections for a person."
              },
              "areaOfStudySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areaOfStudySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areaOfStudySections resource is the child of the talentPersonProfiles resource. It provides the list of secured area of study sections for a person."
              },
              "workHistorySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workHistorySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The workHistorySections resource is the child of the talentPersonProfiles resource. It provides the list of the secured work history sections for a person."
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-get"
      },
      "patch": {
        "tags": [
          "Talent Person Profiles"
        ],
        "summary": "Update a person profile",
        "operationId": "update_talentPersonProfiles",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-item-response"
                }
              }
            },
            "links": {
              "skillSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1skillSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The skillSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured skill sections for a person."
              },
              "attachments": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1attachments/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The attachments resource is a child of talentPersonProfiles resource. It provides all the attachments for a worker profile."
              },
              "areasOfExpertise": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areasOfExpertise/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areasOfExpertise resource is the child of the talentPersonProfiles resource. It provides the list of expertise items for a person."
              },
              "specialProjectSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1specialProjectSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The specialProjectSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured special project sections for a person."
              },
              "accomplishmentSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1accomplishmentSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The accomplishmentSections resource is the child of the talentPersonProfiles resource. It provides the list of secured accomplishment sections for a person."
              },
              "honorSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1honorSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The honorSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured honor sections for a person."
              },
              "careersOfInterest": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careersOfInterest/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careersOfInterest resource includes a list of all the careers of interest associated with a person."
              },
              "highestEducationLvlSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1highestEducationLvlSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The highestEducationLvlSections resource is the child of the talentPersonProfiles resource. It provides the list of secured highest education level sections for a person."
              },
              "membershipSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1membershipSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The membershipSections resource is the child of the talentPersonProfiles resource. It provides the list of secured membership sections for a person."
              },
              "favoriteLinks": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1favoriteLinks/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The favoriteLinks resource is the child of the talentPersonProfiles resource. It provides the favorite links for a person."
              },
              "languageSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1languageSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The languageSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured language sections for a person."
              },
              "certificationSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1certificationSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The certificationSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured certification sections for a person."
              },
              "publicSkills": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The publicSkills resource is the child of the talentPersonProfiles resource. It provides a list of the skill items for the skill content subscribed by the skill center. This resource is currently under controlled availability."
              },
              "technicalPostDetailsSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1technicalPostDetailsSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The technicalPostDetailsSections resource is the child of the talentPersonProfiles resource. It provides the list of secured technical post details sections for a person."
              },
              "educationLvlSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationLvlSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationLvlSections resource is the child of the talentPersonProfiles resource. It provides the list of secured education level sections for a person."
              },
              "careerPreferenceSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerPreferenceSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careerPreferenceSections resource is the child of the talentPersonProfiles resource. It provides the list of secured career preference sections for a person."
              },
              "areasOfInterest": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areasOfInterest/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areasOfInterest resource is the child of the talentPersonProfiles resource. It provides the list of interests for a person."
              },
              "competencySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The competencySections resource is the child of the talentPersonProfiles resource. It provides the list of the secured competency sections for a person."
              },
              "careerStatements": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerStatements/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careerStatements resource includes the career statement associated with a person."
              },
              "educationSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured education sections for a person."
              },
              "tags": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1tags/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The tags resource is the child of the talentPersonProfiles resource. It provides the list of the tags associated with a person profile."
              },
              "workPreferenceSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workPreferenceSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The workPreferenceSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured work preference sections for a person."
              },
              "areaOfStudySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areaOfStudySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areaOfStudySections resource is the child of the talentPersonProfiles resource. It provides the list of secured area of study sections for a person."
              },
              "workHistorySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workHistorySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The workHistorySections resource is the child of the talentPersonProfiles resource. It provides the list of the secured work history sections for a person."
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-patch",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-patch"
      }
    },
    "/talentPersonProfiles": {
      "get": {
        "tags": [
          "Talent Person Profiles"
        ],
        "summary": "Get all person profiles",
        "operationId": "getall_talentPersonProfiles",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CareerAmbassadorFlag; boolean; Indicates whether the person is a career ambassador or not. Valid values are true and false. The default value is false.</li><li>CareerAmbassadorSummary; string; Summary of why the person wants to enroll as a career ambassador.</li><li>CreatedBy; string; User who created the profile.</li><li>CreationDate; string; Date and time when the profile was created.</li><li>DisplayName; string; Display name for the person.</li><li>LastUpdateDate; string; Date and time when the profile was last updated.</li><li>LastUpdatedBy; string; User who last updated the profile.</li><li>PersonId; integer; Surrogate identifier for the person.</li><li>PersonNumber; string; Unique number assigned to a person.</li><li>ProfileCode; string; Code assigned to a person profile to identify the profile uniquely.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>StatusCode; string; Unsupported attribute. Don't use it in your transactions.</li><li>Summary; string; Summary of a person profile.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Surrogate identifier for the person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Surrogate identifier for the person profile. </li></ul></li><li>findByPersonId Unique identifier for the career statement. <br>Finder Variables <ul><li>PersonId; integer;  Finds all the behavior items that match the primary key criteria specified. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findCareerAmbassadorsBySkillGroup Unique identifier for the behavior item. <br>Finder Variables <ul><li>Group; string;  Unique identifier for the career statement. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findEligibleSections Finds all the content sections that are eligible to be added to a profile of a person that matches the specified person identifier. <br>Finder Variables <ul><li>PersonId; integer;  Finds all profiles that match the primary key criteria specified. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findLatestProfileItemForORC Finds the most recent item for the education, certification, and work experience section and all the items for language, skill, and work preference section from the person profile type content sections that are subscribed by Recruiting. <br>Finder Variables <ul><li>PersonId; integer;  Unique identifier for the person. </li><li>SectionId; integer;  Unique identifier of the content section. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Surrogate identifier for the person profile.",
                "properties": {
                  "ProfileId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the person profile.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByPersonId",
                "description": "Unique identifier for the career statement.",
                "title": "findByPersonId",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds all the behavior items that match the primary key criteria specified.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  }
                }
              },
              {
                "name": "findCareerAmbassadorsBySkillGroup",
                "description": "Unique identifier for the behavior item.",
                "title": "findCareerAmbassadorsBySkillGroup",
                "properties": {
                  "Group": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the career statement.",
                    "type": "string"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  }
                }
              },
              {
                "name": "findEligibleSections",
                "description": "Finds all the content sections that are eligible to be added to a profile of a person that matches the specified person identifier.",
                "title": "findEligibleSections",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Finds all profiles that match the primary key criteria specified.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  }
                }
              },
              {
                "name": "findLatestProfileItemForORC",
                "description": "Finds the most recent item for the education, certification, and work experience section and all the items for language, skill, and work preference section from the person profile type content sections that are subscribed by Recruiting.",
                "title": "findLatestProfileItemForORC",
                "properties": {
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the person.",
                    "type": "integer"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-get",
        "x-filename-id": "talentpersonprofiles-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles"
        ],
        "summary": "Create a person profile",
        "operationId": "create_talentPersonProfiles",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-item-response"
                }
              }
            },
            "links": {
              "skillSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1skillSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The skillSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured skill sections for a person."
              },
              "attachments": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1attachments/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The attachments resource is a child of talentPersonProfiles resource. It provides all the attachments for a worker profile."
              },
              "areasOfExpertise": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areasOfExpertise/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areasOfExpertise resource is the child of the talentPersonProfiles resource. It provides the list of expertise items for a person."
              },
              "specialProjectSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1specialProjectSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The specialProjectSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured special project sections for a person."
              },
              "accomplishmentSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1accomplishmentSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The accomplishmentSections resource is the child of the talentPersonProfiles resource. It provides the list of secured accomplishment sections for a person."
              },
              "honorSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1honorSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The honorSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured honor sections for a person."
              },
              "careersOfInterest": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careersOfInterest/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careersOfInterest resource includes a list of all the careers of interest associated with a person."
              },
              "highestEducationLvlSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1highestEducationLvlSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The highestEducationLvlSections resource is the child of the talentPersonProfiles resource. It provides the list of secured highest education level sections for a person."
              },
              "membershipSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1membershipSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The membershipSections resource is the child of the talentPersonProfiles resource. It provides the list of secured membership sections for a person."
              },
              "favoriteLinks": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1favoriteLinks/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The favoriteLinks resource is the child of the talentPersonProfiles resource. It provides the favorite links for a person."
              },
              "languageSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1languageSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The languageSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured language sections for a person."
              },
              "certificationSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1certificationSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The certificationSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured certification sections for a person."
              },
              "publicSkills": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1publicSkills/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The publicSkills resource is the child of the talentPersonProfiles resource. It provides a list of the skill items for the skill content subscribed by the skill center. This resource is currently under controlled availability."
              },
              "technicalPostDetailsSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1technicalPostDetailsSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The technicalPostDetailsSections resource is the child of the talentPersonProfiles resource. It provides the list of secured technical post details sections for a person."
              },
              "educationLvlSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationLvlSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationLvlSections resource is the child of the talentPersonProfiles resource. It provides the list of secured education level sections for a person."
              },
              "careerPreferenceSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerPreferenceSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careerPreferenceSections resource is the child of the talentPersonProfiles resource. It provides the list of secured career preference sections for a person."
              },
              "areasOfInterest": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areasOfInterest/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areasOfInterest resource is the child of the talentPersonProfiles resource. It provides the list of interests for a person."
              },
              "competencySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1competencySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The competencySections resource is the child of the talentPersonProfiles resource. It provides the list of the secured competency sections for a person."
              },
              "careerStatements": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1careerStatements/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The careerStatements resource includes the career statement associated with a person."
              },
              "educationSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1educationSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The educationSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured education sections for a person."
              },
              "tags": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1tags/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The tags resource is the child of the talentPersonProfiles resource. It provides the list of the tags associated with a person profile."
              },
              "workPreferenceSections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workPreferenceSections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The workPreferenceSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured work preference sections for a person."
              },
              "areaOfStudySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1areaOfStudySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The areaOfStudySections resource is the child of the talentPersonProfiles resource. It provides the list of secured area of study sections for a person."
              },
              "workHistorySections": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workHistorySections/get",
                "parameters": {
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                },
                "description": "The workHistorySections resource is the child of the talentPersonProfiles resource. It provides the list of the secured work history sections for a person."
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-post",
        "x-filename-id": "talentpersonprofiles-post"
      }
    }
  },
  "components": {
    "schemas": {
      "talentPersonProfiles-item-response": {
        "type": "object",
        "properties": {
          "CareerAmbassadorFlag": {
            "title": "Career Ambassador",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the person is a career ambassador or not. Valid values are true and false. The default value is false.",
            "nullable": true,
            "x-queryable": true
          },
          "CareerAmbassadorSummary": {
            "title": "Career Ambassador Summary",
            "maxLength": 4000,
            "type": "string",
            "description": "Summary of why the person wants to enroll as a career ambassador.",
            "nullable": true,
            "x-queryable": true
          },
          "CreatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who created the profile.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date and time when the profile was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "DisplayName": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Display name for the person.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date and time when the profile was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the profile.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "title": "Person",
            "type": "integer",
            "description": "Surrogate identifier for the person.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Unique number assigned to a person.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "ProfileCode": {
            "title": "Profile Code",
            "maxLength": 30,
            "type": "string",
            "description": "Code assigned to a person profile to identify the profile uniquely.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "StatusCode": {
            "maxLength": 8,
            "type": "string",
            "description": "Unsupported attribute. Don't use it in your transactions.",
            "nullable": true,
            "x-queryable": true
          },
          "Summary": {
            "title": "Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Summary of a person profile.",
            "nullable": true,
            "x-queryable": true
          },
          "accomplishmentSections": {
            "title": "Accomplishment Sections",
            "type": "array",
            "description": "The accomplishmentSections resource is the child of the talentPersonProfiles resource. It provides the list of secured accomplishment sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-accomplishmentSections-item-response"
            }
          },
          "areaOfStudySections": {
            "title": "Area of Study Sections",
            "type": "array",
            "description": "The areaOfStudySections resource is the child of the talentPersonProfiles resource. It provides the list of secured area of study sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-areaOfStudySections-item-response"
            }
          },
          "areasOfExpertise": {
            "title": "Areas of Expertise",
            "type": "array",
            "description": "The areasOfExpertise resource is the child of the talentPersonProfiles resource. It provides the list of expertise items for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-areasOfExpertise-item-response"
            },
            "x-cardinality": "1"
          },
          "areasOfInterest": {
            "title": "Areas of Interest",
            "type": "array",
            "description": "The areasOfInterest resource is the child of the talentPersonProfiles resource. It provides the list of interests for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-areasOfInterest-item-response"
            },
            "x-cardinality": "1"
          },
          "attachments": {
            "title": "Attachments",
            "type": "array",
            "description": "The attachments resource is a child of talentPersonProfiles resource. It provides all the attachments for a worker profile.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-attachments-item-response"
            }
          },
          "careerPreferenceSections": {
            "title": "Career Preference Sections",
            "type": "array",
            "description": "The careerPreferenceSections resource is the child of the talentPersonProfiles resource. It provides the list of secured career preference sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-careerPreferenceSections-item-response"
            }
          },
          "careerStatements": {
            "title": "Career Statements",
            "type": "array",
            "description": "The careerStatements resource includes the career statement associated with a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-careerStatements-item-response"
            },
            "x-cardinality": "1"
          },
          "careersOfInterest": {
            "title": "Careers of Interest",
            "type": "array",
            "description": "The careersOfInterest resource includes a list of all the careers of interest associated with a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-careersOfInterest-item-response"
            }
          },
          "certificationSections": {
            "title": "Certification Sections",
            "type": "array",
            "description": "The certificationSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured certification sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-certificationSections-item-response"
            }
          },
          "competencySections": {
            "title": "Competency Sections",
            "type": "array",
            "description": "The competencySections resource is the child of the talentPersonProfiles resource. It provides the list of the secured competency sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-competencySections-item-response"
            }
          },
          "educationLvlSections": {
            "title": "Education Level Sections",
            "type": "array",
            "description": "The educationLvlSections resource is the child of the talentPersonProfiles resource. It provides the list of secured education level sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-educationLvlSections-item-response"
            }
          },
          "educationSections": {
            "title": "Education Sections",
            "type": "array",
            "description": "The educationSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured education sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-educationSections-item-response"
            }
          },
          "favoriteLinks": {
            "title": "Favorite Links",
            "type": "array",
            "description": "The favoriteLinks resource is the child of the talentPersonProfiles resource. It provides the favorite links for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-favoriteLinks-item-response"
            }
          },
          "highestEducationLvlSections": {
            "title": "Highest Education Level Sections",
            "type": "array",
            "description": "The highestEducationLvlSections resource is the child of the talentPersonProfiles resource. It provides the list of secured highest education level sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-highestEducationLvlSections-item-response"
            }
          },
          "honorSections": {
            "title": "Honor Sections",
            "type": "array",
            "description": "The honorSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured honor sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-honorSections-item-response"
            }
          },
          "languageSections": {
            "title": "Language Sections",
            "type": "array",
            "description": "The languageSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured language sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-languageSections-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "membershipSections": {
            "title": "Membership Sections",
            "type": "array",
            "description": "The membershipSections resource is the child of the talentPersonProfiles resource. It provides the list of secured membership sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-membershipSections-item-response"
            }
          },
          "publicSkills": {
            "title": "Public Skills",
            "type": "array",
            "description": "The publicSkills resource is the child of the talentPersonProfiles resource. It provides a list of the skill items for the skill content subscribed by the skill center. This resource is currently under controlled availability.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-publicSkills-item-response"
            }
          },
          "skillSections": {
            "title": "Skill Sections",
            "type": "array",
            "description": "The skillSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured skill sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-skillSections-item-response"
            }
          },
          "specialProjectSections": {
            "title": "Special Project Sections",
            "type": "array",
            "description": "The specialProjectSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured special project sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-specialProjectSections-item-response"
            }
          },
          "tags": {
            "title": "Tags",
            "type": "array",
            "description": "The tags resource is the child of the talentPersonProfiles resource. It provides the list of the tags associated with a person profile.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-tags-item-response"
            }
          },
          "technicalPostDetailsSections": {
            "title": "Technical Post Details Sections",
            "type": "array",
            "description": "The technicalPostDetailsSections resource is the child of the talentPersonProfiles resource. It provides the list of secured technical post details sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-technicalPostDetailsSections-item-response"
            }
          },
          "workHistorySections": {
            "title": "Work History Sections",
            "type": "array",
            "description": "The workHistorySections resource is the child of the talentPersonProfiles resource. It provides the list of the secured work history sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-workHistorySections-item-response"
            }
          },
          "workPreferenceSections": {
            "title": "Work Preference Sections",
            "type": "array",
            "description": "The workPreferenceSections resource is the child of the talentPersonProfiles resource. It provides the list of the secured work preference sections for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-workPreferenceSections-item-response"
            }
          }
        }
      },
      "talentPersonProfiles-accomplishmentSections-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the content section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the content section was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the content section was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the content section.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "ProfileSectionId": {
            "title": "Profile Section ID",
            "type": "integer",
            "description": "Unique identifier of the content section associated with the profile.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SectionContext": {
            "title": "Section Context",
            "maxLength": 300,
            "type": "string",
            "description": "Code of the content section. Valid values are defined in the profileTypeSectionsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "SectionId": {
            "title": "Section ID",
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SectionName": {
            "title": "Section Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the section. Valid values are defined in the profileTypeSectionsLOV.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "accomplishmentItems": {
            "title": "Accomplishment Items",
            "type": "array",
            "description": "The accomplishmentItems resource is the child of the accomplishmentSections resource. It provides the list of accomplishment items within an accomplishment section for a person.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-accomplishmentSections-accomplishmentItems-item-response"
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "talentPersonProfiles-accomplishmentSections-accomplishmentItems-item-response": {
        "type": "object",
        "properties": {
          "Accomplishment": {
            "title": "Accomplishment",
            "maxLength": 240,
            "type": "string",
            "description": "Accomplishment of a person.",
            "nullable": true,
            "x-queryable": true
          },
          "AccomplishmentId": {
            "title": "Accomplishment ID",
            "type": "integer",
            "description": "Surrogate identifier for the person accomplishment.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "AccomplishmentLocation": {
            "title": "Accomplishment Location",
            "maxLength": 240,
            "type": "string",
            "description": "Location of the accomplishment of a person.",
            "nullable": true,
            "x-queryable": false
          },
          "AccomplishmentType": {
            "title": "Type of Accomplishment Code",
            "maxLength": 30,
            "type": "string",
            "description": "Type of accomplishment, such as proficiency or performance. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "AccomplishmentTypeMeaning": {
            "title": "Type of Accomplishment",
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of the accomplishment type.",
            "nullable": true,
            "x-queryable": true
          },
          "AuthorOrInventor": {
            "title": "Authors or Inventors",
            "maxLength": 240,
            "type": "string",
            "description": "Author or inventor of the accomplishment.",
            "nullable": true,
            "x-queryable": false
          },
          "Comments": {
            "title": "Comments",
            "type": "string",
            "description": "Comments on the accomplishment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the content item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the content item was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "DateAccomplished": {
            "title": "Date Accomplished",
            "type": "string",
            "description": "Date on which the accomplishment was achieved.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the accomplishment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": true
          },
          "Establishment": {
            "title": "Establishment",
            "type": "string",
            "description": "Name of the establishment. Valid values are defined in the contentItemsLov.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "EstablishmentId": {
            "title": "Establishment ID",
            "type": "integer",
            "description": "Unique identifier of the establishment.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Date on which the accomplishment expires.",
            "format": "date",
            "nullable": true,
            "x-queryable": false
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the content item was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the content item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Organization": {
            "title": "Organization",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the organization.",
            "nullable": true,
            "x-queryable": false
          },
          "OtherEstablishment": {
            "title": "Other Establishment",
            "maxLength": 2000,
            "type": "string",
            "description": "Name of the other establishment.",
            "nullable": true,
            "x-queryable": false
          },
          "PatentIssued": {
            "title": "Patent Issued",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the patent is issued. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "PatentIssuedMeaning": {
            "title": "Patent Issued",
            "maxLength": 255,
            "type": "string",
            "description": "Represent whether any patent was issued for the accomplishment item.",
            "nullable": true,
            "x-queryable": true
          },
          "PatentOrApplicationNumber": {
            "title": "Patent or Application Number",
            "maxLength": 240,
            "type": "string",
            "description": "Patent or application number associated with the accomplishment.",
            "nullable": true,
            "x-queryable": false
          },
          "PatentPending": {
            "title": "Patent Pending",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the patent is pending approval. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "PatentPendingMeaning": {
            "title": "Patent Pending",
            "maxLength": 255,
            "type": "string",
            "description": "Represent whether any patent is pending for the accomplishment item.",
            "nullable": true,
            "x-queryable": true
          },
          "PatentURL": {
            "title": "Patent or Publication URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL that directs to the patent.",
            "nullable": true,
            "x-queryable": false
          },
          "PrimaryAuthor": {
            "title": "Primary Author",
            "maxLength": 30,
            "type": "string",
            "description": "Primary author of the accomplishment. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "PrimaryAuthorMeaning": {
            "title": "Primary Author",
            "maxLength": 255,
            "type": "string",
            "description": "Represent whether user is a primary author.",
            "nullable": true,
            "x-queryable": true
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PublisherOrPublication": {
            "title": "Publisher or Publication",
            "maxLength": 240,
            "type": "string",
            "description": "Publisher or publication of the accomplishment.",
            "nullable": true,
            "x-queryable": false
          },
          "RelatedItemFlag": {
            "title": "Related Item",
            "maxLength": 30,
            "type": "boolean",
            "description": "Attribute specific to learning outcome. Indicates whether the accomplishment item doesn't need to be copied to the learner's talent profiles after completion of the course or specialization. Valid values are Y and N.",
            "nullable": true,
            "x-queryable": true
          },
          "SectionId": {
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Source": {
[...]
