{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Talent Person Profiles/Work History Sections/Work History Items",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/workHistorySections/{ProfileSectionId1}/child/workHistoryItems": {
      "get": {
        "tags": [
          "Talent Person Profiles/Work History Sections/Work History Items"
        ],
        "summary": "Get all work history items",
        "operationId": "getall_talentPersonProfiles-workHistorySections-workHistoryItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CurrentJob; string; Indicates whether the job is current. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.</li><li>EmployerCountry; string; Country of the employer. Valid values are defined in the hcmCountriesLOV.</li><li>EmployerName; string; Name of the employer.</li><li>EndDate; string; End date of the profile item record.</li><li>JobTitle; string; Title of the Job.</li><li>ProfileId; integer; Surrogate identifier for the person profile.</li><li>SectionId; integer; Unique identifier of the content section.</li><li>Source; string; Source of the work history item.</li><li>SourceType; string; Code representing the source of work history item.</li><li>StartDate; string; Start date of the profile item record.</li><li>WorkHistoryId; integer; Unique identifier for work history.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the work history items that match the primary key criteria specified. <br>Finder Variables <ul><li>WorkHistoryId; integer;  Surrogate identifier for the work history item. </li></ul></li><li>RowFinder Finds all the work history items for the specified unique key. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>WorkHistoryId; integer;  Surrogate identifier for the work history item. </li></ul></li><li>findByProfileIdAndSectionId Finds all work history items that match the specified profile and section identifier. <br>Finder Variables <ul><li>ProfileId; integer;  Surrogate identifier for the person profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLatestItemForRAC Finds all the latest work history items for recruiting activity center flow for the specified profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li><li>findLinkedInProfileItems Finds all the person work history items for all work history sections that are enabled for LinkedIn import. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li></ul></li><li>findPendingItemsByProfileId Finds all the work history items that are pending for approvals for the specified person profile. <br>Finder Variables <ul><li>ProfileId; integer;  Unique identifier of the profile. </li><li>SectionId; integer;  Unique identifier of the content section. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the work history items that match the primary key criteria specified.",
                "properties": {
                  "WorkHistoryId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the work history item.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Work History ID"
                  }
                }
              },
              {
                "name": "RowFinder",
                "description": "Finds all the work history items for the specified unique key.",
                "title": "rowFinder",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "WorkHistoryId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Surrogate identifier for the work history item.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByProfileIdAndSectionId",
                "description": "Finds all work history items that match the specified profile and section identifier.",
                "title": "findByProfileIdAndSectionId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the person profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLatestItemForRAC",
                "description": "Finds all the latest work history items for recruiting activity center flow for the specified profile.",
                "title": "findLatestItemForRAC",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findLinkedInProfileItems",
                "description": "Finds all the person work history items for all work history sections that are enabled for LinkedIn import.",
                "title": "findLinkedInProfileItem",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findPendingItemsByProfileId",
                "description": "Finds all the work history items that are pending for approvals for the specified person profile.",
                "title": "findPendingItemsByProfileId",
                "properties": {
                  "ProfileId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier of the profile.",
                    "type": "integer"
                  },
                  "SectionId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier of the content section.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-workHistorySections-workHistoryItems"
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-workHistorySections-{ProfileSectionId1}-child-workHistoryItems-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-workhistorysections-profilesectionid1-child-workhistoryitems-get"
      },
      "post": {
        "tags": [
          "Talent Person Profiles/Work History Sections/Work History Items"
        ],
        "summary": "Create a work history item",
        "operationId": "create_talentPersonProfiles-workHistorySections-workHistoryItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-workHistorySections-workHistoryItems-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-workHistorySections-workHistoryItems-item-response"
                }
              }
            },
            "links": {
              "workHistoryItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workHistorySections~1{ProfileSectionId1}~1child~1workHistoryItems~1{workHistoryItemsUniqID}~1child~1workHistoryItemsDFF/get",
                "parameters": {
                  "ProfileSectionId15": "$request.path.ProfileSectionId15",
                  "workHistoryItemsUniqID": "$request.path.workHistoryItemsUniqID",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "currentJobsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{CurrentJobFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrentJob; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrentJob",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "jobFamilyCodesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFamilyCode; Target Attribute: JobFamilyCode</li><li>Display Attribute: JobFamilyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFamilyCode",
                  "displayValues": [
                    "JobFamilyName"
                  ],
                  "derivedFieldsMapping": {
                    "jobFamiliesLov.JobFamilyId": [
                      "JobFamilyId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobFamilyCode",
                  "displayFields": [
                    "JobFamilyName"
                  ]
                }
              },
              "okToContactSupervisorLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ContactSupervisorFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OkToContactSupervisor; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OkToContactSupervisor",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "internalsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{InternalFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Internal; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Internal",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "partTimeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{FullTimeCodeLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PartTime; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PartTime",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "employerCountriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EmployerCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EmployerCountry",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "jobFunctionsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{JobFunctionLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFunction; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFunction",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "JobFunctionMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-workHistorySections-{ProfileSectionId1}-child-workHistoryItems-post",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-workhistorysections-profilesectionid1-child-workhistoryitems-post"
      }
    },
    "/talentPersonProfiles/{talentPersonProfilesUniqID}/child/workHistorySections/{ProfileSectionId1}/child/workHistoryItems/{workHistoryItemsUniqID}": {
      "get": {
        "tags": [
          "Talent Person Profiles/Work History Sections/Work History Items"
        ],
        "summary": "Get work history item",
        "operationId": "get_talentPersonProfiles-workHistorySections-workHistoryItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workHistoryItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Work History Items resource and used to uniquely identify an instance of Work History Items. The client should not generate the hash key value. Instead, the client should query on the Work History Items collection resource in order to navigate to a specific instance of Work History Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-workHistorySections-workHistoryItems-item-response"
                }
              }
            },
            "links": {
              "workHistoryItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workHistorySections~1{ProfileSectionId1}~1child~1workHistoryItems~1{workHistoryItemsUniqID}~1child~1workHistoryItemsDFF/get",
                "parameters": {
                  "ProfileSectionId15": "$request.path.ProfileSectionId15",
                  "workHistoryItemsUniqID": "$request.path.workHistoryItemsUniqID",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "currentJobsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{CurrentJobFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrentJob; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrentJob",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "jobFamilyCodesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFamilyCode; Target Attribute: JobFamilyCode</li><li>Display Attribute: JobFamilyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFamilyCode",
                  "displayValues": [
                    "JobFamilyName"
                  ],
                  "derivedFieldsMapping": {
                    "jobFamiliesLov.JobFamilyId": [
                      "JobFamilyId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobFamilyCode",
                  "displayFields": [
                    "JobFamilyName"
                  ]
                }
              },
              "okToContactSupervisorLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ContactSupervisorFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OkToContactSupervisor; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OkToContactSupervisor",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "internalsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{InternalFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Internal; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Internal",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "partTimeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{FullTimeCodeLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PartTime; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PartTime",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "employerCountriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EmployerCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EmployerCountry",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "jobFunctionsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{JobFunctionLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFunction; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFunction",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "JobFunctionMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-workHistorySections-{ProfileSectionId1}-child-workHistoryItems-{workHistoryItemsUniqID}-get",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-workhistorysections-profilesectionid1-child-workhistoryitems-workhistoryitemsuniqid-get"
      },
      "delete": {
        "tags": [
          "Talent Person Profiles/Work History Sections/Work History Items"
        ],
        "summary": "Delete a work history item",
        "operationId": "delete_talentPersonProfiles-workHistorySections-workHistoryItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workHistoryItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Work History Items resource and used to uniquely identify an instance of Work History Items. The client should not generate the hash key value. Instead, the client should query on the Work History Items collection resource in order to navigate to a specific instance of Work History Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-workHistorySections-{ProfileSectionId1}-child-workHistoryItems-{workHistoryItemsUniqID}-delete",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-workhistorysections-profilesectionid1-child-workhistoryitems-workhistoryitemsuniqid-delete"
      },
      "patch": {
        "tags": [
          "Talent Person Profiles/Work History Sections/Work History Items"
        ],
        "summary": "Update a work history item",
        "operationId": "update_talentPersonProfiles-workHistorySections-workHistoryItems",
        "parameters": [
          {
            "name": "talentPersonProfilesUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Talent Person Profiles resource and used to uniquely identify an instance of Talent Person Profiles. The client should not generate the hash key value. Instead, the client should query on the Talent Person Profiles collection resource in order to navigate to a specific instance of Talent Person Profiles to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ProfileSectionId1",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workHistoryItemsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Work History Items resource and used to uniquely identify an instance of Work History Items. The client should not generate the hash key value. Instead, the client should query on the Work History Items collection resource in order to navigate to a specific instance of Work History Items to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/talentPersonProfiles-workHistorySections-workHistoryItems-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/talentPersonProfiles-workHistorySections-workHistoryItems-item-response"
                }
              }
            },
            "links": {
              "workHistoryItemsDFF": {
                "operationRef": "#/paths/~1talentPersonProfiles~1{talentPersonProfilesUniqID}~1child~1workHistorySections~1{ProfileSectionId1}~1child~1workHistoryItems~1{workHistoryItemsUniqID}~1child~1workHistoryItemsDFF/get",
                "parameters": {
                  "ProfileSectionId15": "$request.path.ProfileSectionId15",
                  "workHistoryItemsUniqID": "$request.path.workHistoryItemsUniqID",
                  "talentPersonProfilesUniqID": "$request.path.talentPersonProfilesUniqID"
                }
              },
              "currentJobsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{CurrentJobFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: CurrentJob; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/CurrentJob",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "jobFamilyCodesLOV": {
                "operationRef": "#/paths/~1jobFamiliesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFamilyCode; Target Attribute: JobFamilyCode</li><li>Display Attribute: JobFamilyName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFamilyCode",
                  "displayValues": [
                    "JobFamilyName"
                  ],
                  "derivedFieldsMapping": {
                    "jobFamiliesLov.JobFamilyId": [
                      "JobFamilyId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "JobFamilyCode",
                  "displayFields": [
                    "JobFamilyName"
                  ]
                }
              },
              "okToContactSupervisorLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{ContactSupervisorFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: OkToContactSupervisor; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/OkToContactSupervisor",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "internalsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{InternalFlagLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Internal; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Internal",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "partTimeLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{FullTimeCodeLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: PartTime; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/PartTime",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "employerCountriesLOV": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: EmployerCountry; Target Attribute: TerritoryCode</li><li>Display Attribute: CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/EmployerCountry",
                  "displayValues": [
                    "CountryName"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "CountryName"
                  ]
                }
              },
              "jobFunctionsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3D{JobFunctionLkpName}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: JobFunction; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/JobFunction",
                  "displayValues": [
                    "Meaning"
                  ],
                  "derivedFieldsMapping": {
                    "commonLookupsLOV.Meaning": [
                      "JobFunctionMeaning"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "talentPersonProfiles-{talentPersonProfilesUniqID}-child-workHistorySections-{ProfileSectionId1}-child-workHistoryItems-{workHistoryItemsUniqID}-patch",
        "x-filename-id": "talentpersonprofiles-talentpersonprofilesuniqid-child-workhistorysections-profilesectionid1-child-workhistoryitems-workhistoryitemsuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "talentPersonProfiles-workHistorySections-workHistoryItems": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-workHistorySections-workHistoryItems-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "talentPersonProfiles-workHistorySections-workHistoryItems-item-response": {
        "type": "object",
        "properties": {
          "Achievements": {
            "title": "Achievements",
            "type": "string",
            "description": "Achievements in the previous employment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AdditionalInformation": {
            "title": "Additional Information",
            "type": "string",
            "description": "Additional information on the previous employment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "CompanyURL": {
            "title": "Company URL",
            "maxLength": 2000,
            "type": "string",
            "description": "URL linked to the previous employment.",
            "nullable": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the work history item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the work history item was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "CurrentJob": {
            "title": "Current Job",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the job is current. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "DepartmentOrDivisionOrPost": {
            "title": "Department or Division or Post",
            "maxLength": 240,
            "type": "string",
            "description": "Department, division, or post attributed to the previous employment.",
            "nullable": true,
            "x-queryable": false
          },
          "DirectReports": {
            "title": "Direct Reports",
            "type": "integer",
            "description": "Number of direct reports in the previous employment.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "EmployerCity": {
            "title": "Employer City",
            "maxLength": 240,
            "type": "string",
            "description": "City of the employer.",
            "nullable": true,
            "x-queryable": false
          },
          "EmployerCountry": {
            "title": "Employer Country Code",
            "maxLength": 30,
            "type": "string",
            "description": "Country of the employer. Valid values are defined in the hcmCountriesLOV.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "EmployerName": {
            "title": "Employer Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the employer.",
            "nullable": true,
            "x-queryable": true
          },
          "EmployerPhone": {
            "title": "Employer Phone",
            "maxLength": 240,
            "type": "string",
            "description": "Phone number of the employer.",
            "nullable": true,
            "x-queryable": false
          },
          "EmployerStateOrProvince": {
            "title": "Employer State or Province Code",
            "maxLength": 360,
            "type": "string",
            "description": "State or province of the employer. Valid values are defined in the hcmAddressesLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "EndDate": {
            "title": "End Date",
            "type": "string",
            "description": "End date of the profile item record.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "EndingCompensation": {
            "title": "Ending Compensation",
            "type": "number",
            "description": "Ending compensation at previous employment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "Internal": {
            "title": "Internal Code",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the work history item is internal. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "JobFamilyCode": {
            "title": "Job Family Code",
            "type": "string",
            "description": "Code of the job family the previous employment is associated with. Valid values are defined in the jobFamiliesLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "JobFamilyId": {
            "title": "Job Family ID",
            "type": "integer",
            "description": "Job family associated with the previous employment.",
            "format": "int64",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "JobFunction": {
            "title": "Job Function Code",
            "maxLength": 30,
            "type": "string",
            "description": "Job function of the previous employment. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "JobFunctionMeaning": {
            "title": "Job Function",
            "maxLength": 255,
            "type": "string",
            "description": "Meaning of the job function of previous employment.",
            "nullable": true,
            "x-queryable": false
          },
          "JobTitle": {
            "title": "Job Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the Job.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the work history item was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the work history item.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "OkToContactSupervisor": {
            "title": "OK to Contact Supervisor",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the supervisor can be contacted. Valid values are Y and N. Valid values are defined in commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "OtherCompensation": {
            "title": "Other Compensation",
            "maxLength": 240,
            "type": "string",
            "description": "Other form of compensation.",
            "nullable": true,
            "x-queryable": false
          },
          "OtherJobFunction": {
            "title": "Other Job Function",
            "maxLength": 240,
            "type": "string",
            "description": "Other job functions associated with the previous employment.",
            "nullable": true,
            "x-queryable": false
          },
          "PartTime": {
            "title": "Part Time",
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether the employment was part time. Valid values are Y and N. Valid values are defined in the commonLookupsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "ProfileId": {
            "type": "integer",
            "description": "Surrogate identifier for the person profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ReasonforLeaving": {
            "title": "Reason for Leaving",
            "type": "string",
            "description": "Reason for leaving the previous employment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "Responsibilities": {
            "title": "Responsibilities",
            "type": "string",
            "description": "Responsibilities in the previous employment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "SectionId": {
            "type": "integer",
            "description": "Unique identifier of the content section.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Source": {
            "title": "Source",
            "maxLength": 255,
            "type": "string",
            "description": "Source of the work history item.",
            "nullable": true,
            "readOnly": true,
            "default": "Talent Profile",
            "x-queryable": true
          },
          "SourceType": {
            "maxLength": 30,
            "type": "string",
            "description": "Code representing the source of work history item.",
            "nullable": true,
            "x-queryable": true
          },
          "StartDate": {
            "title": "Start Date",
            "type": "string",
            "description": "Start date of the profile item record.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "StartingCompensation": {
            "title": "Starting Compensation",
            "type": "number",
            "description": "Starting compensation in the previous employment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 15,
              "scale": 2
            }
          },
          "StartingPosition": {
            "title": "Starting Position",
            "maxLength": 240,
            "type": "string",
            "description": "Starting position in the previous employment.",
            "nullable": true,
            "x-queryable": false
          },
          "SupervisorEmail": {
            "title": "Supervisor Email",
            "maxLength": 240,
            "type": "string",
            "description": "Email of the supervisor.",
            "nullable": true,
            "x-queryable": false
          },
          "SupervisorName": {
            "title": "Supervisor Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the supervisor.",
            "nullable": true,
            "x-queryable": false
          },
          "SupervisorPhone": {
            "title": "Supervisor Phone",
            "maxLength": 240,
            "type": "string",
            "description": "Phone number of the supervisor.",
            "nullable": true,
            "x-queryable": false
          },
          "SupervisorTitle": {
            "title": "Supervisor Title",
            "maxLength": 240,
            "type": "string",
            "description": "Title of the supervisor.",
            "nullable": true,
            "x-queryable": false
          },
          "TypeofBusiness": {
            "title": "Type of Business",
            "maxLength": 240,
            "type": "string",
            "description": "Type of business of the employer.",
            "nullable": true,
            "x-queryable": false
          },
          "WorkHistoryId": {
            "title": "Work History ID",
            "type": "integer",
            "description": "Unique identifier for work history.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "workHistoryItemsDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/talentPersonProfiles-workHistorySections-workHistoryItems-workHistoryItemsDFF-item-response"
            },
            "x-cardinality": "1"
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "talentPersonProfiles-workHistorySections-workHistoryItems-workHistoryItemsDFF-item-response": {
        "discriminator": {
          "propertyName": "__FLEX_Context",
          "mapping": {
            "JOB_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemJOB__5FCRITICALITYVO-item-response",
            "ORGANIZATION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemORGANIZATION__5FCRITICALITYVO-item-response",
            "PERSON_CAREER_STATEMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCAREER__5FSTATEMENTVO-item-response",
            "PERSON_CATEGORY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCATEGORYVO-item-response",
            "PERSON_COMPONENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCOMPONENTVO-item-response",
            "PERSON_N_BOX_ASSIGNMENT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response",
            "PERSON_PERFORMANCE_RATING": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response",
            "PERSON_PLATFORM": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPLATFORMVO-item-response",
            "PERSON_POTENTIAL": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPOTENTIALVO-item-response",
            "PERSON_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_PRODUCT": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPRODUCTVO-item-response",
            "PERSON_PRODUCT_PROBLEM_CODE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response",
            "PERSON_READINESS": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FREADINESSVO-item-response",
            "PERSON_RISK": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FRISKVO-item-response",
            "PERSON_TALENT_SCORE": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FTALENT__5FSCOREVO-item-response",
            "POSITION_CRITICALITY": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPOSITION__5FCRITICALITYVO-item-response"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemJOB__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemORGANIZATION__5FCRITICALITYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCAREER__5FSTATEMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCATEGORYVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCOMPONENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPERFORMANCE__5FRATINGVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPLATFORMVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPOTENTIALVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPRODUCTVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FPRODUCT__5FPROBLEM__5FCODEVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FREADINESSVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FRISKVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FTALENT__5FSCOREVO-item-response"
          },
          {
            "$ref": "#/components/schemas/oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPOSITION__5FCRITICALITYVO-item-response"
          }
        ]
      },
      "oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemJOB__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "PrevEmploymentId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "JOB_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemORGANIZATION__5FCRITICALITYVO-item-response": {
        "type": "object",
        "properties": {
          "PrevEmploymentId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "ORGANIZATION_CRITICALITY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCAREER__5FSTATEMENTVO-item-response": {
        "type": "object",
        "properties": {
          "PrevEmploymentId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CAREER_STATEMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCATEGORYVO-item-response": {
        "type": "object",
        "properties": {
          "PrevEmploymentId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_CATEGORY",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FCOMPONENTVO-item-response": {
        "type": "object",
        "properties": {
          "PrevEmploymentId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_COMPONENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "oracle_apps_flex_hcm_profiles_core_prevEmploymentItem_view_PrevEmploymentItemPERSON__5FN__5FBOX__5FASSIGNMENTVO-item-response": {
        "type": "object",
        "properties": {
          "PrevEmploymentId": {
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 80,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "default": "PERSON_N_BOX_ASSIGNMENT",
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
[...]
