{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Time Record Event Requests",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/timeRecordEventRequests/{timeRecordEventRequestId}": {
      "get": {
        "tags": [
          "Time Record Event Requests"
        ],
        "summary": "Get a time record event request",
        "operationId": "get_timeRecordEventRequests",
        "parameters": [
          {
            "name": "timeRecordEventRequestId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the time record event request.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeRecordEventRequests-item-response"
                }
              }
            },
            "links": {
              "timeRecordEvent": {
                "operationRef": "#/paths/~1timeRecordEventRequests~1{timeRecordEventRequestId}~1child~1timeRecordEvent/get",
                "parameters": {
                  "timeRecordEventRequestId": "$request.path.timeRecordEventRequestId"
                },
                "description": "The timeRecordEvents resource is a child of the timeRecordEventRequests resource. It's a unique identifier for a time record event sent using the time records REST API. It corresponds to a time record to post in the repository. It's a range expressed as start and stop times or a quantity in hours or units, along with the associated attribution that details the kind of work performed."
              }
            }
          }
        },
        "x-internal-id": "timeRecordEventRequests-{timeRecordEventRequestId}-get",
        "x-filename-id": "timerecordeventrequests-timerecordeventrequestid-get"
      }
    },
    "/timeRecordEventRequests": {
      "get": {
        "tags": [
          "Time Record Event Requests"
        ],
        "summary": "Get all time record event requests",
        "operationId": "getall_timeRecordEventRequests",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>processInline; string; Indicates whether to process the time record events inline or asynchronously.</li><li>processMode; string; Mode--Save, Submit, or Enter--for processing time records stored in the WFM time repository.</li><li>timeRecordEventRequestId; integer; Unique identifier for the time record event request.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a time record event request using its unique identifier. <br>Finder Variables <ul><li>timeRecordEventRequestId; integer;  Unique identifier for the time record event request. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a time record event request using its unique identifier.",
                "properties": {
                  "timeRecordEventRequestId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18,
                      "fnd:GLOBALLY_UNIQUE": "true"
                    },
                    "format": "int64",
                    "description": "Unique identifier for the time record event request.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeRecordEventRequests"
                }
              }
            }
          }
        },
        "x-internal-id": "timeRecordEventRequests-get",
        "x-filename-id": "timerecordeventrequests-get"
      },
      "post": {
        "tags": [
          "Time Record Event Requests"
        ],
        "summary": "Create a time record event request",
        "operationId": "create_timeRecordEventRequests",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/timeRecordEventRequests-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeRecordEventRequests-item-response"
                }
              }
            },
            "links": {
              "timeRecordEvent": {
                "operationRef": "#/paths/~1timeRecordEventRequests~1{timeRecordEventRequestId}~1child~1timeRecordEvent/get",
                "parameters": {
                  "timeRecordEventRequestId": "$request.path.timeRecordEventRequestId"
                },
                "description": "The timeRecordEvents resource is a child of the timeRecordEventRequests resource. It's a unique identifier for a time record event sent using the time records REST API. It corresponds to a time record to post in the repository. It's a range expressed as start and stop times or a quantity in hours or units, along with the associated attribution that details the kind of work performed."
              }
            }
          }
        },
        "x-internal-id": "timeRecordEventRequests-post",
        "x-filename-id": "timerecordeventrequests-post"
      }
    }
  },
  "components": {
    "schemas": {
      "timeRecordEventRequests-item-response": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "processInline": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether to process the time record events inline or asynchronously.",
            "nullable": true,
            "x-queryable": true
          },
          "processMode": {
            "maxLength": 20,
            "type": "string",
            "description": "Mode--Save, Submit, or Enter--for processing time records stored in the WFM time repository.",
            "nullable": true,
            "x-queryable": true
          },
          "timeRecordEvent": {
            "title": "Time Record Events",
            "type": "array",
            "description": "The timeRecordEvents resource is a child of the timeRecordEventRequests resource. It's a unique identifier for a time record event sent using the time records REST API. It corresponds to a time record to post in the repository. It's a range expressed as start and stop times or a quantity in hours or units, along with the associated attribution that details the kind of work performed.",
            "items": {
              "$ref": "#/components/schemas/timeRecordEventRequests-timeRecordEvent-item-response"
            }
          },
          "timeRecordEventRequestId": {
            "type": "integer",
            "description": "Unique identifier for the time record event request.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "timeRecordEventRequests-timeRecordEvent-item-response": {
        "type": "object",
        "properties": {
          "assignmentNumber": {
            "type": "string",
            "description": "Assignment number for the person associated with the time record event. Valid values are defined in the AssignmentPVO1 lookup type.",
            "nullable": true,
            "x-queryable": true
          },
          "changeReason": {
            "maxLength": 64,
            "type": "string",
            "description": "Reason for the audited change associated with the time record event, such as missing time entry or incorrect time entry. Valid values are defined in the HcmLookupPVO1 lookup type. The lookup codes are user defined.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "comment": {
            "maxLength": 1000,
            "type": "string",
            "description": "Comment associated with the time record event.",
            "nullable": true,
            "x-queryable": true
          },
          "crudStatusValue": {
            "type": "integer",
            "description": "Numeric value for the type of operation, such as 1 for Create, 2 for Update, or 3 for Delete, to apply when importing the time record event.",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            },
            "x-queryable": true
          },
          "eventStatus": {
            "type": "string",
            "description": "Processing status for the time record event, such as New, In process, or Complete.",
            "nullable": true,
            "x-queryable": true
          },
          "eventStatusValue": {
            "type": "integer",
            "description": "Numeric value for the processing status, such as 0 for New, 4 for In process, or 5 for Complete, of the time record event.",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "measure": {
            "type": "number",
            "description": "Quantity, in hours or units, for the time record event.",
            "nullable": true,
            "x-queryable": true
          },
          "operationType": {
            "type": "string",
            "description": "Type of operation, such as Create, Update, or Delete, to apply when importing the time record event.",
            "nullable": true,
            "x-queryable": true
          },
          "personId": {
            "type": "string",
            "description": "Unique identifier for the person associated with the time record event.",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            },
            "x-queryable": true
          },
          "referenceDate": {
            "type": "string",
            "description": "Date to use to process a time record event that spans multiple days.",
            "format": "date",
            "nullable": true,
            "x-queryable": true
          },
          "reporterId": {
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the worker associated with the time record event.",
            "nullable": true,
            "x-queryable": true
          },
          "reporterIdType": {
            "maxLength": 20,
            "type": "string",
            "description": "Type of identifier for the time reporter, such as Person or Badge.",
            "nullable": true,
            "x-queryable": true
          },
          "startTime": {
            "maxLength": 150,
            "type": "string",
            "description": "Start time for the time record event to import.",
            "nullable": true,
            "x-queryable": true
          },
          "stopTime": {
            "maxLength": 150,
            "type": "string",
            "description": "End time for the time record event to import.",
            "nullable": true,
            "x-queryable": true
          },
          "subresourceId": {
            "type": "integer",
            "description": "Identifier for the work assignment of the person associated with the time record event.",
            "nullable": true,
            "x-queryable": true
          },
          "timeRecordEventAttribute": {
            "title": "Time Record Event Attributes",
            "type": "array",
            "description": "The timeRecordEventAttribute resource is the child of the timeRecordEvents resource and the grandchild of the timeRecordEventRequests resource. It's a qualifier associated with the time record event that reflects how time is paid, costed, billed, or recorded as an information entry. For example, the Payroll Time Type attribute indicates how the payroll consumer processes the associated time..",
            "items": {
              "$ref": "#/components/schemas/timeRecordEventRequests-timeRecordEvent-timeRecordEventAttribute-item-response"
            }
          },
          "timeRecordEventId": {
            "type": "integer",
            "description": "Unique identifier for the time record event.",
            "nullable": true,
            "x-hints": {
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "timeRecordEventMessage": {
            "title": "Time Record Event Messages",
            "type": "array",
            "description": "The timeRecordEventMessage resource is a child of the timeRecordEvents attribute and the grandchild of the timeRecordEventRequests resource. It's a unique identifier for the message associated with the time record event. A message gives some information on the time record event resulting from rules or validations.",
            "items": {
              "$ref": "#/components/schemas/timeRecordEventRequests-timeRecordEvent-timeRecordEventMessage-item-response"
            }
          },
          "timeRecordEventRequestId": {
            "type": "integer",
            "description": "Unique identifier for the time record event request.",
            "nullable": false,
            "x-queryable": true
          },
          "timeRecordId": {
            "type": "integer",
            "description": "Unique identifier for the time record to update or delete.",
            "nullable": true,
            "x-queryable": true
          },
          "timeRecordVersion": {
            "type": "integer",
            "description": "Version number for the time record stored in the Workforce Management time repository.",
            "nullable": true,
            "x-queryable": true
          }
        }
      },
      "timeRecordEventRequests-timeRecordEvent-timeRecordEventAttribute-item-response": {
        "type": "object",
        "properties": {
          "attributeName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the attribute to import with the time record event, such as Payroll Time Type or Absence Management Type. Valid values are defined in the TimeAttibuteFieldPVO1 lookup type.",
            "nullable": true,
            "x-queryable": true
          },
          "attributeValue": {
            "maxLength": 150,
            "type": "string",
            "description": "Value for the attribute to import with the time record event, such as Regular or Overtime.",
            "nullable": true,
            "x-queryable": true
          },
          "changeReason": {
            "maxLength": 64,
            "type": "string",
            "description": "Reason for the audited change associated with the time record event attribute, such as missing time entry or incorrect time entry. The valid values are defined in the HcmLookupPVO1 lookup type. The lookup codes are user defined.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "timeAttributeFieldId": {
            "type": "integer",
            "description": "Unique identifier for the field that the time attribute is associated with.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "timeRecordEventAttributeId": {
            "type": "integer",
            "description": "Unique identifier for the time record event attribute.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "timeRecordEventId": {
            "type": "integer",
            "description": "Unique identifier for the time record event.",
            "nullable": false,
            "x-queryable": true
          }
        }
      },
      "timeRecordEventRequests-timeRecordEvent-timeRecordEventMessage-item-response": {
        "type": "object",
        "properties": {
          "allowException": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether to allow the exception associated with the time record. Valid values are true and false. The default value is false.",
            "nullable": true,
            "x-queryable": true
          },
          "attributeType": {
            "maxLength": 20,
            "type": "string",
            "description": "Type for the attribute that the message is related to, such as Timestamp for startTime.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "messageField": {
            "maxLength": 256,
            "type": "string",
            "description": "Unique identifier for the field that the message is associated with.",
            "nullable": true,
            "x-queryable": true
          },
          "messageId": {
            "type": "integer",
            "description": "Unique identifier for the message associated with the time record.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "messageName": {
            "maxLength": 256,
            "type": "string",
            "description": "Name of the message associated with the time record.",
            "nullable": false,
            "x-queryable": true
          },
          "timeBldgBlkVersion": {
            "type": "integer",
            "description": "Version number for the time record event with the specified message.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "timeRecordEventMessageId": {
            "type": "integer",
            "description": "Unique identifier for the message associated with the time record event.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "timeRecordId": {
            "type": "integer",
            "description": "Unique identifier for the time record associated with the message.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          }
        }
      },
      "timeRecordEventRequests": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/timeRecordEventRequests-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "timeRecordEventRequests-item-post-request": {
        "type": "object",
        "properties": {
          "processInline": {
            "maxLength": 30,
            "type": "string",
            "description": "Indicates whether to process the time record events inline or asynchronously.",
            "nullable": true
          },
          "processMode": {
            "maxLength": 20,
            "type": "string",
            "description": "Mode--Save, Submit, or Enter--for processing time records stored in the WFM time repository.",
            "nullable": true
          },
          "timeRecordEvent": {
            "title": "Time Record Events",
            "type": "array",
            "description": "The timeRecordEvents resource is a child of the timeRecordEventRequests resource. It's a unique identifier for a time record event sent using the time records REST API. It corresponds to a time record to post in the repository. It's a range expressed as start and stop times or a quantity in hours or units, along with the associated attribution that details the kind of work performed.",
            "items": {
              "$ref": "#/components/schemas/timeRecordEventRequests-timeRecordEvent-item-post-request"
            }
          },
          "timeRecordEventRequestId": {
            "type": "integer",
            "description": "Unique identifier for the time record event request.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          }
        }
      },
      "timeRecordEventRequests-timeRecordEvent-item-post-request": {
        "required": [
          "timeRecordEventRequestId"
        ],
        "type": "object",
        "properties": {
          "assignmentNumber": {
            "type": "string",
            "description": "Assignment number for the person associated with the time record event. Valid values are defined in the AssignmentPVO1 lookup type.",
            "nullable": true
          },
          "changeReason": {
            "maxLength": 64,
            "type": "string",
            "description": "Reason for the audited change associated with the time record event, such as missing time entry or incorrect time entry. Valid values are defined in the HcmLookupPVO1 lookup type. The lookup codes are user defined.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "comment": {
            "maxLength": 1000,
            "type": "string",
            "description": "Comment associated with the time record event.",
            "nullable": true
          },
          "crudStatusValue": {
            "type": "integer",
            "description": "Numeric value for the type of operation, such as 1 for Create, 2 for Update, or 3 for Delete, to apply when importing the time record event.",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "eventStatus": {
            "type": "string",
            "description": "Processing status for the time record event, such as New, In process, or Complete.",
            "nullable": true
          },
          "eventStatusValue": {
            "type": "integer",
            "description": "Numeric value for the processing status, such as 0 for New, 4 for In process, or 5 for Complete, of the time record event.",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "measure": {
            "type": "number",
            "description": "Quantity, in hours or units, for the time record event.",
            "nullable": true
          },
          "operationType": {
            "type": "string",
            "description": "Type of operation, such as Create, Update, or Delete, to apply when importing the time record event.",
            "nullable": true
          },
          "personId": {
            "type": "string",
            "description": "Unique identifier for the person associated with the time record event.",
            "nullable": true,
            "x-hints": {
              "DISPLAYHINT": "Hide"
            }
          },
          "referenceDate": {
            "type": "string",
            "description": "Date to use to process a time record event that spans multiple days.",
            "format": "date",
            "nullable": true
          },
          "reporterId": {
            "maxLength": 80,
            "type": "string",
            "description": "Unique identifier for the worker associated with the time record event.",
            "nullable": true
          },
          "reporterIdType": {
            "maxLength": 20,
            "type": "string",
            "description": "Type of identifier for the time reporter, such as Person or Badge.",
            "nullable": true
          },
          "startTime": {
            "maxLength": 150,
            "type": "string",
            "description": "Start time for the time record event to import.",
            "nullable": true
          },
          "stopTime": {
            "maxLength": 150,
            "type": "string",
            "description": "End time for the time record event to import.",
            "nullable": true
          },
          "subresourceId": {
            "type": "integer",
            "description": "Identifier for the work assignment of the person associated with the time record event.",
            "nullable": true
          },
          "timeRecordEventAttribute": {
            "title": "Time Record Event Attributes",
            "type": "array",
            "description": "The timeRecordEventAttribute resource is the child of the timeRecordEvents resource and the grandchild of the timeRecordEventRequests resource. It's a qualifier associated with the time record event that reflects how time is paid, costed, billed, or recorded as an information entry. For example, the Payroll Time Type attribute indicates how the payroll consumer processes the associated time..",
            "items": {
              "$ref": "#/components/schemas/timeRecordEventRequests-timeRecordEvent-timeRecordEventAttribute-item-post-request"
            }
          },
          "timeRecordEventId": {
            "type": "integer",
            "description": "Unique identifier for the time record event.",
            "nullable": true,
            "x-hints": {
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "timeRecordEventMessage": {
            "title": "Time Record Event Messages",
            "type": "array",
            "description": "The timeRecordEventMessage resource is a child of the timeRecordEvents attribute and the grandchild of the timeRecordEventRequests resource. It's a unique identifier for the message associated with the time record event. A message gives some information on the time record event resulting from rules or validations.",
            "items": {
              "$ref": "#/components/schemas/timeRecordEventRequests-timeRecordEvent-timeRecordEventMessage-item-post-request"
            }
          },
          "timeRecordEventRequestId": {
            "type": "integer",
            "description": "Unique identifier for the time record event request.",
            "nullable": false
          },
          "timeRecordId": {
            "type": "integer",
            "description": "Unique identifier for the time record to update or delete.",
            "nullable": true
          },
          "timeRecordVersion": {
            "type": "integer",
            "description": "Version number for the time record stored in the Workforce Management time repository.",
            "nullable": true
          }
        }
      },
      "timeRecordEventRequests-timeRecordEvent-timeRecordEventAttribute-item-post-request": {
        "type": "object",
        "properties": {
          "attributeName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the attribute to import with the time record event, such as Payroll Time Type or Absence Management Type. Valid values are defined in the TimeAttibuteFieldPVO1 lookup type.",
            "nullable": true
          },
          "attributeValue": {
            "maxLength": 150,
            "type": "string",
            "description": "Value for the attribute to import with the time record event, such as Regular or Overtime.",
            "nullable": true
          },
          "changeReason": {
            "maxLength": 64,
            "type": "string",
            "description": "Reason for the audited change associated with the time record event attribute, such as missing time entry or incorrect time entry. The valid values are defined in the HcmLookupPVO1 lookup type. The lookup codes are user defined.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "timeAttributeFieldId": {
            "type": "integer",
            "description": "Unique identifier for the field that the time attribute is associated with.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "timeRecordEventAttributeId": {
            "type": "integer",
            "description": "Unique identifier for the time record event attribute.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "timeRecordEventId": {
            "type": "integer",
            "description": "Unique identifier for the time record event.",
            "nullable": false
          }
        }
      },
      "timeRecordEventRequests-timeRecordEvent-timeRecordEventMessage-item-post-request": {
        "type": "object",
        "properties": {
          "allowException": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether to allow the exception associated with the time record. Valid values are true and false. The default value is false.",
            "nullable": true
          },
          "attributeType": {
            "maxLength": 20,
            "type": "string",
            "description": "Type for the attribute that the message is related to, such as Timestamp for startTime.",
            "nullable": true
          },
          "messageField": {
            "maxLength": 256,
            "type": "string",
            "description": "Unique identifier for the field that the message is associated with.",
            "nullable": true
          },
          "messageId": {
            "type": "integer",
            "description": "Unique identifier for the message associated with the time record.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "messageName": {
            "maxLength": 256,
            "type": "string",
            "description": "Name of the message associated with the time record.",
            "nullable": false
          },
          "timeBldgBlkVersion": {
            "type": "integer",
            "description": "Version number for the time record event with the specified message.",
            "format": "int32",
            "nullable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "timeRecordEventMessageId": {
            "type": "integer",
            "description": "Unique identifier for the message associated with the time record event.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "timeRecordId": {
            "type": "integer",
            "description": "Unique identifier for the time record associated with the message.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "timeRecordEventRequests-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/timeRecordEventRequests-item-post-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}