{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Time Records",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/timeRecords": {
      "get": {
        "tags": [
          "Time Records"
        ],
        "summary": "Get all time records",
        "operationId": "getall_timeRecords",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>assignmentNumber; string; Assignment number for the person associated with the time record.</li><li>comment; string; Comment associated with the time record.</li><li>earnedDate; string; Time entry date determined by the earned day rule configuration.</li><li>groupType; string; Layer where time record groups are retrieved from, such as processed time or posted schedule shift.</li><li>measure; number; Quantity, in hours or units, for the time record.</li><li>overtimeDate; string; Time entry date determined by the overtime day rule and start time configuration.</li><li>personId; integer; Unique identifier for the person associated with the time record.</li><li>personNumber; string; Number for the person associated with the time record.</li><li>recordType; string; Type for the time record, either measure or range.</li><li>startTime; string; Start time for the range containing the time records to retrieve.</li><li>stopTime; string; End time for the range containing the time records to retrieve.</li><li>timeRecordGroupId; integer; Unique identifier for the time record group containing the reported time record.</li><li>timeRecordGroupVersion; integer; Version number for the time record group stored in the Workforce Management time repository.</li><li>timeRecordId; number; Unique identifier for the time record.</li><li>timeRecordVersion; integer; Version number for the time record stored in the Workforce Management time repository.</li><li>unitOfMeasure; string; Unit of measure for the time record, such as hours or units.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a time record using its unique identifier. <br>Finder Variables <ul><li>timeRecordId; number;  Unique identifier of the time record. </li></ul></li><li>filterByGroupType Finds time records using a specific time record layer. <br>Finder Variables <ul><li>groupType; string;  Layer where time records are retrieved from, such as processed time or absence entry details. </li></ul></li><li>filterByPerIdTimeGrp Finds time records using the person identifier and the start and end times. <br>Finder Variables <ul><li>groupType; string;  Layer where time records are retrieved from, such as processed time or absence entry details. </li><li>personId; integer;  Unique identifier for the person associated with the time record. </li><li>startTime; string;  Start time for the range containing the time record groups to retrieve. </li><li>stopTime; string;  End time for the range containing the time record groups to retrieve. </li></ul></li><li>filterByPerNumTimeGrp Finds time records using the person number and the start and end times. <br>Finder Variables <ul><li>groupType; string;  Layer where time records are retrieved from, such as processed time or absence entry details. </li><li>personNumber; string;  Number for the person associated with the time record. </li><li>startTime; string;  Start time for the range containing the time records to retrieve. </li><li>stopTime; string;  End time for the range containing the time records to retrieve. </li></ul></li><li>filterByTmRecGrpId Finds time records for a defined time record group identifier. <br>Finder Variables <ul><li>timeRecordGroupId; integer;  Unique identifier for the time record group. </li></ul></li><li>filterByTmRecId Finds a time record using its time record identifier. <br>Finder Variables <ul><li>timeRecordId; number;  Unique identifier for the time record. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a time record using its unique identifier.",
                "properties": {
                  "timeRecordId": {
                    "nullable": false,
                    "description": "Unique identifier of the time record.",
                    "readOnly": true,
                    "type": "number"
                  }
                }
              },
              {
                "name": "filterByGroupType",
                "description": "Finds time records using a specific time record layer.",
                "title": "findByGroupType",
                "properties": {
                  "groupType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Layer where time records are retrieved from, such as processed time or absence entry details.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "filterByPerIdTimeGrp",
                "description": "Finds time records using the person identifier and the start and end times.",
                "title": "findByPerIdTimeGrp",
                "properties": {
                  "groupType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Layer where time records are retrieved from, such as processed time or absence entry details.",
                    "type": "string"
                  },
                  "personId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the person associated with the time record.",
                    "type": "integer"
                  },
                  "startTime": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "format": "date-time",
                    "description": "Start time for the range containing the time record groups to retrieve.",
                    "type": "string"
                  },
                  "stopTime": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "format": "date-time",
                    "description": "End time for the range containing the time record groups to retrieve.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "filterByPerNumTimeGrp",
                "description": "Finds time records using the person number and the start and end times.",
                "title": "findByPerNumTimeGrp",
                "properties": {
                  "groupType": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Layer where time records are retrieved from, such as processed time or absence entry details.",
                    "type": "string"
                  },
                  "startTime": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "format": "date-time",
                    "description": "Start time for the range containing the time records to retrieve.",
                    "type": "string"
                  },
                  "stopTime": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date-time",
                    "description": "End time for the range containing the time records to retrieve.",
                    "type": "string"
                  },
                  "personNumber": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Number for the person associated with the time record.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "filterByTmRecGrpId",
                "description": "Finds time records for a defined time record group identifier.",
                "title": "findByTRGId",
                "properties": {
                  "timeRecordGroupId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the time record group.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "filterByTmRecId",
                "description": "Finds a time record using its time record identifier.",
                "title": "findByTRId",
                "properties": {
                  "timeRecordId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Unique identifier for the time record.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeRecords"
                }
              }
            }
          }
        },
        "x-internal-id": "timeRecords-get",
        "x-filename-id": "timerecords-get"
      }
    },
    "/timeRecords/{timeRecordId}": {
      "get": {
        "tags": [
          "Time Records"
        ],
        "summary": "Get a time record",
        "operationId": "get_timeRecords",
        "parameters": [
          {
            "name": "timeRecordId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "description": "Unique identifier for the time record.",
              "nullable": false,
              "readOnly": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timeRecords-item-response"
                }
              }
            },
            "links": {
              "timeStatuses": {
                "operationRef": "#/paths/~1timeRecords~1{timeRecordId}~1child~1timeStatuses/get",
                "parameters": {
                  "timeRecordId": "$request.path.timeRecordId"
                },
                "description": "The timeStatuses resource is a child of the timeRecords resource and a grandchild of the timeRecordGroups resource. It's a unique identifier for the status of the time record group sent using the time records REST API."
              },
              "timeMessages": {
                "operationRef": "#/paths/~1timeRecords~1{timeRecordId}~1child~1timeMessages/get",
                "parameters": {
                  "timeRecordId": "$request.path.timeRecordId"
                },
                "description": "The timeMessages resource is a child of the timeRecordGroups resource. It's a unique identifier for the message associated with the time record group. A message gives some information on the time record group resulting from rules or validations."
              },
              "timeAttributes": {
                "operationRef": "#/paths/~1timeRecords~1{timeRecordId}~1child~1timeAttributes/get",
                "parameters": {
                  "timeRecordId": "$request.path.timeRecordId"
                },
                "description": "The timeAttributes resource is a child of the timeRecordGroups resource. It's a qualifier associated with the time record group that reflects how time is recorded as an information entry. For example, a comment can be attached to the time record group."
              }
            }
          }
        },
        "x-internal-id": "timeRecords-{timeRecordId}-get",
        "x-filename-id": "timerecords-timerecordid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "timeRecords": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/timeRecords-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "timeRecords-item-response": {
        "type": "object",
        "properties": {
          "assignmentNumber": {
            "maxLength": 50,
            "type": "string",
            "description": "Assignment number for the person associated with the time record.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "comment": {
            "maxLength": 1000,
            "type": "string",
            "description": "Comment associated with the time record.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "earnedDate": {
            "type": "string",
            "description": "Time entry date determined by the earned day rule configuration.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "groupType": {
            "maxLength": 255,
            "type": "string",
            "description": "Layer where time record groups are retrieved from, such as processed time or posted schedule shift.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "measure": {
            "type": "number",
            "description": "Quantity, in hours or units, for the time record.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "overtimeDate": {
            "type": "string",
            "description": "Time entry date determined by the overtime day rule and start time configuration.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "personId": {
            "type": "integer",
            "description": "Unique identifier for the person associated with the time record.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "personNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Number for the person associated with the time record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "recordType": {
            "maxLength": 30,
            "type": "string",
            "description": "Type for the time record, either measure or range.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "startTime": {
            "type": "string",
            "description": "Start time for the range containing the time records to retrieve.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "stopTime": {
            "type": "string",
            "description": "End time for the range containing the time records to retrieve.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "timeAttributes": {
            "title": "Time Attributes",
            "type": "array",
            "description": "The timeAttributes resource is a child of the timeRecordGroups resource. It's a qualifier associated with the time record group that reflects how time is recorded as an information entry. For example, a comment can be attached to the time record group.",
            "items": {
              "$ref": "#/components/schemas/timeRecords-timeAttributes-item-response"
            }
          },
          "timeMessages": {
            "title": "Time Messages",
            "type": "array",
            "description": "The timeMessages resource is a child of the timeRecordGroups resource. It's a unique identifier for the message associated with the time record group. A message gives some information on the time record group resulting from rules or validations.",
            "items": {
              "$ref": "#/components/schemas/timeRecords-timeMessages-item-response"
            }
          },
          "timeRecordGroupId": {
            "type": "integer",
            "description": "Unique identifier for the time record group containing the reported time record.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "timeRecordGroupVersion": {
            "type": "integer",
            "description": "Version number for the time record group stored in the Workforce Management time repository.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "timeRecordId": {
            "type": "number",
            "description": "Unique identifier for the time record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "timeRecordVersion": {
            "type": "integer",
            "description": "Version number for the time record stored in the Workforce Management time repository.",
            "format": "int32",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "timeStatuses": {
            "title": "Time Statuses",
            "type": "array",
            "description": "The timeStatuses resource is a child of the timeRecords resource and a grandchild of the timeRecordGroups resource. It's a unique identifier for the status of the time record group sent using the time records REST API.",
            "items": {
              "$ref": "#/components/schemas/timeRecords-timeStatuses-item-response"
            }
          },
          "unitOfMeasure": {
            "maxLength": 80,
            "type": "string",
            "description": "Unit of measure for the time record, such as hours or units.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "timeRecords-timeAttributes-item-response": {
        "type": "object",
        "properties": {
          "attributeId": {
            "type": "number",
            "description": "Unique identifier for the time record group attribute.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "attributeName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the time record group attribute, such as Comment.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "attributeType": {
            "maxLength": 240,
            "type": "string",
            "description": "Type for the time record group attribute, such as Varchar.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "attributeValue": {
            "maxLength": 240,
            "type": "string",
            "description": "Value for the time record group attribute, such as a comment text.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "timeBuildingBlockId": {
            "type": "number",
            "description": "Unique identifier for the time record group with the specified attributes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "timeBuildingBlockVersion": {
            "type": "integer",
            "description": "Version number for the time record group with the specified attributes.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          }
        }
      },
      "timeRecords-timeMessages-item-response": {
        "type": "object",
        "properties": {
          "allowedException": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates whether to allow the exception associated with the time record group. Valid values are true and false. The default value is false.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "messageCode": {
            "maxLength": 256,
            "type": "string",
            "description": "Code for the message associated with the time record group.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "messageId": {
            "type": "integer",
            "description": "Unique identifier for the message associated with the time record group.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "messageText": {
            "maxLength": 240,
            "type": "string",
            "description": "Text for the message associated with the time record group.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "ruleId": {
            "type": "integer",
            "description": "Unique identifier for the rule from which messages were generated.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ruleSetId": {
            "type": "integer",
            "description": "Unique identifier for the rule set containing the rules from which messages were generated.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ruleSetType": {
            "maxLength": 32,
            "type": "string",
            "description": "Type of the rule set containing the rules that messages were generated from, such as TCR for time calculation rule.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "severity": {
            "maxLength": 30,
            "type": "string",
            "description": "Severity for the message associated with the time record group.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "tag": {
            "maxLength": 120,
            "type": "string",
            "description": "Label attached to the message related to the time record group for identification.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "timeBuildingBlockId": {
            "type": "integer",
            "description": "Unique identifier for the time record group with the specified messages.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "timeBuildingBlockVersion": {
            "type": "integer",
            "description": "Version number for the time record group with the specified messages.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "timeMessageTokens": {
            "title": "Time Message Tokens",
            "type": "array",
            "description": "The timeMessageTokens resource is a child of the timeMessages resource and a great-grandchild of the timeRecordGroups resource. It's a unique identifier for the token of the message associated with the time record group.",
            "items": {
              "$ref": "#/components/schemas/timeRecords-timeMessages-timeMessageTokens-item-response"
            }
          }
        }
      },
      "timeRecords-timeMessages-timeMessageTokens-item-response": {
        "type": "object",
        "properties": {
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "messageId": {
            "type": "integer",
            "description": "Unique identifier for the message of the defined token.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "messageTokenId": {
            "type": "integer",
            "description": "Unique identifier for the message token.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "tokenName": {
            "maxLength": 256,
            "type": "string",
            "description": "Name of the token for the message associated with the time record group.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "tokenValue": {
            "maxLength": 256,
            "type": "string",
            "description": "Value for the token of the message associated with the time record group.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          }
        }
      },
      "timeRecords-timeStatuses-item-response": {
        "type": "object",
        "properties": {
          "displayValue": {
            "maxLength": 80,
            "type": "string",
            "description": "Value displayed for the time record group status, such as Submitted.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "statusCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Code for the time record group status, such as D_TM_UI_STATUS for Time Card UI status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "statusId": {
            "type": "integer",
            "description": "Unique identifier for the time record group status.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "statusName": {
            "maxLength": 255,
            "type": "string",
            "description": "Name of the time record group status, such as Time Card UI Status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "statusValue": {
            "maxLength": 30,
            "type": "string",
            "description": "Value for the time record group status, such as SUBMITTED.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "timeBuildingBlockId": {
            "type": "integer",
            "description": "Unique identifier for the time record group with the specified status.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "timeBuildingBlockVersion": {
            "type": "integer",
            "description": "Version number for the time record group with the specified status.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}