{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Tracking Services/Authorization Artifacts/Large Object (LOB) Attributes - Artifacts",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/trackingServices/{DisplayName}/child/authArtifacts/{authArtifactsUniqID}/enclosure/Artifacts": {
      "get": {
        "tags": [
          "Tracking Services/Authorization Artifacts/Large Object (LOB) Attributes - Artifacts"
        ],
        "summary": "Get an Artifacts",
        "description": "Get an Artifacts",
        "operationId": "get_trackingServices-authArtifacts-Artifacts",
        "parameters": [
          {
            "name": "DisplayName",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authArtifactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TrackingServiceId and UserId ---for the Authorization Artifacts resource and used to uniquely identify an instance of Authorization Artifacts. The client should not generate the hash key value.  Instead, the client should query on the Authorization Artifacts collection resource with a filter on the primary key values in order to navigate to a specific instance of Authorization Artifacts.<br><br>For example: authArtifacts?q=TrackingServiceId=&lt;value1&gt;;UserId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "trackingServices-{DisplayName}-child-authArtifacts-{authArtifactsUniqID}-enclosure-Artifacts-get",
        "x-filename-id": "trackingservices-displayname-child-authartifacts-authartifactsuniqid-enclosure-artifacts-get"
      },
      "put": {
        "tags": [
          "Tracking Services/Authorization Artifacts/Large Object (LOB) Attributes - Artifacts"
        ],
        "summary": "Replace an Artifacts",
        "description": "Replace an Artifacts",
        "operationId": "replace_trackingServices-authArtifacts-Artifacts",
        "parameters": [
          {
            "name": "DisplayName",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authArtifactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TrackingServiceId and UserId ---for the Authorization Artifacts resource and used to uniquely identify an instance of Authorization Artifacts. The client should not generate the hash key value.  Instead, the client should query on the Authorization Artifacts collection resource with a filter on the primary key values in order to navigate to a specific instance of Authorization Artifacts.<br><br>For example: authArtifacts?q=TrackingServiceId=&lt;value1&gt;;UserId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "trackingServices-{DisplayName}-child-authArtifacts-{authArtifactsUniqID}-enclosure-Artifacts-put",
        "x-filename-id": "trackingservices-displayname-child-authartifacts-authartifactsuniqid-enclosure-artifacts-put"
      },
      "delete": {
        "tags": [
          "Tracking Services/Authorization Artifacts/Large Object (LOB) Attributes - Artifacts"
        ],
        "summary": "Delete an Artifacts",
        "description": "Delete an Artifacts",
        "operationId": "delete_trackingServices-authArtifacts-Artifacts",
        "parameters": [
          {
            "name": "DisplayName",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authArtifactsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- TrackingServiceId and UserId ---for the Authorization Artifacts resource and used to uniquely identify an instance of Authorization Artifacts. The client should not generate the hash key value.  Instead, the client should query on the Authorization Artifacts collection resource with a filter on the primary key values in order to navigate to a specific instance of Authorization Artifacts.<br><br>For example: authArtifacts?q=TrackingServiceId=&lt;value1&gt;;UserId=&lt;value2&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "trackingServices-{DisplayName}-child-authArtifacts-{authArtifactsUniqID}-enclosure-Artifacts-delete",
        "x-filename-id": "trackingservices-displayname-child-authartifacts-authartifactsuniqid-enclosure-artifacts-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}