{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Transaction Security Profiles/Transaction Security Profile Entries",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/transactionSecurityProfiles/{TransactionSecurityProfileId}/child/transactionSecurityProfileEntries": {
      "get": {
        "tags": [
          "Transaction Security Profiles/Transaction Security Profile Entries"
        ],
        "summary": "Get all entries for a transaction security profile",
        "operationId": "getall_transactionSecurityProfiles-transactionSecurityProfileEntries",
        "parameters": [
          {
            "name": "TransactionSecurityProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile associated with an entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AllSubCategorySelected; string; Indicates if all subcategories are selected. The valid values are Y or N. The default value is N.</li><li>Category; string; Category for the transaction security profile entry.</li><li>CategoryCode; string; Category code for the transaction security profile entry.</li><li>ExcludeSelectedSubCategory; string; Indicates if selected subcategories need to be excluded from the transaction security profile entry. Valid values are Y or N. The default value is N.</li><li>Family; string; Family name in a transaction security profile entry.</li><li>SeedDataSource; string; Source path of the seed data associated with the transaction security profile entry.</li><li>Sguid; string; Global unique identifier of the seed data associated with an entry for a transaction security profile.</li><li>SubcategoryLabels; string; List of subcategories associated with a transaction security profile entry.</li><li>TransactionSecurityProfileEntryId; integer; Identifier of the transaction security profile entry.</li><li>TransactionSecurityProfileId; integer; Identifier of the transaction security profile associated with an entry.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the transaction security profile entry for the specified primary key. <br>Finder Variables <ul><li>TransactionSecurityProfileEntryId; integer;  Identifier for the transaction security profile entry. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the transaction security profile entry for the specified primary key.",
                "properties": {
                  "TransactionSecurityProfileEntryId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Identifier for the transaction security profile entry.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries"
                }
              }
            }
          }
        },
        "x-internal-id": "transactionSecurityProfiles-{TransactionSecurityProfileId}-child-transactionSecurityProfileEntries-get",
        "x-filename-id": "transactionsecurityprofiles-transactionsecurityprofileid-child-transactionsecurityprofileentries-get"
      },
      "post": {
        "tags": [
          "Transaction Security Profiles/Transaction Security Profile Entries"
        ],
        "summary": "Create an entry for a transaction security profile",
        "operationId": "create_transactionSecurityProfiles-transactionSecurityProfileEntries",
        "parameters": [
          {
            "name": "TransactionSecurityProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile associated with an entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/transactionSecurityProfiles-transactionSecurityProfileEntries-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-response"
                }
              }
            },
            "links": {
              "transactionSecurityProfileSubCategory": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1{TransactionSecurityProfileId}~1child~1transactionSecurityProfileEntries~1{TransactionSecurityProfileEntryId}~1child~1transactionSecurityProfileSubCategory/get",
                "parameters": {
                  "TransactionSecurityProfileEntryId": "$request.path.TransactionSecurityProfileEntryId",
                  "TransactionSecurityProfileId": "$request.path.TransactionSecurityProfileId"
                },
                "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile."
              }
            }
          }
        },
        "x-internal-id": "transactionSecurityProfiles-{TransactionSecurityProfileId}-child-transactionSecurityProfileEntries-post",
        "x-filename-id": "transactionsecurityprofiles-transactionsecurityprofileid-child-transactionsecurityprofileentries-post"
      }
    },
    "/transactionSecurityProfiles/{TransactionSecurityProfileId}/child/transactionSecurityProfileEntries/{TransactionSecurityProfileEntryId}": {
      "get": {
        "tags": [
          "Transaction Security Profiles/Transaction Security Profile Entries"
        ],
        "summary": "Get an entry for a transaction security profile",
        "operationId": "get_transactionSecurityProfiles-transactionSecurityProfileEntries",
        "parameters": [
          {
            "name": "TransactionSecurityProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile associated with an entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "TransactionSecurityProfileEntryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-response"
                }
              }
            },
            "links": {
              "transactionSecurityProfileSubCategory": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1{TransactionSecurityProfileId}~1child~1transactionSecurityProfileEntries~1{TransactionSecurityProfileEntryId}~1child~1transactionSecurityProfileSubCategory/get",
                "parameters": {
                  "TransactionSecurityProfileEntryId": "$request.path.TransactionSecurityProfileEntryId",
                  "TransactionSecurityProfileId": "$request.path.TransactionSecurityProfileId"
                },
                "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile."
              }
            }
          }
        },
        "x-internal-id": "transactionSecurityProfiles-{TransactionSecurityProfileId}-child-transactionSecurityProfileEntries-{TransactionSecurityProfileEntryId}-get",
        "x-filename-id": "transactionsecurityprofiles-transactionsecurityprofileid-child-transactionsecurityprofileentries-transactionsecurityprofileentryid-get"
      },
      "delete": {
        "tags": [
          "Transaction Security Profiles/Transaction Security Profile Entries"
        ],
        "summary": "Delete an entry for a transaction security profile",
        "operationId": "delete_transactionSecurityProfiles-transactionSecurityProfileEntries",
        "parameters": [
          {
            "name": "TransactionSecurityProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile associated with an entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "TransactionSecurityProfileEntryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "transactionSecurityProfiles-{TransactionSecurityProfileId}-child-transactionSecurityProfileEntries-{TransactionSecurityProfileEntryId}-delete",
        "x-filename-id": "transactionsecurityprofiles-transactionsecurityprofileid-child-transactionsecurityprofileentries-transactionsecurityprofileentryid-delete"
      },
      "patch": {
        "tags": [
          "Transaction Security Profiles/Transaction Security Profile Entries"
        ],
        "summary": "Update an entry for a transaction security profile",
        "operationId": "update_transactionSecurityProfiles-transactionSecurityProfileEntries",
        "parameters": [
          {
            "name": "TransactionSecurityProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile associated with an entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "TransactionSecurityProfileEntryId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/transactionSecurityProfiles-transactionSecurityProfileEntries-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-response"
                }
              }
            },
            "links": {
              "transactionSecurityProfileSubCategory": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1{TransactionSecurityProfileId}~1child~1transactionSecurityProfileEntries~1{TransactionSecurityProfileEntryId}~1child~1transactionSecurityProfileSubCategory/get",
                "parameters": {
                  "TransactionSecurityProfileEntryId": "$request.path.TransactionSecurityProfileEntryId",
                  "TransactionSecurityProfileId": "$request.path.TransactionSecurityProfileId"
                },
                "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile."
              }
            }
          }
        },
        "x-internal-id": "transactionSecurityProfiles-{TransactionSecurityProfileId}-child-transactionSecurityProfileEntries-{TransactionSecurityProfileEntryId}-patch",
        "x-filename-id": "transactionsecurityprofiles-transactionsecurityprofileid-child-transactionsecurityprofileentries-transactionsecurityprofileentryid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "transactionSecurityProfiles-transactionSecurityProfileEntries": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-item-response": {
        "type": "object",
        "properties": {
          "AllSubCategorySelected": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if all subcategories are selected. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N",
            "x-queryable": true
          },
          "Category": {
            "maxLength": 255,
            "type": "string",
            "description": "Category for the transaction security profile entry.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Category code for the transaction security profile entry.",
            "nullable": true,
            "x-queryable": true
          },
          "ExcludeSelectedSubCategory": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if selected subcategories need to be excluded from the transaction security profile entry. Valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N",
            "x-queryable": true
          },
          "Family": {
            "maxLength": 100,
            "type": "string",
            "description": "Family name in a transaction security profile entry.",
            "nullable": true,
            "x-queryable": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated with the transaction security profile entry.",
            "nullable": true,
            "x-queryable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated with an entry for a transaction security profile.",
            "nullable": true,
            "x-queryable": true
          },
          "SubcategoryLabels": {
            "type": "string",
            "description": "List of subcategories associated with a transaction security profile entry.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TransactionSecurityProfileEntryId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TransactionSecurityProfileId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile associated with an entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "transactionSecurityProfileSubCategory": {
            "title": "Transaction Security Profile Subcategory",
            "type": "array",
            "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-response": {
        "type": "object",
        "properties": {
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of the subcategory for a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated to a subcategory.",
            "nullable": true,
            "x-queryable": true
          },
          "SubCategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Code for the subcategory.",
            "nullable": true,
            "x-queryable": true
          },
          "TransactionSecurityProfileEntryId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile entry associated with a subcategory.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TransactionSecurityProfileSubCategoryId": {
            "type": "integer",
            "description": "Identifier of the subcategory.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-item-post-request": {
        "required": [
          "TransactionSecurityProfileId"
        ],
        "type": "object",
        "properties": {
          "AllSubCategorySelected": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if all subcategories are selected. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N"
          },
          "CategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Category code for the transaction security profile entry.",
            "nullable": true
          },
          "ExcludeSelectedSubCategory": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if selected subcategories need to be excluded from the transaction security profile entry. Valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N"
          },
          "Family": {
            "maxLength": 100,
            "type": "string",
            "description": "Family name in a transaction security profile entry.",
            "nullable": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated with the transaction security profile entry.",
            "nullable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated with an entry for a transaction security profile.",
            "nullable": true
          },
          "TransactionSecurityProfileEntryId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "TransactionSecurityProfileId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile associated with an entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "transactionSecurityProfileSubCategory": {
            "title": "Transaction Security Profile Subcategory",
            "type": "array",
            "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-post-request"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-post-request": {
        "type": "object",
        "properties": {
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of the subcategory for a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated to a subcategory.",
            "nullable": true
          },
          "SubCategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Code for the subcategory.",
            "nullable": true
          },
          "TransactionSecurityProfileEntryId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile entry associated with a subcategory.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "TransactionSecurityProfileSubCategoryId": {
            "type": "integer",
            "description": "Identifier of the subcategory.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-item-patch-request": {
        "type": "object",
        "properties": {
          "AllSubCategorySelected": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if all subcategories are selected. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N"
          },
          "CategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Category code for the transaction security profile entry.",
            "nullable": true
          },
          "ExcludeSelectedSubCategory": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if selected subcategories need to be excluded from the transaction security profile entry. Valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N"
          },
          "Family": {
            "maxLength": 100,
            "type": "string",
            "description": "Family name in a transaction security profile entry.",
            "nullable": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated with the transaction security profile entry.",
            "nullable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated with an entry for a transaction security profile.",
            "nullable": true
          },
          "transactionSecurityProfileSubCategory": {
            "title": "Transaction Security Profile Subcategory",
            "type": "array",
            "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-patch-request"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-patch-request": {
        "type": "object",
        "properties": {
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of the subcategory for a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated to a subcategory.",
            "nullable": true
          },
          "SubCategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Code for the subcategory.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "transactionSecurityProfiles-transactionSecurityProfileEntries-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-post-request"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}