{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Transaction Security Profiles",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/transactionSecurityProfiles/action/fetchCategoriesByFamily": {
      "post": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Fetch all categories",
        "description": "Fetches the list of categories for a given product family.",
        "operationId": "doall_fetchCategoriesByFamily_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "family": {
                    "type": "string",
                    "description": "Product family code used for retrieving categories.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "List of categories for a given product family.",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "List of categories for a given product family.",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "transactionSecurityProfiles-action-fetchCategoriesByFamily-post",
        "x-filename-id": "transactionsecurityprofiles-action-fetchcategoriesbyfamily-post"
      }
    },
    "/transactionSecurityProfiles/action/createOrUpdateSecurityProfile": {
      "post": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Create or update a transaction security profile",
        "description": "Creates or updates a transaction security profile.",
        "operationId": "doall_createOrUpdateSecurityProfile_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionSecurityProfileEntries": {
                    "type": "array",
                    "description": "List of details for transaction security profile entries.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "transactionSecurityProfile": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Basic details of the transaction security profile such as name value pairs.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Result of creating or updating transaction security profiles. Return values are either success or failure."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Result of creating or updating transaction security profiles. Return values are either success or failure."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "transactionSecurityProfiles-action-createOrUpdateSecurityProfile-post",
        "x-filename-id": "transactionsecurityprofiles-action-createorupdatesecurityprofile-post"
      }
    },
    "/transactionSecurityProfiles/action/fetchSubcategoriesByFamilyAndCategory": {
      "post": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Fetch the list of subcategories",
        "description": "Fetches the list of subcategories for a given product family and category.",
        "operationId": "doall_fetchSubcategoriesByFamilyAndCategory_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "categoryCode": {
                    "type": "string",
                    "description": "Category name used for retrieving a list of subcategories.",
                    "nullable": true
                  },
                  "family": {
                    "type": "string",
                    "description": "Family code used for retrieving a list of subcategories.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "List of subcategory based on a given family and category.",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "List of subcategory based on a given family and category.",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "transactionSecurityProfiles-action-fetchSubcategoriesByFamilyAndCategory-post",
        "x-filename-id": "transactionsecurityprofiles-action-fetchsubcategoriesbyfamilyandcategory-post"
      }
    },
    "/transactionSecurityProfiles": {
      "get": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Get all transaction security profile details",
        "operationId": "getall_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Description; string; Description of the transaction security profile.</li><li>EnabledFlag; boolean; Indicates if transaction security profile is enabled or not. The valid values are Y or N. The default value is Y.</li><li>Name; string; Transaction security profile name.</li><li>SeedDataSource; string; Source path of the seed data for the transaction security profile.</li><li>Sguid; string; Global unique identifier of the seed data associated to a transaction security profile.</li><li>TransactionSecurityProfileId; integer; Unique identifier of the transaction security profile.</li><li>ViewAllFlag; boolean; Indicates if all the transactions can be viewed with a transaction security profile. The valid values are Y or N. The default value is N.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds the transaction security profile for the specified primary key. <br>Finder Variables <ul><li>TransactionSecurityProfileId; integer;  Identifier for the transaction security profile. </li></ul></li><li>findByName Finds all the transaction security profiles by the specified name. <br>Finder Variables <ul><li>EnabledFlag; string;  Indicates whether a transaction security profile is enabled or not. The valid values are Y or N. </li><li>Name; string;  Transaction security profile name. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds the transaction security profile for the specified primary key.",
                "properties": {
                  "TransactionSecurityProfileId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Identifier for the transaction security profile.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByName",
                "description": "Finds all the transaction security profiles by the specified name.",
                "title": "findByName",
                "properties": {
                  "EnabledFlag": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Indicates whether a transaction security profile is enabled or not. The valid values are Y or N.",
                    "type": "string"
                  },
                  "Name": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Transaction security profile name.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionSecurityProfiles"
                }
              }
            },
            "links": {
              "fetchCategoriesByFamily": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1action~1fetchCategoriesByFamily/post",
                "description": "Fetches the list of categories for a given product family."
              },
              "removeTransactionSecurityProfileEntry": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1action~1removeTransactionSecurityProfileEntry/post",
                "description": "Deletes an entry for a transaction security profile along with the associated subcategories."
              },
              "manageSecurityProfileEntry": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1action~1manageSecurityProfileEntry/post",
                "description": "Modifies a transaction security profile entry."
              },
              "fetchAllFamilies": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1action~1fetchAllFamilies/post",
                "description": "Fetches the list of product families for transaction security profiles."
              },
              "manageSecurityProfileBasicDetails": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1action~1manageSecurityProfileBasicDetails/post",
                "description": "Modifies a transaction security profile with basic details."
              },
              "fetchSubcategoriesByFamilyAndCategory": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1action~1fetchSubcategoriesByFamilyAndCategory/post",
                "description": "Fetches the list of subcategories for a given product family and category."
              },
              "createOrUpdateSecurityProfile": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1action~1createOrUpdateSecurityProfile/post",
                "description": "Creates or updates a transaction security profile."
              }
            }
          }
        },
        "x-internal-id": "transactionSecurityProfiles-get",
        "x-filename-id": "transactionsecurityprofiles-get"
      },
      "post": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Create a transaction security profile",
        "operationId": "create_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/transactionSecurityProfiles-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionSecurityProfiles-item-response"
                }
              }
            },
            "links": {
              "transactionSecurityProfileEntries": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1{TransactionSecurityProfileId}~1child~1transactionSecurityProfileEntries/get",
                "parameters": {
                  "TransactionSecurityProfileId": "$request.path.TransactionSecurityProfileId"
                },
                "description": "The transactionSecurityProfileEntries resource is a child of the transactionSecurityProfiles resource. It provides the entries for the transaction security profile."
              }
            }
          }
        },
        "x-internal-id": "transactionSecurityProfiles-post",
        "x-filename-id": "transactionsecurityprofiles-post"
      }
    },
    "/transactionSecurityProfiles/action/fetchAllFamilies": {
      "post": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Fetches the list of product families.",
        "description": "Fetches the list of product families for transaction security profiles.",
        "operationId": "doall_fetchAllFamilies_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "List of product families such as HCM, FIN.",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "List of product families such as HCM, FIN.",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "transactionSecurityProfiles-action-fetchAllFamilies-post",
        "x-filename-id": "transactionsecurityprofiles-action-fetchallfamilies-post"
      }
    },
    "/transactionSecurityProfiles/{TransactionSecurityProfileId}": {
      "get": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Get a transaction security profile details",
        "operationId": "get_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "TransactionSecurityProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile associated with an entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionSecurityProfiles-item-response"
                }
              }
            },
            "links": {
              "transactionSecurityProfileEntries": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1{TransactionSecurityProfileId}~1child~1transactionSecurityProfileEntries/get",
                "parameters": {
                  "TransactionSecurityProfileId": "$request.path.TransactionSecurityProfileId"
                },
                "description": "The transactionSecurityProfileEntries resource is a child of the transactionSecurityProfiles resource. It provides the entries for the transaction security profile."
              }
            }
          }
        },
        "x-internal-id": "transactionSecurityProfiles-{TransactionSecurityProfileId}-get",
        "x-filename-id": "transactionsecurityprofiles-transactionsecurityprofileid-get"
      },
      "patch": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Update a transaction security profile",
        "operationId": "update_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "TransactionSecurityProfileId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Identifier of the transaction security profile associated with an entry.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/transactionSecurityProfiles-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/transactionSecurityProfiles-item-response"
                }
              }
            },
            "links": {
              "transactionSecurityProfileEntries": {
                "operationRef": "#/paths/~1transactionSecurityProfiles~1{TransactionSecurityProfileId}~1child~1transactionSecurityProfileEntries/get",
                "parameters": {
                  "TransactionSecurityProfileId": "$request.path.TransactionSecurityProfileId"
                },
                "description": "The transactionSecurityProfileEntries resource is a child of the transactionSecurityProfiles resource. It provides the entries for the transaction security profile."
              }
            }
          }
        },
        "x-internal-id": "transactionSecurityProfiles-{TransactionSecurityProfileId}-patch",
        "x-filename-id": "transactionsecurityprofiles-transactionsecurityprofileid-patch"
      }
    },
    "/transactionSecurityProfiles/action/manageSecurityProfileEntry": {
      "post": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Modify a transaction security profile entry",
        "description": "Modifies a transaction security profile entry.",
        "operationId": "doall_manageSecurityProfileEntry_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionSecurityProfileEntry": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Details of transaction security profile entry such as name value pairs.",
                    "nullable": true
                  },
                  "transactionSecurityProfileEntryId": {
                    "type": "number",
                    "description": "Identifier for the transaction security profile entry.",
                    "nullable": true
                  },
                  "transactionSecurityProfileId": {
                    "type": "number",
                    "description": "Identifier for the transaction security profile.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Details of the modified transaction security profile entry such as name value pairs."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": "Details of the modified transaction security profile entry such as name value pairs."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "transactionSecurityProfiles-action-manageSecurityProfileEntry-post",
        "x-filename-id": "transactionsecurityprofiles-action-managesecurityprofileentry-post"
      }
    },
    "/transactionSecurityProfiles/action/removeTransactionSecurityProfileEntry": {
      "post": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Delete an entry for a transaction security profile along with the associated subcategories",
        "description": "Deletes an entry for a transaction security profile along with the associated subcategories.",
        "operationId": "doall_removeTransactionSecurityProfileEntry_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionSecurityProfileEntryId": {
                    "type": "number",
                    "description": "Identifier for the transaction security profile entry.",
                    "nullable": true
                  },
                  "transactionSecurityProfileId": {
                    "type": "number",
                    "description": "Identifier for the transaction security profile.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Result of deleting a transaction security profile entry. Return values are either success or failure."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Result of deleting a transaction security profile entry. Return values are either success or failure."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "transactionSecurityProfiles-action-removeTransactionSecurityProfileEntry-post",
        "x-filename-id": "transactionsecurityprofiles-action-removetransactionsecurityprofileentry-post"
      }
    },
    "/transactionSecurityProfiles/action/manageSecurityProfileBasicDetails": {
      "post": {
        "tags": [
          "Transaction Security Profiles"
        ],
        "summary": "Modify a transaction security profile with basic details",
        "description": "Modifies a transaction security profile with basic details.",
        "operationId": "doall_manageSecurityProfileBasicDetails_transactionSecurityProfiles",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transactionSecurityProfile": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Basic details of the modified transaction security profile such as name value pairs.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Details of transaction security profile entry such as name value pairs."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Details of transaction security profile entry such as name value pairs."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "transactionSecurityProfiles-action-manageSecurityProfileBasicDetails-post",
        "x-filename-id": "transactionsecurityprofiles-action-managesecurityprofilebasicdetails-post"
      }
    }
  },
  "components": {
    "schemas": {
      "transactionSecurityProfiles": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "transactionSecurityProfiles-item-response": {
        "type": "object",
        "properties": {
          "Description": {
            "maxLength": 240,
            "type": "string",
            "description": "Description of the transaction security profile.",
            "nullable": true,
            "x-queryable": true
          },
          "EnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if transaction security profile is enabled or not. The valid values are Y or N. The default value is Y.",
            "nullable": true,
            "default": true,
            "x-queryable": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier for the transaction security profile.",
            "nullable": true,
            "x-queryable": false
          },
          "Name": {
            "maxLength": 240,
            "type": "string",
            "description": "Transaction security profile name.",
            "nullable": false,
            "x-queryable": true
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data for the transaction security profile.",
            "nullable": true,
            "x-queryable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated to a transaction security profile.",
            "nullable": true,
            "x-queryable": true
          },
          "TransactionSecurityProfileId": {
            "type": "integer",
            "description": "Unique identifier of the transaction security profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "ViewAllFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if all the transactions can be viewed with a transaction security profile. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": false,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "transactionSecurityProfileEntries": {
            "title": "Transaction Security Profile Entries",
            "type": "array",
            "description": "The transactionSecurityProfileEntries resource is a child of the transactionSecurityProfiles resource. It provides the entries for the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-item-response": {
        "type": "object",
        "properties": {
          "AllSubCategorySelected": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if all subcategories are selected. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N",
            "x-queryable": true
          },
          "Category": {
            "maxLength": 255,
            "type": "string",
            "description": "Category for the transaction security profile entry.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Category code for the transaction security profile entry.",
            "nullable": true,
            "x-queryable": true
          },
          "ExcludeSelectedSubCategory": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if selected subcategories need to be excluded from the transaction security profile entry. Valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N",
            "x-queryable": true
          },
          "Family": {
            "maxLength": 100,
            "type": "string",
            "description": "Family name in a transaction security profile entry.",
            "nullable": true,
            "x-queryable": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated with the transaction security profile entry.",
            "nullable": true,
            "x-queryable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated with an entry for a transaction security profile.",
            "nullable": true,
            "x-queryable": true
          },
          "SubcategoryLabels": {
            "type": "string",
            "description": "List of subcategories associated with a transaction security profile entry.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TransactionSecurityProfileEntryId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TransactionSecurityProfileId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile associated with an entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "transactionSecurityProfileSubCategory": {
            "title": "Transaction Security Profile Subcategory",
            "type": "array",
            "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-response"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-response": {
        "type": "object",
        "properties": {
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of the subcategory for a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated to a subcategory.",
            "nullable": true,
            "x-queryable": true
          },
          "SubCategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Code for the subcategory.",
            "nullable": true,
            "x-queryable": true
          },
          "TransactionSecurityProfileEntryId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile entry associated with a subcategory.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "TransactionSecurityProfileSubCategoryId": {
            "type": "integer",
            "description": "Identifier of the subcategory.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "transactionSecurityProfiles-item-post-request": {
        "required": [
          "Name"
        ],
        "type": "object",
        "properties": {
          "Description": {
            "maxLength": 240,
            "type": "string",
            "description": "Description of the transaction security profile.",
            "nullable": true
          },
          "EnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if transaction security profile is enabled or not. The valid values are Y or N. The default value is Y.",
            "nullable": true,
            "default": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier for the transaction security profile.",
            "nullable": true,
            "x-queryable": false
          },
          "Name": {
            "maxLength": 240,
            "type": "string",
            "description": "Transaction security profile name.",
            "nullable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data for the transaction security profile.",
            "nullable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated to a transaction security profile.",
            "nullable": true
          },
          "TransactionSecurityProfileId": {
            "type": "integer",
            "description": "Unique identifier of the transaction security profile.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "ViewAllFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if all the transactions can be viewed with a transaction security profile. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": false
          },
          "transactionSecurityProfileEntries": {
            "title": "Transaction Security Profile Entries",
            "type": "array",
            "description": "The transactionSecurityProfileEntries resource is a child of the transactionSecurityProfiles resource. It provides the entries for the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-post-request"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-item-post-request": {
        "required": [
          "TransactionSecurityProfileId"
        ],
        "type": "object",
        "properties": {
          "AllSubCategorySelected": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if all subcategories are selected. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N"
          },
          "CategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Category code for the transaction security profile entry.",
            "nullable": true
          },
          "ExcludeSelectedSubCategory": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if selected subcategories need to be excluded from the transaction security profile entry. Valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N"
          },
          "Family": {
            "maxLength": 100,
            "type": "string",
            "description": "Family name in a transaction security profile entry.",
            "nullable": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated with the transaction security profile entry.",
            "nullable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated with an entry for a transaction security profile.",
            "nullable": true
          },
          "TransactionSecurityProfileEntryId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "TransactionSecurityProfileId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile associated with an entry.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "transactionSecurityProfileSubCategory": {
            "title": "Transaction Security Profile Subcategory",
            "type": "array",
            "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-post-request"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-post-request": {
        "type": "object",
        "properties": {
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of the subcategory for a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated to a subcategory.",
            "nullable": true
          },
          "SubCategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Code for the subcategory.",
            "nullable": true
          },
          "TransactionSecurityProfileEntryId": {
            "type": "integer",
            "description": "Identifier of the transaction security profile entry associated with a subcategory.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "TransactionSecurityProfileSubCategoryId": {
            "type": "integer",
            "description": "Identifier of the subcategory.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "transactionSecurityProfiles-item-patch-request": {
        "type": "object",
        "properties": {
          "Description": {
            "maxLength": 240,
            "type": "string",
            "description": "Description of the transaction security profile.",
            "nullable": true
          },
          "EnabledFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if transaction security profile is enabled or not. The valid values are Y or N. The default value is Y.",
            "nullable": true,
            "default": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier for the transaction security profile.",
            "nullable": true,
            "x-queryable": false
          },
          "Name": {
            "maxLength": 240,
            "type": "string",
            "description": "Transaction security profile name.",
            "nullable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data for the transaction security profile.",
            "nullable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated to a transaction security profile.",
            "nullable": true
          },
          "ViewAllFlag": {
            "maxLength": 1,
            "type": "boolean",
            "description": "Indicates if all the transactions can be viewed with a transaction security profile. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": false
          },
          "transactionSecurityProfileEntries": {
            "title": "Transaction Security Profile Entries",
            "type": "array",
            "description": "The transactionSecurityProfileEntries resource is a child of the transactionSecurityProfiles resource. It provides the entries for the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-item-patch-request"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-item-patch-request": {
        "type": "object",
        "properties": {
          "AllSubCategorySelected": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if all subcategories are selected. The valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N"
          },
          "CategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Category code for the transaction security profile entry.",
            "nullable": true
          },
          "ExcludeSelectedSubCategory": {
            "maxLength": 1,
            "type": "string",
            "description": "Indicates if selected subcategories need to be excluded from the transaction security profile entry. Valid values are Y or N. The default value is N.",
            "nullable": true,
            "default": "N"
          },
          "Family": {
            "maxLength": 100,
            "type": "string",
            "description": "Family name in a transaction security profile entry.",
            "nullable": true
          },
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated with the transaction security profile entry.",
            "nullable": true
          },
          "Sguid": {
            "maxLength": 32,
            "type": "string",
            "description": "Global unique identifier of the seed data associated with an entry for a transaction security profile.",
            "nullable": true
          },
          "transactionSecurityProfileSubCategory": {
            "title": "Transaction Security Profile Subcategory",
            "type": "array",
            "description": "The transactionSecurityProfileSubCategory resource is a child of the transactionSecurityProfileEntries resource. It provides subcategories for an entry of the transaction security profile.",
            "items": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-patch-request"
            }
          }
        }
      },
      "transactionSecurityProfiles-transactionSecurityProfileEntries-transactionSecurityProfileSubCategory-item-patch-request": {
        "type": "object",
        "properties": {
          "GUID": {
            "type": "string",
            "description": "Global unique identifier of the subcategory for a transaction security profile entry.",
            "nullable": true,
            "x-queryable": false
          },
          "SeedDataSource": {
            "maxLength": 512,
            "type": "string",
            "description": "Source path of the seed data associated to a subcategory.",
            "nullable": true
          },
          "SubCategoryCode": {
            "maxLength": 100,
            "type": "string",
            "description": "Code for the subcategory.",
            "nullable": true
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "transactionSecurityProfiles-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-item-post-request"
            }
          }
        }
      },
      "transactionSecurityProfiles-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/transactionSecurityProfiles-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}