{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - User Accounts",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/userAccounts": {
      "get": {
        "tags": [
          "User Accounts"
        ],
        "summary": "Get all user accounts",
        "operationId": "getall_userAccounts",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CreatedBy; string; User who created the user account.</li><li>CreationDate; string; Date and time when the user account was created.</li><li>CredentialsEmailSentFlag; boolean; Indicates whether the user name and password credentials were sent to the user after the account was created. The default value is Yes. Valid values are Yes and No.</li><li>GUID; string; Globally unique identifier for the user account.</li><li>LastUpdateDate; string; Date and time when the user account was last updated.</li><li>LastUpdatedBy; string; User who last updated the user account.</li><li>PersonId; integer; Unique identifier of the person record linked to the user account.</li><li>PersonNumber; string; Person number of the person record linked to the user account.</li><li>SuspendedFlag; boolean; Indicates whether the user, as part of termination, is suspended. If suspended, the user can be reactivated. Valid values are Yes and No.</li><li>UserId; integer; Unique identifier for the user.</li><li>Username; string; User name, a unique identifier for a user's account.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the user accounts that match the specified primary key criteria. <br>Finder Variables <ul><li>UserId; integer;  Surrogate identifier for the user account. </li></ul></li><li>findByFinder Finds all the user accounts that match the specified finder. <br>Finder Variables <ul><li>GUID; string;  Globally unique identifier for the user account. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the user accounts that match the specified primary key criteria.",
                "properties": {
                  "UserId": {
                    "nullable": false,
                    "x-hints": {
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the user account.",
                    "type": "integer",
                    "title": "User ID"
                  }
                }
              },
              {
                "name": "findByFinder",
                "description": "Finds all the user accounts that match the specified finder.",
                "title": "findByGUIDFinder",
                "properties": {
                  "GUID": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Globally unique identifier for the user account.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userAccounts"
                }
              }
            }
          }
        },
        "x-internal-id": "userAccounts-get",
        "x-filename-id": "useraccounts-get"
      },
      "post": {
        "tags": [
          "User Accounts"
        ],
        "summary": "Create a user account",
        "operationId": "create_userAccounts",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/userAccounts-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userAccounts-item-response"
                }
              }
            },
            "links": {
              "resetPassword": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1resetPassword/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Resets the password to a user account. Initiating this custom action on the selected user account must trigger the password reset flow."
              },
              "updatePassword": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1updatePassword/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Updates the password to a user account. Initiating the custom action on the selected user account must trigger the password update flow."
              },
              "autoprovisionRoles": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1autoprovisionRoles/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Triggers the roles autoprovisioning process on the selected user account."
              },
              "userAccountRoles": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1child~1userAccountRoles/get",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "The userAccountRoles resource is a child of the userAccounts resource. It includes all the user account roles as of the specified date. By default, the current date is retained."
              }
            }
          }
        },
        "x-internal-id": "userAccounts-post",
        "x-filename-id": "useraccounts-post"
      }
    },
    "/userAccounts/{GUID}/action/resetPassword": {
      "post": {
        "tags": [
          "User Accounts"
        ],
        "summary": "Reset a user account password",
        "description": "Resets the password to a user account. Initiating this custom action on the selected user account must trigger the password reset flow.",
        "operationId": "do_resetPassword_userAccounts",
        "parameters": [
          {
            "name": "GUID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "userAccounts-{GUID}-action-resetPassword-post",
        "x-filename-id": "useraccounts-guid-action-resetpassword-post"
      }
    },
    "/userAccounts/{GUID}/action/autoprovisionRoles": {
      "post": {
        "tags": [
          "User Accounts"
        ],
        "summary": "Trigger roles autoprovisioning process",
        "description": "Triggers the roles autoprovisioning process on the selected user account.",
        "operationId": "do_autoprovisionRoles_userAccounts",
        "parameters": [
          {
            "name": "GUID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "processImmediateFlag": {
                    "type": "boolean",
                    "description": "Indicates whether the roles autoprovisioning process is triggered immediately or deferred. The default value is true. Valid values are true and false.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "userAccounts-{GUID}-action-autoprovisionRoles-post",
        "x-filename-id": "useraccounts-guid-action-autoprovisionroles-post"
      }
    },
    "/userAccounts/{GUID}": {
      "get": {
        "tags": [
          "User Accounts"
        ],
        "summary": "Get a user account",
        "operationId": "get_userAccounts",
        "parameters": [
          {
            "name": "GUID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userAccounts-item-response"
                }
              }
            },
            "links": {
              "resetPassword": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1resetPassword/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Resets the password to a user account. Initiating this custom action on the selected user account must trigger the password reset flow."
              },
              "updatePassword": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1updatePassword/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Updates the password to a user account. Initiating the custom action on the selected user account must trigger the password update flow."
              },
              "autoprovisionRoles": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1autoprovisionRoles/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Triggers the roles autoprovisioning process on the selected user account."
              },
              "userAccountRoles": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1child~1userAccountRoles/get",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "The userAccountRoles resource is a child of the userAccounts resource. It includes all the user account roles as of the specified date. By default, the current date is retained."
              }
            }
          }
        },
        "x-internal-id": "userAccounts-{GUID}-get",
        "x-filename-id": "useraccounts-guid-get"
      },
      "delete": {
        "tags": [
          "User Accounts"
        ],
        "summary": "Delete a user account",
        "operationId": "delete_userAccounts",
        "parameters": [
          {
            "name": "GUID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "userAccounts-{GUID}-delete",
        "x-filename-id": "useraccounts-guid-delete"
      },
      "patch": {
        "tags": [
          "User Accounts"
        ],
        "summary": "Update a user account",
        "operationId": "update_userAccounts",
        "parameters": [
          {
            "name": "GUID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/userAccounts-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userAccounts-item-response"
                }
              }
            },
            "links": {
              "resetPassword": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1resetPassword/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Resets the password to a user account. Initiating this custom action on the selected user account must trigger the password reset flow."
              },
              "updatePassword": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1updatePassword/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Updates the password to a user account. Initiating the custom action on the selected user account must trigger the password update flow."
              },
              "autoprovisionRoles": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1action~1autoprovisionRoles/post",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "Triggers the roles autoprovisioning process on the selected user account."
              },
              "userAccountRoles": {
                "operationRef": "#/paths/~1userAccounts~1{GUID}~1child~1userAccountRoles/get",
                "parameters": {
                  "GUID": "$request.path.GUID"
                },
                "description": "The userAccountRoles resource is a child of the userAccounts resource. It includes all the user account roles as of the specified date. By default, the current date is retained."
              }
            }
          }
        },
        "x-internal-id": "userAccounts-{GUID}-patch",
        "x-filename-id": "useraccounts-guid-patch"
      }
    },
    "/userAccounts/{GUID}/action/updatePassword": {
      "post": {
        "tags": [
          "User Accounts"
        ],
        "summary": "Update a user account password",
        "description": "Updates the password to a user account. Initiating the custom action on the selected user account must trigger the password update flow.",
        "operationId": "do_updatePassword_userAccounts",
        "parameters": [
          {
            "name": "GUID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pwd": {
                    "type": "string",
                    "description": "User account password.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Success or error message."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "userAccounts-{GUID}-action-updatePassword-post",
        "x-filename-id": "useraccounts-guid-action-updatepassword-post"
      }
    }
  },
  "components": {
    "schemas": {
      "userAccounts": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/userAccounts-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject"
        }
      },
      "userAccounts-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the user account.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the user account was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CredentialsEmailSentFlag": {
            "title": "Credentials Email Sent",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the user name and password credentials were sent to the user after the account was created. The default value is Yes. Valid values are Yes and No.",
            "nullable": true,
            "default": false,
            "x-queryable": true
          },
          "GUID": {
            "title": "GUID",
            "maxLength": 64,
            "type": "string",
            "description": "Globally unique identifier for the user account.",
            "nullable": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the user account was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the user account.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Unique identifier of the person record linked to the user account.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person record linked to the user account.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "SuspendedFlag": {
            "title": "Suspended",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the user, as part of termination, is suspended. If suspended, the user can be reactivated. Valid values are Yes and No.",
            "nullable": true,
            "x-queryable": true
          },
          "UserId": {
            "title": "User ID",
            "type": "integer",
            "description": "Unique identifier for the user.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "Username": {
            "title": "User Name",
            "maxLength": 100,
            "type": "string",
            "description": "User name, a unique identifier for a user's account.",
            "nullable": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "userAccountRoles": {
            "title": "User Account Roles",
            "type": "array",
            "description": "The userAccountRoles resource is a child of the userAccounts resource. It includes all the user account roles as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/userAccounts-userAccountRoles-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "userAccounts-userAccountRoles-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the user account role assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the user account role assignment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date and time when the user account role assignment was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the user account role assignment.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "RoleCode": {
            "title": "Role Code",
            "maxLength": 240,
            "type": "string",
            "description": "Technical name used to search for a specific role.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            },
            "x-queryable": true
          },
          "RoleId": {
            "title": "Role ID",
            "type": "integer",
            "description": "Unique identifier of a role.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "UserRoleId": {
            "title": "User Role ID",
            "type": "integer",
            "description": "Unique identifier of the user role.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "userAccounts-item-post-request": {
        "type": "object",
        "properties": {
          "CredentialsEmailSentFlag": {
            "title": "Credentials Email Sent",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the user name and password credentials were sent to the user after the account was created. The default value is Yes. Valid values are Yes and No.",
            "nullable": true,
            "default": false
          },
          "GUID": {
            "title": "GUID",
            "maxLength": 64,
            "type": "string",
            "description": "Globally unique identifier for the user account.",
            "nullable": true
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Unique identifier of the person record linked to the user account.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person record linked to the user account.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "SuspendedFlag": {
            "title": "Suspended",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the user, as part of termination, is suspended. If suspended, the user can be reactivated. Valid values are Yes and No.",
            "nullable": true
          },
          "UserId": {
            "title": "User ID",
            "type": "integer",
            "description": "Unique identifier for the user.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "Username": {
            "title": "User Name",
            "maxLength": 100,
            "type": "string",
            "description": "User name, a unique identifier for a user's account.",
            "nullable": true
          },
          "userAccountRoles": {
            "title": "User Account Roles",
            "type": "array",
            "description": "The userAccountRoles resource is a child of the userAccounts resource. It includes all the user account roles as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/userAccounts-userAccountRoles-item-post-request"
            }
          }
        }
      },
      "userAccounts-userAccountRoles-item-post-request": {
        "type": "object",
        "properties": {
          "RoleCode": {
            "title": "Role Code",
            "maxLength": 240,
            "type": "string",
            "description": "Technical name used to search for a specific role.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "RoleId": {
            "title": "Role ID",
            "type": "integer",
            "description": "Unique identifier of a role.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "UserRoleId": {
            "title": "User Role ID",
            "type": "integer",
            "description": "Unique identifier of the user role.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "precision": 18
            }
          }
        }
      },
      "userAccounts-item-patch-request": {
        "type": "object",
        "properties": {
          "CredentialsEmailSentFlag": {
            "title": "Credentials Email Sent",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the user name and password credentials were sent to the user after the account was created. The default value is Yes. Valid values are Yes and No.",
            "nullable": true,
            "default": false
          },
          "PersonId": {
            "title": "Person ID",
            "type": "integer",
            "description": "Unique identifier of the person record linked to the user account.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "precision": 18
            }
          },
          "PersonNumber": {
            "title": "Person Number",
            "maxLength": 30,
            "type": "string",
            "description": "Person number of the person record linked to the user account.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          },
          "SuspendedFlag": {
            "title": "Suspended",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the user, as part of termination, is suspended. If suspended, the user can be reactivated. Valid values are Yes and No.",
            "nullable": true
          },
          "Username": {
            "title": "User Name",
            "maxLength": 100,
            "type": "string",
            "description": "User name, a unique identifier for a user's account.",
            "nullable": true
          },
          "userAccountRoles": {
            "title": "User Account Roles",
            "type": "array",
            "description": "The userAccountRoles resource is a child of the userAccounts resource. It includes all the user account roles as of the specified date. By default, the current date is retained.",
            "items": {
              "$ref": "#/components/schemas/userAccounts-userAccountRoles-item-patch-request"
            }
          }
        }
      },
      "userAccounts-userAccountRoles-item-patch-request": {
        "type": "object",
        "properties": {
          "RoleCode": {
            "title": "Role Code",
            "maxLength": 240,
            "type": "string",
            "description": "Technical name used to search for a specific role.",
            "nullable": true,
            "x-hints": {
              "controlType": "choice"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "userAccounts-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/userAccounts-item-post-request"
            }
          }
        }
      },
      "userAccounts-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/userAccounts-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}