{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Worker Journeys/Tasks/Questionnaire Responses/Question Responses",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}/child/questionnaireResponses/{QuestionnaireResponseId}/child/questionResponses": {
      "get": {
        "tags": [
          "Worker Journeys/Tasks/Questionnaire Responses/Question Responses"
        ],
        "summary": "Get all question responses",
        "operationId": "getall_workerJourneys-tasks-questionnaireResponses-questionResponses",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AnswerCode; string; The answer code that a participant chose when responding to a single choice question.</li><li>AnswerCodeList; string; Concatenated list of answer choices, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.</li><li>AnswerComments; string; Additional comments provided by the participant when responding to a question.</li><li>AnswerList; string; Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.</li><li>ChoiceCodeList; string; Concatenated list of answer codes, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.</li><li>CreatedBy; string; User who created the question response.</li><li>CreationDate; string; Date on which the question response was created.</li><li>LastUpdateDate; string; Date on which the question response was updated.</li><li>LastUpdatedBy; string; User who last updated the question response.</li><li>QuestionAnswerId; integer; Surrogate identifier of the answer that a participant chose when responding to a single choice question.</li><li>QuestionCode; string; Alphanumeric value that uniquely identifies a question defined for a subscriber.</li><li>QuestionId; integer; Surrogate identifier for the question.</li><li>QuestionResponseId; integer; Surrogate identifier for the question response.</li><li>QuestionnaireQuestionId; integer; Surrogate identifier for the question in a questionnaire.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds responses for all the questions in a questionnaire. <br>Finder Variables <ul><li>QuestionResponseId; integer;  Unique identifier for the question response. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds responses for all the questions in a questionnaire.",
                "properties": {
                  "QuestionResponseId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier for the question response.",
                    "type": "integer",
                    "title": "Question Response Id"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses"
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-child-questionnaireResponses-{QuestionnaireResponseId}-child-questionResponses-get",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-child-questionnaireresponses-questionnaireresponseid-child-questionresponses-get"
      },
      "post": {
        "tags": [
          "Worker Journeys/Tasks/Questionnaire Responses/Question Responses"
        ],
        "summary": "Create a question response",
        "operationId": "create_workerJourneys-tasks-questionnaireResponses-questionResponses",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workerJourneys-tasks-questionnaireResponses-questionResponses-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-item-response"
                }
              }
            },
            "links": {
              "questionResponseAttachments": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1questionnaireResponses~1{QuestionnaireResponseId}~1child~1questionResponses~1{QuestionResponseId}~1child~1questionResponseAttachments/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "QuestionnaireResponseId": "$request.path.QuestionnaireResponseId",
                  "QuestionResponseId": "$request.path.QuestionResponseId",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The questionResponseAttachments resource is a child of the questionResponses resource. It includes attachments added in response to a question."
              },
              "QuestionnaireQuestionResolutionLovVO": {
                "operationRef": "#/paths/~1questionnaireQuestionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireQuestionsLOV.QuestionnaireQuestionId": [
                      "QuestionnaireQuestionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-child-questionnaireResponses-{QuestionnaireResponseId}-child-questionResponses-post",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-child-questionnaireresponses-questionnaireresponseid-child-questionresponses-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}/child/questionnaireResponses/{QuestionnaireResponseId}/child/questionResponses/{QuestionResponseId}": {
      "get": {
        "tags": [
          "Worker Journeys/Tasks/Questionnaire Responses/Question Responses"
        ],
        "summary": "Get a question response",
        "operationId": "get_workerJourneys-tasks-questionnaireResponses-questionResponses",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "QuestionResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Question Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the question response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-item-response"
                }
              }
            },
            "links": {
              "questionResponseAttachments": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1questionnaireResponses~1{QuestionnaireResponseId}~1child~1questionResponses~1{QuestionResponseId}~1child~1questionResponseAttachments/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "QuestionnaireResponseId": "$request.path.QuestionnaireResponseId",
                  "QuestionResponseId": "$request.path.QuestionResponseId",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The questionResponseAttachments resource is a child of the questionResponses resource. It includes attachments added in response to a question."
              },
              "QuestionnaireQuestionResolutionLovVO": {
                "operationRef": "#/paths/~1questionnaireQuestionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireQuestionsLOV.QuestionnaireQuestionId": [
                      "QuestionnaireQuestionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "{WorkerJourneyId}-child-tasks-{tasksUniqID}-child-questionnaireResponses-{QuestionnaireResponseId}-child-questionResponses-{QuestionResponseId}-get",
        "x-filename-id": "workerjourneyid-child-tasks-tasksuniqid-child-questionnaireresponses-questionnaireresponseid-child-questionresponses-questionresponseid-get"
      },
      "patch": {
        "tags": [
          "Worker Journeys/Tasks/Questionnaire Responses/Question Responses"
        ],
        "summary": "Update a question response",
        "operationId": "update_workerJourneys-tasks-questionnaireResponses-questionResponses",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QuestionnaireResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Questionnaire Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the questionnaire response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "QuestionResponseId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Question Response Id",
              "type": "integer",
              "description": "Surrogate identifier for the question response.",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workerJourneys-tasks-questionnaireResponses-questionResponses-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-item-response"
                }
              }
            },
            "links": {
              "questionResponseAttachments": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1questionnaireResponses~1{QuestionnaireResponseId}~1child~1questionResponses~1{QuestionResponseId}~1child~1questionResponseAttachments/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "QuestionnaireResponseId": "$request.path.QuestionnaireResponseId",
                  "QuestionResponseId": "$request.path.QuestionResponseId",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The questionResponseAttachments resource is a child of the questionResponses resource. It includes attachments added in response to a question."
              },
              "QuestionnaireQuestionResolutionLovVO": {
                "operationRef": "#/paths/~1questionnaireQuestionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: QuestionCode; Target Attribute: QuestionCode</li><li>Display Attribute: QuestionCode</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/QuestionCode",
                  "displayValues": [
                    "QuestionCode"
                  ],
                  "derivedFieldsMapping": {
                    "questionnaireQuestionsLOV.QuestionnaireQuestionId": [
                      "QuestionnaireQuestionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "QuestionCode",
                  "displayFields": [
                    "QuestionCode"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "{WorkerJourneyId}-child-tasks-{tasksUniqID}-child-questionnaireResponses-{QuestionnaireResponseId}-child-questionResponses-{QuestionResponseId}-patch",
        "x-filename-id": "workerjourneyid-child-tasks-tasksuniqid-child-questionnaireresponses-questionnaireresponseid-child-questionresponses-questionresponseid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "workerJourneys-tasks-questionnaireResponses-questionResponses": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "workerJourneys-tasks-questionnaireResponses-questionResponses-item-response": {
        "type": "object",
        "properties": {
          "AnswerCode": {
            "title": "Answer Code",
            "maxLength": 240,
            "type": "string",
            "description": "The answer code that a participant chose when responding to a single choice question.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "dependencies": [
                "QuestionnaireQuestionId"
              ]
            },
            "x-queryable": true
          },
          "AnswerCodeList": {
            "title": "Answer Code List",
            "type": "string",
            "description": "Concatenated list of answer choices, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "x-queryable": true
          },
          "AnswerComments": {
            "title": "Comments",
            "maxLength": 4000,
            "type": "string",
            "description": "Additional comments provided by the participant when responding to a question.",
            "nullable": true,
            "x-queryable": true
          },
          "AnswerLargeObject": {
            "title": "Answer",
            "type": "string",
            "description": "Attachment provided by the participant when responding to a question.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AnswerList": {
            "title": "Answer List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "AnswerShortDescriptionList": {
            "title": "Answer Short Description",
            "type": "string",
            "description": "Concatenated list of answer texts, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AnswerShortdescription": {
            "title": "Answer Short Description",
            "maxLength": 240,
            "type": "string",
            "description": "Text of the answer chosen by a participant when responding to a single choice question.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ChoiceCodeList": {
            "title": "Choice List Code",
            "type": "string",
            "description": "Concatenated list of answer codes, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "x-queryable": true
          },
          "ChoiceList": {
            "title": "Choice List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "x-queryable": false
          },
          "ChoiceShortDescription": {
            "title": "Choice Short Description",
            "type": "string",
            "description": "Concatenated list of answer texts, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the question response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date on which the question response was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date on which the question response was updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the question response.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "QuestionAnswerId": {
            "title": "Question Answer Id",
            "type": "integer",
            "description": "Surrogate identifier of the answer that a participant chose when responding to a single choice question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "dependencies": [
                "QuestionCode",
                "QuestionId"
              ]
            },
            "x-queryable": true
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Alphanumeric value that uniquely identifies a question defined for a subscriber.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "QuestionId": {
            "title": "Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionResponseId": {
            "title": "Question Response Id",
            "type": "integer",
            "description": "Surrogate identifier for the question response.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "QuestionText": {
            "title": "Question Text",
            "maxLength": 2000,
            "type": "string",
            "description": "Text of the question that a participant responds to.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "QuestionnaireQuestionId": {
            "title": "Questionnaire Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question in a questionnaire.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "Score": {
            "title": "Answer Score",
            "type": "integer",
            "description": "Calculated score for the responses provided for a question by a participant.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "questionResponseAttachments": {
            "title": "Question Response Attachments",
            "type": "array",
            "description": "The questionResponseAttachments resource is a child of the questionResponses resource. It includes attachments added in response to a question.",
            "items": {
              "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-questionResponseAttachments-item-response"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "workerJourneys-tasks-questionnaireResponses-questionResponses-questionResponseAttachments-item-response": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided exclusively for the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category name of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the file can be shared. The default value is false and it's the only supported value.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 255,
            "type": "string",
            "description": "User who created the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedByUserName": {
            "title": "Created By User Name",
            "type": "string",
            "description": "User name of the user who created the attachment.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date on which the attachment was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Attachment type supported for the question. Only the attachment type, FILE, is supported.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Surrogate identifier of the document attached to the questionnaire.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            },
            "x-queryable": true
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Path of the folder.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Version number of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the attachment. This is a read-only attribute.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "File contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "Name of the attachment file.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "File URL of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "FileWebImage": {
            "title": "File Web Image",
            "type": "string",
            "description": "The base64 encoded image of the file displayed in .png format if the source is a convertible image.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "help": {
                "instruction": "The base64 encoded image of the file displayed in .png format if the source is a convertible image."
              },
              "XML_ELEMENT": "#hide",
              "PAYLOADHINT": "Show"
            }
          },
          "LastUpdateDate": {
            "title": "Last Update Date",
            "type": "string",
            "description": "Date on which the attachment was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "FMT_FORMAT": "d-MMM-yyyy HH:mm:ss"
            },
            "x-queryable": true
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 255,
            "type": "string",
            "description": "User who last updated the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdatedByUserName": {
            "title": "Last Updated By User",
            "type": "string",
            "description": "Name of the user who last updated the attachment record.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "Content type of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "Size of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "Name of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Text uploaded in the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "URI of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URL of a web page attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            },
            "x-queryable": true
          },
          "UserName": {
            "title": "User Name",
            "maxLength": 255,
            "type": "string",
            "description": "User name of the person who uploaded the attachment.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "workerJourneys-tasks-questionnaireResponses-questionResponses-item-post-request": {
        "required": [
          "QuestionCode",
          "QuestionnaireQuestionId"
        ],
        "type": "object",
        "properties": {
          "AnswerCodeList": {
            "title": "Answer Code List",
            "type": "string",
            "description": "Concatenated list of answer choices, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true
          },
          "AnswerComments": {
            "title": "Comments",
            "maxLength": 4000,
            "type": "string",
            "description": "Additional comments provided by the participant when responding to a question.",
            "nullable": true
          },
          "AnswerLargeObject": {
            "title": "Answer",
            "type": "string",
            "description": "Attachment provided by the participant when responding to a question.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AnswerList": {
            "title": "Answer List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ChoiceCodeList": {
            "title": "Choice List Code",
            "type": "string",
            "description": "Concatenated list of answer codes, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true
          },
          "ChoiceList": {
            "title": "Choice List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true,
            "x-queryable": false
          },
          "QuestionAnswerId": {
            "title": "Question Answer Id",
            "type": "integer",
            "description": "Surrogate identifier of the answer that a participant chose when responding to a single choice question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "dependencies": [
                "QuestionCode",
                "QuestionId"
              ]
            }
          },
          "QuestionCode": {
            "title": "Question Code",
            "maxLength": 240,
            "type": "string",
            "description": "Alphanumeric value that uniquely identifies a question defined for a subscriber.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "QuestionId": {
            "title": "Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "controlType": "choice",
              "precision": 18
            }
          },
          "QuestionResponseId": {
            "title": "Question Response Id",
            "type": "integer",
            "description": "Surrogate identifier for the question response.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "QuestionnaireQuestionId": {
            "title": "Questionnaire Question Id",
            "type": "integer",
            "description": "Surrogate identifier for the question in a questionnaire.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "questionResponseAttachments": {
            "title": "Question Response Attachments",
            "type": "array",
            "description": "The questionResponseAttachments resource is a child of the questionResponses resource. It includes attachments added in response to a question.",
            "items": {
              "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-questionResponseAttachments-item-post-request"
            }
          }
        }
      },
      "workerJourneys-tasks-questionnaireResponses-questionResponses-questionResponseAttachments-item-post-request": {
        "type": "object",
        "properties": {
          "AsyncTrackerId": {
            "title": "Asynchronous Upload Tracker Id",
            "type": "string",
            "description": "Attribute provided exclusively for the Attachment UI components to assist in uploading files.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "PAYLOADHINT": "Show"
            }
          },
          "AttachedDocumentId": {
            "title": "Attached Document Id",
            "type": "integer",
            "description": "Unique identifier of the attached document.",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category name of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the file can be shared. The default value is false and it's the only supported value.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Attachment type supported for the question. Only the attachment type, FILE, is supported.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Surrogate identifier of the document attached to the questionnaire.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Path of the folder.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Version number of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the attachment. This is a read-only attribute.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "File contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "Name of the attachment file.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "File URL of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "Content type of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "Size of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "Name of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Text uploaded in the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "URI of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URL of a web page attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          }
        }
      },
      "workerJourneys-tasks-questionnaireResponses-questionResponses-item-patch-request": {
        "type": "object",
        "properties": {
          "AnswerCodeList": {
            "title": "Answer Code List",
            "type": "string",
            "description": "Concatenated list of answer choices, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true
          },
          "AnswerComments": {
            "title": "Comments",
            "maxLength": 4000,
            "type": "string",
            "description": "Additional comments provided by the participant when responding to a question.",
            "nullable": true
          },
          "AnswerLargeObject": {
            "title": "Answer",
            "type": "string",
            "description": "Attachment provided by the participant when responding to a question.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false
          },
          "AnswerList": {
            "title": "Answer List",
            "maxLength": 2000,
            "type": "string",
            "description": "Concatenated list of answer identifiers, separated by a semicolon as a delimiter, which is selected by the participant when responding to a multiple choice question.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ChoiceCodeList": {
            "title": "Choice List Code",
            "type": "string",
            "description": "Concatenated list of answer codes, separated by a semicolon as a delimiter, which are presented to the participant when responding to a question enabled for random order responses.",
            "nullable": true
          },
          "QuestionAnswerId": {
            "title": "Question Answer Id",
            "type": "integer",
            "description": "Surrogate identifier of the answer that a participant chose when responding to a single choice question.",
            "format": "int64",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18,
              "dependencies": [
                "QuestionCode",
                "QuestionId"
              ]
            }
          },
          "questionResponseAttachments": {
            "title": "Question Response Attachments",
            "type": "array",
            "description": "The questionResponseAttachments resource is a child of the questionResponses resource. It includes attachments added in response to a question.",
            "items": {
              "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-questionResponseAttachments-item-patch-request"
            }
          }
        }
      },
      "workerJourneys-tasks-questionnaireResponses-questionResponses-questionResponseAttachments-item-patch-request": {
        "type": "object",
        "properties": {
          "CategoryName": {
            "title": "Category",
            "maxLength": 30,
            "type": "string",
            "description": "Category name of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "ContentRepositoryFileShared": {
            "title": "Shared",
            "type": "boolean",
            "description": "Indicates whether the file can be shared. The default value is false and it's the only supported value.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DatatypeCode": {
            "title": "Type",
            "maxLength": 30,
            "type": "string",
            "description": "Attachment type supported for the question. Only the attachment type, FILE, is supported.",
            "nullable": false,
            "default": "FILE",
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "Description": {
            "title": "Description",
            "maxLength": 255,
            "type": "string",
            "description": "Description of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "DmDocumentId": {
            "maxLength": 255,
            "type": "string",
            "description": "Surrogate identifier of the document attached to the questionnaire.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true",
              "fnd:OA_TRANSLATABLE": "true"
            }
          },
          "DmFolderPath": {
            "title": "Dm Folder Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Path of the folder.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DmVersionNumber": {
            "maxLength": 255,
            "type": "string",
            "description": "Version number of the attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "DownloadInfo": {
            "title": "DownloadInfo",
            "type": "string",
            "description": "JSON object represented as a string containing information used to programmatically retrieve a file attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusCode": {
            "title": "Error Status Code",
            "type": "string",
            "description": "Error status code of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ErrorStatusMessage": {
            "title": "Error Status Message",
            "type": "string",
            "description": "Error status message of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the attachment. This is a read-only attribute.",
            "format": "date-time",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "FileContents": {
            "title": "File Contents",
            "type": "string",
            "description": "File contents of the attachment.",
            "format": "byte",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "XML_ELEMENT": "#hide"
            }
          },
          "FileName": {
            "title": "File Name",
            "maxLength": 2048,
            "type": "string",
            "description": "Name of the attachment file.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          },
          "FileUrl": {
            "title": "File Url",
            "type": "string",
            "description": "File URL of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "PostProcessingAction": {
            "title": "PostProcessingAction",
            "type": "string",
            "description": "The name of the action that can be performed after an attachment is uploaded.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Title": {
            "title": "Title",
            "type": "string",
            "description": "Title of the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileContentType": {
            "title": "Uploaded File Content Type",
            "type": "string",
            "description": "Content type of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileLength": {
            "title": "File Size",
            "type": "integer",
            "description": "Size of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedFileName": {
            "title": "Uploaded File Name",
            "type": "string",
            "description": "Name of the uploaded file. This is a read-only attribute.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "UploadedText": {
            "title": "Uploaded Text",
            "type": "string",
            "description": "Text uploaded in the attachment.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Uri": {
            "title": "Uri",
            "maxLength": 4000,
            "type": "string",
            "description": "URI of the attachment. This is a read-only attribute.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "false"
            }
          },
          "Url": {
            "title": "Url",
            "maxLength": 4000,
            "type": "string",
            "description": "URL of a web page attachment.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true,
              "fnd:FND_AUDIT_ATTR_ENABLED": "true"
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "workerJourneys-tasks-questionnaireResponses-questionResponses-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-item-post-request"
            }
          }
        }
      },
      "workerJourneys-tasks-questionnaireResponses-questionResponses-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/workerJourneys-tasks-questionnaireResponses-questionResponses-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}