{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Workers/Work Relationships",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}/action/changeStartDate": {
      "post": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Change the start date of a work relationship",
        "description": "Changes the start date of a work relationship of a worker.",
        "operationId": "do_changeStartDate_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "New start date of the work relationship.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-action-changeStartDate-post",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-action-changestartdate-post"
      }
    },
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}/action/terminate": {
      "post": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Terminate a worker",
        "description": "Terminates a worker.",
        "operationId": "do_terminate_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminationDate": {
                    "type": "string",
                    "description": "Last date of employment for this period of service.",
                    "format": "date",
                    "nullable": true
                  },
                  "revokeUserAccess": {
                    "type": "string",
                    "description": "Indicates when the person's user access is revoked. By default, it's removed one day after the termination date. Specify I to request immediate removal of user access.",
                    "nullable": true
                  },
                  "recommendationAuthorizedByPersonNumber": {
                    "type": "string",
                    "description": "Person Number of the person who recommended that this worker not be rehired.",
                    "nullable": true
                  },
                  "lastWorkingDate": {
                    "type": "string",
                    "description": "Last working date of the person.",
                    "format": "date",
                    "nullable": true
                  },
                  "dateOfDeath": {
                    "type": "string",
                    "description": "Date of death of the person.",
                    "format": "date",
                    "nullable": true
                  },
                  "recommendationAuthorizedByPersonId": {
                    "type": "number",
                    "description": "Unique identifier of the person who recommended that this worker not be rehired.",
                    "nullable": true
                  },
                  "recommendedForRehire": {
                    "type": "string",
                    "description": "Indicates whether the person is recommended for rehire.",
                    "nullable": true
                  },
                  "actionCode": {
                    "type": "string",
                    "description": "Action being performed for this assignment, such as Termination. Valid values are defined in the actionsLOV.",
                    "nullable": true
                  },
                  "reasonCode": {
                    "type": "string",
                    "description": "Reason for the action being performed on the record. Valid values are defined in the actionReasonsLOV.",
                    "nullable": true
                  },
                  "recommendationReason": {
                    "type": "string",
                    "description": "Reason for the recommendation that this worker not be rehired.",
                    "nullable": true
                  },
                  "notificationDate": {
                    "type": "string",
                    "description": "Date on which termination was notified.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-action-terminate-post",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-action-terminate-post"
      }
    },
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}": {
      "get": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Get a worker work relationship",
        "operationId": "get_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-workRelationships-item-response"
                }
              }
            },
            "links": {
              "changePrimaryFlag": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1changePrimaryFlag/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Changes the primary flag of a work relationship of a worker."
              },
              "addTemporaryAssignment": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1addTemporaryAssignment/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Adds a temporary assignment for a worker."
              },
              "assignments": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1child~1assignments/get",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "The assignments resource is a child of the workRelationships resource. It provides all the worker assignments as of the specified date. By default, the current date is retained."
              },
              "workRelationshipsDFF": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1child~1workRelationshipsDFF/get",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                }
              },
              "legalEmployerNamesLOV": {
                "operationRef": "#/paths/~1legalEmployersLov/get",
                "description": "The list of values for legal employers.",
                "x-lov": {
                  "definedOn": "$request.body#/LegalEmployerName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "legalEmployersLov.OrganizationId": [
                      "LegalEntityId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "workRelationshipsDDF": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1child~1workRelationshipsDDF/get",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                }
              },
              "contracts": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1child~1contracts/get",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "The contracts resource is a child of the workRelationships resource and you can create or edit a contract only with an assignment. The resource provides all the contracts of a worker as of the specified date. By default, the current date is retained."
              },
              "changeStartDate": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1changeStartDate/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Changes the start date of a work relationship of a worker."
              },
              "reverseTermination": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1reverseTermination/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Reverses the termination of a worker."
              },
              "changeLegalEmployer": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1changeLegalEmployer/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Changes the legal employer of a worker or creates a global temporary assignment for a worker."
              },
              "correctTermination": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1correctTermination/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Corrects the termination of a worker."
              },
              "terminate": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1terminate/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Terminates a worker."
              },
              "cancelWorkRelationship": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1cancelWorkRelationship/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Cancels the work relationship of a worker."
              },
              "workerTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_PERIOD_TYPE%2CLookupCode%3D{WorkerType}"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/WorkerType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-get",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-get"
      },
      "patch": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Update a worker work relationship",
        "operationId": "update_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workers-workRelationships-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-workRelationships-item-response"
                }
              }
            },
            "links": {
              "changePrimaryFlag": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1changePrimaryFlag/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Changes the primary flag of a work relationship of a worker."
              },
              "addTemporaryAssignment": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1addTemporaryAssignment/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Adds a temporary assignment for a worker."
              },
              "assignments": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1child~1assignments/get",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "The assignments resource is a child of the workRelationships resource. It provides all the worker assignments as of the specified date. By default, the current date is retained."
              },
              "workRelationshipsDFF": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1child~1workRelationshipsDFF/get",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                }
              },
              "legalEmployerNamesLOV": {
                "operationRef": "#/paths/~1legalEmployersLov/get",
                "description": "The list of values for legal employers.",
                "x-lov": {
                  "definedOn": "$request.body#/LegalEmployerName",
                  "displayValues": [
                    "Name"
                  ],
                  "derivedFieldsMapping": {
                    "legalEmployersLov.OrganizationId": [
                      "LegalEntityId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "Name",
                  "displayFields": [
                    "Name"
                  ]
                }
              },
              "workRelationshipsDDF": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1child~1workRelationshipsDDF/get",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                }
              },
              "contracts": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1child~1contracts/get",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "The contracts resource is a child of the workRelationships resource and you can create or edit a contract only with an assignment. The resource provides all the contracts of a worker as of the specified date. By default, the current date is retained."
              },
              "changeStartDate": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1changeStartDate/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Changes the start date of a work relationship of a worker."
              },
              "reverseTermination": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1reverseTermination/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Reverses the termination of a worker."
              },
              "changeLegalEmployer": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1changeLegalEmployer/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Changes the legal employer of a worker or creates a global temporary assignment for a worker."
              },
              "correctTermination": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1correctTermination/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Corrects the termination of a worker."
              },
              "terminate": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1terminate/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Terminates a worker."
              },
              "cancelWorkRelationship": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1workRelationships~1{PeriodOfServiceId}~1action~1cancelWorkRelationship/post",
                "parameters": {
                  "PeriodOfServiceId": "$request.path.PeriodOfServiceId",
                  "workersUniqID": "$request.path.workersUniqID"
                },
                "description": "Cancels the work relationship of a worker."
              },
              "workerTypesLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_PERIOD_TYPE%2CLookupCode%3D{WorkerType}"
                },
                "description": "The common lookups list of values resource is used to query the list of values of common lookups, which are legacy lookups or lookups that have attributes. Common lookups are defined in the common lookup view and support backward compatibility.",
                "x-lov": {
                  "definedOn": "$request.body#/WorkerType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-patch",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-patch"
      }
    },
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}/action/addTemporaryAssignment": {
      "post": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Add a temporary assignment",
        "description": "Adds a temporary assignment for a worker.",
        "operationId": "do_addTemporaryAssignment_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "businessUnitName": {
                    "type": "string",
                    "description": "Name of the business unit for the worker assignment. Valid values are defined in the hcmBusinesUnitsLOV.",
                    "nullable": true
                  },
                  "businessTitle": {
                    "type": "string",
                    "description": "Business title of the worker assignment.",
                    "nullable": true
                  },
                  "contractId": {
                    "type": "number",
                    "description": "Surrogate identifier for the contract.",
                    "nullable": true
                  },
                  "contractNumber": {
                    "type": "string",
                    "description": "Number of the contract.",
                    "nullable": true
                  },
                  "actionCode": {
                    "type": "string",
                    "description": "Action being performed for this assignment, such as Termination. Valid values are defined in the actionsLOV.",
                    "nullable": true
                  },
                  "reasonCode": {
                    "type": "string",
                    "description": "Reason for the action being performed on the record. Valid values are defined in the actionReasonsLOV.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Start date of the date-effective changes to the record.",
                    "format": "date",
                    "nullable": true
                  },
                  "businessUnitId": {
                    "type": "number",
                    "description": "Unique identifier for the business unit of the assignment.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-action-addTemporaryAssignment-post",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-action-addtemporaryassignment-post"
      }
    },
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}/action/changeLegalEmployer": {
      "post": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Change the legal employer or create a temporary assignment",
        "description": "Changes the legal employer of a worker or creates a global temporary assignment for a worker.",
        "operationId": "do_changeLegalEmployer_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "businessUnitName": {
                    "type": "string",
                    "description": "Name of the business unit for the worker assignment. Valid values are defined in the hcmBusinesUnitsLOV.",
                    "nullable": true
                  },
                  "createPrimaryWorkRelationshipFlag": {
                    "type": "boolean",
                    "description": "Indicate whether the new work relationship should be primary.",
                    "nullable": true
                  },
                  "contractType": {
                    "type": "string",
                    "description": "Type of the contract.",
                    "nullable": true
                  },
                  "sourceAssignmentNumber": {
                    "type": "string",
                    "description": "Number of the source assignment.",
                    "nullable": true
                  },
                  "contractNumber": {
                    "type": "string",
                    "description": "Number of the contract.",
                    "nullable": true
                  },
                  "durationUnits": {
                    "type": "string",
                    "description": "Unit for the duration of the contract.",
                    "nullable": true
                  },
                  "businessUnitId": {
                    "type": "number",
                    "description": "Unique identifier for the business unit of the assignment.",
                    "nullable": true
                  },
                  "copyAssignmentFlag": {
                    "type": "boolean",
                    "description": "Indicates whether the assignment attributes should be copied from the source assignment.",
                    "nullable": true
                  },
                  "duration": {
                    "type": "number",
                    "description": "Duration of the contract.",
                    "nullable": true
                  },
                  "legalEntityId": {
                    "type": "number",
                    "description": "Unique identifier for the legal entity of the work relationship.",
                    "nullable": true
                  },
                  "sourceAssignmentId": {
                    "type": "number",
                    "description": "Unique identifier for the source assignment.",
                    "nullable": true
                  },
                  "legalEmployerName": {
                    "type": "string",
                    "description": "Name of the legal employer for the work relationship.",
                    "nullable": true
                  },
                  "businessTitle": {
                    "type": "string",
                    "description": "Business title of the worker assignment.",
                    "nullable": true
                  },
                  "actionCode": {
                    "type": "string",
                    "description": "Action being performed for this assignment, such as Global Transfer. Valid values are defined in the actionsLOV.",
                    "nullable": true
                  },
                  "copyAssignmentEFFFlag": {
                    "type": "boolean",
                    "description": "Indicates whether the assignment extensible flexfield attributes should be copied from the source assignment.",
                    "nullable": true
                  },
                  "reasonCode": {
                    "type": "string",
                    "description": "Reason for the action being performed on the record. Valid values are defined in the actionReasonsLOV.",
                    "nullable": true
                  },
                  "effectiveDate": {
                    "type": "string",
                    "description": "Start date of the date-effective changes to the record.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-action-changeLegalEmployer-post",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-action-changelegalemployer-post"
      }
    },
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}/action/changePrimaryFlag": {
      "post": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Change the primary flag of a work relationship",
        "description": "Changes the primary flag of a work relationship of a worker.",
        "operationId": "do_changePrimaryFlag_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "effectiveDate": {
                    "type": "string",
                    "description": "Start date of the date-effective changes to the record.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-action-changePrimaryFlag-post",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-action-changeprimaryflag-post"
      }
    },
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}/action/correctTermination": {
      "post": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Correct a worker termination",
        "description": "Corrects the termination of a worker.",
        "operationId": "do_correctTermination_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminationDate": {
                    "type": "string",
                    "description": "Last date of employment for this period of service.",
                    "format": "date",
                    "nullable": true
                  },
                  "revokeUserAccess": {
                    "type": "string",
                    "description": "Indicates when the person's user access is revoked. By default, it's removed one day after the termination date. Specify I to request immediate removal of user access.",
                    "nullable": true
                  },
                  "recommendationAuthorizedByPersonNumber": {
                    "type": "string",
                    "description": "Person Number of the person who recommended that this worker not be rehired.",
                    "nullable": true
                  },
                  "lastWorkingDate": {
                    "type": "string",
                    "description": "Last working date of the person.",
                    "format": "date",
                    "nullable": true
                  },
                  "dateOfDeath": {
                    "type": "string",
                    "description": "Date of death of the person.",
                    "format": "date",
                    "nullable": true
                  },
                  "recommendationAuthorizedByPersonId": {
                    "type": "number",
                    "description": "Unique identifier of the person who recommended that this worker not be rehired.",
                    "nullable": true
                  },
                  "recommendedForRehire": {
                    "type": "string",
                    "description": "Indicates whether the person is recommended for rehire.",
                    "nullable": true
                  },
                  "actionCode": {
                    "type": "string",
                    "description": "Action being performed for this assignment, such as, Termination, and so on. Valid values are defined in the actionsLOV.",
                    "nullable": true
                  },
                  "reasonCode": {
                    "type": "string",
                    "description": "Reason for the action being performed on the record. Valid values are defined in the actionReasonsLOV.",
                    "nullable": true
                  },
                  "recommendationReason": {
                    "type": "string",
                    "description": "Reason for the recommendation that this worker not be rehired.",
                    "nullable": true
                  },
                  "notificationDate": {
                    "type": "string",
                    "description": "Date on which termination was notified.",
                    "format": "date",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Internal identifier that indicates the success status of the custom method."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-action-correctTermination-post",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-action-correcttermination-post"
      }
    },
    "/workers/{workersUniqID}/child/workRelationships": {
      "get": {
        "tags": [
          "Workers/Work Relationships"
        ],
        "summary": "Get all worker work relationships",
        "operationId": "getall_workers-workRelationships",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EmailAddressId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ReligionId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignGradeStepId; integer; Surrogate identifier for the assignment grade step record.</li><li>CreatedBy; string; User who created the grade step.</li><li>CreationDate; string; Date and time when the grade step was created.</li><li>EffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>EffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>GradeStepId; integer; Surrogate identifier for the grade step.</li><li>GradeStepName; string; Name of the grade step. Valid values are defined in the gradeStepNamesLOV.</li><li>LastUpdateDate; string; User who last updated the grade step.</li><li>LastUpdatedBy; string; Date and time when the grade step was last updated.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>PhotoName; string; Name of the image file.</li><li>PhotoType; string; Type of photo such as Profile or Cover. Valid values are defined in the commonLookupsLOV.</li><li>PrimaryFlag; boolean; Indicates whether the image is primary.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ExpirationDate; string; Expiration date of the passport.</li><li>IssuingCountry; string; Country in which the passport was issued. Valid values are defined in the hcmCountriesLov.</li><li>IssuingCountryName; string; Name of the country issuing the person's passport.</li><li>PassportId; integer; Surrogate identifier for the passport.</li><li>PassportNumber; string; Passport number of the person.</li><li>PassportType; string; Type or category of the passport. Valid values are defined in the commonLookupsLOV.</li><li>PassportTypeMeaning; string; Meaning of the person's passport type.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AsgResponsibilityId; integer; Surrogate identifier for the responsibility.</li><li>AssignmentId; integer; Internal identifier for the representative's assignment.</li><li>AssignmentName; string; Name of the person's assignment.</li><li>AssignmentNumber; string; Assignment number of the representative.</li><li>DisplayName; string; Display name of the representative.</li><li>PersonId; integer; Internal identifier for the representative.</li><li>PersonNumber; string; Person number of the representative.</li><li>ResponsibilityName; string; Name of the area of responsibility of the representative such as Benefits Representative.</li><li>ResponsibilityType; string; Responsibility type of the representative such as Human Resource Representative.</li><li>Usage; string; Description of the purpose for the responsibility.</li><li>WorkContactsFlag; boolean; Indicates whether the representatives should be displayed.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>EffectiveEndDate; string</li><li>EffectiveStartDate; string</li><li>PersonAddrUsageId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ImageId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>DeliveryMethodId; integer</li><li>__FLEX_Context; string; Context Value</li><li>__FLEX_Context_DisplayValue; string; Context Value</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AddressId; integer; Surrogate identifier for the address record.</li><li>AddressType; string; Type of address. Valid values are defined in the commonLookupsLOV.</li><li>AddressTypeMeaning; string; Meaning of the person's address type.</li><li>Building; string; Building information associated with the address.</li><li>Country; string; Country in which the address is located. Valid values are defined in the hcmCountriesLov.</li><li>CountryName; string; Name of the country in which the person's address is located.</li><li>EffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>EffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>FloorNumber; string; Floor number associated with the building.</li><li>Latitude; number; Distance between the equator and an address located to its north or south, expressed in degrees and minutes.</li><li>LongPostalCode; string; Long postal code of the primary mail address.</li><li>Longitude; number; Distance between the prime meridian and an address located to its east or west, expressed in degrees and minutes.</li><li>PersonAddrUsageId; integer; Surrogate identifier for the address usage record.</li><li>PostalCode; string; Postal code of the primary mail address.</li><li>PrimaryFlag; boolean; Indicates whether the address is the primary mailing address.</li><li>Provider; string; Company that has validated the address.</li><li>Region1; string; Primary region in which the address is located.</li><li>Region2; string; Secondary region within the primary region.</li><li>Region3; string; Additional secondary region within the primary region.</li><li>TownOrCity; string; Town or city in which the address is located.</li><li>ValidationStatusCode; string; Level of accuracy of an address, as determined by an address provider.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Ethnicity; string; Person's ethnicity. Valid values are defined in the commonLookupsLOV.</li><li>EthnicityId; integer; Surrogate identifier for the person's ethnicity.</li><li>EthnicityMeaning; string; Meaning of the person's ethnicity.</li><li>LegislationCode; string; Legislation code of the ethnicity. Valid values are defined in the hcmCountriesLov.</li><li>LegislationName; string; Name of the person's legislation.</li><li>PrimaryFlag; boolean; Indicates whether the ethnicity is the primary ethnicity record for the person.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>CreationDate; string; Date and time when the supervisor record was created.</li><li>EffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>EffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>LastUpdateDate; string; User who last updated the supervisor record.</li><li>ManagerAssignmentId; integer; Surrogate identifier for the assignment manager.</li><li>ManagerAssignmentNumber; string; Assignment number of the supervisor.</li><li>ManagerType; string; Role the supervisor has with regards to the overall organization structure such as functional, project leader, and so on. Valid values are defined in the commonLookupsLOV.</li></ul><br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>DisplayName; string; Person's display name.</li><li>EffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>EffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>FirstName; string; Person's first name.</li><li>FullName; string; Person's full name.</li><li>Honors; string; Higher qualification appended to a person's name such as PhD.</li><li>KnownAs; string; Person's preferred name.</li><li>LastName; string; Person's last name.</li><li>LegislationCode; string; Legislation code. Valid values are defined in the hcmCountriesLov.</li><li>LegislationName; string; Name of the person's legislation.</li><li>ListName; string; Person's listed name.</li><li>LocalCreatedBy; string; User who created the local name information.</li><li>LocalCreationDate; string; Date and time when the local name information was created.</li><li>LocalDisplayName; string; Person's display name in local language.</li><li>LocalEffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>LocalEffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>LocalFirstName; string; Person's first name in local language.</li><li>LocalFullName; string; Person's full name in local language.</li><li>LocalHonors; string; Higher qualification appended to a person's name such as PhD in local language.</li><li>LocalKnownAs; string; Person's preferred name in local language.</li><li>LocalLastName; string; Person's last name in local language.</li><li>LocalLastUpdateDate; string; Date and time when the local name information was last updated.</li><li>LocalLastUpdatedBy; string; User who last updated the local name information.</li><li>LocalLegislationCode; string; Legislation code of the local language. Valid values are defined in the hcmCountriesLov.</li><li>LocalLegislationName; string; Name of the person's legislation in local language.</li><li>LocalListName; string; Person's listed name in local language.</li><li>LocalMiddleNames; string; Person's middle name in local language.</li><li>LocalMilitaryRank; string; Person's military rank in local language.</li><li>LocalNameInformation1; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation10; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation11; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation12; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation13; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation14; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation15; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation16; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation17; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation18; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation19; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation2; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation20; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation21; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation22; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation23; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation24; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation25; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation26; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation27; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation28; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation29; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation3; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation30; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation4; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation5; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation6; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation7; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation8; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameInformation9; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>LocalNameLanguage; string; Local language of the name. This isn't required for global names. If you're creating a local name, you must provide the language code.</li><li>LocalNameLanguageMeaning; string; Meaning of the local language code for the person's name.</li><li>LocalOrderName; string; Person's order name in local language.</li><li>LocalPersonNameId; integer; Surrogate identifier for the local name record.</li><li>LocalPreNameAdjunct; string; Part of the name added before a person's first name in local language.</li><li>LocalPreviousLastName; string; Person's previous last name in local language.</li><li>LocalSuffix; string; Part of the name appended to a person's last name such as Jr., III, and so on, in local language.</li><li>LocalTitle; string; Person's salutation such as Mr., Ms., and so on in local language. Valid values are defined in the commonLookupsLOV.</li><li>LocalTitleMeaning; string; Meaning of the person's title in local language.</li><li>MiddleNames; string; Person's middle name.</li><li>MilitaryRank; string; Person's military rank.</li><li>NameInformation1; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation10; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation11; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation12; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation13; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation14; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation15; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation16; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation17; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation18; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation19; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation2; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation20; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation21; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation22; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation23; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation24; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation25; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation26; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation27; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation28; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation29; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation3; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation30; string; Additional name attribute reserved for customer legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation4; string; Additional name attribute reserved for Oracle Development for legislation-specific name requirements as defined in the person name style definition.</li><li>NameInformation5; string; Additional name attribute reserved for Oracle Development for legislation-speci
[...]
