{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Worker Journey Tasks",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/action/invokeProcessAutomation": {
      "post": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Initiate a process task",
        "description": "Initiates the process automation integration.",
        "operationId": "do_invokeProcessAutomation_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the process automation."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the process automation."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-action-invokeProcessAutomation-post",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-action-invokeprocessautomation-post"
      }
    },
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/action/generateNavigationURL": {
      "post": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Navigate to a task",
        "description": "Navigates to the URL where the performer can perform the task.",
        "operationId": "do_generateNavigationURL_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "SectionType": {
                    "type": "string",
                    "description": "Advanced task type section in which the URL is generated.",
                    "nullable": true
                  },
                  "SignAddress": {
                    "type": "string",
                    "description": "Internet protocol address of the client.",
                    "nullable": true
                  },
                  "SignerName": {
                    "type": "string",
                    "description": "Full name of the signer.",
                    "nullable": true
                  },
                  "ReturnURL": {
                    "type": "string",
                    "description": "URL that returns the user to the task page.",
                    "nullable": true
                  },
                  "SignerEmail": {
                    "type": "string",
                    "description": "Email address of the signer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "URL to which the user can navigate to perform the task."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "URL to which the user can navigate to perform the task."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-action-generateNavigationURL-post",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-action-generatenavigationurl-post"
      }
    },
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/action/sendReminder": {
      "post": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Send a task reminder",
        "description": "Sends a reminder to the task performer.",
        "operationId": "do_sendReminder_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-action-sendReminder-post",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-action-sendreminder-post"
      }
    },
    "/workerJourneyTasks": {
      "get": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Get all journey tasks",
        "operationId": "getall_workerJourneyTasks",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>JourneyCategory; string; Category of the journey.</li><li>JourneyCode; string; Code for the journey template.</li><li>JourneyInstance; string; Instance of the journey.</li><li>JourneyName; string; Name of the journey.</li><li>JourneyPersonId; integer; Unique person identifier of the journey assignee.</li><li>LearningContentTypeMeaning; string; Meaning of the learning content type.</li><li>Name; string; Name of the task.</li><li>ParentWorkerJourneyId; integer; Identifier of the parent enterprise onboarding checklist. Not applicable for other checklist categories.</li><li>ProcessingMode; string; Processing mode to send journey notifications.</li><li>RequiredFlag; boolean; Indicates whether the task is mandatory or optional. Valid values are Yes and No. The default value is No.</li><li>SignerAuthentication; string; Authentication password of the signer in an electronic signature task.</li><li>Status; string; Status code of the task.</li><li>TargetEndDate; string; Due date of the task.</li><li>VideoTypeMeaning; string; Meaning of video type.</li><li>WorkerJourneyId; integer; Unique identifier of the journey.</li><li>WorkerJourneyTaskId; integer; Unique identifier of the journey task.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all journey tasks that match the primary key specified. <br>Finder Variables <ul><li>WorkerJourneyTaskId; integer;  Unique identifier of the journey task. </li></ul></li><li>findTasksForOthersJourney Finds all tasks assigned to the current signed in user where the journey assignee isn't the signed in user. <br>Finder Variables <ul><li>CategoryFilter; string;  Attribute to filter journey tasks assigned to workers other than the current signed in user by category. </li><li>Facets; string;  Facet names to group search results for journey tasks assigned to workers other than the current signed in user. </li><li>RequiredFilter; string;  Attribute to filter required journey tasks assigned to workers other than the current signed in user. </li><li>SearchTerms; string;  Search criteria to find journey tasks assigned to workers other than the current signed in user. </li><li>StatusFilter; string;  Attribute to filter journey tasks assigned to workers other than the current signed in user by status. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findTasksForSelf Finds all tasks assigned to the current signed in user. <br>Finder Variables <ul><li>CategoryFilter; string;  Attribute to filter journey tasks assigned to self and others by category. </li><li>Facets; string;  Facet names to group search results for journey tasks assigned to self and others. </li><li>RequiredFilter; string;  Attribute to filter required journey tasks assigned to self and others. </li><li>SearchTerms; string;  Search criteria to find journey tasks assigned to self and others. </li><li>StatusFilter; string;  Attribute to filter journey tasks assigned to self and others by status. </li><li>SubCategoryFilter; string;  Filter attribute to retrieve journeys based on subcategory. </li><li>SysEffectiveDate; object;   </li></ul></li><li>findTasksForSelfJourney Finds all tasks assigned to the current signed in user where the journey assignee is also the signed in user. <br>Finder Variables <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all journey tasks that match the primary key specified.",
                "properties": {
                  "WorkerJourneyTaskId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the journey task.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Journey Task ID"
                  }
                }
              },
              {
                "name": "findTasksForOthersJourney",
                "description": "Finds all tasks assigned to the current signed in user where the journey assignee isn't the signed in user.",
                "title": "findTasksForOthersJourney",
                "properties": {
                  "Facets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet names to group search results for journey tasks assigned to workers other than the current signed in user.",
                    "type": "string"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "StatusFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journey tasks assigned to workers other than the current signed in user by status.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journey tasks assigned to workers other than the current signed in user.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journey tasks assigned to workers other than the current signed in user by category.",
                    "type": "string"
                  },
                  "RequiredFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter required journey tasks assigned to workers other than the current signed in user.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findTasksForSelf",
                "description": "Finds all tasks assigned to the current signed in user.",
                "title": "findTasksForSelf",
                "properties": {
                  "SubCategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys based on subcategory.",
                    "type": "string"
                  },
                  "Facets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet names to group search results for journey tasks assigned to self and others.",
                    "type": "string"
                  },
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "StatusFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journey tasks assigned to self and others by status.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journey tasks assigned to self and others.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journey tasks assigned to self and others by category.",
                    "type": "string"
                  },
                  "RequiredFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter required journey tasks assigned to self and others.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findTasksForSelfJourney",
                "description": "Finds all tasks assigned to the current signed in user where the journey assignee is also the signed in user.",
                "title": "findTasksForSelfJourney",
                "properties": {}
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneyTasks"
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneyTasks-get",
        "x-filename-id": "workerjourneytasks-get"
      },
      "post": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Update journey tasks",
        "operationId": "create_workerJourneyTasks",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workerJourneyTasks-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneyTasks-item-response"
                }
              }
            },
            "links": {
              "checkTaskCompletion": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1checkTaskCompletion/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Checks if the task can be completed."
              },
              "generateNavigationDetails": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1generateNavigationDetails/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Navigates to the application task where the performer can perform the task."
              },
              "attachments": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1attachments/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "documents": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1documents/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "learningItems": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1learningItems/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The learningContentItemsLOV resource provides a list of learning content items such as SCORM, HACP, PDF, video, assessment, and web link."
              },
              "generateNavigationURL": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1generateNavigationURL/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Navigates to the URL where the performer can perform the task."
              },
              "targetDurationUOMLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DCHECKLIST_QUALIFYING_UNITS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TargetDurationUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TargetDurationUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reassign": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1reassign/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Reassigns a task to another task performer."
              },
              "tasksDFF": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1tasksDFF/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                }
              },
              "invokeProcessAutomation": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1invokeProcessAutomation/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Initiates the process automation integration."
              },
              "questionnaireResponses": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1questionnaireResponses/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The questionnaireResponses resource includes the details of the attempts made by a participant when responding to a questionnaire."
              },
              "copyToDocumentRecords": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1copyToDocumentRecords/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Uploads the document to document records."
              },
              "taskStatusLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CHECKLIST_TASK_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reminderRelativeToLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_CHK_TASK_REMINDER_TIME"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReminderRelativeTo; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReminderRelativeTo",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reopen": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1reopen/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Reopen an assigned journey task."
              },
              "sendReminder": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1sendReminder/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Sends a reminder to the task performer."
              },
              "generateContent": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1generateContent/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Generates user-defined content of a task."
              },
              "uploadImage": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1uploadImage/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Upload image for a journey template."
              },
              "notifications": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1notifications/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The notifications resource is a child of the tasks resource. It includes notification settings for the task performer and owner."
              },
              "properties": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1properties/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The properties resource is a child of the tasks resource. It includes display property settings for a task."
              }
            }
          }
        },
        "x-internal-id": "workerJourneyTasks-post",
        "x-filename-id": "workerjourneytasks-post"
      }
    },
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/action/checkTaskCompletion": {
      "post": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Check task completion",
        "description": "Checks if the task can be completed.",
        "operationId": "do_checkTaskCompletion_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subType": {
                    "type": "string",
                    "description": "Subtype of journey task.",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of journey task.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier to decide if the task can be completed."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier to decide if the task can be completed."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-action-checkTaskCompletion-post",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-action-checktaskcompletion-post"
      }
    },
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/action/uploadImage": {
      "post": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Upload image",
        "description": "Upload image for a journey template.",
        "operationId": "do_uploadImage_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters of the image.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for an uploaded image query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for an uploaded image query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-action-uploadImage-post",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-action-uploadimage-post"
      }
    },
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/action/generateNavigationDetails": {
      "post": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Navigate to an application task",
        "description": "Navigates to the application task where the performer can perform the task.",
        "operationId": "do_generateNavigationDetails_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters associated with the application task.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Application task to which the user can navigate to perform the task."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Application task to which the user can navigate to perform the task."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-action-generateNavigationDetails-post",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-action-generatenavigationdetails-post"
      }
    },
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/action/reassign": {
      "post": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Reassign a task",
        "description": "Reassigns a task to another task performer.",
        "operationId": "do_reassign_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "PerformerPersonId": {
                    "type": "number",
                    "description": "Person identifier of the new task performer.",
                    "nullable": true
                  },
                  "PerformerPersonNumber": {
                    "type": "string",
                    "description": "Person number of the new task performer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Identifier of the worker journey task for the new task assignee."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Identifier of the worker journey task for the new task assignee."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-action-reassign-post",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-action-reassign-post"
      }
    },
    "/workerJourneyTasks/{workerJourneyTasksUniqID}": {
      "get": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Get a journey task",
        "operationId": "get_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneyTasks-item-response"
                }
              }
            },
            "links": {
              "checkTaskCompletion": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1checkTaskCompletion/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Checks if the task can be completed."
              },
              "generateNavigationDetails": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1generateNavigationDetails/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Navigates to the application task where the performer can perform the task."
              },
              "attachments": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1attachments/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "documents": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1documents/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "learningItems": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1learningItems/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The learningContentItemsLOV resource provides a list of learning content items such as SCORM, HACP, PDF, video, assessment, and web link."
              },
              "generateNavigationURL": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1generateNavigationURL/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Navigates to the URL where the performer can perform the task."
              },
              "targetDurationUOMLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DCHECKLIST_QUALIFYING_UNITS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TargetDurationUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TargetDurationUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reassign": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1reassign/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Reassigns a task to another task performer."
              },
              "tasksDFF": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1tasksDFF/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                }
              },
              "invokeProcessAutomation": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1invokeProcessAutomation/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Initiates the process automation integration."
              },
              "questionnaireResponses": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1questionnaireResponses/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The questionnaireResponses resource includes the details of the attempts made by a participant when responding to a questionnaire."
              },
              "copyToDocumentRecords": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1copyToDocumentRecords/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Uploads the document to document records."
              },
              "taskStatusLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CHECKLIST_TASK_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reminderRelativeToLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_CHK_TASK_REMINDER_TIME"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReminderRelativeTo; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReminderRelativeTo",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reopen": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1reopen/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Reopen an assigned journey task."
              },
              "sendReminder": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1sendReminder/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Sends a reminder to the task performer."
              },
              "generateContent": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1generateContent/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Generates user-defined content of a task."
              },
              "uploadImage": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1action~1uploadImage/post",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "Upload image for a journey template."
              },
              "notifications": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1notifications/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The notifications resource is a child of the tasks resource. It includes notification settings for the task performer and owner."
              },
              "properties": {
                "operationRef": "#/paths/~1workerJourneyTasks~1{workerJourneyTasksUniqID}~1child~1properties/get",
                "parameters": {
                  "workerJourneyTasksUniqID": "$request.path.workerJourneyTasksUniqID"
                },
                "description": "The properties resource is a child of the tasks resource. It includes display property settings for a task."
              }
            }
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-get",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-get"
      },
      "delete": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Delete a journey task",
        "operationId": "delete_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-delete",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-delete"
      },
      "patch": {
        "tags": [
          "Worker Journey Tasks"
        ],
        "summary": "Create a journey task",
        "operationId": "update_workerJourneyTasks",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workerJourneyTasks-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneyTasks-item-response"
                }
              }
            },
            "links": {
              "checkTaskCompletion": {
[...]
