{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Worker Journeys",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workerJourneys/action/findOrAssignContextualJourney": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Find a contextual journey",
        "description": "Finds existing contextual journeys for a worker.",
        "operationId": "doall_findOrAssignContextualJourney_workerJourneys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Context": {
                    "type": "string",
                    "description": "Context of the assigned journey.",
                    "nullable": true
                  },
                  "PersonId": {
                    "type": "number",
                    "description": "Person identifier of the person who's assigned a existing contextual journey.",
                    "nullable": true
                  },
                  "AssignmentId": {
                    "type": "number",
                    "description": "Assignment identifier of the person who's assigned a existing contextual journey.",
                    "nullable": true
                  },
                  "AllocationDate": {
                    "type": "string",
                    "description": "Date on which the existing contextual journey was assigned.",
                    "format": "date",
                    "nullable": true
                  },
                  "ContextualAction": {
                    "type": "string",
                    "description": "Transaction flow of the contextual journey.",
                    "nullable": true
                  },
                  "JourneyFlow": {
                    "type": "string",
                    "description": "Launch point of the quick action, either from a contextual journey or an assigned journey.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier for the existing worker contextual journey."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier for the existing worker contextual journey."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-action-findOrAssignContextualJourney-post",
        "x-filename-id": "workerjourneys-action-findorassigncontextualjourney-post"
      }
    },
    "/workerJourneys/action/uploadImage": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Upload image",
        "description": "Upload image for a journey template.",
        "operationId": "doall_uploadImage_workerJourneys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters of the image.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for an uploaded image query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for an uploaded image query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-action-uploadImage-post",
        "x-filename-id": "workerjourneys-action-uploadimage-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/action/compareWithOSCS": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Compare with Oracle search",
        "description": "Compare database data with Oracle search.",
        "operationId": "do_compareWithOSCS_workerJourneys",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "array",
                    "description": "Parameters for comparing with Oracle search.",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "Response returned for compare query.",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "Response returned for compare query.",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-action-compareWithOSCS-post",
        "x-filename-id": "workerjourneys-workerjourneyid-action-comparewithoscs-post"
      }
    },
    "/workerJourneys": {
      "get": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Get all worker journeys",
        "operationId": "getall_workerJourneys",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AccessLevel; string; Access level of a journey template.</li><li>ActionDate; string; Date as of which the journey is allocated.</li><li>AllocationDate; string; Date on which the journey is initiated.</li><li>BackgroundImageURL; string; URL of the image displayed on the journey card and journey details page.</li><li>Category; string; Category code of the journey.</li><li>Code; string; Code for the journey template.</li><li>Context; string; Context for a journey.</li><li>ContextualAction; string; Transaction flow for which the contextual journey is applicable.</li><li>CountryCode; string; Code of the country to which the journey is applicable.</li><li>DisplayType; string; Display type of the guided journey.</li><li>InitiatorDisplayName; string; Display name of the journey initiator.</li><li>Instance; string; Instance of the allocated journey to identify if the same journey is allocated to the worker multiple times.</li><li>JourneyId; integer; Identifier of the journey.</li><li>Level; string; Level of a journey template.</li><li>LevelValue; integer; Value of journey template level such as global or personal.</li><li>Name; string; Name of the journey.</li><li>PersonId; integer; Internal identifier of the journey assignee.</li><li>Status; string; Status code of the worker journey.</li><li>SubCategory; string; Subcategory of the worker journey.</li><li>WorkerJourneyId; integer; Primary key generated by the application.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all journeys that match the primary key specified. <br>Finder Variables <ul><li>WorkerJourneyId; integer;  Unique identifier of the journey. </li></ul></li><li>findAllReportsJourneys Finds all journeys assigned to all reports of the current signed in user and restricted by the person security profile. <br>Finder Variables <ul><li>CategoryFilter; string;  Attribute to filter journeys assigned to all reports of the current signed in user by category. </li><li>Facets; string;  Facet names to group search results for journeys assigned to all reports of the current signed in user. </li><li>SearchTerms; string;  Search criteria to find journeys assigned to all reports of the current signed in user. </li><li>StatusFilter; string;  Attribute to filter journeys assigned to all reports of the current signed in user by status. </li><li>SubCategoryFilter; string;  Filter attribute to retrieve journeys assigned to all reports of the current signed in user by subcategory. </li></ul></li><li>findByJourneyId Finds all the journeys based on the journey identifier. <br>Finder Variables <ul><li>AllocatedAfterDate; string;  Filter attribute to retrieve journeys that are assigned after a specific date. </li><li>JourneyId; integer;  Filter attribute to retrieve journeys based on the journey identifier. </li><li>Overdue; string;  Filter attribute to retrieve journeys that are overdue. </li><li>StatusCategory; string;  Filter attribute to retrieve journeys based on the status category. </li></ul></li><li>findDirectReportsJourneys Finds all journeys assigned to direct reports of the current signed in user and restricted by the person security profile. <br>Finder Variables <ul><li>CategoryFilter; string;  Attribute to filter journeys assigned to direct reports of the current signed in user by category. </li><li>Facets; string;  Facet names to group search results for journeys assigned to direct reports of the current signed in user. </li><li>SearchTerms; string;  Search criteria to find journeys assigned to direct reports of the current signed in user. </li><li>StatusFilter; string;  Attribute to filter journeys assigned to direct reports of the current signed in user by status. </li><li>SubCategoryFilter; string;  Filter attribute to retrieve journeys assigned to direct reports of the current signed in user by subcategory. </li></ul></li><li>findOpenContextualJourneys Finds all open contextual journeys. <br>Finder Variables <ul><li>AssignmentId; integer;  Filter attribute to retrieve contextual journeys based on assignment identifier. </li><li>Context; string;  Filter attribute to retrieve contextual journeys based on context. </li><li>ContextualAction; string;  Filter attribute to retrieve contextual journeys based on the transaction flow. </li><li>PersonId; integer;  Filter attribute to retrieve contextual journeys based on person identifier. </li></ul></li><li>findOthersJourneys Finds all journeys assigned to workers other than the current signed in user and restricted by the person security profile. <br>Finder Variables <ul><li>CategoryFilter; string;  Attribute to filter journeys assigned to workers other than the current signed in user by category. </li><li>Facets; string;  Facet names to group search results for journeys assigned to workers other than the current signed in user. </li><li>FilterAttributes; string;  Filter attribute to retrieve journeys assigned to workers other than the current signed in user. </li><li>PersonId; integer;  Attribute to filter journeys assigned to workers other than the current signed in user by person identifier. </li><li>SearchTerms; string;  Search criteria to find journeys assigned to workers other than the current signed in user. </li><li>StatusFilter; string;  Attribute to filter journeys assigned to workers other than the current signed in user by status. </li><li>SubCategoryFilter; string;  Filter attribute to retrieve journeys assigned to workers other than the current signed in user by subcategory. </li></ul></li><li>findSelfJourneys Finds all journeys assigned to the signed in user. <br>Finder Variables <ul><li>CategoryFilter; string;  Attribute to filter journeys assigned to the current signed in user by category. </li><li>CodeFilter; string;  Filter attribute to retrieve journeys assigned to the current signed in user by code. </li><li>Facets; string;  Facet names to group search results for journeys assigned to the current signed in user. </li><li>SearchTerms; string;  Search criteria to find journeys assigned the current signed in user. </li><li>StatusFilter; string;  Attribute to filter journeys assigned to the current signed in user by status. </li><li>SubCategoryFilter; string;  Filter attribute to retrieve journeys assigned to the current signed in user by subcategory. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all journeys that match the primary key specified.",
                "properties": {
                  "WorkerJourneyId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the journey.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Worker Journey ID"
                  }
                }
              },
              {
                "name": "findAllReportsJourneys",
                "description": "Finds all journeys assigned to all reports of the current signed in user and restricted by the person security profile.",
                "title": "findAllReportsJourneys",
                "properties": {
                  "SubCategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys assigned to all reports of the current signed in user by subcategory.",
                    "type": "string"
                  },
                  "Facets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet names to group search results for journeys assigned to all reports of the current signed in user.",
                    "type": "string"
                  },
                  "StatusFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to all reports of the current signed in user by status.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journeys assigned to all reports of the current signed in user.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to all reports of the current signed in user by category.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findByJourneyId",
                "description": "Finds all the journeys based on the journey identifier.",
                "title": "findByJourneyId",
                "properties": {
                  "JourneyId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys based on the journey identifier.",
                    "type": "integer"
                  },
                  "AllocatedAfterDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Filter attribute to retrieve journeys that are assigned after a specific date.",
                    "type": "string"
                  },
                  "StatusCategory": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys based on the status category.",
                    "type": "string"
                  },
                  "Overdue": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys that are overdue.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findDirectReportsJourneys",
                "description": "Finds all journeys assigned to direct reports of the current signed in user and restricted by the person security profile.",
                "title": "findDirectReportsJourneys",
                "properties": {
                  "SubCategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys assigned to direct reports of the current signed in user by subcategory.",
                    "type": "string"
                  },
                  "Facets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet names to group search results for journeys assigned to direct reports of the current signed in user.",
                    "type": "string"
                  },
                  "StatusFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to direct reports of the current signed in user by status.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journeys assigned to direct reports of the current signed in user.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to direct reports of the current signed in user by category.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findOpenContextualJourneys",
                "description": "Finds all open contextual journeys.",
                "title": "findOpenContextualJourneys",
                "properties": {
                  "Context": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Filter attribute to retrieve contextual journeys based on context.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Filter attribute to retrieve contextual journeys based on person identifier.",
                    "type": "integer"
                  },
                  "AssignmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Filter attribute to retrieve contextual journeys based on assignment identifier.",
                    "type": "integer"
                  },
                  "ContextualAction": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Filter attribute to retrieve contextual journeys based on the transaction flow.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findOthersJourneys",
                "description": "Finds all journeys assigned to workers other than the current signed in user and restricted by the person security profile.",
                "title": "findOthersJourneys",
                "properties": {
                  "FilterAttributes": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys assigned to workers other than the current signed in user.",
                    "type": "string"
                  },
                  "SubCategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys assigned to workers other than the current signed in user by subcategory.",
                    "type": "string"
                  },
                  "Facets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet names to group search results for journeys assigned to workers other than the current signed in user.",
                    "type": "string"
                  },
                  "PersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to workers other than the current signed in user by person identifier.",
                    "type": "integer"
                  },
                  "StatusFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to workers other than the current signed in user by status.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journeys assigned to workers other than the current signed in user.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to workers other than the current signed in user by category.",
                    "type": "string"
                  }
                }
              },
              {
                "name": "findSelfJourneys",
                "description": "Finds all journeys assigned to the signed in user.",
                "title": "findSelfJourneys",
                "properties": {
                  "SubCategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys assigned to the current signed in user by subcategory.",
                    "type": "string"
                  },
                  "Facets": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Facet names to group search results for journeys assigned to the current signed in user.",
                    "type": "string"
                  },
                  "CodeFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Filter attribute to retrieve journeys assigned to the current signed in user by code.",
                    "type": "string"
                  },
                  "StatusFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to the current signed in user by status.",
                    "type": "string"
                  },
                  "SearchTerms": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Search criteria to find journeys assigned the current signed in user.",
                    "type": "string"
                  },
                  "CategoryFilter": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Attribute to filter journeys assigned to the current signed in user by category.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys"
                }
              }
            },
            "links": {
              "assignJourney": {
                "operationRef": "#/paths/~1workerJourneys~1action~1assignJourney/post",
                "description": "Allocates a journey to a worker."
              },
              "findOrAssignContextualJourney": {
                "operationRef": "#/paths/~1workerJourneys~1action~1findOrAssignContextualJourney/post",
                "description": "Finds existing contextual journeys for a worker."
              },
              "uploadImage": {
                "operationRef": "#/paths/~1workerJourneys~1action~1uploadImage/post",
                "description": "Upload image for a journey template."
              },
              "getJourneyAllocationDetails": {
                "operationRef": "#/paths/~1workerJourneys~1action~1getJourneyAllocationDetails/post",
                "description": "Get journey allocation status details for a worker."
              },
              "synchronizeToOsByPerson": {
                "operationRef": "#/paths/~1workerJourneys~1action~1synchronizeToOsByPerson/post",
                "description": "Synchronize Oracle search for persons."
              },
              "assignContextualJourney": {
                "operationRef": "#/paths/~1workerJourneys~1action~1assignContextualJourney/post",
                "description": "Assigns a contextual journey to a worker."
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-get",
        "x-filename-id": "workerjourneys-get"
      },
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Create a worker journey",
        "operationId": "create_workerJourneys",
        "parameters": [
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workerJourneys-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-item-response"
                }
              }
            },
            "links": {
              "allStepTasks": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1allStepTasks/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The allStepTasks resource is a child of the workerJourneys resource. It includes all the step tasks in the worker journey."
              },
              "addTaskFromLibrary": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1addTaskFromLibrary/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Adds a library task to a worker journey."
              },
              "notes": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1notes/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The notes resource is a child of the workerJourneys resource. It includes the notes associated with the worker journey."
              },
              "synchronizeToOs": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1synchronizeToOs/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Synchronize Oracle search for a person."
              },
              "fetchJourneyFromOSCS": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1fetchJourneyFromOSCS/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Fetch worker journey using Oracle Search"
              },
              "taskCounts": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1taskCounts/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The taskCounts resource is a child of the workerJourneys resource. It includes a summary of the tasks in the worker journey."
              },
              "compareWithOSCS": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1compareWithOSCS/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Compare database data with Oracle search."
              },
              "taskTypes": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1taskTypes/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The taskTypes resource is the child of the workerJourneys resource. It includes all the task types associated with the parent journey template."
              },
              "forceComplete": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1forceComplete/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Force completes a worker journey."
              },
              "contacts": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1contacts/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                }
              },
              "events": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1events/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The events resource is a child of the workerJourneys resource. It includes a list of events associated with the worker journey."
              },
              "properties": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1properties/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The properties resource is the child of the workerJourneys resource. It includes all the journey properties associated with the parent journey template."
              },
              "tasks": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The tasks resource is a child of the workerJourneys resource. It includes all the tasks in the worker journey."
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-post",
        "x-filename-id": "workerjourneys-post"
      }
    },
    "/workerJourneys/action/getJourneyAllocationDetails": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Get journey allocation status details",
        "description": "Get journey allocation status details for a worker.",
        "operationId": "doall_getJourneyAllocationDetails_workerJourneys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ChecklistActionOccurrenceId": {
                    "type": "number",
                    "description": "Action occurrence identifier for an allocated journey of a worker.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Unique identifier for the assigned journey status details of a worker."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Unique identifier for the assigned journey status details of a worker."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-action-getJourneyAllocationDetails-post",
        "x-filename-id": "workerjourneys-action-getjourneyallocationdetails-post"
      }
    },
    "/workerJourneys/action/assignJourney": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Allocate a journey",
        "description": "Allocates a journey to a worker.",
        "operationId": "doall_assignJourney_workerJourneys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "PersonNumber": {
                    "type": "string",
                    "description": "Person number of the journey assignee.",
                    "nullable": true
                  },
                  "Description": {
                    "type": "string",
                    "description": "Description of the journey.",
                    "nullable": true
                  },
                  "TemplateCountry": {
                    "type": "string",
                    "description": "Country to which the journey template is applicable.",
                    "nullable": true
                  },
                  "Comments": {
                    "type": "string",
                    "description": "Comments for the journey.",
                    "nullable": true
                  },
                  "AsyncFlag": {
                    "type": "boolean",
                    "description": "Indicates whether to assign journey synchronously or asynchronously. Default is N and indicates asynchronous.",
                    "nullable": true
                  },
                  "PersonId": {
                    "type": "number",
                    "description": "Person identifier for the journey assignee.",
                    "nullable": true
                  },
                  "TemplateCategory": {
                    "type": "string",
                    "description": "Category of the journey template.",
                    "nullable": true
                  },
                  "AssignmentId": {
                    "type": "number",
                    "description": "Assignment identifier for the journey assignee.",
                    "nullable": true
                  },
                  "AssignmentNumber": {
                    "type": "string",
                    "description": "Assignment number of the journey assignee.",
                    "nullable": true
                  },
                  "AllocationDate": {
                    "type": "string",
                    "description": "Date when the journey was assigned.",
                    "format": "date",
                    "nullable": true
                  },
                  "TemplateName": {
                    "type": "string",
                    "description": "Name of the journey template.",
                    "nullable": true
                  },
                  "TaskExclusions": {
                    "type": "array",
                    "description": "Tasks excluded from the journey.",
                    "nullable": true,
                    "items": {
                      "type": "number"
                    }
                  },
                  "TemplateId": {
                    "type": "number",
                    "description": "Identifier for the journey template.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Unique identifier for the worker journey."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Unique identifier for the worker journey."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-action-assignJourney-post",
        "x-filename-id": "workerjourneys-action-assignjourney-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/action/synchronizeToOs": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Synchronize Oracle search",
        "description": "Synchronize Oracle search for a person.",
        "operationId": "do_synchronizeToOs_workerJourneys",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for synchronization query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for synchronization query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-action-synchronizeToOs-post",
        "x-filename-id": "workerjourneys-workerjourneyid-action-synchronizetoos-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/action/fetchJourneyFromOSCS": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Fetch journey using Oracle Search",
        "description": "Fetch worker journey using Oracle Search",
        "operationId": "do_fetchJourneyFromOSCS_workerJourneys",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned for fetch query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Response returned for fetch query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-action-fetchJourneyFromOSCS-post",
        "x-filename-id": "workerjourneys-workerjourneyid-action-fetchjourneyfromoscs-post"
      }
    },
    "/workerJourneys/action/assignContextualJourney": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Assign a contextual journey",
        "description": "Assigns a contextual journey to a worker.",
        "operationId": "doall_assignContextualJourney_workerJourneys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "PersonId": {
                    "type": "number",
                    "description": "Person identifier of the person who's assigned a contextual journey.",
                    "nullable": true
                  },
                  "AssignmentId": {
                    "type": "number",
                    "description": "Assignment identifier of the person who's assigned a contextual journey.",
                    "nullable": true
                  },
                  "AllocationDate": {
                    "type": "string",
                    "description": "Date on which the contextual journey is assigned.",
                    "format": "date",
                    "nullable": true
                  },
                  "TemplateId": {
                    "type": "number",
                    "description": "Identifier of the contextual journey template.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Unique identifier for the worker contextual journey."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Unique identifier for the worker contextual journey."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-action-assignContextualJourney-post",
        "x-filename-id": "workerjourneys-action-assigncontextualjourney-post"
      }
    },
    "/workerJourneys/action/synchronizeToOsByPerson": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Synchronize Oracle search",
        "description": "Synchronize Oracle search for persons.",
        "operationId": "doall_synchronizeToOsByPerson_workerJourneys",
        "parameters": [
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters for Oracle search.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for synchronization query."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Response returned for synchronization query."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-action-synchronizeToOsByPerson-post",
        "x-filename-id": "workerjourneys-action-synchronizetoosbyperson-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/action/addTaskFromLibrary": {
      "post": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Add a library task",
        "description": "Adds a library task to a worker journey.",
        "operationId": "do_addTaskFromLibrary_workerJourneys",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "LibraryTaskName": {
                    "type": "string",
                    "description": "Name of the library task.",
                    "nullable": true
                  },
                  "LibraryTaskId": {
                    "type": "number",
                    "description": "Identifier for the library task.",
                    "nullable": true
                  },
                  "PerformerPersonId": {
                    "type": "number",
                    "description": "Person identifier of the task performer.",
                    "nullable": true
                  },
                  "AllocationDate": {
                    "type": "string",
                    "description": "Date on which the task was allocated.",
                    "format": "date",
                    "nullable": true
                  },
                  "PerformerPersonNumber": {
                    "type": "string",
                    "description": "Person number of the task performer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Unique identifier for the worker journey task."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Unique identifier for the worker journey task."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-action-addTaskFromLibrary-post",
        "x-filename-id": "workerjourneys-workerjourneyid-action-addtaskfromlibrary-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}": {
      "get": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Get a worker journey",
        "operationId": "get_workerJourneys",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-item-response"
                }
              }
            },
            "links": {
              "allStepTasks": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1allStepTasks/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The allStepTasks resource is a child of the workerJourneys resource. It includes all the step tasks in the worker journey."
              },
              "addTaskFromLibrary": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1addTaskFromLibrary/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Adds a library task to a worker journey."
              },
              "notes": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1notes/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The notes resource is a child of the workerJourneys resource. It includes the notes associated with the worker journey."
              },
              "synchronizeToOs": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1synchronizeToOs/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Synchronize Oracle search for a person."
              },
              "fetchJourneyFromOSCS": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1fetchJourneyFromOSCS/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Fetch worker journey using Oracle Search"
              },
              "taskCounts": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1taskCounts/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The taskCounts resource is a child of the workerJourneys resource. It includes a summary of the tasks in the worker journey."
              },
              "compareWithOSCS": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1compareWithOSCS/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Compare database data with Oracle search."
              },
              "taskTypes": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1taskTypes/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The taskTypes resource is the child of the workerJourneys resource. It includes all the task types associated with the parent journey template."
              },
              "forceComplete": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1action~1forceComplete/post",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Force completes a worker journey."
              },
              "contacts": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1contacts/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                }
              },
              "events": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1events/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The events resource is a child of the workerJourneys resource. It includes a list of events associated with the worker journey."
              },
              "properties": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1properties/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The properties resource is the child of the workerJourneys resource. It includes all the journey properties associated with the parent journey template."
              },
              "tasks": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks/get",
                "parameters": {
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The tasks resource is a child of the workerJourneys resource. It includes all the tasks in the worker journey."
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-get",
        "x-filename-id": "workerjourneys-workerjourneyid-get"
      },
      "delete": {
        "tags": [
          "Worker Journeys"
        ],
        "summary": "Delete a worker journey",
        "operationId": "delete_workerJourneys",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
[...]
