{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Workers/National Identifiers",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workers/{workersUniqID}/child/nationalIdentifiers": {
      "get": {
        "tags": [
          "Workers/National Identifiers"
        ],
        "summary": "Get all worker national identifiers",
        "operationId": "getall_workers-nationalIdentifiers",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ExpirationDate; string; Expiration date of the national identifier.</li><li>LegislationCode; string; Legislation code of the national identifier. Valid values are defined in the hcmCountriesLov.</li><li>LegislationName; string; Name of the person's legislation.</li><li>NationalIdentifierNumber; string; National identification number.</li><li>NationalIdentifierType; string; Type of national identifier. Valid values are defined in the commonLookupsLOV.</li><li>NationalIdentifierTypeMeaning; string; Meaning of the person's national identifier type.</li><li>PrimaryFlag; boolean; Indicates whether the national identifier is the person's primary national identifier.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the worker national identifiers that match the specified primary key criteria. <br>Finder Variables <ul><li>NationalIdentifierId; integer;  Surrogate identifier for the worker's national identifier. </li></ul></li><li>findPrimaryNID Finds the primary national identifier of a worker based on the specified criteria. <br>Finder Variables <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the worker national identifiers that match the specified primary key criteria.",
                "properties": {
                  "NationalIdentifierId": {
                    "x-queryable": false,
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the worker's national identifier.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "National Identifier ID"
                  }
                }
              },
              {
                "name": "findPrimaryNID",
                "description": "Finds the primary national identifier of a worker based on the specified criteria.",
                "title": "findPrimaryNID",
                "properties": {}
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-nationalIdentifiers"
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-nationalIdentifiers-get",
        "x-filename-id": "workers-workersuniqid-child-nationalidentifiers-get"
      },
      "post": {
        "tags": [
          "Workers/National Identifiers"
        ],
        "summary": "Create a worker national identifier",
        "operationId": "create_workers-nationalIdentifiers",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workers-nationalIdentifiers-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-nationalIdentifiers-item-response"
                }
              }
            },
            "links": {
              "legislationCodesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegislationCode; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegislationCode",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "nationalIdentifierTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{NationalIdentifierType}%2CLookupType%3DPER_NATIONAL_IDENTIFIER_TYPE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: NationalIdentifierType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/NationalIdentifierType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "nationalIdentifiersDFF": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1nationalIdentifiers~1{NationalIdentifierId}~1child~1nationalIdentifiersDFF/get",
                "parameters": {
                  "NationalIdentifierId": "$request.path.NationalIdentifierId",
                  "workersUniqID": "$request.path.workersUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-nationalIdentifiers-post",
        "x-filename-id": "workers-workersuniqid-child-nationalidentifiers-post"
      }
    },
    "/workers/{workersUniqID}/child/nationalIdentifiers/{NationalIdentifierId}": {
      "get": {
        "tags": [
          "Workers/National Identifiers"
        ],
        "summary": "Get a worker national identifier",
        "operationId": "get_workers-nationalIdentifiers",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NationalIdentifierId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "National Identifier ID",
              "type": "integer",
              "description": "Surrogate identifier for the national identifier record.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-nationalIdentifiers-item-response"
                }
              }
            },
            "links": {
              "legislationCodesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegislationCode; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegislationCode",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "nationalIdentifierTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{NationalIdentifierType}%2CLookupType%3DPER_NATIONAL_IDENTIFIER_TYPE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: NationalIdentifierType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/NationalIdentifierType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "nationalIdentifiersDFF": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1nationalIdentifiers~1{NationalIdentifierId}~1child~1nationalIdentifiersDFF/get",
                "parameters": {
                  "NationalIdentifierId": "$request.path.NationalIdentifierId",
                  "workersUniqID": "$request.path.workersUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-nationalIdentifiers-{NationalIdentifierId}-get",
        "x-filename-id": "workers-workersuniqid-child-nationalidentifiers-nationalidentifierid-get"
      },
      "delete": {
        "tags": [
          "Workers/National Identifiers"
        ],
        "summary": "Delete a worker national identifier",
        "operationId": "delete_workers-nationalIdentifiers",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NationalIdentifierId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "National Identifier ID",
              "type": "integer",
              "description": "Surrogate identifier for the national identifier record.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-nationalIdentifiers-{NationalIdentifierId}-delete",
        "x-filename-id": "workers-workersuniqid-child-nationalidentifiers-nationalidentifierid-delete"
      },
      "patch": {
        "tags": [
          "Workers/National Identifiers"
        ],
        "summary": "Update a worker national identifier",
        "operationId": "update_workers-nationalIdentifiers",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NationalIdentifierId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "National Identifier ID",
              "type": "integer",
              "description": "Surrogate identifier for the national identifier record.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-queryable": false,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workers-nationalIdentifiers-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-nationalIdentifiers-item-response"
                }
              }
            },
            "links": {
              "legislationCodesLov": {
                "operationRef": "#/paths/~1hcmCountriesLov/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: LegislationCode; Target Attribute: TerritoryCode</li><li>Display Attribute: TerritoryCode, CountryName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/LegislationCode",
                  "displayValues": [
                    "TerritoryCode"
                  ],
                  "itemsPath": "items",
                  "valueField": "TerritoryCode",
                  "displayFields": [
                    "TerritoryCode",
                    "CountryName"
                  ]
                }
              },
              "nationalIdentifierTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupCode%3D{NationalIdentifierType}%2CLookupType%3DPER_NATIONAL_IDENTIFIER_TYPE%2CLegislationCode%3D{LegislationCode}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: NationalIdentifierType; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/NationalIdentifierType",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "nationalIdentifiersDFF": {
                "operationRef": "#/paths/~1workers~1{workersUniqID}~1child~1nationalIdentifiers~1{NationalIdentifierId}~1child~1nationalIdentifiersDFF/get",
                "parameters": {
                  "NationalIdentifierId": "$request.path.NationalIdentifierId",
                  "workersUniqID": "$request.path.workersUniqID"
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-nationalIdentifiers-{NationalIdentifierId}-patch",
        "x-filename-id": "workers-workersuniqid-child-nationalidentifiers-nationalidentifierid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "workers-nationalIdentifiers": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/workers-nationalIdentifiers-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "workers-nationalIdentifiers-item-response": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the national identifier record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the national identifier record was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the national identifier.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Issue date of the national identifier.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdateDate": {
            "title": "Last Updated Date",
            "type": "string",
            "description": "Date and time when the national identifier record was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the national identifier record.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LegislationCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Legislation code of the national identifier. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "combo_lov",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LegislationName": {
            "title": "Country",
            "maxLength": 80,
            "type": "string",
            "description": "Name of the person's legislation.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "NationalIdentifierId": {
            "title": "National Identifier ID",
            "type": "integer",
            "description": "Surrogate identifier for the national identifier record.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            }
          },
          "NationalIdentifierNumber": {
            "title": "National ID",
            "maxLength": 30,
            "type": "string",
            "description": "National identification number.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NationalIdentifierType": {
            "title": "National ID Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of national identifier. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "LegislationCode"
              ]
            },
            "x-queryable": true
          },
          "NationalIdentifierTypeMeaning": {
            "title": "National ID Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the person's national identifier type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": true
          },
          "PlaceOfIssue": {
            "title": "Place of Issue",
            "maxLength": 30,
            "type": "string",
            "description": "Place where the national identifier was issued.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PrimaryFlag": {
            "title": "Primary",
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the national identifier is the person's primary national identifier.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "nationalIdentifiersDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/workers-nationalIdentifiers-nationalIdentifiersDFF-item-response"
            },
            "x-cardinality": "1"
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "workers-nationalIdentifiers-nationalIdentifiersDFF-item-response": {
        "type": "object",
        "properties": {
          "NationalIdentifierId": {
            "title": "National Identifier ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            },
            "x-queryable": true
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "workers-nationalIdentifiers-item-post-request": {
        "required": [
          "LegislationCode",
          "NationalIdentifierNumber",
          "NationalIdentifierType"
        ],
        "type": "object",
        "properties": {
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the national identifier.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Issue date of the national identifier.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LegislationCode": {
            "title": "Country",
            "maxLength": 30,
            "type": "string",
            "description": "Legislation code of the national identifier. Valid values are defined in the hcmCountriesLov.",
            "nullable": false,
            "x-hints": {
              "controlType": "combo_lov",
              "includeInCompactView": true
            }
          },
          "NationalIdentifierNumber": {
            "title": "National ID",
            "maxLength": 30,
            "type": "string",
            "description": "National identification number.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "NationalIdentifierType": {
            "title": "National ID Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of national identifier. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "LegislationCode"
              ]
            }
          },
          "PlaceOfIssue": {
            "title": "Place of Issue",
            "maxLength": 30,
            "type": "string",
            "description": "Place where the national identifier was issued.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PrimaryFlag": {
            "title": "Primary",
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the national identifier is the person's primary national identifier.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "nationalIdentifiersDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/workers-nationalIdentifiers-nationalIdentifiersDFF-item-post-request"
            },
            "x-cardinality": "1"
          }
        }
      },
      "workers-nationalIdentifiers-nationalIdentifiersDFF-item-post-request": {
        "type": "object",
        "properties": {
          "NationalIdentifierId": {
            "title": "National Identifier ID",
            "type": "integer",
            "format": "int64",
            "nullable": false,
            "x-hints": {
              "DISPLAYHINT": "Hide",
              "includeInCompactView": true,
              "precision": 18,
              "fnd:GLOBALLY_UNIQUE": "true"
            }
          },
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      },
      "workers-nationalIdentifiers-item-patch-request": {
        "type": "object",
        "properties": {
          "ExpirationDate": {
            "title": "Expiration Date",
            "type": "string",
            "description": "Expiration date of the national identifier.",
            "format": "date",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "IssueDate": {
            "title": "Issue Date",
            "type": "string",
            "description": "Issue date of the national identifier.",
            "format": "date",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "NationalIdentifierNumber": {
            "title": "National ID",
            "maxLength": 30,
            "type": "string",
            "description": "National identification number.",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "NationalIdentifierType": {
            "title": "National ID Type",
            "maxLength": 30,
            "type": "string",
            "description": "Type of national identifier. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true,
              "dependencies": [
                "LegislationCode"
              ]
            }
          },
          "PlaceOfIssue": {
            "title": "Place of Issue",
            "maxLength": 30,
            "type": "string",
            "description": "Place where the national identifier was issued.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "PrimaryFlag": {
            "title": "Primary",
            "maxLength": 255,
            "type": "boolean",
            "description": "Indicates whether the national identifier is the person's primary national identifier.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "nationalIdentifiersDFF": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/workers-nationalIdentifiers-nationalIdentifiersDFF-item-patch-request"
            },
            "x-cardinality": "1"
          }
        }
      },
      "workers-nationalIdentifiers-nationalIdentifiersDFF-item-patch-request": {
        "type": "object",
        "properties": {
          "__FLEX_Context": {
            "title": "Context Value",
            "maxLength": 30,
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_ValueSetInfo": "_FLEX_ContextValueSet_Internal#INDEPENDENT",
              "controlType": "choice",
              "FND_ACFF_AkaAttrName": "__FLEX_Context_DisplayValue",
              "includeInCompactView": true,
              "FND_ACFF_IsDiscriminator": "true",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          },
          "__FLEX_Context_DisplayValue": {
            "title": "Context Value",
            "type": "string",
            "description": "Context Value",
            "nullable": true,
            "x-hints": {
              "updateable": "false",
              "help": {
                "instruction": "Context Value"
              },
              "DISPLAYHINT": "Hide",
              "FND_ACFF_IsReadOnly": "true",
              "FND_ACFF_AkaRealSegmentAttrName": "__FLEX_Context",
              "FND_ACFF_JavaType": "java.lang.String",
              "FND_ACFF_ListDisplayAttrName": "Name",
              "FND_ACFF_MaximumLength": "1024",
              "FND_ACFF_PreferredDisplayType": "HIDDEN"
            },
            "x-oj": {
              "transform": {
                "path": "oj-sp/common-util/flex-util",
                "name": "transformFlexUIHints"
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "workers-nationalIdentifiers-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/workers-nationalIdentifiers-item-post-request"
            }
          }
        }
      },
      "workers-nationalIdentifiers-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/workers-nationalIdentifiers-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}