{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Worker Journey Tasks/Large Object (LOB) Attributes - Notes",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/enclosure/Notes": {
      "get": {
        "tags": [
          "Worker Journey Tasks/Large Object (LOB) Attributes - Notes"
        ],
        "summary": "Get a Notes",
        "description": "Get a Notes",
        "operationId": "get_workerJourneyTasks-Notes",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-enclosure-Notes-get",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-enclosure-notes-get"
      },
      "put": {
        "tags": [
          "Worker Journey Tasks/Large Object (LOB) Attributes - Notes"
        ],
        "summary": "Replace a Notes",
        "description": "Replace a Notes",
        "operationId": "replace_workerJourneyTasks-Notes",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "text/html": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-enclosure-Notes-put",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-enclosure-notes-put"
      },
      "delete": {
        "tags": [
          "Worker Journey Tasks/Large Object (LOB) Attributes - Notes"
        ],
        "summary": "Delete a Notes",
        "description": "Delete a Notes",
        "operationId": "delete_workerJourneyTasks-Notes",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-enclosure-Notes-delete",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-enclosure-notes-delete"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}