{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Worker Journeys/All Step Tasks",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workerJourneys/{WorkerJourneyId}/child/allStepTasks/{allStepTasksUniqID}": {
      "get": {
        "tags": [
          "Worker Journeys/All Step Tasks"
        ],
        "summary": "Get a step task",
        "operationId": "get_workerJourneys-allStepTasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "allStepTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the All Step Tasks resource and used to uniquely identify an instance of All Step Tasks. The client should not generate the hash key value. Instead, the client should query on the All Step Tasks collection resource in order to navigate to a specific instance of All Step Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-allStepTasks-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-allStepTasks-{allStepTasksUniqID}-get",
        "x-filename-id": "workerjourneys-workerjourneyid-child-allsteptasks-allsteptasksuniqid-get"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/allStepTasks": {
      "get": {
        "tags": [
          "Worker Journeys/All Step Tasks"
        ],
        "summary": "Get all step tasks",
        "operationId": "getall_workerJourneys-allStepTasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>ExpiryRelativeTo; string; Criteria based on which the task expires.</li><li>Name; string; Name of the journey task.</li><li>ParentWorkerJourneyId; integer; Unique identifier of the parent enterprise onboarding checklist.</li><li>PerformerPersonId; integer; Person identifier of the task performer. Applicable only in case of a single task performer.</li><li>RequiredFlag; boolean; Indicates whether the task is mandatory or optional. Valid values are Yes and No. The default value is No.</li><li>Status; string; Code for the task status.</li><li>TargetDuration; integer; Target duration for the task.</li><li>TargetDurationUOM; string; Unit of measure for the target duration.</li><li>WorkerJourneyTaskId; integer; Unique identifier of the journey task.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all journey step tasks that match the primary key specified. <br>Finder Variables <ul><li>WorkerJourneyTaskId; integer;  Unique identifier of the journey task. </li></ul></li><li>findAssigneeTasks Finds all journey tasks for the journey assignee. <br>Finder Variables <ul></ul></li><li>findAvailableOtherUserTasks Finds all available journey tasks for performers other than assignee and signed in user. <br>Finder Variables <ul></ul></li><li>findAvailableOthersTasks Finds all journey tasks except deferred tasks for performers other than assignee and signed in user. <br>Finder Variables <ul><li>mPerformerPersonId; integer;  Unique identifier for the performer other than assigned and signed in user to whom all tasks except deferred tasks are assigned in a journey step. </li><li>mPerformerUserguid; string;  Internal identifier for the performer other than assignee and signed in user to whom all tasks except deferred tasks are assigned in a journey step. </li><li>mPerformerUsername; string;  User name of the performer other than assignee and signed in user for whom all tasks except deferred tasks are assigned in a journey step. </li><li>mPersonId; integer;  Identifier for the performer other than assignee and signed in user for whom all tasks except deferred tasks are assigned in a journey step. </li><li>mUserguid; string;  Unique identifier for the performer other than assignee and signed in user for whom all tasks except deferred tasks are assigned in a journey step. </li><li>mUsername; string;  User name of the worker other than assignee and signed in user for whom all tasks except deferred tasks are assigned in a journey step. </li></ul></li><li>findAvailableSelfTasks Finds all journey tasks except deferred tasks for the signed in user. <br>Finder Variables <ul></ul></li><li>findMyAvailableTasks Finds all available journey tasks for the logged in user. <br>Finder Variables <ul></ul></li><li>findMyTasks Finds all journey tasks for the logged in user. <br>Finder Variables <ul></ul></li><li>findOtherUserIncludingAssigneeTasks Finds all journey tasks for performers including those for journey assignee. <br>Finder Variables <ul></ul></li><li>findOtherUserTasks Finds all journey tasks for performers other than assignee and signed in user. <br>Finder Variables <ul></ul></li><li>findOthersIncludingAssigneeTasks Finds all journey tasks for performers including the journey assignee. <br>Finder Variables <ul></ul></li><li>findOthersTasks Finds all journey tasks for performers other than assignee and signed in user. <br>Finder Variables <ul></ul></li><li>findSelfTasks Finds all journey tasks for the signed in user. <br>Finder Variables <ul></ul></li><li>findWorkerTasks Finds all journey tasks for the journey assignee. <br>Finder Variables <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all journey step tasks that match the primary key specified.",
                "properties": {
                  "WorkerJourneyTaskId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the journey task.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Journey Task ID"
                  }
                }
              },
              {
                "name": "findAssigneeTasks",
                "description": "Finds all journey tasks for the journey assignee.",
                "title": "findAssigneeTasks",
                "properties": {}
              },
              {
                "name": "findAvailableOtherUserTasks",
                "description": "Finds all available journey tasks for performers other than assignee and signed in user.",
                "title": "findAvailableOtherUserTasks",
                "properties": {}
              },
              {
                "name": "findAvailableOthersTasks",
                "description": "Finds all journey tasks except deferred tasks for performers other than assignee and signed in user.",
                "title": "findAvailableOthersTasks",
                "properties": {
                  "mPerformerUsername": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "User name of the performer other than assignee and signed in user for whom all tasks except deferred tasks are assigned in a journey step.",
                    "type": "string"
                  },
                  "mUsername": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "User name of the worker other than assignee and signed in user for whom all tasks except deferred tasks are assigned in a journey step.",
                    "type": "string"
                  },
                  "mUserguid": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the performer other than assignee and signed in user for whom all tasks except deferred tasks are assigned in a journey step.",
                    "type": "string"
                  },
                  "mPerformerPersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the performer other than assigned and signed in user to whom all tasks except deferred tasks are assigned in a journey step.",
                    "type": "integer"
                  },
                  "mPerformerUserguid": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Internal identifier for the performer other than assignee and signed in user to whom all tasks except deferred tasks are assigned in a journey step.",
                    "type": "string"
                  },
                  "mPersonId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Identifier for the performer other than assignee and signed in user for whom all tasks except deferred tasks are assigned in a journey step.",
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findAvailableSelfTasks",
                "description": "Finds all journey tasks except deferred tasks for the signed in user.",
                "title": "findAvailableSelfTasks",
                "properties": {}
              },
              {
                "name": "findMyAvailableTasks",
                "description": "Finds all available journey tasks for the logged in user.",
                "title": "findMyAvailableTasks",
                "properties": {}
              },
              {
                "name": "findMyTasks",
                "description": "Finds all journey tasks for the logged in user.",
                "title": "findMyTasks",
                "properties": {}
              },
              {
                "name": "findOtherUserIncludingAssigneeTasks",
                "description": "Finds all journey tasks for performers including those for journey assignee.",
                "title": "findOtherUserIncludingAssigneeTasks",
                "properties": {}
              },
              {
                "name": "findOtherUserTasks",
                "description": "Finds all journey tasks for performers other than assignee and signed in user.",
                "title": "findOtherUserTasks",
                "properties": {}
              },
              {
                "name": "findOthersIncludingAssigneeTasks",
                "description": "Finds all journey tasks for performers including the journey assignee.",
                "title": "findOthersIncludingAssigneeTasks",
                "properties": {}
              },
              {
                "name": "findOthersTasks",
                "description": "Finds all journey tasks for performers other than assignee and signed in user.",
                "title": "findOthersTasks",
                "properties": {}
              },
              {
                "name": "findSelfTasks",
                "description": "Finds all journey tasks for the signed in user.",
                "title": "findSelfTasks",
                "properties": {}
              },
              {
                "name": "findWorkerTasks",
                "description": "Finds all journey tasks for the journey assignee.",
                "title": "findWorkerTasks",
                "properties": {}
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-allStepTasks"
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-allStepTasks-get",
        "x-filename-id": "workerjourneys-workerjourneyid-child-allsteptasks-get"
      }
    }
  },
  "components": {
    "schemas": {
      "workerJourneys-allStepTasks-item-response": {
        "type": "object",
        "properties": {
          "AccessActivity": {
            "title": "Access Task",
            "type": "string",
            "description": "Setting that determines if the signed in user can access the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AccessAttachments": {
            "title": "Access Attachments",
            "type": "string",
            "description": "Setting that determines if the signed in user can access the task attachments.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AccessComments": {
            "title": "Access Comments",
            "type": "string",
            "description": "Setting that determines if the signed in user can access the task comments.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AccessContact": {
            "title": "Access Contact Information",
            "type": "string",
            "description": "Setting that determines if the signed in user can access the task contact details.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AccessGuidedJourney": {
            "type": "string",
            "description": "Setting that determines if the signed in user can access the guided journey.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AccessNotes": {
            "title": "Access Notes",
            "type": "string",
            "description": "Setting that determines if the signed in user can access the task notes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionComplete": {
            "title": "Mark as Complete",
            "type": "string",
            "description": "Setting that determines if the signed in user can mark the task as complete.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionEdit": {
            "title": "Edit",
            "type": "string",
            "description": "Setting that determines if the signed in user can edit the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionEditDueDate": {
            "title": "Edit Due Date",
            "type": "string",
            "description": "Setting that determines if the signed in user can edit the due date of the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionReassign": {
            "title": "Reassign",
            "type": "string",
            "description": "Setting that determines if the signed in user can reassign the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionReject": {
            "title": "Mark as Not Applicable",
            "type": "string",
            "description": "Setting that determines if the signed in user can mark the task as not applicable.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionRemove": {
            "title": "Remove",
            "type": "string",
            "description": "Setting that determines if the signed in user can remove the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionReopen": {
            "title": "Reopen",
            "type": "string",
            "description": "Setting that determines if the signed in user can reopen a completed task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionSendReminder": {
            "title": "Send Reminder",
            "type": "string",
            "description": "Setting that determines if the signed in user can send a reminder for a task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActionURL": {
            "title": "URL",
            "maxLength": 1000,
            "type": "string",
            "description": "URL associated with the task that's entered on the setup screen.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActualEndDate": {
            "title": "Actual End Date",
            "type": "string",
            "description": "End date of the task.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ActualStartDate": {
            "title": "Actual Start Date",
            "type": "string",
            "description": "Date on which the task was opened.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowAttachmentFlag": {
            "title": "Allow Attachments",
            "type": "boolean",
            "description": "Indicates whether attachments are enabled for a task. Valid values are Yes and No. The default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowCommentFlag": {
            "title": "Allow Comments",
            "type": "boolean",
            "description": "Indicates whether comments are enabled for a task. Valid values are Yes and No. The default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowNoteTitleFlag": {
            "title": "Enable Notes Title",
            "type": "boolean",
            "description": "Indicates whether the Notes title is hidden or not. Valid values are Yes and No. The default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowNotesContentFlag": {
            "type": "boolean",
            "description": "Indicates whether rich content can be added for notes. Valid values are Yes or No. The default is Yes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AllowPrecedingTaskFlag": {
            "type": "boolean",
            "description": "Indicates whether the preceding task details should be displayed. Valid values are Yes and No. The default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AnalysisPath": {
            "maxLength": 1000,
            "type": "string",
            "description": "OTBI analysis path for an analytics task type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "AnalyticsSubType": {
            "maxLength": 80,
            "type": "string",
            "description": "Subtype of analytics task type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ApplicationTaskName": {
            "title": "Application Task",
            "type": "string",
            "description": "Display name of the application task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Comments": {
            "title": "Comments",
            "maxLength": 4000,
            "type": "string",
            "description": "Comments for the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CompletedByDisplayName": {
            "title": "Completed by Person Name",
            "type": "string",
            "description": "Name of the person who completed the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CompletedByPersonId": {
            "title": "Completed by Person ID",
            "type": "integer",
            "description": "Person identifier of the person who completed the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "CompletionDate": {
            "title": "Completed On",
            "type": "string",
            "description": "Date on which the task was completed.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ConfigurableFormContext": {
            "title": "Configurable Form",
            "maxLength": 80,
            "type": "string",
            "description": "Descriptive flexfield context code for configurable form task type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ContentProviderCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code of the user-defined content task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DeferredStartDate": {
            "title": "Deferred Task Start Date",
            "type": "string",
            "description": "Start date for the deferred task.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "DependentTaskId": {
            "title": "Preceding Task ID",
            "type": "integer",
            "description": "Primary key or unique identifier of the dependent task.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "DependentTaskName": {
            "title": "Preceding Task",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the dependent task.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Description": {
            "title": "Description",
            "maxLength": 4000,
            "type": "string",
            "description": "Description of the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "EmbeddedApplicationTaskCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code of the embedded application task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "ExpiryRelativeTo": {
            "maxLength": 30,
            "type": "string",
            "description": "Criteria based on which the task expires.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "GuidedJourneyCode": {
            "maxLength": 240,
            "type": "string",
            "description": "Code of the guided journey.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "GuidedJourneyTaskCodes": {
            "maxLength": 4000,
            "type": "string",
            "description": "Code of the guided journey task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Name": {
            "title": "Name",
            "maxLength": 240,
            "type": "string",
            "description": "Name of the journey task.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "NoteTitle": {
            "title": "Notes Title",
            "maxLength": 150,
            "type": "string",
            "description": "Title of the Notes section in the task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Notes": {
            "title": "Notes",
            "type": "string",
            "description": "Notes for the task. The notes text is stored as a CLOB object. To use in the payload, the text should be converted to a base64 encoded string using either a conversion tool or a prerequisite script.",
            "format": "byte",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OpenInSamePageFlag": {
            "type": "boolean",
            "description": "Indicates whether the external URL should open in the existing page or a new page. Valid values are Yes and No. The default value is No.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OpenReportInSamePageFlag": {
            "type": "boolean",
            "description": "Indicates whether the report should open in the existing page or a new page. Valid values are Yes and No. The default value is Yes.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OwnerName": {
            "title": "Owner Name",
            "type": "string",
            "description": "Person display name of task owner in case of single owner. Else, returns responsibility type name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "OwnerPersonId",
                "OwnerType",
                "OwnerDisplayName",
                "OwnerTypeMeaning"
              ]
            }
          },
          "OwnerPersonId": {
            "title": "Owner Person ID",
            "type": "integer",
            "description": "Identifier of the task owner. Applicable only in case of a single task owner.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 18
            }
          },
          "OwnerType": {
            "title": "Owner Type",
            "maxLength": 30,
            "type": "string",
            "description": "Task owner type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "OwnerTypeMeaning": {
            "title": "Owner",
            "type": "string",
            "description": "Task owner type meaning.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "OwnerRespTypeMeaning",
                "OwnerLookupMeaning"
              ]
            }
          },
          "ParentWorkerJourneyId": {
            "title": "Worker Journey ID",
            "type": "integer",
            "description": "Unique identifier of the parent enterprise onboarding checklist.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "PerformerName": {
            "title": "Performer Name",
            "type": "string",
            "description": "Person display name of task performer in case of single performer. Else, returns responsibility type name.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "PerformerPersonId",
                "PerformerType",
                "PerformerDisplayName",
                "PerformerTypeMeaning"
              ]
            }
          },
          "PerformerPersonId": {
            "title": "Performer Person ID",
            "type": "integer",
            "description": "Person identifier of the task performer. Applicable only in case of a single task performer.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "PerformerType": {
            "title": "Performer Type",
            "type": "string",
            "description": "Task performer type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "PerformerTypeMeaning": {
            "title": "Performer",
            "type": "string",
            "description": "Task performer type meaning.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "RespPerformerAvailability",
                "ResponsibilityTypeMeaning",
                "PerformerLookupMeaning",
                "DefaultRespTypeMeaning"
              ]
            }
          },
          "ReportPath": {
            "title": "Report Path",
            "maxLength": 1000,
            "type": "string",
            "description": "Path to the report in BI Catalog.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "RequiredFlag": {
            "title": "Required",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the task is mandatory or optional. Valid values are Yes and No. The default value is No.",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "Sequence": {
            "title": "Sequence",
            "type": "integer",
            "description": "Task display ordering sequence. Default is 1.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "precision": 9
            }
          },
          "SignAddress": {
            "title": "IP Address of Signature",
            "maxLength": 120,
            "type": "string",
            "description": "Internet protocol address where the electronic signature was provided.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "SignDate": {
            "title": "Date of Signature",
            "type": "string",
            "description": "Date on which the electronic signature was provided for an electronic signature task.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "SignerEmail": {
            "title": "Email of Signer",
            "maxLength": 400,
            "type": "string",
            "description": "Email address of the signer for an electronic signature task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "SignerName": {
            "title": "Name of Signer",
            "maxLength": 120,
            "type": "string",
            "description": "Name of the signer for an electronic signature task.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "StageName": {
            "type": "string",
            "description": "Name of the phase in a journey with multiple phases.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "StageSequence": {
            "type": "integer",
            "description": "Sequence of the phase in a journey with multiple phases.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "sortable": false
            }
          },
          "Status": {
            "title": "Status Code",
            "maxLength": 60,
            "type": "string",
            "description": "Code for the task status.",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "StatusCategory": {
            "title": "Status Category",
            "type": "string",
            "description": "Category of the status.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "StatusMeaning": {
            "title": "Status",
            "maxLength": 80,
            "type": "string",
            "description": "Status of the task.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "SubType": {
            "title": "Subtype Code",
            "maxLength": 30,
            "type": "string",
            "description": "Task action subtype code. Available only for I 9 and Electronic Signature task types.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "SubTypeMeaning": {
            "title": "Subtype",
            "type": "string",
            "description": "Task action subtype. Available only for I 9 and Electronic Signature task types.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "dependencies": [
                "EsignTypeMeaning",
                "I9TypeMeaning",
                "ProcessAutomationTypeMeaning",
                "VideoTypeMeaning",
                "LearnTypeMeaning"
              ]
            }
          },
          "TargetDuration": {
            "title": "Target Duration",
            "type": "integer",
            "description": "Target duration for the task.",
            "format": "int32",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 9
            },
            "x-queryable": true
          },
          "TargetDurationUOM": {
            "title": "Target Duration UOM",
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measure for the target duration.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "TargetEndDate": {
            "title": "Target End Date",
            "type": "string",
            "description": "Due date of the task.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "TargetStartDate": {
            "title": "Target Start Date",
            "type": "string",
            "description": "Expected initiation date of the task.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false
          },
          "Type": {
            "title": "Type Code",
            "maxLength": 80,
            "type": "string",
            "description": "Code for the task action type.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "TypeMeaning": {
            "title": "Type",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the task type.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "WorkerJourneyTaskId": {
            "title": "Journey Task ID",
            "type": "integer",
            "description": "Unique identifier of the journey task.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "workerJourneys-allStepTasks": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/workerJourneys-allStepTasks-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}