{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Worker Journeys/Tasks",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}": {
      "get": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Get a task",
        "operationId": "get_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-tasks-item-response"
                }
              }
            },
            "links": {
              "checkTaskCompletion": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1checkTaskCompletion/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Checks if the task can be completed."
              },
              "attachments": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1attachments/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "documents": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1documents/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "targetDurationUOMLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DCHECKLIST_QUALIFYING_UNITS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TargetDurationUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TargetDurationUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reassign": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1reassign/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Reassigns a task to another task performer."
              },
              "invokeProcessAutomation": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1invokeProcessAutomation/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Initiates the integration for process automation."
              },
              "copyToDocumentRecords": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1copyToDocumentRecords/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Uploads the document to document records."
              },
              "taskStatusLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CHECKLIST_TASK_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "sendReminder": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1sendReminder/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Sends a reminder to the task performer."
              },
              "generateContent": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateContent/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Generates user-defined content of a task."
              },
              "uploadImage": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1uploadImage/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Upload image for a journey template."
              },
              "generateNavigationDetails": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateNavigationDetails/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Navigates to the application task where the performer can perform the task."
              },
              "learningItems": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1learningItems/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The learningContentItemsLOV resource provides a list of learning content items such as SCORM, HACP, PDF, video, assessment, and web link."
              },
              "taskTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_CHK_TASK_ACTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Type; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Type",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "generateNavigationURL": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateNavigationURL/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Navigates to URL where the performer can perform the task."
              },
              "tasksDFF": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1tasksDFF/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                }
              },
              "questionnaireResponses": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1questionnaireResponses/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The questionnaireResponses resource includes the details of the attempts made by a participant when responding to a questionnaire."
              },
              "reminderRelativeToLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_CHK_TASK_REMINDER_TIME"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReminderRelativeTo; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReminderRelativeTo",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reopen": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1reopen/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Reopen an assigned journey task."
              },
              "updateStatus": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1updateStatus/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Updates status of I9 task."
              },
              "notifications": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1notifications/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The notifications resource is a child of the tasks resource. It includes notification settings for the task performer and owner."
              },
              "properties": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1properties/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The properties resource is the child of the workerJourneys resource. It includes all the task type properties associated with the parent journey template."
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-get",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-get"
      },
      "delete": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Delete a task",
        "operationId": "delete_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-delete",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-delete"
      },
      "patch": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Update a task",
        "operationId": "update_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workerJourneys-tasks-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-tasks-item-response"
                }
              }
            },
            "links": {
              "checkTaskCompletion": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1checkTaskCompletion/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Checks if the task can be completed."
              },
              "attachments": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1attachments/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "documents": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1documents/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "targetDurationUOMLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DCHECKLIST_QUALIFYING_UNITS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TargetDurationUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TargetDurationUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reassign": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1reassign/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Reassigns a task to another task performer."
              },
              "invokeProcessAutomation": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1invokeProcessAutomation/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Initiates the integration for process automation."
              },
              "copyToDocumentRecords": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1copyToDocumentRecords/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Uploads the document to document records."
              },
              "taskStatusLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CHECKLIST_TASK_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "sendReminder": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1sendReminder/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Sends a reminder to the task performer."
              },
              "generateContent": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateContent/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Generates user-defined content of a task."
              },
              "uploadImage": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1uploadImage/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Upload image for a journey template."
              },
              "generateNavigationDetails": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateNavigationDetails/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Navigates to the application task where the performer can perform the task."
              },
              "learningItems": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1learningItems/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The learningContentItemsLOV resource provides a list of learning content items such as SCORM, HACP, PDF, video, assessment, and web link."
              },
              "taskTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_CHK_TASK_ACTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Type; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Type",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "generateNavigationURL": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateNavigationURL/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Navigates to URL where the performer can perform the task."
              },
              "tasksDFF": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1tasksDFF/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                }
              },
              "questionnaireResponses": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1questionnaireResponses/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The questionnaireResponses resource includes the details of the attempts made by a participant when responding to a questionnaire."
              },
              "reminderRelativeToLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_CHK_TASK_REMINDER_TIME"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReminderRelativeTo; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReminderRelativeTo",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reopen": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1reopen/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Reopen an assigned journey task."
              },
              "updateStatus": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1updateStatus/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Updates status of I9 task."
              },
              "notifications": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1notifications/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The notifications resource is a child of the tasks resource. It includes notification settings for the task performer and owner."
              },
              "properties": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1properties/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The properties resource is the child of the workerJourneys resource. It includes all the task type properties associated with the parent journey template."
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-patch",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-patch"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}/action/checkTaskCompletion": {
      "post": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Check task completion",
        "description": "Checks if the task can be completed.",
        "operationId": "do_checkTaskCompletion_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subType": {
                    "type": "string",
                    "description": "Subtype of journey task.",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of journey task.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier to decide if the task can be completed."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier to decide if the task can be completed."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-action-checkTaskCompletion-post",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-action-checktaskcompletion-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}/action/invokeProcessAutomation": {
      "post": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Initiate process automation",
        "description": "Initiates the integration for process automation.",
        "operationId": "do_invokeProcessAutomation_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the process automation."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "Unique identifier of the process automation."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-action-invokeProcessAutomation-post",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-action-invokeprocessautomation-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}/action/generateNavigationDetails": {
      "post": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Navigate to an application task",
        "description": "Navigates to the application task where the performer can perform the task.",
        "operationId": "do_generateNavigationDetails_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters associated with the application task.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Application task to which the user can navigate to perform the task."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Application task to which the user can navigate to perform the task."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-action-generateNavigationDetails-post",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-action-generatenavigationdetails-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}/action/generateNavigationURL": {
      "post": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Navigate to a task",
        "description": "Navigates to URL where the performer can perform the task.",
        "operationId": "do_generateNavigationURL_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "SectionType": {
                    "type": "string",
                    "description": "Advanced task type section in which the URL is generated.",
                    "nullable": true
                  },
                  "SignAddress": {
                    "type": "string",
                    "description": "Internet protocol address of the client.",
                    "nullable": true
                  },
                  "SignerName": {
                    "type": "string",
                    "description": "Full name of the signer.",
                    "nullable": true
                  },
                  "ReturnURL": {
                    "type": "string",
                    "description": "URL that returns the user to the task page.",
                    "nullable": true
                  },
                  "SignerEmail": {
                    "type": "string",
                    "description": "Email address of the signer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "URL to which the user can navigate to perform the task."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "URL to which the user can navigate to perform the task."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-action-generateNavigationURL-post",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-action-generatenavigationurl-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}/action/generateContent": {
      "post": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "User-defined content of a task",
        "description": "Generates user-defined content of a task.",
        "operationId": "do_generateContent_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Context": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Context of the user-defined content type task.",
                    "nullable": true
                  },
                  "PersonId": {
                    "type": "number",
                    "description": "Person identifier of the user-defined content type task performer.",
                    "nullable": true
                  },
                  "AssignmentId": {
                    "type": "number",
                    "description": "Assignment identifier of the user-defined content type task performer.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "User-defined content type generated for the user."
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/vnd.oracle.adf.actionresult+json": {
                "schema": {
                  "required": [
                    "result"
                  ],
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "User-defined content type generated for the user."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-action-generateContent-post",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-action-generatecontent-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/tasks/{tasksUniqID}/action/reopen": {
      "post": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Reopen a task",
        "description": "Reopen an assigned journey task.",
        "operationId": "do_reopen_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "tasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Tasks resource and used to uniquely identify an instance of Tasks. The client should not generate the hash key value. Instead, the client should query on the Tasks collection resource in order to navigate to a specific instance of Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The following table describes the body parameters in the request for this task.",
          "content": {
            "application/vnd.oracle.adf.action+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parameters": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Parameters for reopening a task.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task."
          }
        },
        "x-hints": {
          "batchEnabled": false
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-{tasksUniqID}-action-reopen-post",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-tasksuniqid-action-reopen-post"
      }
    },
    "/workerJourneys/{WorkerJourneyId}/child/tasks": {
      "get": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Get all tasks",
        "operationId": "getall_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AuthenticationFormat; string; Password authentication format for an electronic signature task.</li><li>JourneyTaskId; integer; Identifier of the journey task.</li><li>LearningContentTypeMeaning; string; Meaning of the learning content type.</li><li>Name; string; Name of the journey task.</li><li>PerformerPersonId; integer; Person identifier of the task performer. Available only in case of single performer, is updatable when adding a new task.</li><li>ProcessingMode; string; Processing mode to send journey notifications.</li><li>RequiredFlag; boolean; Indicates whether the task is mandatory or optional. Valid values are Yes and No. The default value is No.</li><li>SaveAttachmentsToDORForMeaning; string; Meaning of save attachments to document records.</li><li>Status; string; Status code of the task.</li><li>TargetDurationUOMMeaning; string; Meaning of unit of measure used in the task target duration.</li><li>VideoTypeMeaning; string; Meaning of video type.</li><li>WorkerJourneyTaskId; integer; Unique identifier of the journey task.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all worker journey tasks that match the primary key specified. <br>Finder Variables <ul><li>WorkerJourneyTaskId; integer;  Unique identifier of the journey task. </li></ul></li><li>findActivePhases Finds all active journey phases. <br>Finder Variables <ul></ul></li><li>findAvailableSelfTasks Finds all journey tasks except deferred tasks for the signed in user. <br>Finder Variables <ul></ul></li><li>findOthersTasks Finds all journey tasks for users other than the signed in user and journey assignee. <br>Finder Variables <ul></ul></li><li>findSelfTasks Finds all journey tasks for the signed in user. <br>Finder Variables <ul></ul></li><li>findWorkerTasks Finds all journey tasks for the journey assignee. <br>Finder Variables <ul></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all worker journey tasks that match the primary key specified.",
                "properties": {
                  "WorkerJourneyTaskId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Unique identifier of the journey task.",
                    "type": "integer",
                    "title": "Journey Task ID"
                  }
                }
              },
              {
                "name": "findActivePhases",
                "description": "Finds all active journey phases.",
                "title": "findActivePhases",
                "properties": {}
              },
              {
                "name": "findAvailableSelfTasks",
                "description": "Finds all journey tasks except deferred tasks for the signed in user.",
                "title": "findAvailableSelfTasks",
                "properties": {}
              },
              {
                "name": "findOthersTasks",
                "description": "Finds all journey tasks for users other than the signed in user and journey assignee.",
                "title": "findOthersTasks",
                "properties": {}
              },
              {
                "name": "findSelfTasks",
                "description": "Finds all journey tasks for the signed in user.",
                "title": "findSelfTasks",
                "properties": {}
              },
              {
                "name": "findWorkerTasks",
                "description": "Finds all journey tasks for the journey assignee.",
                "title": "findWorkerTasks",
                "properties": {}
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-tasks"
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneys-{WorkerJourneyId}-child-tasks-get",
        "x-filename-id": "workerjourneys-workerjourneyid-child-tasks-get"
      },
      "post": {
        "tags": [
          "Worker Journeys/Tasks"
        ],
        "summary": "Create a task",
        "operationId": "create_workerJourneys-tasks",
        "parameters": [
          {
            "name": "WorkerJourneyId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Worker Journey ID",
              "type": "integer",
              "description": "Primary key generated by the application.",
              "format": "int64",
              "nullable": false,
              "readOnly": true,
              "x-hints": {
                "includeInCompactView": true,
                "precision": 18
              }
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workerJourneys-tasks-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workerJourneys-tasks-item-response"
                }
              }
            },
            "links": {
              "checkTaskCompletion": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1checkTaskCompletion/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Checks if the task can be completed."
              },
              "attachments": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1attachments/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "documents": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1documents/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The InternalAttachments resource provides information about files attached by the recruiting team."
              },
              "targetDurationUOMLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DCHECKLIST_QUALIFYING_UNITS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: TargetDurationUOM; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/TargetDurationUOM",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "reassign": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1reassign/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Reassigns a task to another task performer."
              },
              "invokeProcessAutomation": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1invokeProcessAutomation/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Initiates the integration for process automation."
              },
              "copyToDocumentRecords": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1copyToDocumentRecords/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Uploads the document to document records."
              },
              "taskStatusLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DPER_CHECKLIST_TASK_STATUS"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Status; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Status",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "sendReminder": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1sendReminder/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Sends a reminder to the task performer."
              },
              "generateContent": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateContent/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Generates user-defined content of a task."
              },
              "uploadImage": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1uploadImage/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Upload image for a journey template."
              },
              "generateNavigationDetails": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateNavigationDetails/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Navigates to the application task where the performer can perform the task."
              },
              "learningItems": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1child~1learningItems/get",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "The learningContentItemsLOV resource provides a list of learning content items such as SCORM, HACP, PDF, video, assessment, and web link."
              },
              "taskTypesLov": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LookupTypeFinder%3BLookupType%3DORA_PER_CHK_TASK_ACTION_TYPE"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Type; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Type",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              },
              "generateNavigationURL": {
                "operationRef": "#/paths/~1workerJourneys~1{WorkerJourneyId}~1child~1tasks~1{tasksUniqID}~1action~1generateNavigationURL/post",
                "parameters": {
                  "tasksUniqID": "$request.path.tasksUniqID",
                  "WorkerJourneyId": "$request.path.WorkerJourneyId"
                },
                "description": "Navigates to URL where the performer can perform the task."
              },
              "tasksDFF": {
[...]
