{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Workers/Work Relationships/Assignments/Work Measures",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}/child/assignments/{assignmentsUniqID}/child/workMeasures": {
      "get": {
        "tags": [
          "Workers/Work Relationships/Assignments/Work Measures"
        ],
        "summary": "Get all assignment work measures",
        "operationId": "getall_workers-workRelationships-assignments-workMeasures",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "assignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- AssignmentId, EffectiveStartDate, EffectiveEndDate, EffectiveSequence and EffectiveLatestChange ---for the Assignments resource and used to uniquely identify an instance of Assignments. The client should not generate the hash key value.  Instead, the client should query on the Assignments collection resource with a filter on the primary key values in order to navigate to a specific instance of Assignments.<br><br>For example: assignments?q=AssignmentId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;;EffectiveSequence=&lt;value4&gt;;EffectiveLatestChange=&lt;value5&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>AssignWorkMeasureId; integer; Surrogate identifier for the assignment work measure.</li><li>CalculateWorkmeasureFlag; boolean; Indicates whether the full time equivalency (FTE) should be calculated automatically.</li><li>EffectiveEndDate; string; End date of the date-effective changes to the record.</li><li>EffectiveStartDate; string; Start date of the date-effective changes to the record.</li><li>Unit; string; Unit of measure. Valid values are defined in the commonLookupsLOV.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds all the worker assignment work measures that match the specified primary key criteria. <br>Finder Variables <ul><li>AssignWorkMeasureId; integer;  Surrogate identifier for the assignment work measure. </li><li>EffectiveEndDate; string;  End date of the date-effective changes to the record. </li><li>EffectiveStartDate; string;  Start date of the date-effective changes to the record. </li></ul></li><li>findByAssignWorkMeasureId Finds all the worker assignment work measures that match the specified work measure identifier criteria. <br>Finder Variables <ul><li>AssignWorkMeasureId; integer;  Surrogate identifier for the assignment work measure. </li><li>SysEffectiveDate; object;   </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds all the worker assignment work measures that match the specified primary key criteria.",
                "properties": {
                  "EffectiveEndDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "End date of the date-effective changes to the record.",
                    "type": "string",
                    "title": "Effective End Date"
                  },
                  "EffectiveStartDate": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true
                    },
                    "format": "date",
                    "description": "Start date of the date-effective changes to the record.",
                    "type": "string",
                    "title": "Effective Start Date"
                  },
                  "AssignWorkMeasureId": {
                    "nullable": false,
                    "x-hints": {
                      "includeInCompactView": true,
                      "precision": 18
                    },
                    "format": "int64",
                    "description": "Surrogate identifier for the assignment work measure.",
                    "readOnly": true,
                    "type": "integer",
                    "title": "Assignment Work Measure ID"
                  }
                }
              },
              {
                "name": "findByAssignWorkMeasureId",
                "description": "Finds all the worker assignment work measures that match the specified work measure identifier criteria.",
                "title": "findByAssignWorkMeasureId",
                "properties": {
                  "SysEffectiveDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "type": "object"
                  },
                  "AssignWorkMeasureId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Required"
                    },
                    "description": "Surrogate identifier for the assignment work measure.",
                    "type": "integer"
                  }
                }
              }
            ]
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "This query parameter is used to fetch resources which are effective dated as of the specified start date. The value of this query parameter is a string having a date in yyyy-MM-dd format",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-workRelationships-assignments-workMeasures"
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-child-assignments-{assignmentsUniqID}-child-workMeasures-get",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-child-assignments-assignmentsuniqid-child-workmeasures-get"
      },
      "post": {
        "tags": [
          "Workers/Work Relationships/Assignments/Work Measures"
        ],
        "summary": "Create an assignment work measure",
        "operationId": "create_workers-workRelationships-assignments-workMeasures",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "assignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- AssignmentId, EffectiveStartDate, EffectiveEndDate, EffectiveSequence and EffectiveLatestChange ---for the Assignments resource and used to uniquely identify an instance of Assignments. The client should not generate the hash key value.  Instead, the client should query on the Assignments collection resource with a filter on the primary key values in order to navigate to a specific instance of Assignments.<br><br>For example: assignments?q=AssignmentId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;;EffectiveSequence=&lt;value4&gt;;EffectiveLatestChange=&lt;value5&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upsert-Mode",
            "in": "header",
            "description": "Contains one of the following values: true or false. If true, the server performs an Upsert operation instead of a Create operation. During an Upsert operation, the server attempts to find an existing resource that matches the payload. If a match is found, the server updates the existing resource instead of creating a new one. If not found or false (default), the server performs a Create operation. Note that the Upsert operation isn't supported for date-effective REST resources.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workers-workRelationships-assignments-workMeasures-item-post-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-workRelationships-assignments-workMeasures-item-response"
                }
              }
            },
            "links": {
              "actionReasonsLOV": {
                "operationRef": "#/paths/~1actionReasonsLOV/get",
                "parameters": {
                  "finder": "findByActionId%3BActionId%3D{ActionId}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReasonCode; Target Attribute: ActionReasonCode</li><li>Display Attribute: ActionReason</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReasonCode",
                  "displayValues": [
                    "ActionReason"
                  ],
                  "derivedFieldsMapping": {
                    "actionReasonsLOV.ActionReasonId": [
                      "ReasonId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ActionReasonCode",
                  "displayFields": [
                    "ActionReason"
                  ]
                }
              },
              "actionsLOV": {
                "operationRef": "#/paths/~1actionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ActionCode; Target Attribute: ActionCode</li><li>Display Attribute: ActionName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ActionCode",
                  "displayValues": [
                    "ActionName"
                  ],
                  "derivedFieldsMapping": {
                    "actionsLOV.ActionId": [
                      "ActionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ActionCode",
                  "displayFields": [
                    "ActionName"
                  ]
                }
              },
              "unitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupType%3DBUDGET_MEASUREMENT_TYPE%2CLegislationCode%3D{LegislationCode}%2CLookupCode%3D{Unit}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Unit; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Unit",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-child-assignments-{assignmentsUniqID}-child-workMeasures-post",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-child-assignments-assignmentsuniqid-child-workmeasures-post"
      }
    },
    "/workers/{workersUniqID}/child/workRelationships/{PeriodOfServiceId}/child/assignments/{assignmentsUniqID}/child/workMeasures/{workMeasuresUniqID}": {
      "get": {
        "tags": [
          "Workers/Work Relationships/Assignments/Work Measures"
        ],
        "summary": "Get an assignment work measure",
        "operationId": "get_workers-workRelationships-assignments-workMeasures",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "assignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- AssignmentId, EffectiveStartDate, EffectiveEndDate, EffectiveSequence and EffectiveLatestChange ---for the Assignments resource and used to uniquely identify an instance of Assignments. The client should not generate the hash key value.  Instead, the client should query on the Assignments collection resource with a filter on the primary key values in order to navigate to a specific instance of Assignments.<br><br>For example: assignments?q=AssignmentId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;;EffectiveSequence=&lt;value4&gt;;EffectiveLatestChange=&lt;value5&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workMeasuresUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-workRelationships-assignments-workMeasures-item-response"
                }
              }
            },
            "links": {
              "actionReasonsLOV": {
                "operationRef": "#/paths/~1actionReasonsLOV/get",
                "parameters": {
                  "finder": "findByActionId%3BActionId%3D{ActionId}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReasonCode; Target Attribute: ActionReasonCode</li><li>Display Attribute: ActionReason</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReasonCode",
                  "displayValues": [
                    "ActionReason"
                  ],
                  "derivedFieldsMapping": {
                    "actionReasonsLOV.ActionReasonId": [
                      "ReasonId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ActionReasonCode",
                  "displayFields": [
                    "ActionReason"
                  ]
                }
              },
              "actionsLOV": {
                "operationRef": "#/paths/~1actionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ActionCode; Target Attribute: ActionCode</li><li>Display Attribute: ActionName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ActionCode",
                  "displayValues": [
                    "ActionName"
                  ],
                  "derivedFieldsMapping": {
                    "actionsLOV.ActionId": [
                      "ActionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ActionCode",
                  "displayFields": [
                    "ActionName"
                  ]
                }
              },
              "unitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupType%3DBUDGET_MEASUREMENT_TYPE%2CLegislationCode%3D{LegislationCode}%2CLookupCode%3D{Unit}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Unit; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Unit",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "workers-{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-child-assignments-{assignmentsUniqID}-child-workMeasures-{workMeasuresUniqID}-get",
        "x-filename-id": "workers-workersuniqid-child-workrelationships-periodofserviceid-child-assignments-assignmentsuniqid-child-workmeasures-workmeasuresuniqid-get"
      },
      "delete": {
        "tags": [
          "Workers/Work Relationships/Assignments/Work Measures"
        ],
        "summary": "Delete an assignment work measure",
        "operationId": "delete_workers-workRelationships-assignments-workMeasures",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "assignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- AssignmentId, EffectiveStartDate, EffectiveEndDate, EffectiveSequence and EffectiveLatestChange ---for the Assignments resource and used to uniquely identify an instance of Assignments. The client should not generate the hash key value.  Instead, the client should query on the Assignments collection resource with a filter on the primary key values in order to navigate to a specific instance of Assignments.<br><br>For example: assignments?q=AssignmentId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;;EffectiveSequence=&lt;value4&gt;;EffectiveLatestChange=&lt;value5&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workMeasuresUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "No Content. This task does not return elements in the response body."
          }
        },
        "x-internal-id": "{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-child-assignments-{assignmentsUniqID}-child-workMeasures-{workMeasuresUniqID}-delete",
        "x-filename-id": "workersuniqid-child-workrelationships-periodofserviceid-child-assignments-assignmentsuniqid-child-workmeasures-workmeasuresuniqid-delete"
      },
      "patch": {
        "tags": [
          "Workers/Work Relationships/Assignments/Work Measures"
        ],
        "summary": "Update an assignment work measure",
        "operationId": "update_workers-workRelationships-assignments-workMeasures",
        "parameters": [
          {
            "name": "workersUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Workers resource and used to uniquely identify an instance of Workers. The client should not generate the hash key value. Instead, the client should query on the Workers collection resource in order to navigate to a specific instance of Workers to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PeriodOfServiceId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "title": "Period of Service ID",
              "type": "integer",
              "format": "int64",
              "nullable": false,
              "x-hints": {
                "DISPLAYHINT": "Hide",
                "includeInCompactView": true,
                "precision": 18,
                "fnd:GLOBALLY_UNIQUE": "true"
              }
            }
          },
          {
            "name": "assignmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key--- AssignmentId, EffectiveStartDate, EffectiveEndDate, EffectiveSequence and EffectiveLatestChange ---for the Assignments resource and used to uniquely identify an instance of Assignments. The client should not generate the hash key value.  Instead, the client should query on the Assignments collection resource with a filter on the primary key values in order to navigate to a specific instance of Assignments.<br><br>For example: assignments?q=AssignmentId=&lt;value1&gt;;EffectiveStartDate=&lt;value2&gt;;EffectiveEndDate=&lt;value3&gt;;EffectiveSequence=&lt;value4&gt;;EffectiveLatestChange=&lt;value5&gt;",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workMeasuresUniqID",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Effective-Of",
            "in": "header",
            "description": "This header accepts a string value. The string is a semi-colon separated list of <parameter-name>=<parameter-value>. It is used to perform effective date range operations. The accepted parameters are RangeMode, RangeSpan, RangeStartDate, RangeEndDate, RangeStartSequence and RangeEndSequence. The parameter values are always strings. The possible values for RangeMode are SET_LOGICAL_START, SET_LOGICAL_END, END_DATE, SET_EFFECTIVE_START, SET_EFFECTIVE_END, REPLACE_CORRECTION, REPLACE_UPDATE, RECONCILE_CORRECTION, CORRECTION, RECONCILE_UPDATE, UPDATE, ZAP and DELETE_CHANGES. The possible values for RangeSpan are PHYSICAL_ROW_END_DATE and LOGICAL_ROW_END_DATE. The values for RangeStartDate and RangeEndDate have to be a string representation of a date in yyyy-MM-dd format. The value for RangeStartSequence and RangeEndSequence must be strings such that when parsed they yield positive integers.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workers-workRelationships-assignments-workMeasures-item-patch-request"
        },
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers-workRelationships-assignments-workMeasures-item-response"
                }
              }
            },
            "links": {
              "actionReasonsLOV": {
                "operationRef": "#/paths/~1actionReasonsLOV/get",
                "parameters": {
                  "finder": "findByActionId%3BActionId%3D{ActionId}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ReasonCode; Target Attribute: ActionReasonCode</li><li>Display Attribute: ActionReason</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ReasonCode",
                  "displayValues": [
                    "ActionReason"
                  ],
                  "derivedFieldsMapping": {
                    "actionReasonsLOV.ActionReasonId": [
                      "ReasonId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ActionReasonCode",
                  "displayFields": [
                    "ActionReason"
                  ]
                }
              },
              "actionsLOV": {
                "operationRef": "#/paths/~1actionsLOV/get",
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: ActionCode; Target Attribute: ActionCode</li><li>Display Attribute: ActionName</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/ActionCode",
                  "displayValues": [
                    "ActionName"
                  ],
                  "derivedFieldsMapping": {
                    "actionsLOV.ActionId": [
                      "ActionId"
                    ]
                  },
                  "itemsPath": "items",
                  "valueField": "ActionCode",
                  "displayFields": [
                    "ActionName"
                  ]
                }
              },
              "unitsLOV": {
                "operationRef": "#/paths/~1commonLookupsLOV/get",
                "parameters": {
                  "finder": "LegislationCodeFinder%3BLookupType%3DBUDGET_MEASUREMENT_TYPE%2CLegislationCode%3D{LegislationCode}%2CLookupCode%3D{Unit}"
                },
                "description": "The following properties are defined on the LOV link relation:<br><ul><li>Source Attribute: Unit; Target Attribute: LookupCode</li><li>Display Attribute: Meaning</li></ul>",
                "x-lov": {
                  "definedOn": "$request.body#/Unit",
                  "displayValues": [
                    "Meaning"
                  ],
                  "itemsPath": "items",
                  "valueField": "LookupCode",
                  "displayFields": [
                    "Meaning"
                  ]
                }
              }
            }
          }
        },
        "x-internal-id": "{workersUniqID}-child-workRelationships-{PeriodOfServiceId}-child-assignments-{assignmentsUniqID}-child-workMeasures-{workMeasuresUniqID}-patch",
        "x-filename-id": "workersuniqid-child-workrelationships-periodofserviceid-child-assignments-assignmentsuniqid-child-workmeasures-workmeasuresuniqid-patch"
      }
    }
  },
  "components": {
    "schemas": {
      "workers-workRelationships-assignments-workMeasures": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/workers-workRelationships-assignments-workMeasures-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        }
      },
      "workers-workRelationships-assignments-workMeasures-item-response": {
        "type": "object",
        "properties": {
          "ActionCode": {
            "title": "Action Code",
            "type": "string",
            "description": "Action being performed on the assignment such as Hire, Add Pending Worker, Manager Change and so on. Valid values are defined in the actionsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "AssignWorkMeasureId": {
            "title": "Assignment Work Measure ID",
            "type": "integer",
            "description": "Surrogate identifier for the assignment work measure.",
            "format": "int64",
            "nullable": false,
            "readOnly": true,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 18
            },
            "x-queryable": true
          },
          "CalculateWorkmeasureFlag": {
            "title": "Calculate FTE and Headcount Automatically",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the full time equivalency (FTE) should be calculated automatically.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "CreatedBy": {
            "title": "Created By",
            "maxLength": 64,
            "type": "string",
            "description": "User who created the work measure.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "CreationDate": {
            "title": "Creation Date",
            "type": "string",
            "description": "Date and time when the work measure was created.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "End date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Start date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "LastUpdateDate": {
            "title": "Last Changed Date",
            "type": "string",
            "description": "Date and time when the work measure was last updated.",
            "format": "date-time",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "LastUpdatedBy": {
            "title": "Last Updated By",
            "maxLength": 64,
            "type": "string",
            "description": "User who last updated the work measure.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReasonCode": {
            "title": "Reason Code",
            "type": "string",
            "description": "Reason for the change.Valid values are defined in the actionReasonsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "Unit": {
            "title": "Unit",
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measure. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            },
            "x-queryable": true
          },
          "UnitMeaning": {
            "title": "Meaning",
            "maxLength": 80,
            "type": "string",
            "description": "Meaning of the person's unit code.",
            "nullable": false,
            "readOnly": true,
            "x-queryable": false
          },
          "Value": {
            "title": "Value",
            "type": "number",
            "description": "Value of the work measure.",
            "nullable": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 30,
              "scale": 10
            }
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      },
      "workers-workRelationships-assignments-workMeasures-item-post-request": {
        "type": "object",
        "properties": {
          "ActionCode": {
            "title": "Action Code",
            "type": "string",
            "description": "Action being performed on the assignment such as Hire, Add Pending Worker, Manager Change and so on. Valid values are defined in the actionsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "CalculateWorkmeasureFlag": {
            "title": "Calculate FTE and Headcount Automatically",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the full time equivalency (FTE) should be calculated automatically.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "End date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Start date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReasonCode": {
            "title": "Reason Code",
            "type": "string",
            "description": "Reason for the change.Valid values are defined in the actionReasonsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "Unit": {
            "title": "Unit",
            "maxLength": 30,
            "type": "string",
            "description": "Unit of measure. Valid values are defined in the commonLookupsLOV.",
            "nullable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "Value": {
            "title": "Value",
            "type": "number",
            "description": "Value of the work measure.",
            "nullable": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 30,
              "scale": 10
            }
          }
        }
      },
      "workers-workRelationships-assignments-workMeasures-item-patch-request": {
        "type": "object",
        "properties": {
          "ActionCode": {
            "title": "Action Code",
            "type": "string",
            "description": "Action being performed on the assignment such as Hire, Add Pending Worker, Manager Change and so on. Valid values are defined in the actionsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "CalculateWorkmeasureFlag": {
            "title": "Calculate FTE and Headcount Automatically",
            "maxLength": 30,
            "type": "boolean",
            "description": "Indicates whether the full time equivalency (FTE) should be calculated automatically.",
            "nullable": true,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveEndDate": {
            "title": "Effective End Date",
            "type": "string",
            "description": "End date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "EffectiveStartDate": {
            "title": "Effective Start Date",
            "type": "string",
            "description": "Start date of the date-effective changes to the record.",
            "format": "date",
            "nullable": false,
            "x-hints": {
              "includeInCompactView": true
            }
          },
          "ReasonCode": {
            "title": "Reason Code",
            "type": "string",
            "description": "Reason for the change.Valid values are defined in the actionReasonsLOV.",
            "nullable": true,
            "x-queryable": false,
            "x-hints": {
              "controlType": "choice",
              "includeInCompactView": true
            }
          },
          "Value": {
            "title": "Value",
            "type": "number",
            "description": "Value of the work measure.",
            "nullable": false,
            "x-queryable": false,
            "x-hints": {
              "includeInCompactView": true,
              "precision": 30,
              "scale": 10
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {
      "workers-workRelationships-assignments-workMeasures-item-post-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/workers-workRelationships-assignments-workMeasures-item-post-request"
            }
          }
        }
      },
      "workers-workRelationships-assignments-workMeasures-item-patch-request": {
        "description": "The following table describes the body parameters in the request for this task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/workers-workRelationships-assignments-workMeasures-item-patch-request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}