{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Worker Journey Tasks/Candidate Attachments/Large Object (LOB) Attributes - FileWebImage",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/child/attachments/{attachmentsUniqID}/enclosure/FileWebImage": {
      "get": {
        "tags": [
          "Worker Journey Tasks/Candidate Attachments/Large Object (LOB) Attributes - FileWebImage"
        ],
        "summary": "Get a FileWebImage",
        "description": "Get a FileWebImage",
        "operationId": "get_workerJourneyTasks-attachments-FileWebImage",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Candidate Attachments resource and used to uniquely identify an instance of Candidate Attachments. The client should not generate the hash key value. Instead, the client should query on the Candidate Attachments collection resource in order to navigate to a specific instance of Candidate Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-child-attachments-{attachmentsUniqID}-enclosure-FileWebImage-get",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-child-attachments-attachmentsuniqid-enclosure-filewebimage-get"
      }
    },
    "/workerJourneyTasks/{workerJourneyTasksUniqID}/child/documents/{attachmentsUniqID}/enclosure/FileWebImage": {
      "get": {
        "tags": [
          "Worker Journey Tasks/Candidate Attachments/Large Object (LOB) Attributes - FileWebImage"
        ],
        "summary": "Get a FileWebImage",
        "description": "Get a FileWebImage",
        "operationId": "get_workerJourneyTasks-documents-FileWebImage",
        "parameters": [
          {
            "name": "workerJourneyTasksUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Worker Journey Tasks resource and used to uniquely identify an instance of Worker Journey Tasks. The client should not generate the hash key value. Instead, the client should query on the Worker Journey Tasks collection resource in order to navigate to a specific instance of Worker Journey Tasks to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentsUniqID",
            "in": "path",
            "description": "This is the hash key of the attributes which make up the composite key for the Candidate Attachments resource and used to uniquely identify an instance of Candidate Attachments. The client should not generate the hash key value. Instead, the client should query on the Candidate Attachments collection resource in order to navigate to a specific instance of Candidate Attachments to get the hash key.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "x-internal-id": "workerJourneyTasks-{workerJourneyTasksUniqID}-child-documents-{attachmentsUniqID}-enclosure-FileWebImage-get",
        "x-filename-id": "workerjourneytasks-workerjourneytasksuniqid-child-documents-attachmentsuniqid-enclosure-filewebimage-get"
      }
    }
  },
  "components": {
    "schemas": {},
    "headers": {},
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}