{
  "openapi": "3.0.0",
  "info": {
    "title": "REST API for Oracle Fusion Cloud HCM - Workforce Schedule Definitions",
    "description": "<div><span><span style=\"color: #c74634;\">Last Updated January 2026</span><br>\n<p>You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM.</p>\n<p>Whether you're experienced with or new to REST, use this guide to find what you need, including:</p>\n<ul>\n<li>A quick start how-to that walks you through a simple request example.</li>\n<li>Use cases that provide real-world solutions with code examples.</li>\n<li>Detailed descriptions for each REST resource.</li>\n</ul>\n</div>",
    "version": "2025.12.15",
    "contact": {},
    "x-summary": "Last Updated January 2026 You can use Oracle REST APIs to view and manage data stored in Oracle Fusion Cloud HCM."
  },
  "servers": [
    {
      "url": "https://fa-euyp-dev1-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Dev"
    },
    {
      "url": "https://fa-euyp-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Prod"
    },
    {
      "url": "https://fa-euyp-test-saasfaprod1.fa.ocs.oraclecloud.com/hcmRestApi/resources/latest",
      "description": "Fusion Test"
    }
  ],
  "paths": {
    "/workforceScheduleDefinitions": {
      "get": {
        "tags": [
          "Workforce Schedule Definitions"
        ],
        "summary": "Get all workforce schedule definitions",
        "operationId": "getall_workforceScheduleDefinitions",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This parameter restricts the number of resources returned inside the resource collection. If the limit exceeds the resource count then the framework will only return the available resources.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Used to define the starting position of the resource collection. If offset exceeds the resource count then no resources are returned. Default value is 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "totalResults",
            "in": "query",
            "description": "The resource collection representation will include the \"estimated row count\" when \"?totalResults=true\", otherwise the count is not included.  The default value is \"false\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "This query parameter defines the where clause. The resource collection will be queried using the provided expressions. The value of this query parameter is one or more expressions. Example: ?q=Deptno&gt;=10 and &lt;= 30;Loc!=NY <br><br>Format: ?q=expression1;expression2<br><br>You can use these queryable attributes to filter this collection resource using the q query parameter:<br><ul><li>Comments; string; Notes entered by the schedule manager when publishing the workforce schedule.</li><li>CreationDate; string; Date when the workforce schedule was created.</li><li>DepartmentId; integer; Unique identifier for the workforce schedule department.</li><li>DepartmentName; string; Name of the workforce schedule department.</li><li>EndDate; string; Date when the workforce schedule ends.</li><li>LastUpdateDate; string; Date when the workforce schedule was most recently updated.</li><li>LocationCode; string; Code for the workforce schedule location.</li><li>LocationId; integer; Unique identifier for the workforce schedule location.</li><li>LocationName; string; Name of the workforce schedule location.</li><li>OpenDate; string; Date when the workforce schedule generation window opens.</li><li>PublishDueDate; string; Date when the workforce schedule generation window closes and schedule is due to be published.</li><li>PublishedBy; integer; Unique identifier for the workforce schedule publisher.</li><li>PublishedByPersonNumber; string; Person number for the workforce schedule publisher.</li><li>PublishedDate; string; Date when the workforce schedule was published.</li><li>SchedGenProfileId; integer; Unique identifier for the schedule generation profile used to generate the workforce schedule.</li><li>SchedProfileCode; string; Code for the schedule generation profile used to generate the workforce schedule.</li><li>ScheduleId; integer; Unique identifier for the workforce schedule.</li><li>SchedulePhaseCode; string; Code for the workforce schedule phase, such as ORA_HTS_PLANNING or ORA_HTS_COMPLETED.</li><li>SchedulePhaseMeaning; string; Name of the workforce schedule phase, such as Current or Planning.</li><li>ScheduleStatus; string; Name of the workforce schedule status, such as In Progress or Published.</li><li>ScheduleUnitId; integer; Unique identifier for the schedule unit of the workforce schedule.</li><li>SelfScheduleCloseDate; string; Date when the self-scheduling window closes.</li><li>SelfScheduleOpenDate; string; Date when the self-scheduling window opens.</li><li>StartDate; string; Date when the workforce schedule starts.</li><li>StatusCode; string; Code for the workforce schedule status, such as ORA_HTS_PUBLISHED, ORA_HTS_UNPUBLISHED, ORA_HTS_IN_PROGRESS, ORA_HTS_NOT_STARTED, or ORA_HTS_GEN_ERROR.</li><li>UnpublishDate; string; Date when the workforce schedule was unpublished.</li><li>UnpublishedBy; integer; Unique identifier for the workforce schedule publisher.</li><li>UnpublishedByPersonNumber; string; Person number for the workforce schedule publisher.</li><li>WorkloadUpdateDate; string; Date when the workload was most recently updated.</li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "This parameter orders a resource collection based on the specified fields.  The parameter value is a comma-separated string of attribute names, each optionally followed by a colon and \"asc\" or \"desc\".  Specify \"asc\" for ascending and \"desc\" for descending. The default value is \"asc\".  For example, ?orderBy=field1:asc,field2:desc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finder",
            "in": "query",
            "description": "Used as a predefined finder to search the collection.<br><br>Format ?finder=&lt;finderName&gt;;&lt;variableName&gt;=&lt;variableValue&gt;,&lt;variableName2&gt;=&lt;variableValue2&gt;<br><br>The following are the available finder names and corresponding finder variables<br><br><ul><li>PrimaryKey Finds a workforce schedule definition with the specified unique identifier. <br>Finder Variables <ul><li>ScheduleId; integer;  Unique identifier for the workforce schedule. </li></ul></li><li>findByScheduleUnitAndDateRange Finds the workforce schedule definition based on the specified schedule unit, date range, and schedule status. A schedule unit is a department plus optionally a location, as defined in schedule generation profile. <br>Finder Variables <ul><li>DepartmentId; integer;  Unique identifier for the department. </li><li>DepartmentName; string;  Name of the department </li><li>EndDate; string;  End date for the date range used to find a workforce schedule definition. </li><li>LocationCode; string;  Code for the location. </li><li>LocationId; integer;  Unique identifier for the location. </li><li>StartDate; string;  Start date for the date range used to find a workforce schedule definition. </li><li>StatusCode; string;  Code for the workforce schedule status, such as ORA_HTS_PUBLISHED, ORA_HTS_UNPUBLISHED, ORA_HTS_IN_PROGRESS, ORA_HTS_NOT_STARTED, or ORA_HTS_GEN_ERROR. </li></ul></li></ul>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-adf-finder-formats": [
              {
                "name": "PrimaryKey",
                "description": "Finds a workforce schedule definition with the specified unique identifier.",
                "properties": {
                  "ScheduleId": {
                    "nullable": true,
                    "description": "Unique identifier for the workforce schedule.",
                    "readOnly": true,
                    "type": "integer"
                  }
                }
              },
              {
                "name": "findByScheduleUnitAndDateRange",
                "description": "Finds the workforce schedule definition based on the specified schedule unit, date range, and schedule status. A schedule unit is a department plus optionally a location, as defined in schedule generation profile.",
                "title": "findByScheduleUnitAndDateRange",
                "properties": {
                  "StartDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "Start date for the date range used to find a workforce schedule definition.",
                    "type": "string"
                  },
                  "LocationCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Code for the location.",
                    "type": "string"
                  },
                  "LocationId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the location.",
                    "type": "integer"
                  },
                  "DepartmentName": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Name of the department",
                    "type": "string"
                  },
                  "DepartmentId": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Unique identifier for the department.",
                    "type": "integer"
                  },
                  "EndDate": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "format": "date",
                    "description": "End date for the date range used to find a workforce schedule definition.",
                    "type": "string"
                  },
                  "StatusCode": {
                    "x-queryable": false,
                    "x-hints": {
                      "required": "Optional"
                    },
                    "description": "Code for the workforce schedule status, such as ORA_HTS_PUBLISHED, ORA_HTS_UNPUBLISHED, ORA_HTS_IN_PROGRESS, ORA_HTS_NOT_STARTED, or ORA_HTS_GEN_ERROR.",
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workforceScheduleDefinitions"
                }
              }
            }
          }
        },
        "x-internal-id": "workforceScheduleDefinitions-get",
        "x-filename-id": "workforcescheduledefinitions-get"
      }
    },
    "/workforceScheduleDefinitions/{ScheduleId}": {
      "get": {
        "tags": [
          "Workforce Schedule Definitions"
        ],
        "summary": "Get a workforce schedule definition",
        "operationId": "get_workforceScheduleDefinitions",
        "parameters": [
          {
            "name": "ScheduleId",
            "in": "path",
            "description": "The value of this parameter could be a hash of the key that is used to uniquely identify the resource item. The client should not generate the hash key value.  Instead, the client should query on the collection resource with a filter to navigate to a specific resource item. For example: products?q=InventoryItemId=<value1>",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "description": "Unique identifier for the workforce schedule.",
              "nullable": true,
              "readOnly": true
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "When this parameter is provided, the specified children are included in the resource payload (instead of just a link). The value of this query parameter is \"all\" or \"\". More than one child can be specified using comma as a separator. Example: ?expand=Employees,Localizations. Nested children can also be provided following the format \"Child.NestedChild\" (Example: ?expand=Employees.Managers). If a nested child is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?expand=Employees.Managers\" is the same as \"?expand=Employees,Employees.Managers\" (which will expand Employees and Managers).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "This parameter filters the resource fields. Only the specified fields are returned, which means that if no fields are specified, no fields are returned (useful to get only the links). If an indirect child resource is provided (Example: Employees.Managers), the missing children will be processed implicitly. For example, \"?fields=Employees.Managers:Empname\" is the same as \"?fields=;Employees:;Employees.Managers:Empname\" (which will only return the \"Empname\" field for Managers). the value of this query parameter is a list of resource fields. The attribute can be a direct (Example: Employees) or indirect (Example: Employees.Managers) child. It cannot be combined with expand query parameter. If both are provided, only fields will be considered.<br><br>Format: ?fields=Attribute1,Attribute2<br><br>Format for fields in child resource: ?fields=Accessor1:Attribute1,Attribute2",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyData",
            "in": "query",
            "description": "The resource item payload will be filtered in order to contain only data (no links section, for example).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dependency",
            "in": "query",
            "description": "This parameter specifies dependencies which are fields that are set before and rolled back after generating the response. Generally they are used to preview the effects of an attribute change. The fields specified in this parameter are always set in the resource instance in question. When a child resource collection is requested and the parameter is set, the fields will be set in the parent resource instance before generating the resource collection payload. The value of this query parameter is a set of dependency fields.  Example: dependency=ProductId=2<br><br>Format: &lt;attr1&gt;=&lt;val1&gt;,&lt;attr2&gt;=&lt;value2&gt;",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "This parameter can be used to show only certain links while accessing a singular resource or a resource collection. The parameter value format is a comma-separated list of : &lt;link_relation&gt;<br><br>Example:<br>self,canonical<br>",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "REST-Framework-Version",
            "in": "header",
            "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9"
              ]
            }
          },
          {
            "name": "Metadata-Context",
            "in": "header",
            "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "The following table describes the default response for this task.",
            "headers": {
              "Metadata-Context": {
                "$ref": "#/components/headers/Metadata-Context"
              },
              "REST-Framework-Version": {
                "$ref": "#/components/headers/REST-Framework-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workforceScheduleDefinitions-item-response"
                }
              }
            }
          }
        },
        "x-internal-id": "workforceScheduleDefinitions-{ScheduleId}-get",
        "x-filename-id": "workforcescheduledefinitions-scheduleid-get"
      }
    }
  },
  "components": {
    "schemas": {
      "workforceScheduleDefinitions": {
        "required": [
          "count",
          "hasMore",
          "limit",
          "links",
          "offset"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of resource instances returned in the current range."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Indicates whether more resources are available on the server than the subset returned in the response. If the value is true, then there are more resources to retrieve from the server. The default value is false."
          },
          "items": {
            "title": "Items",
            "type": "array",
            "description": "The items in the collection.",
            "items": {
              "$ref": "#/components/schemas/workforceScheduleDefinitions-item-response"
            }
          },
          "limit": {
            "type": "integer",
            "description": "The actual paging size used by the server."
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "offset": {
            "type": "integer",
            "description": "The offset value used in the current page."
          },
          "totalResults": {
            "type": "integer",
            "description": "The estimated row count when \"?totalResults=true\", otherwise the count is not included."
          }
        },
        "x-hints": {
          "usage": "BusinessObject",
          "isCompactViewByDefault": true
        }
      },
      "workforceScheduleDefinitions-item-response": {
        "type": "object",
        "properties": {
          "Comments": {
            "maxLength": 4000,
            "type": "string",
            "description": "Notes entered by the schedule manager when publishing the workforce schedule.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "CreationDate": {
            "type": "string",
            "description": "Date when the workforce schedule was created.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DepartmentId": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule department.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "DepartmentName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the workforce schedule department.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "EndDate": {
            "type": "string",
            "description": "Date when the workforce schedule ends.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "description": "Date when the workforce schedule was most recently updated.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationCode": {
            "maxLength": 60,
            "type": "string",
            "description": "Code for the workforce schedule location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "LocationId": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule location.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "LocationName": {
            "maxLength": 240,
            "type": "string",
            "description": "Name of the workforce schedule location.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "OpenDate": {
            "type": "string",
            "description": "Date when the workforce schedule generation window opens.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PublishDueDate": {
            "type": "string",
            "description": "Date when the workforce schedule generation window closes and schedule is due to be published.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PublishedBy": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule publisher.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PublishedByPersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Person number for the workforce schedule publisher.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "PublishedDate": {
            "type": "string",
            "description": "Date when the workforce schedule was published.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SchedGenProfileId": {
            "type": "integer",
            "description": "Unique identifier for the schedule generation profile used to generate the workforce schedule.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "SchedProfileCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the schedule generation profile used to generate the workforce schedule.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleId": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SchedulePhaseCode": {
            "maxLength": 23,
            "type": "string",
            "description": "Code for the workforce schedule phase, such as ORA_HTS_PLANNING or ORA_HTS_COMPLETED.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SchedulePhaseMeaning": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the workforce schedule phase, such as Current or Planning.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleStatus": {
            "maxLength": 80,
            "type": "string",
            "description": "Name of the workforce schedule status, such as In Progress or Published.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "ScheduleUnitId": {
            "type": "integer",
            "description": "Unique identifier for the schedule unit of the workforce schedule.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SelfScheduleCloseDate": {
            "type": "string",
            "description": "Date when the self-scheduling window closes.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "SelfScheduleOpenDate": {
            "type": "string",
            "description": "Date when the self-scheduling window opens.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StartDate": {
            "type": "string",
            "description": "Date when the workforce schedule starts.",
            "format": "date",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "StatusCode": {
            "maxLength": 30,
            "type": "string",
            "description": "Code for the workforce schedule status, such as ORA_HTS_PUBLISHED, ORA_HTS_UNPUBLISHED, ORA_HTS_IN_PROGRESS, ORA_HTS_NOT_STARTED, or ORA_HTS_GEN_ERROR.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UnpublishDate": {
            "type": "string",
            "description": "Date when the workforce schedule was unpublished.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "UnpublishedBy": {
            "type": "integer",
            "description": "Unique identifier for the workforce schedule publisher.",
            "format": "int64",
            "nullable": true,
            "readOnly": true,
            "x-hints": {
              "precision": 18
            },
            "x-queryable": true
          },
          "UnpublishedByPersonNumber": {
            "maxLength": 30,
            "type": "string",
            "description": "Person number for the workforce schedule publisher.",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "WorkloadUpdateDate": {
            "type": "string",
            "description": "Date when the workload was most recently updated.",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "x-queryable": true
          },
          "links": {
            "title": "Links",
            "type": "array",
            "description": "The link relations associated with the resource instance.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "properties": {
          "kind": {
            "title": "kind",
            "type": "string",
            "description": "The kind of the related resource.",
            "enum": [
              "collection",
              "item",
              "describe",
              "other"
            ]
          },
          "rel": {
            "title": "relation",
            "type": "string",
            "description": "The name of the relation to the resource instance.  Example: self.",
            "enum": [
              "self",
              "lov",
              "parent",
              "canonical",
              "child",
              "enclosure",
              "action",
              "custom"
            ]
          },
          "name": {
            "title": "name",
            "type": "string",
            "description": "The name of the link to the related resource."
          },
          "href": {
            "title": "hyperlink reference",
            "type": "string",
            "description": "The URI to the related resource."
          },
          "properties": {
            "type": "object",
            "properties": {
              "changeIndicator": {
                "type": "string",
                "description": "Change indicator or the ETag value of the resource instance."
              }
            }
          }
        }
      }
    },
    "headers": {
      "Metadata-Context": {
        "description": "If the REST API supports runtime customizations, the shape of the service may change during runtime. The REST client may isolate itself from these changes or choose to interact with the latest version of the API by specifying this header. For example: Metadata-Context:sandbox=\"TrackEmployeeFeature\".",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "REST-Framework-Version": {
        "description": "The protocol version between a REST client and service. If the client does not specify this header in the request the server will pick a default version for the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9"
          ]
        }
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}